Repository tikv/pd, pull requests merged in 2018-11, with the labels that each got.

#1306 simulator: rename EventInner to EventDescriptor
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/event_inner.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
Labels: area/simulator

#1308 pdctl: fix decode key
  tools/pd-ctl/pdctl/command/region_command.go
Labels: area/pdctl

#1309 pdctl, api: support hex format keys
  server/api/region.go
  server/cluster_info.go
  server/cluster_worker.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/schedule/merge_checker.go
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: area/api, area/pdctl

#1314 pdctl: cherry pick bugfixes
  server/api/region_test.go
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: cherry-pick

#1315 server/api: fix the issue about `regions/check` API (#1311)
  server/api/region.go
  server/api/region_test.go
Labels: cherry-pick

#1316 pdctl: add tests for cluster and health subcommands
  pkg/integration_test/cluster.go
  pkg/integration_test/config.go
  pkg/integration_test/pdctl_test.go
  server/api/health.go
  server/api/health_test.go
Labels: area/pdctl, area/testing

#1320 pdctl: support interactive region scan
  server/api/api.raml
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: area/pdctl

#1327 pdctl: add tests for store and label subcommands
  pkg/integration_test/cluster.go
  pkg/integration_test/pdctl_test.go
Labels: area/pdctl, area/testing

#1310 schedule: refactor operator influence
  server/coordinator.go
  server/coordinator_test.go
  server/namespace_cluster.go
  server/namespace_test.go
  server/schedule/basic_cluster.go
  server/schedule/operator_controller.go
  server/schedule/scheduler.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: area/schedule

#1331 pdctl: add tests for scheduler and tso subcommands
  pkg/integration_test/cluster.go
  pkg/integration_test/pdctl_test.go
Labels: area/pdctl, area/testing

#1333 pdctl: add tests for region subcommands
  pkg/integration_test/cluster.go
  pkg/integration_test/pdctl_test.go
  server/api/region.go
  server/api/region_test.go
  server/schedulers/balance_test.go
Labels: area/pdctl, area/testing

#1343 server/leader: fix the issue about watch the leader key with invalid revision
  pkg/integration_test/leader_watch_test.go
  server/leader.go
Labels: backport/release-2.1, kind/bug

#1347 server/leader: fix the issue about watch the leader key with invalid revision
  pkg/integration_test/cluster.go
  pkg/integration_test/config.go
  pkg/integration_test/leader_watch_test.go
  server/leader.go
Labels: cherry-pick
