Repository tikv/pd, pull requests merged in 2018-06, with the labels that each got.

#1099 CHANGELOG: update changelog for 2.0.3 (#1098)
  CHANGELOG.md
Labels: cherry-pick

#1110 schdule: adjust pending peer filter
  server/schedule/filters.go
  server/schedule/filters_test.go
Labels: backport/release-1.0, backport/release-2.0

#1114 Release 2.0.4
  CHANGELOG.md
  server/schedule/filters.go
  server/schedule/filters_test.go
Labels: tests-passed

#1123 schedule: fix store out of space due to moving replica
  server/schedule/replica_checker.go
  server/schedulers/balance_test.go
Labels: backport/release-2.0, kind/bug
