Repository tikv/pd, pull requests merged in 2018-10, with the labels that each got.

#1262 pd-api: adjust the url path of log api
  server/api/api.raml
  server/api/diagnose.go
  server/api/router.go
  tools/pd-ctl/pdctl/command/log_command.go
Labels: release-note

#1280 *: fix a tiny bug in checkStore
  server/cluster.go
Labels: kind/bug

#1289 server: fix store metrics (#1261)
  server/store_statistics.go
Labels: cherry-pick

#1290 *: bump grpc to 1.12.2 (#1265)
  Gopkg.lock
  Gopkg.toml
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/transport/http2_server.go
  vendor/google.golang.org/grpc/transport/http_util.go
  vendor/google.golang.org/grpc/transport/transport.go
Labels: cherry-pick, tests-passed

#1291 *: fix a bug in checkStore (#1280)
  server/cluster.go
Labels: cherry-pick

#1292 server: fix WaitGroup data race (#1273)
  server/cluster.go
  server/coordinator.go
  server/coordinator_test.go
Labels: cherry-pick

#1288 pd-ctl: support adding more schedulers
  server/api/scheduler.go
  server/schedulers/adjacent_region.go
  server/schedulers/random_merge.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: area/pdctl

#1299 pdctl: escape the key before query the corresponding region
  server/api/region_test.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: area/pdctl, kind/bug
