Repository tikv/pd, pull requests merged in 2018-09, with the labels that each got.

#1207 *: Anonymous field for RegionInfo - part 1
  pkg/faketikv/cases/hot_read.go
  pkg/faketikv/cases/hot_write.go
  pkg/faketikv/client.go
  pkg/faketikv/cluster.go
  pkg/faketikv/drive.go
  pkg/faketikv/node.go
  pkg/faketikv/raft.go
  pkg/faketikv/task.go
  server/api/admin_test.go
  server/api/operator_test.go
  server/api/region.go
  server/api/region_test.go
  server/api/stats_test.go
  server/api/trend_test.go
  server/cluster.go
  server/cluster_info.go
  server/cluster_info_test.go
  server/coordinator.go
  server/coordinator_test.go
  server/core/region.go
  server/core/region_option.go
  server/core/region_test.go
  server/core/region_tree_test.go
  server/grpc_service.go
  server/handler.go
  server/heartbeat_streams.go
  server/namespace_cluster.go
  server/namespace_test.go
  server/region_statistics.go
  server/region_statistics_test.go
  server/schedule/basic_cluster.go
  server/schedule/hot_cache.go
  server/schedule/merge_checker.go
  server/schedule/mockcluster.go
  server/schedule/namespace_checker.go
  server/schedule/operator.go
  server/schedule/operator_test.go
  server/schedule/range_cluster.go
  server/schedule/region_scatterer.go
  server/schedule/replica_checker.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_leader.go
  server/schedulers/utils.go
  server/tso.go
  table/namespace_classifier.go
Labels: tests-passed

#1231 pd-ctl: list all regions in a specified store
  pdctl/command/region_command.go
  server/api/api.raml
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/cluster.go
  server/cluster_info.go
  server/core/region.go
Labels: area/pdctl

#1233 pd-ctl: support topconfver and topversion
  pdctl/command/region_command.go
  server/api/api.raml
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/core/region_option.go
Labels: area/pdctl

#1232 *: remove redundant errors.WithStack
  pd-client/client.go
  pkg/faketikv/client.go
  pkg/faketikv/cluster.go
  pkg/faketikv/drive.go
  pkg/integration_test/cluster.go
  pkg/integration_test/config.go
  pkg/logutil/log.go
  server/api/trend.go
  server/api/utiletcdhttpapi.go
  server/cluster.go
  server/cluster_info.go
  server/cluster_info_test.go
  server/cluster_worker.go
  server/config.go
  server/coordinator.go
  server/core/kv.go
  server/etcd_kv.go
  server/grpc_service.go
  server/handler.go
  server/id.go
  server/join.go
  server/leader.go
  server/option.go
  server/schedule/basic_cluster.go
  server/schedule/mockcluster.go
  server/schedule/operator.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/server.go
  server/testutil.go
  server/tso.go
  server/util.go
  server/version.go
  table/namespace_classifier.go
Labels: tests-passed

#1239 simulator: small refactor about the current simulator
  Makefile
  cmd/simulator/main.go
  pkg/faketikv/cases/add_nodes_dynamic.go
  pkg/faketikv/cases/cases.go
  pkg/faketikv/cases/event_inner.go
  pkg/faketikv/cluster.go
  pkg/faketikv/conn.go
  pkg/faketikv/drive.go
  pkg/faketikv/event.go
  pkg/faketikv/node.go
  pkg/faketikv/raft.go
Labels: area/simulator

#1244 pdctl: fix hot store command
  server/handler.go
Labels: area/pdctl

#1249 CHANGLOG: update changelog for v2.1.0-rc2
  CHANGELOG.md
Labels: tests-passed

#1248 simulator: make some parameters configurable
  cmd/simulator/main.go
  conf/simconfig.toml
  pkg/faketikv/cases/add_nodes.go
  pkg/faketikv/cases/add_nodes_dynamic.go
  pkg/faketikv/cases/balance_leader.go
  pkg/faketikv/cases/cases.go
  pkg/faketikv/cases/delete_nodes.go
  pkg/faketikv/cases/hot_read.go
  pkg/faketikv/cases/hot_write.go
  pkg/faketikv/cases/makeup_down_replica.go
  pkg/faketikv/cases/region_merge.go
  pkg/faketikv/cases/region_split.go
  pkg/faketikv/config.go
  pkg/faketikv/conn.go
  pkg/faketikv/drive.go
  pkg/faketikv/event.go
  pkg/faketikv/node.go
  pkg/faketikv/raft.go
Labels: area/simulator

#1255 server: fix scheduler metrics
  server/coordinator.go
Labels: area/metrics

#1261 server: fix store metrics
  server/store_statistics.go
Labels: area/metrics, release-note
