Repository tikv/pd, pull requests merged in 2018-05, with the labels that each got.

#1043 conf: fix parse error of config.toml
  cmd/pd-server/main.go
  conf/config.toml
Labels: backport/release-2.0, kind/bug, tests-passed

#1039 server: resign pd leader when it is not same as etcd leader.
  server/api/member_test.go
  server/leader.go
  server/server.go
Labels: backport/release-2.0, kind/bug, tests-passed

#1037 *: scatter the leader distribution in the specified range
  pdctl/command/scheduler.go
  server/api/scheduler.go
  server/handler.go
  server/schedule/basic_cluster.go
  server/schedule/mockcluster.go
  server/schedule/operator.go
  server/schedule/operator_kind.go
  server/schedule/operator_test.go
  server/schedule/range_cluster.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/scatter_range.go
Labels: tests-passed

#1045 server: fix the valid scheduler was deleted when start coordinator
  server/coordinator.go
  server/coordinator_test.go
Labels: backport/release-2.0, kind/bug, tests-passed

#1049 gopkg: update kvproto
  Gopkg.lock
  Gopkg.toml
  server/grpc_service.go
  vendor/github.com/pingcap/kvproto/pkg/pdpb/pdpb.pb.go
Labels: tests-passed

#1050 Cherry-pick commits to release-2.0.
  CHANGELOG.md
  README.md
  cmd/pd-server/main.go
  conf/config.toml
  pdctl/command/operator.go
  server/api/config.go
  server/api/label.go
  server/api/member_test.go
  server/api/operator.go
  server/api/store.go
  server/api/store_test.go
  server/api/trend.go
  server/cache.go
  server/config.go
  server/config_test.go
  server/coordinator.go
  server/coordinator_test.go
  server/core/store.go
  server/handler.go
  server/leader.go
  server/option.go
  server/region_statistics.go
  server/schedule/basic_cluster.go
  server/schedule/filters.go
  server/schedule/hot_cache.go
  server/schedule/metrics.go
  server/schedule/mockcluster.go
  server/schedule/namespace_checker.go
  server/schedule/operator.go
  server/schedule/operator_test.go
  server/schedule/opts.go
  server/schedule/region_scatterer.go
  server/schedule/replica.go
  server/schedule/replica_checker.go
  server/schedule/replica_test.go
  server/schedule/scheduler.go
  server/schedule/selector.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/scheduler_test.go
  server/schedulers/utils.go
  server/server.go
  server/store_statistics.go
Labels: cherry-pick, tests-passed

#1053 server: check learner regardless of whether learner enabled or not
  server/coordinator.go
  server/coordinator_test.go
  server/schedulers/test_util.go
Labels: backport/release-2.0, priority/P0

#1056 schedule: merge checker skips recently split regions.
  conf/config.toml
  server/cache.go
  server/cluster_worker.go
  server/config.go
  server/option.go
  server/schedule/merge_checker.go
  server/schedule/mockcluster.go
  server/schedule/opts.go
  server/schedulers/balance_test.go
Labels: priority/P1

#1012 config: enable merge and use table namespace classifier in default
  conf/config.toml
  server/config.go
  server/testutil.go
Labels: priority/P1

#1057 Cherry-pick commits to release-2.0
  conf/config.toml
  server/cache.go
  server/cluster_worker.go
  server/config.go
  server/coordinator.go
  server/coordinator_test.go
  server/option.go
  server/region_statistics.go
  server/region_statistics_test.go
  server/schedule/merge_checker.go
  server/schedule/mockcluster.go
  server/schedule/opts.go
  server/schedulers/balance_test.go
  server/schedulers/test_util.go
Labels: cherry-pick

#1063 Cherry-pick scatter range scheduler
  pdctl/command/scheduler.go
  server/api/scheduler.go
  server/handler.go
  server/schedule/basic_cluster.go
  server/schedule/mockcluster.go
  server/schedule/operator.go
  server/schedule/operator_kind.go
  server/schedule/operator_test.go
  server/schedule/range_cluster.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/scatter_range.go
Labels: cherry-pick, priority/P0, tests-passed

#1064 server: fix load region failure due to packet size too large.
  server/cache.go
  server/core/kv.go
  server/core/kv_test.go
  server/etcd_kv.go
Labels: backport/release-1.0, backport/release-2.0, kind/bug, priority/P0

#1066 server: fix load region failure due to packet size too large. (#1064)
  server/cache.go
  server/core/kv.go
  server/core/kv_test.go
  server/etcd_kv.go
Labels: cherry-pick, priority/P0

#1067 server: fix load region failure due to packet size too large. (#1064)
  server/cache.go
  server/core/kv.go
  server/core/kv_test.go
  server/etcd_kv.go
Labels: cherry-pick, priority/P0

#1072 schedule: filter disconnected stores for leader transfer.
  server/schedule/filters.go
  server/schedule/mockcluster.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
  server/schedulers/evict_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_leader.go
Labels: area/schedule, backport/release-2.0

#1077 schedule: adjust timeout for operator contains only leader transfer.
  server/schedule/operator.go
  server/schedule/operator_test.go
Labels: area/schedule, backport/release-2.0

#1079 scheduleres: label scheduler takes care of unhealthy regions.
  server/schedulers/label.go
  server/schedulers/scheduler_test.go
Labels: area/schedule, backport/release-2.0

#1073 scheduler: evict-leader-scheduler checks reject-leader property.
  server/schedulers/evict_leader.go
  server/schedulers/scheduler_test.go
Labels: area/schedule, backport/release-2.0

#1084 *: let patrol region tick interval configurable
  server/cache.go
  server/config.go
  server/coordinator.go
  server/metrics.go
  server/option.go
Labels: cherry-pick

#1091 server: fix the issue that panic when collecting hot-cache metrics
  server/cache.go
  server/coordinator.go
  server/coordinator_test.go
Labels: backport/release-2.0

#1090 faketikv: fix the overlap problem when getting the bootstrap region
  pkg/faketikv/cluster.go
Labels: area/simulator, kind/bug

#1058 *: deal with the noise caused by some statistics
  server/api/hot_status.go
  server/cache.go
  server/core/region.go
  server/core/statistics.go
  server/core/statistics_test.go
  server/core/store.go
  server/handler.go
  server/schedule/hot_cache.go
  server/schedule/mockcluster.go
  server/schedulers/hot_region.go
Labels: tests-passed

#1095 server, schedule: check region epoch before adding operators.
  server/coordinator.go
  server/coordinator_test.go
  server/handler.go
  server/schedule/operator.go
  server/schedule/operator_test.go
  server/schedule/region_scatterer.go
  server/schedule/replica_checker.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/shuffle_leader.go
Labels: backport/release-2.0, priority/P1

#1096 cherry-pick commits to release-2.0
  server/cache.go
  server/coordinator.go
  server/coordinator_test.go
  server/handler.go
  server/schedule/operator.go
  server/schedule/operator_test.go
  server/schedule/region_scatterer.go
  server/schedule/replica_checker.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/shuffle_leader.go
Labels: cherry-pick, tests-passed
