Repository tikv/pd, pull requests merged in 2019-01, with the labels that each got.

#1406 *: add the scheduling configuration metrics
  server/metrics.go
  server/store_statistics.go
Labels: area/metrics

#1404 server/leader: use the compact revision to watch leader (#1396)
  pkg/integration_test/leader_watch_test.go
  server/leader.go
Labels: cherry-pick

#1405 *: handle more errors properly
  client/client.go
  client/client_test.go
  server/api/cluster_test.go
  server/api/config.go
  server/api/config_test.go
  server/api/diagnose.go
  server/api/diagnose_test.go
  server/api/health_test.go
  server/api/member_test.go
  server/api/server_test.go
  server/api/status_test.go
  server/api/store_ns_test.go
  server/api/trend_test.go
  server/cluster_info.go
  server/cluster_info_test.go
  server/cluster_test.go
  server/cluster_worker_test.go
  server/config_test.go
  server/coordinator_test.go
  server/core/kv.go
  server/heartbeat_stream_test.go
  server/id_test.go
  server/join_test.go
  server/leader_test.go
  server/namespace_test.go
  server/option.go
  server/region_statistics_test.go
  server/region_syncer/client.go
  server/region_syncer/server.go
  server/schedule/basic_cluster.go
  server/schedulers/balance_test.go
  server/server.go
  server/server_test.go
  server/store_statistics_test.go
  server/testutil.go
  table/namespace_classifier_test.go
  tests/cluster.go
  tests/cmd/pdctl_test.go
  tests/server/leader_watch_test.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/config.go
Labels: kind/enhancement

#1263 simulator: add case about import data
  server/core/region.go
  table/codec.go
  table/codec_test.go
  table/namespace_classifier_test.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/raft_test.go
Labels: area/simulator

#1410 *: reduce the store clone
  server/api/store.go
  server/api/store_test.go
  server/api/trend.go
  server/cluster.go
  server/cluster_info.go
  server/cluster_info_test.go
  server/cluster_test.go
  server/coordinator.go
  server/coordinator_test.go
  server/core/kv.go
  server/core/kv_test.go
  server/core/store.go
  server/core/store_option.go
  server/grpc_service.go
  server/namespace_cluster.go
  server/namespace_test.go
  server/region_statistics.go
  server/region_statistics_test.go
  server/schedule/filters.go
  server/schedule/filters_test.go
  server/schedule/mockcluster.go
  server/schedule/namespace_checker.go
  server/schedule/operator.go
  server/schedule/range_cluster.go
  server/schedule/region_scatterer.go
  server/schedule/replica.go
  server/schedule/replica_checker.go
  server/schedule/replica_test.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
  server/store_statistics.go
  server/store_statistics_test.go
  table/namespace_classifier.go
  tests/cmd/pdctl_test.go
Labels: kind/enhancement
