Repository tikv/pd, pull requests merged in 2019-04, with the labels that each got.

#1482 scheduler: fix region scatter may transfer leader to removed peer
  server/grpc_service.go
  server/handler.go
  server/schedule/mockcluster.go
  server/schedule/operator.go
  server/schedule/region_scatterer.go
  server/schedulers/scheduler_test.go
  tests/cmd/pdctl_test.go
Labels: backport/release-2.1, kind/bug

#1491 schedule: fix the operator step print
  server/schedule/operator_controller.go
Labels: area/log

#1495 schedule: let merge not easy to timeout
  server/schedule/merge_checker_test.go
  server/schedule/operator.go
  server/schedulers/balance_test.go
Labels: area/schedule, backport/release-2.1

#1492 scheduler: use high priority for the hot region related operators
  server/config.go
  server/schedulers/hot_region.go
Labels: area/schedule

#1477 *: add GetOperator service
  go.mod
  go.sum
  server/grpc_service.go
  server/schedule/mockcluster.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/operator_kind.go
Labels: backport/release-2.1

#1493 simulator: fix a data race problem
  server/handler.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/task.go
Labels: area/simulator

#1500 schedule: let merge not easy to timeout (#1495)
  server/schedule/merge_checker_test.go
  server/schedule/operator.go
  server/schedulers/balance_test.go
Labels: cherry-pick

#1502 server: add tso handle time metrics
  server/grpc_service.go
  server/metrics.go
Labels: backport/release-2.1

#1504 server: add tso handle time metrics (#1502)
  server/grpc_service.go
  server/metrics.go
Labels: cherry-pick

#1508 kv: LoadRange returns both keys and values
  server/core/kv.go
  server/core/kv_base.go
  server/core/kv_test.go
  server/core/levedb_kv.go
  server/core/region_kv.go
  server/etcd_kv.go
  server/etcd_kv_test.go
  table/namespace_classifier.go
Labels: kind/enhancement

#1509 pdctl: add default http prefix for detach mode
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/global.go
Labels: area/pdctl

#1503 *: make TestBalance of hot-write-region scheduler stable
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
Labels: area/testing

#1506 metrics: add storeID to metrics back
  server/coordinator.go
  server/grpc_service.go
  server/heartbeat_streams.go
  server/metrics.go
  server/schedule/filters.go
  server/schedule/metrics.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/metrics.go
  server/store_statistics.go
Labels: area/metrics

#1514 *: add GetOperator service (#1477)
  Gopkg.lock
  client/client.go
  client/client_test.go
  server/coordinator.go
  server/coordinator_test.go
  server/grpc_service.go
  server/schedule/mockcluster.go
  server/schedule/operator_kind.go
  vendor/github.com/pingcap/kvproto/pkg/pdpb/pdpb.pb.go
Labels: cherry-pick

#1515 util: add a timeout for HTTP client
  server/util.go
  tools/pd-ctl/pdctl/command/global.go
Labels: area/util

#1516 *: improve some logs
  server/cluster.go
  server/coordinator.go
  server/leader.go
  server/region_syncer/server.go
Labels: area/log
