Repository tikv/pd, pull requests merged in 2019-11, with the labels that each got.

#1862 test : fix test data race
  server/coordinator_test.go
Labels: CanMerge, area/testing

#1872 test : Refactor coordinator test
  server/coordinator_test.go
Labels: CanMerge, area/testing

#1879 server: add low space warning
  server/cluster.go
Labels: CanMerge

#1767 *: add leak detection for tests
  client/client_test.go
  go.mod
  go.sum
  pkg/testutil/leak.go
  pkg/testutil/testutil.go
  server/api/admin_test.go
  server/api/cluster_test.go
  server/api/config_test.go
  server/api/diagnose_test.go
  server/api/etcd_api_test.go
  server/api/health_test.go
  server/api/hot_status_test.go
  server/api/label_test.go
  server/api/member_test.go
  server/api/operator_test.go
  server/api/redirector_test.go
  server/api/region_test.go
  server/api/scheduler_test.go
  server/api/server_test.go
  server/api/stats_test.go
  server/api/status_test.go
  server/api/store_test.go
  server/api/trend_test.go
  server/api/util.go
  server/api/utiletcdhttpapi.go
  server/api/version_test.go
  server/cluster_test.go
  server/coordinator_test.go
  server/heartbeat_stream_test.go
  server/join/join_test.go
  server/schedule/checker/merge_checker_test.go
  server/server.go
  server/server_test.go
  server/testutil.go
  tests/client/client_test.go
  tests/cluster.go
  tests/compatibility/version_upgrade_test.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/health/health_test.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/member/member_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
  tests/server/api_test.go
  tests/server/id/id_test.go
  tests/server/join/join_fail/join_fail_test.go
  tests/server/join/join_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/server_test.go
  tests/server/tso/tso_test.go
  tests/server/watch/leader_watch_test.go
Labels: CanMerge, area/testing

#1883 server/api: add HTTP header to allow follower handle requests
  server/api/redirector.go
  server/api/redirector_test.go
Labels: CanMerge, area/api

#1878 api: use more accurate http status code for reset ts
  server/api/admin.go
  server/api/admin_test.go
  server/api/etcd_api_test.go
  server/api/util.go
Labels: CanMerge, area/api, backport/release-3.1

#1865 placement: add manager and FitRegion interface
  pkg/mock/mockcluster/mockcluster.go
  server/cluster.go
  server/schedule/opt/opts.go
  server/schedule/placement/fit.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: CanMerge, area/schedule

#1881 statistics: fix refactor
  server/statistics/hot_peer_cache.go
Labels: CanMerge, area/schedule, kind/enhancement

#1884 api: use more accurate http status code for reset ts (#1878)
  server/api/admin.go
  server/api/admin_test.go
  server/api/etcd_api_test.go
  server/api/util.go
Labels: cherry-pick

#1886 core: fix wrong region size
  server/core/region.go
  server/core/region_tree_test.go
Labels: CanMerge, kind/bug

#1890 core: fix remove region
  server/core/region.go
  server/core/region_tree.go
  server/core/region_tree_test.go
Labels: CanMerge, kind/bug

#1892 *: make some tests stable
  server/coordinator_test.go
Labels: CanMerge, area/testing

#1880 test: Refactor test config
  tests/pdctl/config/config_test.go
Labels: CanMerge, area/testing

#1895 client: add timeout for scanRegions
  client/client.go
Labels: CanMerge

#1898 client: add timeout for scanRegions (#1895)
  client/client.go
Labels: cherry-pick

#1891 schedule: fix the issue that stale operator when scatting regions
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: CanMerge, area/schedule, kind/bug

#1894 placement: add API support
  docs/api.html
  server/api/api.raml
  server/api/router.go
  server/api/rule.go
Labels: CanMerge, area/schedule, priority/P1

#1791 scheduler: support range for schedulers
  server/cluster.go
  server/cluster_test.go
  server/coordinator_test.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_test.go
  server/schedule/range_cluster.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
Labels: CanMerge, area/schedule, priority/P1

#1882 operator: remove unnecessary check in op_controller
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedulers/balance_test.go
Labels: CanMerge, kind/refactor, status/LGT1

#1896 server/api/admin: change the tso parameter of ResetTS to string
  server/api/admin.go
  server/api/admin_test.go
Labels: CanMerge, backport/release-3.1

#1897 opt, schedulers: consider placement rules when verify region healthy
  pkg/mock/mockcluster/mockcluster.go
  server/cluster_test.go
  server/core/region_option.go
  server/handler.go
  server/schedule/checker/merge_checker.go
  server/schedule/opt/healthy.go
  server/schedule/opt/healthy_test.go
  server/schedule/region_scatterer.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
Labels: CanMerge, area/schedule

#1908 api: use middleware to get raftCluster
  server/api/admin.go
  server/api/context.go
  server/api/label.go
  server/api/middleware.go
  server/api/region.go
  server/api/router.go
  server/api/rule.go
  server/api/stats.go
  server/api/store.go
Labels: CanMerge, area/api

#1904 placement: add FitRegion implementation
  server/schedule/opt/healthy_test.go
  server/schedule/placement/fit.go
  server/schedule/placement/fit_test.go
Labels: CanMerge, area/schedule

#1914 metricutil: upgrade prometheus to v1
  go.mod
  go.sum
  pkg/metricutil/metricutil.go
Labels: kind/enhancement

#1911 schedule: add more dimension for filter metrics (#1746)
  server/schedule/filters.go
  server/schedule/filters_test.go
  server/schedule/metrics.go
  server/schedule/namespace_checker.go
  server/schedule/region_scatterer.go
  server/schedule/replica_checker.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/metrics.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: CanMerge, cherry-pick

#1912 schedulers: make testHotWriteRegionSchedulerSuite stable
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
Labels: CanMerge, area/schedule, area/testing

#1922 testing: temporary skip TestGetVersion
  server/api/version_test.go
Labels: CanMerge, area/testing

#1921 client: check timestamp decrease and return error
  client/client.go
  client/client_test.go
Labels: CanMerge

#1926 operator: split operator.go into several files
  server/schedule/operator/create_operator.go
  server/schedule/operator/influence.go
  server/schedule/operator/kind.go
  server/schedule/operator/operator.go
  server/schedule/operator/step.go
Labels: CanMerge, area/schedule, kind/refactor

#1860 schedule : clean up the unused store ID in operator limit
  server/cluster.go
  server/cluster_test.go
  server/schedule/operator_controller.go
Labels: CanMerge, area/schedule

#1928 operator: move CheckOperatorValid out
  server/schedule/operator/create_operator.go
  server/schedulers/scheduler_test.go
Labels: CanMerge, area/schedule, kind/refactor

#1929 *: Fix the issue that some picks failed to pick to 3.1
  .gitignore
  client/client.go
  docs/api.html
  pkg/grpcutil/grpcutil.go
  server/api/api.raml
  server/api/redirector.go
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/config.go
  server/config_test.go
  server/core/store_option.go
  server/handler.go
  server/join.go
  server/region_syncer/client.go
  server/region_syncer/server.go
  server/schedule/filters.go
  server/schedule/filters_test.go
  server/schedule/metrics.go
  server/schedule/namespace_checker.go
  server/schedule/region_scatterer.go
  server/schedule/replica_checker.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/metrics.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/server.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
  server/util.go
Labels: CanMerge, priority/P0

#1930 server/tso: fix the panic issue when getTS in the follower
  server/tso/tso.go
  tests/server/tso/tso_test.go
Labels: CanMerge, backport/release-3.1, priority/P0

#1927 operator: support add learner peer
  server/handler.go
  server/schedule/checker/replica_checker.go
  server/schedule/operator/create_operator.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_region.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_region.go
Labels: CanMerge, area/schedule, kind/refactor

#1918 server: register multiple api handlers
  docs/api.html
  server/api/api.raml
  server/api/diagnose_test.go
  server/api/health_test.go
  server/api/router.go
  server/api/server.go
  server/coordinator_test.go
  server/server.go
  server/server_test.go
  server/testutil.go
  tests/server/member/member_test.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/health_command.go
Labels: CanMerge, area/api

#1932 testing: make TestConcurrentHandleRegion stable
  server/cluster_test.go
Labels: CanMerge, area/testing

#1903 statistics, schedulers: add collecting threads information and calculating store scores
  server/coordinator.go
  server/heartbeat_streams.go
  server/schedulers/hot_region.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
  server/statistics/store.go
  server/statistics/store_collection.go
Labels: CanMerge, area/schedule, priority/P1

#1917 filters: add rule filters
  server/core/region_option.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
Labels: CanMerge, area/schedule, priority/P1

#1888 metrics: add metrics for op influence
  pkg/mock/mockoption/mockoption.go
  server/cluster.go
  server/config/config.go
  server/config/option.go
  server/schedule/opt/opts.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/metrics.go
  server/schedulers/utils.go
  tests/pdctl/config/config_test.go
Labels: CanMerge, area/metrics, status/LGT1

#1940 Refactor: refactor in scheduler and statistics
  server/api/scheduler.go
  server/coordinator.go
  server/coordinator_test.go
  server/handler.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/base_scheduler.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/store_collection.go
Labels: CanMerge, kind/refactor

#1931 server/tso: fix the panic issue when getTS in the follower (#1930)
  server/server_test.go
  server/tso.go
  server/tso_test.go
Labels: CanMerge, cherry-pick

#1941 statistics: remove assumption of store time
  server/statistics/hot_cache.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
Labels: CanMerge, area/schedule, kind/bug

#1945 test: fix test blocking in testServerSuite
  server/server_test.go
Labels: CanMerge, area/testing, kind/bug

#1944 pd-ctl: fix echo when TiKV cluster not bootstrapped
  tests/pdctl/operator/operator_test.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: CanMerge, area/pdctl, kind/bug

#1947 server: compatible with old version api
  server/api/router.go
  server/server.go
Labels: CanMerge, area/api

#1950 *: reduce runtime.growslice by preallocation
  pkg/mock/mockcluster/mockcluster.go
  server/cluster_test.go
  server/schedule/operator_controller_test.go
  server/schedule/placement/rule_manager.go
  server/schedule/range_cluster.go
  server/schedule/selector/selector.go
  server/statistics/region_collection_test.go
  server/statistics/store_collection_test.go
  tests/cluster.go
  tests/config.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
Labels: CanMerge

#1951 checker: fix offline when only having one replica
  server/schedule/checker/replica_checker.go
  server/schedule/checker/replica_checker_test.go
Labels: CanMerge, area/checker, kind/bug

#1949 *: remove some unused code
  Makefile
  pkg/grpcutil/grpcutil.go
  server/api/region_test.go
  server/api/status_test.go
  server/cluster_test.go
  server/coordinator_test.go
  server/heartbeat_stream_test.go
  server/kv/etcd_kv.go
  server/member/lease.go
  server/region_syncer/client.go
  server/region_syncer/history_buffer_test.go
  server/schedule/operator_controller.go
  server/schedule/range_cluster.go
  server/schedulers/balance_leader.go
  server/schedulers/scatter_range.go
  tests/pdctl/config/config_test.go
  tests/pdctl/region/region_test.go
  tests/server/api_test.go
  tools/pd-analysis/analysis/parse_log_test.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/tso_command.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/regions-dump/main.go
Labels: CanMerge, kind/enhancement

#1952 *: fix the max recv message size for the client
  pkg/grpcutil/grpcutil.go
  server/region_syncer/client.go
Labels: CanMerge, kind/bug

#1907 *: upgrade etcd to v3.4.3
  .travis.yml
  go.mod
  go.sum
  pkg/metricutil/metricutil.go
  pkg/testutil/leak.go
Labels: CanMerge, kind/enhancement

#1956 *: cleanup lint tools
  Makefile
  pkg/btree/btree.go
  pkg/mock/mockhbstream/mockhbstream.go
  server/core/region.go
  server/schedule/scheduler.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/scatter_range.go
  server/schedulers/utils.go
  server/testutil.go
  tests/server/api_test.go
  tools.json
  tools/pd-analysis/analysis/parse_log.go
  tools/pd-simulator/simulator/cases/redundant_balance_region.go
Labels: CanMerge, kind/enhancement

#1962 pdctl: improve the output of faild commands
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/operator.go
Labels: CanMerge, area/pdctl

#1957 *: add query metric http api
  conf/config.toml
  docs/api.html
  server/api/api.raml
  server/api/config_test.go
  server/api/metric.go
  server/api/router.go
  server/config/config.go
  server/config/config_test.go
Labels: area/api

#1937 PCP : Imporve the evict leader with http handler #1845
  server/api/router.go
  server/api/scheduler_test.go
  server/handler.go
  server/region_syncer/server.go
  server/schedule/operator_controller.go
  server/schedulers/evict_leader.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: CanMerge, PCP-S1, contributor, status/LGT1

#1961 fixed staticcheck errors in folder cmd
  server/schedulers/balance_test.go
  tools/pd-analysis/analysis/parse_log.go
Labels: CanMerge, contributor

#1916 *: fix rand method panic
  server/cluster_test.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/core/region_tree_test.go
Labels: CanMerge, area/schedule

#1963 *: update PR template
  .github/pull_request_template.md
Labels: CanMerge, area/doc

#1942 PCP: Support to pause a scheduler #1831
  docs/api.html
  server/api/api.raml
  server/api/router.go
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/coordinator.go
  server/handler.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: CanMerge, PCP-S1, contributor, priority/P0

#1965 add profile CPU/memory/mutex/allocs/block/goroutine HTTP API
  server/api/router.go
Labels: area/api

#1966 *: fix the max recv message size for the client (#1952)
  pkg/grpcutil/grpcutil.go
  server/region_syncer/client.go
Labels: cherry-pick

#1938 operator: OpStatus & OpStatusTracker
  server/api/operator_test.go
  server/coordinator_test.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/status.go
  server/schedule/operator/status_test.go
  server/schedule/operator/status_tracker.go
  server/schedule/operator/status_tracker_test.go
  server/schedule/operator/test_util.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/test_util.go
Labels: CanMerge, area/schedule, kind/design, kind/enhancement, priority/P1, status/LGT2

#1967 PCP: Imporve the grant leader scheduler with http handler #1964
  server/api/scheduler_test.go
  server/coordinator_test.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/scatter_range.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: CanMerge, contributor, status/LGT2

#1974 Revert "*: upgrade etcd to v3.4.3 (#1907)"
  .travis.yml
  go.mod
  go.sum
  pkg/metricutil/metricutil.go
  pkg/testutil/leak.go
Labels: CanMerge, area/build

#1960 api: fix unexpected error when set config to the same value
  server/api/config.go
  tests/pdctl/config/config_test.go
Labels: CanMerge, area/api

#1972 *: fix the race issue in ResetTS
  server/tso/tso.go
  tests/server/tso/tso_test.go
Labels: CanMerge, backport/release-3.1, kind/bug

#1978 *: fix the race issue in ResetTS (#1972)
  .travis.yml
  server/server.go
  server/tso.go
  server/tso_test.go
Labels: CanMerge, cherry-pick
