Repository tikv/pd, pull requests merged in 2019-02, with the labels that each got.

#1423 *: log format for schedule, scheduler, syncer, api
  server/api/member.go
  server/api/redirector.go
  server/api/util.go
  server/region_syncer/client.go
  server/region_syncer/history_buffer.go
  server/region_syncer/server.go
  server/schedule/filters.go
  server/schedule/merge_checker.go
  server/schedule/mockcluster.go
  server/schedule/namespace_checker.go
  server/schedule/operator.go
  server/schedule/operator_controller.go
  server/schedule/replica_checker.go
  server/schedule/scheduler.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/base_scheduler.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_region.go
Labels: kind/enhancement

#1424 *: log format for tools, client, pkg, table
  client/client.go
  pkg/etcdutil/etcdutil.go
  pkg/metricutil/metricutil.go
  pkg/tempurl/tempurl.go
  table/namespace_classifier.go
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/simutil/logger.go
  tools/pd-simulator/simulator/task.go
  tools/pd-tso-bench/main.go
Labels: kind/enhancement

#1431 *: log format for server
  server/cluster.go
  server/cluster_info.go
  server/cluster_worker.go
  server/coordinator.go
  server/etcd_kv.go
  server/grpc_service.go
  server/handler.go
  server/heartbeat_stream_test.go
  server/heartbeat_streams.go
  server/id.go
  server/join.go
  server/leader.go
  server/systime_mon.go
  server/tso.go
  server/version.go
Labels: area/log

#1440 server: GetAllStores should not return tombstone stores
  client/client.go
  client/client_test.go
  go.mod
  go.sum
  server/grpc_service.go
Labels: kind/bug

#1438 *: log format for logutil, server/core
  pkg/etcdutil/etcdutil.go
  pkg/logutil/log.go
  pkg/logutil/log_test.go
  server/api/log.go
  server/cache/ttl.go
  server/core/region_kv.go
  server/core/region_tree.go
  server/core/store.go
  server/server.go
Labels: area/log

#1444 server: GetAllStores should not return tombstone stores (#1440)
  Gopkg.lock
  Gopkg.toml
  client/client.go
  client/client_test.go
  pkg/integration_test/version_upgrade_test.go
  server/grpc_service.go
  vendor/github.com/BurntSushi/toml/cmd/toml-test-decoder/COPYING
  vendor/github.com/BurntSushi/toml/cmd/toml-test-encoder/COPYING
  vendor/github.com/BurntSushi/toml/cmd/tomlv/COPYING
  vendor/github.com/grpc-ecosystem/grpc-gateway/third_party/googleapis/LICENSE
  vendor/github.com/pingcap/gofail/gofail.go
  vendor/github.com/pingcap/kvproto/pkg/pdpb/pdpb.pb.go
  vendor/github.com/spf13/cobra/cobra/cmd/testdata/LICENSE.golden
Labels: cherry-pick
