Repository tikv/pd, pull requests merged in 2019-07, with the labels that each got.

#1608 config: warn undefined config item (#1577)
  server/config.go
  server/config_test.go
Labels: cherry-pick

#1576 server: use a different timeout for http clients (#1574)
  pdctl/command/global.go
  server/api/redirector.go
  server/api/util.go
  server/server.go
  server/util.go
Labels: cherry-pick

#1610 feat(Makefile): support gcflags
  Makefile
Labels: area/util, kind/enhancement

#1614 scheduler: log all divergent routines when filtering the target store
  server/schedulers/balance_region.go
Labels: area/schedule, kind/enhancement

#1616 config: turn the default limit of the hot region schedule
  conf/config.toml
  pkg/mock/mockoption/mockoption.go
  server/config.go
Labels: backport/release-3.0, release-note

#1613 schedule: set influence according to region size
  server/checker/merge_checker_test.go
  server/cluster.go
  server/schedule/operator.go
  server/schedule/operator_test.go
  server/statistics/store.go
Labels: backport/release-3.0

#1609 scheduler: check replica for hot region
  server/schedulers/hot_region.go
  server/schedulers/scheduler_test.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
Labels: backport/release-2.1, backport/release-3.0

#1617 schedulers: balance region consider pending peer
  server/cluster_info.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_option.go
  server/schedule/filters.go
  server/schedule/scheduler.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
Labels: backport/release-3.0

#1626 client: modify the tso_wait_duration metric
  client/client.go
  client/metrics.go
Labels: area/metrics

#1624 *: some fixes for release 3.0
  CHANGELOG.md
  conf/config.toml
  pkg/mock/mockoption/mockoption.go
  server/cluster.go
  server/cluster_info.go
  server/config.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_option.go
  server/schedule/filters.go
  server/schedule/merge_checker_test.go
  server/schedule/operator.go
  server/schedule/operator_test.go
  server/schedule/scheduler.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/scheduler_test.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
  server/statistics/store.go
Labels: cherry-pick

#1630 api: stabilize redirector test
  server/api/redirector_test.go
Labels: area/api, area/testing

#1633 schedule: fix merge related operators in waiting operators
  server/schedule/waiting_operator.go
  server/schedule/waiting_operator_test.go
Labels: area/schedule, backport/release-3.0

#1629 pdctl: support to specify multiple pd addrs seperated by commas
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/log_command.go
  tools/pd-ctl/pdctl/command/member_command.go
Labels: area/pdctl, kind/enhancement

#1636 pkg, tools: improve the log message
  go.mod
  go.sum
  pkg/etcdutil/etcdutil.go
  pkg/tempurl/tempurl.go
  server/api/redirector.go
  server/config.go
  tools/pd-tso-bench/main.go
Labels: area/log, backport/release-3.0

#1634 schedule: fix merge related operators in waiting operators (#1633)
  CHANGELOG.md
  server/schedule/waiting_operator.go
  server/schedule/waiting_operator_test.go
Labels: cherry-pick

#1627 core: use hex format for region meta key
  server/checker/merge_checker.go
  server/cluster_info.go
  server/cluster_worker.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  tools/regions-dump/main.go
Labels: area/log

#1637 pkg, tools: improve the log message (#1636)
  go.mod
  go.sum
  pkg/etcdutil/etcdutil.go
  pkg/tempurl/tempurl.go
  server/api/redirector.go
  server/config.go
  tools/pd-tso-bench/main.go
Labels: cherry-pick

#1639 core: use hex format for region meta key (#1627)
  CHANGELOG.md
  server/cluster_info.go
  server/cluster_worker.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/schedule/merge_checker.go
Labels: cherry-pick

#1643 server: add retry mechanism for join
  server/join.go
  tests/server/join/join_fail/join_fail_test.go
Labels: backport/release-3.0

#1642 schedule: fix scatter range
  server/schedule/range_cluster.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/metrics.go
  server/schedulers/scatter_range.go
Labels: area/schedule, backport/release-3.0

#1648 api: fix scan regions
  server/api/region_test.go
  server/api/stats_test.go
  server/core/region.go
  server/core/region_tree.go
  server/statistics/region.go
Labels: backport/release-2.1, backport/release-3.0

#1650 schedule: fix scatter range (#1642)
  server/schedule/range_cluster.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/metrics.go
  server/schedulers/scatter_range.go
Labels: cherry-pick

#1653 *: fix add merge region api
  server/api/operator_test.go
  server/handler.go
Labels: kind/bug

#1638 schedule: reorganize schedule package
  pkg/testutil/operator_check.go
  server/api/operator.go
  server/api/trend_test.go
  server/checker/learner_checker.go
  server/checker/merge_checker.go
  server/checker/merge_checker_test.go
  server/checker/namespace_checker.go
  server/checker/replica_checker.go
  server/coordinator.go
  server/coordinator_test.go
  server/core/basic_cluster.go
  server/core/store.go
  server/core/store_test.go
  server/core/test_util.go
  server/handler.go
  server/namespace_cluster.go
  server/namespace_test.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/filter/metrics.go
  server/schedule/metrics.go
  server/schedule/operator/metrics.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_kind.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/operator_queue.go
  server/schedule/opt/opts.go
  server/schedule/region_scatterer.go
  server/schedule/replica.go
  server/schedule/replica_test.go
  server/schedule/scheduler.go
  server/schedule/selector/selector.go
  server/schedule/selector/selector_test.go
  server/schedule/test_util.go
  server/schedule/waiting_operator.go
  server/schedule/waiting_operator_test.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
  server/statistics/hot_cache.go
Labels: area/schedule
