Repository tikv/pd, pull requests merged in 2019-05, with the labels that each got.

#1529 *: improve some logs
  server/cluster.go
  server/coordinator.go
  server/leader.go
Labels: cherry-pick

#1522 schedulers: let hot region balance not affect by balance-region-scheduler-limit
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
Labels: kind/enhancement

#1533 server: set timeout for MoveLeader
  server/leader.go
  tests/cluster.go
  tests/server/move_leader_test.go
Labels: backport/release-2.0, backport/release-2.1

#1538 server: set timeout for MoveLeader
  server/leader.go
Labels: cherry-pick

#1540 Add native Windows build script
  build.ps1
Labels: kind/enhancement

#1541 metrics: fix operator timeout metrics
  server/cluster.go
  server/schedule/operator.go
  server/schedule/operator_controller.go
Labels: area/metrics

#1476 *:Rollback config in store when kv.persist failed
  server/cluster_test.go
  server/option.go
  server/server.go
Labels: contributor

#1552 schedulers: fix the issue about the limit of the hot region
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
Labels: backport/release-3.0

#1551 pick some hot region optimization to release 2.1
  server/cluster_info.go
  server/config.go
  server/option.go
  server/schedule/basic_cluster.go
  server/schedule/mockcluster.go
  server/schedule/opts.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/server.go
Labels: cherry-pick

#1550 *: split more tests into different packages
  tests/cmd/pdctl_test.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/health/health_test.go
  tests/pdctl/helper.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/member/member_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
  tests/pdctl/table_ns/table_ns_test.go
  tests/pdctl/tso/tso_test.go
  tests/server/join/join_test.go
  tests/server/member/member_test.go
  tests/server/move_leader_test.go
  tests/server/watch/leader_watch_test.go
Labels: area/testing
