Repository tikv/pd, pull requests merged in 2019-10, with the labels that each got.

#1771 pd-ctl: fix output (#1765) (#1763) (cherry pick to release-3.1)
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/helper.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/operator.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: CanMerge, area/pdctl, cherry-pick

#1786 update CHANGELOG for v3.0.4
  CHANGELOG.md
Labels: tests-passed

#1785 server: support peer address
  docs/api.html
  go.mod
  go.sum
  server/api/api.raml
  server/cluster.go
  server/core/store_option.go
Labels: CanMerge, area/api, kind/enhancement

#1754 [new-hotspot-scheduler] schedulers: improve store-load-based scheduler
  server/coordinator.go
  server/schedulers/hot_region.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
Labels: area/schedule

#1777 api: fix TLS when redirecting the request (#1740)
  .gitignore
  server/api/redirector.go
Labels: CanMerge, cherry-pick

#1792 test: repair test
  server/coordinator_test.go
Labels: CanMerge, area/testing

#1750 statistics: refactor
  pkg/mock/mockcluster/mockcluster.go
  server/api/trend.go
  server/cluster.go
  server/coordinator.go
  server/namespace_cluster.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/statistics/flowkind.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_regions_stat.go
  server/statistics/region.go
  server/statistics/region_stat_informer.go
  server/statistics/schedule_options.go
  server/statistics/store.go
  server/statistics/store_collection.go
  server/statistics/store_hot_region_infos.go
  server/statistics/util.go
Labels: CanMerge, kind/enhancement

#1798 test: enlarge the sleep time for the failpoint `memberNil`
  server/server.go
Labels: CanMerge, area/testing

#1684 server: use a checker controller in coordinator
  server/cluster.go
  server/cluster_worker.go
  server/cluster_worker_test.go
  server/coordinator.go
  server/coordinator_test.go
  server/namespace_cluster.go
  server/namespace_test.go
  server/schedule/checker/learner_checker.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/checker/metrics.go
  server/schedule/checker/namespace_checker.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/checker_controller.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/opt/opts.go
  server/schedule/range_cluster.go
  server/schedule/region_scatterer.go
  server/schedule/scheduler.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/base_scheduler.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
  server/version.go
Labels: CanMerge, kind/enhancement

#1802 core: Fix the race issue that data race during clone the `StoreInfo`
  server/core/store_option.go
  server/core/store_test.go
Labels: CanMerge, backport/release-3.0, backport/release-3.1, kind/bug

#1803 api, pdctl: show error message when config item not found
  server/api/config.go
  tests/pdctl/config/config_test.go
Labels: CanMerge, area/api, area/pdctl

#1801 statistics: add `HotPeerStat.GetBytesRate()` & use float64 rates
  docs/api.html
  server/api/api.raml
  server/api/trend.go
  server/coordinator.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/server.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_regions_stat.go
  server/statistics/store.go
Labels: CanMerge, area/schedule

#1790 *: reset metrics after the leader steps down
  server/cluster.go
  server/coordinator.go
  server/coordinator_test.go
  server/statistics/hot_cache.go
  server/statistics/region_collection.go
  server/statistics/store_collection.go
Labels: CanMerge, area/metrics, backport/release-3.0, backport/release-3.1

#1806 Rename overloadFilter to storeLimitFilter
  server/cluster.go
  server/core/basic_cluster.go
  server/core/store.go
  server/core/store_option.go
  server/schedule/checker/replica_checker.go
  server/schedule/filter/filters.go
  server/schedule/operator_controller.go
Labels: CanMerge, area/schedule

#1807 tools: fix panic when using stores show limit
  server/cluster.go
  server/schedule/operator_controller.go
  tests/pdctl/store/store_test.go
Labels: CanMerge, area/pdctl, backport/release-3.0, backport/release-3.1, kind/bug

#1811 *: some picks to release 3.0
  docs/api.html
  server/api/api.raml
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/core/store_option.go
  server/handler.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
Labels: CanMerge, cherry-pick

#1796 *: remove all parallel settings
  tests/client/client_test.go
  tests/compatibility/version_upgrade_test.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/health/health_test.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/member/member_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
  tests/pdctl/table_ns/table_ns_test.go
  tests/pdctl/tso/tso_test.go
  tests/server/api_test.go
  tests/server/join/join_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/server_test.go
  tests/server/tso/tso_test.go
  tests/server/watch/leader_watch_test.go
Labels: CanMerge, area/testing

#1815 *: cherry pick some improvements to release 3.0
  server/cluster.go
  server/cluster_info.go
  server/coordinator.go
  server/coordinator_test.go
  server/statistics/hot_cache.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
  server/statistics/store_collection.go
Labels: cherry-pick

#1817 *: cherry pick some improvements to release 3.1
  server/cluster.go
  server/cluster_info.go
  server/coordinator.go
  server/coordinator_test.go
  server/statistics/hot_cache.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
  server/statistics/store_collection.go
Labels: CanMerge, cherry-pick

#1805 Increase the default value of region-schedule-limit
  conf/config.toml
  server/config/config.go
  tools/pd-ctl/README.md
Labels: CanMerge, area/schedule

#1821 *: update go version to 1.13 (#1742)
  .travis.yml
  circle.yml
  go.mod
  go.sum
  tools/pd-analysis/analysis/.gitignore
Labels: CanMerge, backport/release-3.1, cherry-pick

#1820 *: support setting endKey for ScanRange (#1700)
  client/client.go
  client/client_test.go
  go.mod
  go.sum
  pkg/mock/mockcluster/mockcluster.go
  server/api/region.go
  server/api/router.go
  server/cluster.go
  server/cluster_info.go
  server/coordinator.go
  server/core/region.go
  server/grpc_service.go
  server/schedule/range_cluster.go
  server/schedule/scheduler.go
  server/schedulers/adjacent_region.go
  server/statistics/region.go
Labels: CanMerge, backport/release-3.1, cherry-pick

#1814 tools: add a benchmark tool for hearbeat
  Makefile
  tools/pd-heartbeat-bench/main.go
Labels: CanMerge, area/util

#1733 *: supports http handler for each scheduler
  pkg/apiutil/apiutil.go
  server/api/config.go
  server/api/member.go
  server/api/operator.go
  server/api/router.go
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/api/store.go
  server/api/util.go
  server/api/util_test.go
  server/config/config.go
  server/config/option.go
  server/coordinator.go
  server/coordinator_test.go
  server/core/storage.go
  server/core/store.go
  server/handler.go
  server/namespace_test.go
  server/schedule/scheduler.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/base_scheduler.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
  server/server.go
  table/namespace_handler.go
  tests/pdctl/config/config_test.go
Labels: CanMerge, area/api, priority/P1

#1783 core: support range for random selection
  server/cluster.go
  server/cluster_test.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_storage.go
  server/core/region_test.go
  server/core/region_tree.go
  server/core/region_tree_test.go
  server/core/storage.go
  server/core/test_util.go
  tests/server/region_syncer/region_syncer_test.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/raft.go
Labels: CanMerge, area/schedule, kind/enhancement, priority/P1

#1819 *: add a API to reset the TS
  pkg/tsoutil/tso.go
  server/api/admin.go
  server/api/admin_test.go
  server/api/router.go
  server/config/config.go
  server/handler.go
  server/server.go
  server/tso/tso.go
  tools/pd-ctl/pdctl/command/tso_command.go
Labels: CanMerge, area/api

#1826 *: make tests more stable
  server/coordinator_test.go
Labels: CanMerge, area/testing

#1812 checker: transfer leader first when offline a store
  server/schedule/checker/replica_checker.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/operator/operator.go
Labels: CanMerge, area/schedule

#1813 Implement all the features of stores command in store
  tests/pdctl/store/store_test.go
  tools/pd-ctl/README.md
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/store_command.go
  tools/pd-ctl/pdctl/ctl.go
Labels: CanMerge, area/pdctl

#1789 checker: speed up merge regions by batch
  server/config/option.go
  server/coordinator.go
  server/coordinator_test.go
  server/schedule/checker_controller.go
Labels: CanMerge, area/checker, kind/enhancement, priority/P1

#1818 checkers: fix delay after update split-merge-interval
  server/cluster_worker.go
  server/cluster_worker_test.go
  server/config/option.go
  server/coordinator_test.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/operator_controller_test.go
Labels: CanMerge, area/checker

#1833 *: make random region tests more stable
  server/core/region_tree_test.go
Labels: CanMerge, area/testing

#1835 config: add option to enable placement rules
  pkg/mock/mockoption/mockoption.go
  server/cluster.go
  server/config/config.go
  server/config/option.go
  server/schedule/opt/opts.go
Labels: CanMerge, area/schedule

#1838 statistics: use float rate
  server/api/hot_status.go
  server/cluster.go
  server/handler.go
  server/statistics/store.go
  server/statistics/store_collection.go
  tests/pdctl/hot/hot_test.go
Labels: CanMerge, area/schedule

#1839 schedulers: move hotspot tests to new file
  server/schedulers/balance_test.go
  server/schedulers/hot_test.go
Labels: CanMerge, area/schedule, area/testing

#1840 schedulers: fix the race issue of the scatter range scheduler
  server/schedulers/balance_test.go
  server/schedulers/scatter_range.go
Labels: CanMerge, area/schedule, kind/bug

#1842 Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: CanMerge, kind/bug

#1836 core: cleanup regionMap
  server/core/region.go
  server/core/region_test.go
Labels: CanMerge, area/util, kind/enhancement

#1843 statistics: abstract MovingAvg (rolling statistics) interface
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/store.go
  server/statistics/util.go
  server/statistics/util_test.go
Labels: CanMerge, area/schedule, kind/design

#1850 api: add get region count interface
  docs/api.html
  server/api/api.raml
  server/api/region.go
  server/api/router.go
  server/cluster.go
Labels: area/api

#1779 pd-ctl: Provide a way to test the result of hot read and hot write commands
  tests/pdctl/hot/hot_test.go
Labels: CanMerge, area/pdctl

#1852 client.go: Degrade log level when passing unavailable endpoint to client
  client/client.go
Labels: CanMerge

#1859 api: add get region count interface
  docs/api.html
  server/api/api.raml
  server/api/region.go
  server/api/router.go
  server/cluster.go
Labels: CanMerge, cherry-pick

#1858 * : refactor "IsBusy"
  server/api/store.go
  server/core/store.go
  server/schedule/filter/filters.go
  server/schedule/region_scatterer.go
Labels: CanMerge, kind/refactor

#1854 core: add rules load/save
  server/core/storage.go
Labels: CanMerge, area/schedule

#1855 placement: remove stale code
  server/placement/constraint.go
  server/placement/functions.go
  server/placement/parser.go
  server/placement/placement_test.go
Labels: CanMerge, kind/refactor

#1758 *: fix some leak problems
  client/client_test.go
  pkg/cache/cache_test.go
  pkg/cache/ttl.go
  server/api/server_test.go
  server/api/store_ns_test.go
  server/cluster.go
  server/cluster_test.go
  server/cluster_worker_test.go
  server/config/option.go
  server/coordinator.go
  server/coordinator_test.go
  server/core/region_storage.go
  server/heartbeat_stream_test.go
  server/heartbeat_streams.go
  server/namespace_test.go
  server/region_syncer/client.go
  server/region_syncer/server.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/checker_controller.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
  server/schedulers/hot_test.go
  server/schedulers/scheduler_test.go
  server/schedulers/utils.go
  server/server.go
  server/server_test.go
  server/systime_mon.go
  server/systime_mon_test.go
  server/testutil.go
  tests/server/member/member_test.go
  tests/server/tso/tso_test.go
Labels: CanMerge, area/util, status/LGT2

#1834 placement: add rule definitions
  pkg/slice/slice.go
  pkg/slice/slice_test.go
  server/schedule/placement/label_constraint.go
  server/schedule/placement/label_constraint_test.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_test.go
Labels: CanMerge, area/schedule

#1816 config, api: change config names from disable-* to enable-*
  docs/api.html
  pkg/mock/mockoption/mockoption.go
  server/api/api.raml
  server/config/config.go
  server/config/config_test.go
  server/config/option.go
  server/namespace_test.go
  server/schedulers/balance_test.go
  server/statistics/store_collection.go
  tests/pdctl/config/config_test.go
Labels: CanMerge, area/api, area/pdctl, release-note

#1823 schedulers: make balancers check all stores on each `Schedule()` process
  pkg/slice/slice.go
  server/schedule/filter/filters.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
Labels: CanMerge, release-note

#1851 *: add a API to reset the TS (#1819)
  pkg/tsoutil/tso.go
  server/api/admin.go
  server/api/admin_test.go
  server/api/router.go
  server/config.go
  server/handler.go
  server/leader.go
  server/server.go
  server/tso.go
  tools/pd-ctl/pdctl/command/tso_command.go
Labels: CanMerge, cherry-pick

#1863 *: add a log when getting timestamps are too slow
  server/grpc_service.go
Labels: CanMerge, backport/release-2.1, backport/release-3.0, backport/release-3.1

#1864 server: merge status_address/git_hash fields of store meta
  go.mod
  go.sum
  server/cluster.go
  server/core/store_option.go
Labels: CanMerge, area/api

#1731 tools: config for cases in simulator
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
Labels: CanMerge, area/simulator, status/LGT1

#1871 *: update the documentation to the latest version
  conf/config.toml
  server/config/config.go
  server/schedule/checker/merge_checker.go
  tools/pd-ctl/README.md
Labels: CanMerge, area/doc

#1874 core: refactor random region
  server/cluster.go
  server/cluster_test.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_test.go
  server/schedule/range_cluster.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/raft.go
Labels: CanMerge, area/schedule

#1869 add feature request issue template
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: CanMerge, area/doc
