Repository tikv/pd, pull requests merged in 2019-09, with the labels that each got.

#1723 checker: fix the issue that a region does not merge to the sibling with smaller size
  server/checker/merge_checker.go
  server/checker/merge_checker_test.go
Labels: backport/release-3.0

#1725 add config-check flag for pd-server (#1695)
  cmd/pd-server/main.go
  server/config.go
  server/util.go
Labels: CanMerge, cherry-pick

#1708 tools: balance region simulator
  tools/pd-analysis/analysis/transfer_region_counter.go
  tools/pd-analysis/analysis/transfer_region_counter_test.go
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/redundant_balance_region.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/info/stats.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/simutil/case_config.go
  tools/pd-simulator/simulator/task.go
Labels: CanMerge, area/simulator

#1715 scheduler: do not remove the operator when the step does not finish
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: CanMerge, kind/bug

#1732 operator: fix the AddLearner config version judgment
  server/schedule/operator/operator.go
  server/schedule/operator_controller_test.go
Labels: CanMerge, kind/bug

#1729 tools: fix TLS in pd control
  tests/pdctl/cluster/cluster_test.go
  tools/pd-ctl/pdctl/ctl.go
Labels: CanMerge, area/pdctl, backport/release-3.0

#1728 syncer: support TLS for region syncer
  client/client.go
  pkg/grpcutil/grpcutil.go
  server/region_syncer/client.go
  server/region_syncer/server.go
Labels: CanMerge, backport/release-3.0

#1719 schedule: fix a thread-safe bug and improve code
  server/checker/merge_checker_test.go
  server/cluster.go
  server/coordinator_test.go
  server/handler.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: CanMerge, backport/release-3.0, kind/bug

#1713 [new-hotspot-scheduler] add operator influence and more metrics
  .gitignore
  Makefile
  client/client.go
  pkg/cache/cache.go
  pkg/grpcutil/grpcutil.go
  scripts/retool-install.sh
  server/checker/merge_checker.go
  server/checker/merge_checker_test.go
  server/cluster.go
  server/coordinator_test.go
  server/handler.go
  server/region_syncer/client.go
  server/region_syncer/server.go
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedulers/hot_region.go
  server/schedulers/metrics.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
  server/statistics/hot_cache.go
  server/statistics/region.go
  server/statistics/store.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/config/config_test.go
  tools.json
  tools/pd-analysis/analysis/transfer_region_counter.go
  tools/pd-analysis/analysis/transfer_region_counter_test.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/redundant_balance_region.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/info/stats.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/simutil/case_config.go
  tools/pd-simulator/simulator/task.go
Labels: WIP

#1688 statistics: fix region flow calculation
  pkg/mock/mockcluster/mockcluster.go
  server/core/region.go
  server/core/region_option.go
  server/schedulers/balance_test.go
  server/schedulers/scheduler_test.go
  server/statistics/hot_cache.go
Labels: CanMerge, kind/enhancement, status/LGT2

#1738 tools: fix TLS in pd control (#1729)
  tests/pdctl/cluster/cluster_test.go
  tools/pd-ctl/pdctl/ctl.go
Labels: CanMerge, cherry-pick

#1736 makefile: improve deadlock-enable/disable
  Makefile
  tools/pd-analysis/analysis/transfer_region_counter_test.go
  tools/pd-simulator/simulator/cases/redundant_balance_region.go
Labels: CanMerge, area/util, status/LGT2

#1741 api: fix missing keys statistic in region information
  server/api/region.go
  server/api/region_test.go
  server/core/region_option.go
Labels: CanMerge, area/api, status/LGT2

#1742 *: update go version to 1.13
  .travis.yml
  circle.yml
  go.mod
  go.sum
  tools/pd-analysis/analysis/.gitignore
Labels: area/util, status/LGT2

#1748 coordinator: add the operator cost time in log field
  server/schedule/operator_controller.go
Labels: CanMerge, area/log, kind/enhancement

#1734 schedule: fix a thread-safe bug and improve code (#1719)
  server/cluster.go
  server/coordinator_test.go
  server/handler.go
  server/schedule/merge_checker_test.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: CanMerge, backport/release-3.1, cherry-pick, status/LGT1

#1749 [new-hotspot-scheduler] update the kvproto dependency
  go.mod
  go.sum
Labels: area/schedule

#1747 *: unify metrics naming style
  server/checker/merge_checker.go
  server/checker/namespace_checker.go
  server/checker/replica_checker.go
  server/metrics.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/metrics.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/statistics/region_collection.go
  server/statistics/store_collection.go
Labels: CanMerge, area/metrics

#1753 *: improve label metrics
  server/cluster.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
Labels: CanMerge, area/metrics

#1740 api: fix TLS when redirecting the request
  .gitignore
  server/api/redirector.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/region/region_test.go
Labels: CanMerge, area/api

#1760 *: clean temp dir after testing
  client/client_test.go
  pkg/etcdutil/etcdutil_test.go
  server/cluster_test.go
  server/cluster_worker_test.go
  server/coordinator_test.go
  server/join/join_test.go
  server/server_test.go
  tests/server/id/id_test.go
  tests/server/join/join_fail/join_fail_test.go
  tests/server/join/join_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/server_test.go
  tests/server/tso/tso_test.go
  tests/server/watch/leader_watch_test.go
Labels: CanMerge, area/testing

#1759 cluster: update the region cache when flow changed
  server/cluster.go
  server/cluster_test.go
  server/metrics.go
Labels: CanMerge, area/metrics, kind/enhancement

#1756 statistics: add empty region metrics
  docs/api.html
  server/api/api.raml
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/handler.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
Labels: CanMerge, area/metrics

#1763 Fix pd-ctl help output
  tools/pd-ctl/main.go
Labels: CanMerge, area/pdctl

#1746 schedule: add more dimension for filter metrics
  server/checker/namespace_checker.go
  server/checker/replica_checker.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/filter/metrics.go
  server/schedule/region_scatterer.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/evict_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: CanMerge, area/metrics

#1735 btree: add size info for google/btree
  pkg/btree/.travis.yml
  pkg/btree/LICENSE
  pkg/btree/README.md
  pkg/btree/btree.go
  pkg/btree/btree_mem.go
  pkg/btree/btree_test.go
Labels: area/util, status/LGT1

#1762 [new-hotspot-scheduler] update kvproto dependency
  go.mod
  go.sum
Labels: CanMerge, area/schedule

#1761 *: improve more metrics
  server/checker/replica_checker.go
  server/cluster.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_region.go
  server/statistics/store_collection.go
Labels: CanMerge, area/metrics

#1765 Fix pd-ctl echo output
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/helper.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/operator.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: CanMerge, area/pdctl, backport/release-2.1, backport/release-3.0, backport/release-3.1, kind/bug

#1757 schedule, api: support specify keys to split region
  go.mod
  go.sum
  server/api/api.raml
  server/api/operator.go
  server/handler.go
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
Labels: area/api, area/schedule

#1766 server: fix panic caused by GetLeader
  go.sum
  server/api/version_test.go
  server/cluster_test.go
  server/server.go
Labels: CanMerge, backport/release-3.1, kind/bug

#1768 Fix merge region doc and refactor
  pkg/mock/mockoption/mockoption.go
  server/checker/merge_checker.go
  server/cluster.go
  server/config/config.go
  server/config/option.go
  server/schedule/opt/opts.go
  server/schedulers/random_merge.go
  tools/pd-ctl/README.md
Labels: CanMerge, area/schedule

#1772 pd-ctl: fix output (#1765) (#1763) (cherry pick to release-2.1)
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/operator.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: area/pdctl

#1669 server: remove disable learner option
  pkg/mock/mockoption/mockoption.go
  server/checker/replica_checker.go
  server/cluster.go
  server/config/config.go
  server/config/option.go
  server/coordinator.go
  server/coordinator_test.go
  server/handler.go
  server/schedule/operator/operator.go
  server/schedule/opt/opts.go
  server/server.go
  server/statistics/store_collection.go
  server/version.go
  tests/pdctl/config/config_test.go
  tools/pd-ctl/README.md
Labels: CanMerge, kind/enhancement, status/LGT2

#1778 util: imporve the precision of human size
  go.mod
  go.sum
  pkg/typeutil/size.go
  pkg/typeutil/size_test.go
  server/api/store_test.go
Labels: CanMerge, area/util, backport/release-2.1, backport/release-3.0, backport/release-3.1

#1607 checker: fix remove pending peer by replacing peer
  server/checker/replica_checker.go
  server/checker/replica_checker_test.go
Labels: CanMerge, backport/release-2.1, backport/release-3.0, backport/release-3.1

#1770 pd-ctl: fix output (#1765) (#1763) (cherry pick to release-3.0)
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/helper.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/operator.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: CanMerge, area/pdctl, cherry-pick

#1784 pkg: omit the btree warnings
  pkg/btree/btree.go
  revive.toml
Labels: CanMerge, area/util, kind/enhancement
