Repository tikv/pd, pull requests merged in 2020-05, with the labels that each got.

#2393 replication_mode: fix config issues
  server/api/config_test.go
  server/config/config.go
  server/replication/replication_mode.go
  server/server.go
  tests/pdctl/config/config_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: status/can-merge, type/enhancement

#2396 Reduce the unnecessary updateStoreStatusLocked call counts.
  server/cluster/cluster.go
Labels: challenge-program-2, contribution, status/can-merge

#2403 Make release note easy to be checked by release note checker
  .github/pull_request_template.md
Labels: status/can-merge

#2399 api: fix the encoded path of region key
  server/api/region.go
  server/api/router.go
  tests/pdctl/region/region_test.go
Labels: component/api, status/can-merge, type/bugfix

#2394 config: make max reset ts gap readable
  server/config/config.go
  server/config/persist_options.go
Labels: component/config, status/can-merge

#2405 metrics: fix the tso and id monitor
  metrics/grafana/pd.json
Labels: component/metrics, needs-cherry-pick-3.1, status/can-merge

#2406 *: add pd-recover to Dockerfile
  Dockerfile
  Makefile
  tools/pd-recover/main.go
Labels: component/build, needs-cherry-pick-3.1, status/can-merge

#2408 *: add pd-recover to Dockerfile (#2406)
  Dockerfile
  Makefile
  tools/pd-recover/main.go
Labels: status/can-merge, type/cherry-pick

#2390 scheduler: add hot peer filter types
  server/cluster/cluster.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/statistics/store.go
Labels: component/schedule, status/can-merge

#2407 *: make the help message standard
  server/config/config.go
  tools/pd-analysis/main.go
  tools/pd-backup/main.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/main.go
  tools/pd-tso-bench/main.go
  tools/regions-dump/main.go
Labels: component/util, status/can-merge

#2409 metrics: fix the tso and id monitor (#2405)
  metrics/grafana/pd.json
Labels: status/can-merge, type/cherry-pick

#2397 UCP: Support Dashboard UI under windows
  build.ps1
  pkg/dashboard/uiserver/empty_assets_handler_windows.go
  scripts/embed-dashboard-ui.ps1
Labels: contribution, status/can-merge

#2416 pdctl: fix the default config output of shuffle region scheduler
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: component/pd-ctl, status/can-merge

#2417 *: add edtion information
  Makefile
  server/util.go
Labels: release-note, status/can-merge

#2401 *: assign issues to projects
  .github/workflows/assign-to-one-project.yaml
Labels: component/build, status/can-merge

#2400 Improve the heartbeat processing by not remove region from subtrees.
  server/core/region.go
  server/core/region_test.go
Labels: contribution, status/can-merge

#2420 config: resolve data path to absolute directory
  server/config/config.go
Labels: status/can-merge

#2414 *: auto assign a PR to assignee
  .github/auto_assignee_config.yml
  .github/workflows/auto-assignee.yaml
Labels: component/build, status/can-merge

#2429 server, client: add down_peer and pending_peer in region response
  client/client.go
  go.mod
  go.sum
  server/api/admin_test.go
  server/api/region.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/grpc_service.go
  tests/client/client_test.go
Labels: component/client, status/can-merge

#2435 fix unstable test TestGetRegionByID
  tests/client/client_test.go
Labels: status/can-merge

#2428 update go.mod for tidb-dashboard
  go.mod
  go.sum
Labels: status/can-merge, type/bugfix

#2425 Improve the heartbeat processing by reduce the number of getOverlaps.
  server/core/basic_cluster.go
Labels: contribution, status/can-merge

#2424 Improve the heartbeat processing by not remove region from the tree
  server/core/region.go
  server/core/region_test.go
Labels: contribution, status/can-merge

#2441 pdctl: fix remove evict/grant leader scheduler
  client/client.go
  client/config_client.go
  client/metrics.go
  tests/pdctl/helper.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/component_command.go
  tools/pd-ctl/pdctl/command/scheduler.go
  tools/pd-ctl/pdctl/ctl.go
Labels: component/pd-ctl, needs-cherry-pick-4.0, status/can-merge, type/bug

#2426 *: add engine filter to exclude special stores
  server/schedule/filter/filters.go
  server/schedule/region_scatterer.go
  server/schedulers/scheduler_test.go
  server/util.go
Labels: needs-cherry-pick-4.0, status/can-merge, type/bug

#2442 metrics: update monitoring template in grafana
  metrics/grafana/pd.json
Labels: component/metrics, needs-cherry-pick-4.0, status/can-merge

#2438 *: fix auto assignee action
  .github/auto_assign.yml
  .github/auto_assignee_config.yml
  .github/workflows/auto-assignee.yaml
Labels: component/build, status/can-merge

#2454 dashboard,config: support dashboard dynamic public path prefix
  go.mod
  go.sum
  pkg/dashboard/adapter/apiserver.go
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
  server/config/config.go
Labels: contribution

#2458 Add TiDB Dashboard configurations
  conf/config.toml
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
Labels: status/can-merge

#2456 core: adjust log level
  server/core/basic_cluster.go
Labels: component/log, status/can-merge

#2457 Cherry pick #2454 to release-4.0
  conf/config.toml
  go.mod
  go.sum
  pkg/dashboard/adapter/apiserver.go
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
  server/config/config.go
Labels: status/can-merge

#2461 *: update the assignee rule
  .github/auto_assign.yml
Labels: component/build, status/can-merge

#2466 dashboard: generate Context every time the manager starts
  pkg/dashboard/adapter/manager.go
Labels: status/can-merge

#2469 Fix grammar mistake
  .github/pull_request_template.md
Labels: status/can-merge

#2471 server: Fix bug for region_score with store's used_size is zero
  server/core/store.go
  server/core/store_test.go
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#2465 metrics: remove duplicate grafana panel
  metrics/grafana/pd.json
Labels: needs-cherry-pick-4.0, status/can-merge

#2477 server: Fix bug for region_score with store's used_size is zero (#2471)
  server/core/store.go
  server/core/store_test.go
Labels: status/can-merge

#2479 Add balance leader score option for release 3.0
  conf/config.toml
  pkg/mock/mockcluster/mockcluster.go
  pkg/mock/mockoption/mockoption.go
  server/api/store.go
  server/cluster_info.go
  server/config.go
  server/core/resource_kind.go
  server/core/store.go
  server/core/test_util.go
  server/option.go
  server/schedule/operator_controller.go
  server/schedule/opts.go
  server/schedule/selector.go
  server/schedule/selector_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/label.go
  server/schedulers/scheduler_test.go
  server/schedulers/utils.go
  server/statistics/store_collection.go
  tools/pd-ctl/README.md
Labels: component/scheduler, status/can-merge, type/cherry-pick
