Repository tikv/pd, pull requests merged in 2020-11, with the labels that each got.

#3060 security: Encrypt region boundary keys, Part 3 - key manager
  errors.toml
  pkg/encryption/config.go
  pkg/encryption/crypter.go
  pkg/encryption/crypter_test.go
  pkg/encryption/master_key.go
  pkg/encryption/master_key_test.go
  pkg/encryption/region_crypter.go
  pkg/errs/errno.go
  server/core/storage.go
  server/encryptionkm/key_manager.go
  server/encryptionkm/key_manager_test.go
  server/server.go
Labels: component/security, status/LGT2, status/can-merge

#3110 operator: fix transfer region operator
  server/api/operator_test.go
  server/handler.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/create_operator_test.go
Labels: component/schedule, status/LGT3, status/can-merge

#3132 github: add rebase workflow
  .github/workflows/rebase.yml
Labels: status/LGT2, status/can-merge

#3138 server: Fix the bug that infinite TTL for service safepoint doesn't work
  server/grpc_service.go
  tests/client/client_test.go
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#3142 simulator: Force stop condition for pd bench
  tools/pd-simulator/simulator/cases/import_data.go
Labels: status/LGT2, status/can-merge

#3147 github: fix challenge program template
  .github/ISSUE_TEMPLATE/challenge-program.md
Labels: status/LGT2, status/can-merge

#3154 operator: fix data race
  server/schedule/operator/builder.go
Labels: status/LGT2, status/can-merge

#3134 tso: Fix Local tso alloactor become alloactor leader without pd leader knowing its dc-location
  go.mod
  go.sum
  server/grpc_service.go
  server/tso/allocator_manager.go
  server/tso/global_allocator.go
  tests/server/tso/local_tso_test.go
Labels: component/tso, require-LGT1, status/LGT2, type/bug-fix

#3113 schedule: enhance region splitter
  server/api/region.go
  server/schedule/region_splitter.go
  server/schedule/region_splitter_test.go
Labels: component/schedule, status/LGT2, status/can-merge

#3157 autoscaling: fix the label of auto scaling group
  pkg/autoscaling/calculation.go
Labels: component/auto-scaling, require-LGT1, status/LGT2, status/can-merge

#3150 ci: remove useless rebase
  .github/workflows/rebase.yml
Labels: component/build, status/LGT2, status/can-merge

#3152 client: add the nonexistent dc-location check for PD client
  client/client.go
  errors.toml
  pkg/errs/errno.go
  tests/client/client_test.go
Labels: component/client, component/tso, status/LGT2, status/can-merge

#3129 config: enable cross table merge by default
  server/config/config.go
Labels: component/config, status/LGT2, status/can-merge

#3164 *: clean up code
  pkg/autoscaling/prometheus.go
  pkg/btree/btree_test.go
  pkg/encryption/master_key_test.go
  pkg/errs/errno.go
  pkg/logutil/log.go
  pkg/testutil/testutil.go
  server/api/rule_test.go
  server/config/config.go
  server/core/region.go
  server/grpc_service.go
  server/schedule/operator/status.go
  tests/pdbackup/backup_test.go
  tests/pdctl/config/config_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-backup/pdbackup/backup.go
  tools/pd-heartbeat-bench/main.go
Labels: require-LGT1, status/LGT1, status/can-merge

#3153 tools: support to request the Local TSO from a specific DC
  tools/pd-tso-bench/README.md
  tools/pd-tso-bench/main.go
Labels: component/tools, component/tso, status/LGT2, status/can-merge

#3139 metrics: replace histogram with gauge in patrol region
  server/cluster/coordinator.go
  server/cluster/metrics.go
Labels: component/metrics, status/LGT2, status/can-merge

#3125 tso: refine the Global TSO synchronization algorithm
  server/config/config.go
  server/tso/global_allocator.go
  server/tso/local_allocator.go
  server/tso/tso.go
Labels: component/tso, status/LGT2, status/can-merge

#3170 Update the errors and tiup repositories to the latest version
  errors.toml
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge

#3167 metrics: add patrol time monitor
  metrics/grafana/pd.json
Labels: component/metrics, status/LGT2, status/can-merge

#3146 server: Make gc_worker's service safepoint special
  server/core/storage.go
  server/grpc_service.go
  tests/client/client_test.go
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#3175 log: use the concurrently safe log to prevent the data race
  go.mod
  go.sum
Labels: status/LGT2, status/can-merge

#3141 security: Encrypt region boundary keys, Part 4 - KMS
  errors.toml
  go.mod
  go.sum
  pkg/encryption/kms.go
  pkg/encryption/master_key.go
  pkg/encryption/master_key_test.go
  pkg/errs/errno.go
  server/encryptionkm/key_manager.go
  server/encryptionkm/key_manager_test.go
Labels: component/security, status/LGT2, status/can-merge

#3145 build: add `--always` to `git describe`
  Makefile
  build.ps1
Labels: component/build, needs-cherry-pick-3.0, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge

#3172 client: fix the block channel introduced by checkStreamTimeout
  client/client.go
Labels: component/client, status/LGT2, status/can-merge

#3122 client: support split/scatter region request
  client/client.go
  client/metrics.go
  go.mod
  go.sum
  pkg/testutil/testutil.go
  server/api/region.go
  server/grpc_service.go
  server/schedule/region_scatterer.go
  tests/client/client_test.go
Labels: status/LGT2, status/can-merge

#3178 client: add max error retry time for client
  client/base_client.go
  client/client_test.go
Labels: first-time-contributor, status/LGT2, status/can-merge

#3169 client: improve the TSO fetching performance
  client/base_client.go
  client/client.go
  client/client_test.go
Labels: component/client, status/LGT2, status/can-merge

#3186 client: fix the compatibility of ScatterRegion method
  client/client.go
  client/metrics.go
Labels: status/LGT2, status/can-merge

#3189 build: use the new env setting method in github action
  .github/workflows/check-dashboard.yaml
Labels: status/LGT2, status/can-merge

#3188 client: fix the nil interface conversion bug
  client/client.go
Labels: status/LGT2, status/can-merge

#3187 misc: fix metrics and several log format problem
  client/client.go
  server/election/leadership.go
  server/schedule/operator_controller.go
  server/schedulers/hot_region.go
  server/server.go
  server/tso/global_allocator.go
Labels: component/misc, status/LGT2, status/can-merge

#3197 metrics: fix the filter metrics
  server/schedule/filter/filters.go
Labels: component/metrics, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#3200 server: check the store version when changing tombstone status
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  server/statistics/store.go
  server/statistics/store_collection_test.go
  tests/server/cluster/cluster_test.go
Labels: component/api, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#3133 checker: create operator to match leader role
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: component/placement, needs-cherry-pick-4.0, status/LGT2, status/can-merge, type/bug-fix

#3209 client: fix the bug that may cause the tso process to freeze
  client/client.go
Labels: component/client, status/LGT2, status/can-merge

#3193 movingaverage: add max filter
  pkg/movingaverage/max_filter.go
  pkg/movingaverage/max_filter_test.go
  pkg/movingaverage/median_filter_test.go
Labels: component/schedule, status/LGT2, status/can-merge

#3183 moving average: new moving average EMA/WMA/HMA
  pkg/movingaverage/exponential_moving_average.go
  pkg/movingaverage/hull_moving_average.go
  pkg/movingaverage/moving_average_test.go
  pkg/movingaverage/weight_moving_average.go
  server/cluster/cluster_stat.go
Labels: status/LGT2, status/can-merge

#3196 check cluster version on store tombstone
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: component/api, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#3218 Update TiDB Dashboard to v2020.11.26.1
  go.mod
  go.sum
Labels: component/visualization, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#3202 scheduler: add better hot region output for pd-ctl
  server/schedulers/utils.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
Labels: component/scheduler, status/LGT2, status/can-merge

#3217 tools: fix tso bench cannot exit
  tools/pd-tso-bench/main.go
Labels: component/tools, status/LGT2, status/can-merge

#3131 Persist temporary setting to etcd
  pkg/cache/ttl.go
  pkg/etcdutil/etcdutil.go
  pkg/etcdutil/etcdutil_test.go
  server/api/config.go
  server/api/config_test.go
  server/cluster/cluster.go
  server/config/persist_options.go
  server/handler.go
  server/schedule/region_splitter_test.go
  server/server.go
  tests/client/client_test.go
Labels: status/LGT2, status/can-merge

#3210 client: add detailed comment and revise cancel
  client/client.go
Labels: status/LGT2, status/can-merge

#3212 hot scheduler: remove unused code
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
Labels: component/scheduler, status/LGT2, status/can-merge

#3215 hot scheduler: move expect load out of storeLoad
  server/schedulers/hot_region.go
  server/schedulers/utils.go
Labels: component/scheduler, status/LGT2, status/can-merge, type/refactor

#3231 statistics: fix GetFilledPeriod
  server/statistics/hot_cache.go
Labels: require-LGT1, status/LGT1, status/can-merge, type/bug-fix

#3232 *: update go.mod for sysutil
  go.mod
  go.sum
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#3233 Fix "Got too many pings" GRPC error in sync region client-side
  server/region_syncer/client.go
Labels: component/cluster, needs-cherry-pick-3.0, needs-cherry-pick-4.0, status/LGT2, status/can-merge
