Repository tikv/pd, pull requests merged in 2020-08, with the labels that each got.

#2709 dashboard: update dashboard to version 2020.08.03.1
  go.mod
  go.sum
Labels: component/visualization, needs-cherry-pick-4.0, require-LGT1, status/can-merge

#2715 server/cluster: fix storing old store info into storage when handling heartbeat
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#2707 *: refine member/tso/adapter logs
  pkg/dashboard/adapter/manager.go
  pkg/errors/errors.go
  pkg/errs/errs.go
  pkg/errs/errs_test.go
  server/member/leader.go
  server/tso/tso.go
Labels: component/log, status/LGT2, status/can-merge

#2711 client: refine the log errs in client
  client/base_client.go
  client/client.go
  pkg/errs/errs.go
Labels: component/log, contribution, status/LGT1

#2698 pd-ctl: make use of new batch ruledef api
  tools/pd-ctl/pdctl/command/config_command.go
Labels: contribution, status/LGT2, status/can-merge

#2708 placement: refine the log errs in placement
  pkg/errs/errs.go
  server/api/rule_test.go
  server/schedule/placement/rule_list.go
  server/schedule/placement/rule_manager.go
Labels: component/log, contribution, status/LGT2, status/can-merge

#2702 server/kv: refine the error message in from kv package
  pkg/errs/errs.go
  server/kv/etcd_kv.go
Labels: contribution, status/LGT2, status/can-merge

#2724 placement: rule_manager refactor
  server/schedule/placement/rule_manager.go
Labels: component/placement, type/refactor

#2725 Fix balance-leader won't work when placement rule enabled
  pkg/mock/mockcluster/mockcluster.go
  server/schedule/filter/filters.go
  server/schedulers/scheduler_test.go
Labels: component/placement, needs-cherry-pick-4.0, status/LGT2

#2727 pd-analysis: Fix mv peer log parse bug
  tools/pd-analysis/analysis/parse_log.go
  tools/pd-analysis/analysis/parse_log_test.go
Labels: contribution, status/LGT2, status/can-merge

#2730 dashboard: bump v2020.08.07.1
  go.mod
  go.sum
Labels: component/visualization, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge

#2734 placement: support RuleGroup properties
  server/schedule/placement/rule.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_test.go
Labels: component/placement

#2723 autoscaling: update auto scaling API
  pkg/autoscaling/handler.go
  tests/autoscaling/autoscaling_test.go
Labels: component/auto-scaling, require-LGT1, status/LGT1, status/can-merge

#2728 kv, core: unify behaviour of different storages and bug fixes
  server/core/storage.go
  server/core/storage_test.go
  server/kv/etcd_kv.go
  server/kv/etcd_kv_test.go
  server/kv/kv_test.go
  server/kv/levedb_kv.go
  server/schedule/placement/rule_manager.go
  server/schedulers/adjacent_region.go
Labels: require-LGT1, status/LGT1, status/can-merge, type/bug-fix

#2739 api: Support include tombstone option for store.GetAllLimit
  server/api/store.go
  server/api/store_test.go
  tests/pdctl/store/store_test.go
Labels: component/api, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#2740 placement, kv: support RuleGroup configuration
  pkg/errs/errs.go
  server/core/storage.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: component/placement, require-LGT1, status/LGT1, status/can-merge

#2738 autoscaling: implement the basic framework
  pkg/autoscaling/calculation.go
  pkg/autoscaling/handler.go
  pkg/autoscaling/types.go
Labels: component/auto-scaling, require-LGT1, status/LGT1, status/can-merge

#2747 placement: add deleteByIDPrefix test
  server/schedule/placement/rule_manager_test.go
Labels: component/placement, component/testing, require-LGT1, status/LGT2, status/can-merge

#2745 cluster, api: cleanup suspect range
  server/api/rule.go
  server/api/rule_test.go
  server/cluster/cluster.go
  server/cluster/coordinator.go
Labels: require-LGT1, status/LGT1, status/can-merge, type/refactor

#2741 pd-simulator: update import-data case
  tools/pd-simulator/simulator/cases/import_data.go
Labels: contribution, status/LGT2, status/can-merge

#2751 tests: fix the vet warning in go1.15
  tests/pdctl/member/member_test.go
Labels: component/testing, contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#2742 autoscaling: support searching existed autoscaling tikv group
  pkg/autoscaling/calculation.go
  pkg/autoscaling/calculation_test.go
  pkg/autoscaling/types.go
Labels: component/auto-scaling, status/LGT1

#2755 autoscaling: use variables to control scale step
  pkg/autoscaling/calculation.go
  pkg/typeutil/comparison.go
  pkg/typeutil/comparison_test.go
  server/cluster/coordinator_test.go
  server/schedulers/base_scheduler.go
  server/schedulers/scheduler_test.go
  server/schedulers/utils.go
Labels: component/auto-scaling, status/LGT2, status/can-merge

#2757 Add priority schedule after scatter check failed.
  pkg/mock/mockcluster/mockcluster.go
  server/schedule/opt/opts.go
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: status/LGT2, status/can-merge

#2719 autoscaling/datasource: add prometheus client
  go.mod
  pkg/autoscaling/datasource/prometheus.go
  pkg/autoscaling/datasource/prometheus_test.go
  pkg/autoscaling/datasource/querier.go
  pkg/autoscaling/types.go
Labels: contribution, require-LGT1, status/LGT1, status/can-merge

#2729 Update kvproto in dependencies
  go.mod
  go.sum
  pkg/mock/mockcluster/mockcluster.go
  server/api/trend_test.go
  server/cluster/coordinator_test.go
  server/core/peer.go
  server/core/region.go
  server/core/region_option.go
  server/handler.go
  server/heartbeat_stream_test.go
  server/schedule/checker/learner_checker_test.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator/builder.go
  server/schedule/operator/builder_test.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/placement/fit.go
  server/schedule/placement/fit_test.go
  server/schedule/placement/rule.go
  server/schedule/region_scatterer.go
  server/schedule/test_util.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_region.go
  server/statistics/region_collection_test.go
  tests/cluster.go
  tests/server/cluster/cluster_test.go
Labels: status/LGT2, status/can-merge

#2765 placement: add stringer for RuleOp
  server/schedule/placement/rule_manager.go
Labels: contribution, status/LGT2, status/can-merge

#2735 schedule: add IsFeatureSupported in Cluster Interface
  pkg/mock/mockcluster/mockcluster.go
  server/api/config_test.go
  server/api/operator_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/grpc_service.go
  server/schedule/opt/opts.go
  server/server.go
  server/util.go
  server/versioninfo/feature.go
  server/versioninfo/versioninfo.go
  tests/pdctl/helper.go
Labels: component/cluster, component/schedule, status/LGT2, status/can-merge

#2756 metrics: add alert rule for process restart
  metrics/alertmanager/pd.rules.yml
Labels: require-LGT1, status/LGT1, status/can-merge

#2766 placement: Add some detail comment and unit test
  server/schedule/placement/rule.go
  server/schedule/placement/rule_list.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_test.go
Labels: component/placement, require-LGT1, status/LGT1, status/can-merge

#2770 server, member: update leader related methods and comments
  server/api/member.go
  server/member/leader.go
  server/server.go
  tests/cluster.go
Labels: component/election, require-LGT1, status/LGT1, status/can-merge

#2781 Add a new "clean" command to Makefile
  Makefile
Labels: require-LGT1, status/LGT1

#2767 member: refactor election
  server/election/leadership.go
  server/election/lease.go
  server/member/member.go
  server/server.go
  server/tso/tso.go
  tests/cluster.go
  tests/server/tso/tso_test.go
Labels: component/election, type/refactor

#2792 test: add testing.T in schedulers
  server/schedulers/scheduler_test.go
Labels: component/testing, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge

#2784 Makefile: update clean command
  Makefile
Labels: status/LGT2, status/can-merge

#2761 placement: forbid mutiple leader replicas, and require at least one leader
  server/schedule/placement/rule_list.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: component/placement, contribution, status/LGT2, status/can-merge

#2788 go.mod: update to kvproto/release-4.0
  go.mod
  go.sum
Labels: status/LGT3, status/can-merge

#2760 *: update the error dependency and do the corresponding changes
  client/base_client.go
  client/client.go
  go.mod
  go.sum
  pkg/dashboard/adapter/manager.go
  pkg/errs/errno.go
  pkg/errs/errs.go
  pkg/errs/errs_test.go
  pkg/etcdutil/etcdutil_test.go
  server/kv/etcd_kv.go
  server/member/member.go
Labels: component/log, require-LGT1, status/LGT2, status/can-merge

#2750 placement: add api and pd-ctl support for rule group configuration
  server/api/router.go
  server/api/rule.go
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: component/placement, require-LGT1, status/LGT1, status/can-merge

#2795 syncer: sync region leaders between PD leader and follower (#2591)
  server/cluster/cluster.go
  server/region_syncer/client.go
  server/region_syncer/server.go
  tests/server/region_syncer/region_syncer_test.go
Labels: component/misc, status/LGT2, status/can-merge

#2768 autoscaling: support searching existed tidb auto-scaling group
  pkg/autoscaling/calculation.go
  pkg/autoscaling/calculation_test.go
  pkg/autoscaling/types.go
Labels: component/auto-scaling, status/LGT2, status/can-merge

#2722 apiutil: refine the log errs in apiutil
  pkg/apiutil/serverapi/middleware.go
  pkg/errs/errno.go
Labels: component/api, component/log, contribution, require-LGT1, status/LGT1

#2794 filter: replace region.Clone in filter
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
Labels: component/scheduler, needs-cherry-pick-4.0, status/LGT3, status/can-merge

#2798 autoscaling: update auto scaling API
  pkg/autoscaling/calculation.go
  pkg/autoscaling/types.go
  tests/autoscaling/autoscaling_test.go
Labels: component/auto-scaling, require-LGT1, status/LGT1, status/can-merge

#2799 election: add some logs
  server/election/lease.go
Labels: component/election, component/log, require-LGT1, status/LGT1, status/can-merge

#2737 scheduler: filter unhealthy store in summaryStoresLoad
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/schedulers/hot_region.go
  server/statistics/store.go
Labels: component/scheduler, needs-cherry-pick-3.1, needs-cherry-pick-4.0

#2802 *: refine log in metricutil/etcdutil
  go.mod
  go.sum
  pkg/errs/errno.go
  pkg/etcdutil/etcdutil.go
  pkg/metricutil/metricutil.go
Labels: component/log, status/can-merge

#2785 add pdctl interactive mode autocomplete
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/pdctl/ctl_test.go
Labels: component/pd-ctl, contribution, status/LGT1

#2712 server/cluster: refine log errs in cluster
  pkg/errs/errno.go
  server/cluster/cluster.go
Labels: contribution, require-LGT1, status/LGT1, status/can-merge

#2811 statistic: fix nil in collect metrics
  server/statistics/store_collection.go
Labels: component/scheduler, component/statistics, status/LGT2, status/can-merge

#2762 autoscaling: implement get total CPU use time and quota
  pkg/autoscaling/calculation.go
  pkg/autoscaling/calculation_test.go
  pkg/autoscaling/handler.go
  pkg/autoscaling/prometheus.go
  pkg/autoscaling/prometheus_test.go
  pkg/autoscaling/querier.go
Labels: component/auto-scaling, require-LGT1, status/LGT1, status/can-merge

#2797 *: add service gc safepoint commands
  pkg/tsoutil/tso.go
  server/api/router.go
  server/api/service_gc_safepoint.go
  server/api/service_gc_safepoint_test.go
  server/core/storage.go
  server/core/storage_test.go
  server/grpc_service.go
  server/tso/tso.go
  tests/client/client_test.go
  tools/pd-ctl/pdctl/command/gc_safepoint_command.go
  tools/pd-ctl/pdctl/ctl.go
Labels: component/api, component/pd-ctl, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#2819 scheduler: remove unnecessary param
  server/cluster/cluster.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer_cache.go
Labels: component/scheduler, require-LGT1, status/LGT1, status/can-merge

#2820 statistics: reformat code in hot statistics
  server/statistics/store.go
Labels: component/statistics, require-LGT1, status/LGT1, status/can-merge

#2822 bug fix: calculate limit rate bases on minute when mode is auto
  server/cluster/store_limiter.go
Labels: contribution, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#2703 matrics: fold some panel
  metrics/grafana/pd.json
Labels: component/metrics, require-LGT1, status/LGT1, status/can-merge

#2829 tso: chmod 755->644
  server/tso/global_allocator.go
  server/tso/tso.go
Labels: component/tso, require-LGT1, status/LGT1, status/can-merge

#2827 metrics: fix the store address in balancing related metrics
  metrics/grafana/pd.json
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/metrics.go
Labels: component/metrics, require-LGT1, status/LGT1, status/can-merge

#2810 autoscaling: Implement TidbInformer
  pkg/autoscaling/calculation.go
  pkg/autoscaling/calculation_test.go
  pkg/autoscaling/types.go
  server/cluster/cluster.go
Labels: component/auto-scaling, require-LGT1, status/LGT1, status/can-merge

#2748 metrics: update hot scheduler metrics desc
  metrics/grafana/pd.json
  server/cluster/cluster.go
  server/schedulers/hot_region.go
  server/schedulers/metrics.go
Labels: component/metrics, status/LGT1

#2834 *: Fix several typos
  server/election/leadership.go
  server/tso/global_allocator.go
  server/tso/tso.go
Labels: status/LGT2, status/can-merge

#2816 placement: refactor rule config management
  server/schedule/placement/config.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_list.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_test.go
Labels: component/placement, status/LGT2, status/can-merge, type/refactor

#2838 autoscaling: add some comments and fix duration expression conversion
  pkg/autoscaling/calculation.go
  pkg/autoscaling/prometheus.go
  pkg/autoscaling/prometheus_test.go
Labels: status/LGT2, status/can-merge

#2842 tso: remove the use of atomic.Value
  server/tso/global_allocator.go
Labels: component/tso, require-LGT1, status/LGT2, status/can-merge

#2830 *: Bug Fix/CLUSTER_INFO system table may not work after PD is scaled-in
  client/base_client.go
  client/client.go
  client/metrics.go
Labels: component/client, contribution, status/LGT2, status/can-merge

#2845 misc: Fix typo
  server/cluster/cluster.go
  server/cluster/cluster_stat.go
  server/cluster/cluster_worker.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/cluster/metrics.go
  server/config/persist_options.go
  server/config/util.go
  server/grpc_service.go
  server/handler.go
  server/metrics.go
  server/schedule/operator/builder.go
  server/schedule/operator/builder_test.go
  server/server.go
Labels: component/misc, require-LGT1, status/LGT3, status/can-merge

#2844 cluster: add a switch about region flow updates
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/config.go
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge

#2831 election, member: adjust some election methods
  server/election/leadership.go
  server/member/member.go
  server/server.go
  tests/cluster.go
  tests/server/tso/tso_test.go
Labels: component/election, status/LGT1

#2847 metrics: add store pick in hot peer schedule direction metrics
  metrics/grafana/pd.json
Labels: component/metrics, require-LGT1, status/LGT1, status/can-merge

#2835 fix ci failed in api package
  pkg/errs/errno.go
  server/cluster/coordinator.go
  server/server.go
Labels: component/schedule, needs-cherry-pick-4.0, status/LGT2, status/can-merge

#2841 test: check port status during Alloc
  go.mod
  go.sum
  pkg/tempurl/check_env.go
  pkg/tempurl/check_env_linux.go
  pkg/tempurl/tempurl.go
Labels: component/testing, status/LGT3, status/can-merge

#2846 placement: add bundle APIs to allow updating group and rule configurations with a single request
  server/api/router.go
  server/api/rule.go
  server/api/rule_test.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_manager.go
Labels: component/api, component/placement, status/LGT2, status/can-merge

#2855 config: fix the bool field about `trace-region-flow`
  server/config/config.go
  tests/pdctl/config/config_test.go
Labels: needs-cherry-pick-4.0, status/LGT3, status/can-merge

#2840 autoscaling: get resource type from instance label
  pkg/autoscaling/calculation.go
  pkg/autoscaling/calculation_test.go
Labels: component/auto-scaling, status/LGT2, status/can-merge

#2518 metrics: add backend_commit_duration_seconds
  metrics/grafana/pd.json
Labels: component/metrics, status/LGT2, status/can-merge

#2861 autoscaling: fix label and scaled group
  pkg/autoscaling/calculation.go
Labels: component/auto-scaling, require-LGT1, status/LGT1, status/can-merge

#2705 Refine the log errs in scheduler
  pkg/errs/errno.go
  pkg/errs/errs.go
  pkg/errs/errs_test.go
  server/api/scheduler.go
  server/cluster/cluster_worker.go
  server/cluster/coordinator.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/base_scheduler.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
Labels: component/log, status/LGT2, status/can-merge

#2869 fix empty http response in scheduler
  plugin/scheduler_example/evict_leader.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/scatter_range.go
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge

#2867 simulator/cases: import-data only count the newly regions of the table
  pkg/codec/codec.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/config.go
  tools/pd-simulator/simulator/simutil/key.go
Labels: component/simulator, require-LGT1, status/LGT1, status/can-merge
