Repository tikv/pd, pull requests merged in 2020-03, with the labels that each got.

#2172 dashboard: update to v0302
  go.mod
  go.sum
  pkg/dashboard/apiserver/apiserver.go
Labels: CanMerge

#2164 filter: reverse return value of filters
  server/schedule/checker/rule_checker.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/operator/builder.go
  server/schedule/region_scatterer.go
  server/schedule/selector/selector.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
Labels: CanMerge, component/schedule

#2187 remove package pflag in pd-ctl
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/ctl.go
Labels: CanMerge, component/pdctl, contribution

#2190 filter: remove cacheFilter
  server/schedule/filter/filters.go
Labels: component/schedule

#2191 api: make api/version and release version consistent
  server/api/status.go
  server/api/status_test.go
  server/api/version.go
Labels: component/api, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge

#2193 tools: fix pipeline of pd-ctl
  tools/pd-ctl/main.go
Labels: component/pdctl, status/can-merge, type/bug

#2175 placement: add ruleList to accelerate rule search
  server/schedule/placement/rule.go
  server/schedule/placement/rule_list.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_test.go
Labels: component/schedule, needs-cherry-pick-3.1, status/can-merge

#2189 update go.mod for sysutil
  go.mod
  go.sum
Labels: status/can-merge

#2199 dashboard: update to v0305
  go.mod
  go.sum
  pkg/dashboard/apiserver/apiserver.go
Labels: status/can-merge

#2195 tools: use golangci-lint in the officially recommended way
  .gitignore
  .golangci.yml
  Makefile
  scripts/retool-install.sh
  tools.json
Labels: contribution, status/can-merge

#2196 Use tools.go instead of retool
  Makefile
  docs/development.md
  go.mod
  go.sum
  scripts/retool
  scripts/retool-install.sh
  tools.go
Labels: contribution, status/can-merge

#2204 config: remove enable-dynamic-config command line flag
  server/config/config.go
Labels: component/config, status/can-merge

#2201 tools: support ids and delete for component command
  server/api/middleware.go
  server/api/router.go
  server/config_manager/config_manager.go
  tools/pd-ctl/pdctl/command/component_command.go
Labels: component/config, status/can-merge

#2150 filter, scheduler: support filter stores for special use
  server/schedule/checker/replica_checker.go
  server/schedule/checker/rule_checker.go
  server/schedule/filter/filters.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: component/schedule, status/LGT1, status/can-merge

#2207 dashboard: update to v0306
  go.mod
  go.sum
Labels: status/can-merge

#2185 *: reset metrics after the leader steps down (#1790)
  .gitignore
  Makefile
  server/cluster.go
  server/cluster_info.go
  server/coordinator.go
  server/coordinator_test.go
  server/region_statistics.go
  server/schedule/hot_cache.go
  server/store_statistics.go
Labels: component/metrics, status/LGT2, type/cherry-pick

#2206 pdctl: improve scheduler config commands
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: component/pdctl, needs-cherry-pick-3.1, status/can-merge

#2205 placement: use id as store key
  server/core/storage.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: component/schedule, needs-cherry-pick-3.1, status/can-merge

#2197 syncer: sync region with statistics
  go.mod
  go.sum
  server/cluster/cluster.go
  server/core/region.go
  server/region_syncer/client.go
  server/region_syncer/server.go
  server/server.go
  tests/server/region_syncer/region_syncer_test.go
Labels: component/visualization, status/can-merge

#2212 schedulers: add sanity check for random-merge
  pkg/mock/mockcluster/mockcluster.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/checker_controller.go
  server/schedule/operator_controller_test.go
  server/schedulers/balance_test.go
  server/schedulers/random_merge.go
Labels: component/schedule, needs-cherry-pick-3.1, status/can-merge

#2218 dashboard: make keyvisual works in follower
  pkg/dashboard/keyvisual/input/core.go
Labels: component/visualization, status/can-merge

#2198 server: fix the race condition of region heartbeats from different regions
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge, type/bug

#2188 Add schedulers-payload to schedulers-v2 field in config information
  server/config/config.go
  server/server.go
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: contribution, status/can-merge

#2216 *: update go.mod for sysutil
  go.mod
  go.sum
Labels: component/build, status/can-merge

#2223 server: unify the solutions to etcd race problem
  pkg/dashboard/apiserver/apiserver.go
  pkg/dashboard/uiserver/uiserver.go
  server/api/server.go
  server/server.go
  server/server_test.go
Labels: component/api, status/can-merge, type/bug

#2222 placement: use id as store key (#2205)
  server/core/storage.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: component/schedule, status/can-merge, type/cherry-pick

#2221 schedulers: add sanity check for random-merge (#2212)
  pkg/mock/mockcluster/mockcluster.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/checker_controller.go
  server/schedule/operator_controller_test.go
  server/schedulers/balance_test.go
  server/schedulers/random_merge.go
Labels: component/schedule, status/can-merge, type/cherry-pick

#2200 api: make api/version and release version consistent (#2191)
  server/api/status.go
  server/api/status_test.go
  server/api/version.go
Labels: component/api, status/LGT1, status/can-merge

#2217 config: sync config before scheduling
  server/api/config.go
  server/api/log.go
  server/cluster/cluster.go
  server/cluster/coordinator_test.go
  server/config_manager/grpc_service.go
  server/server.go
  tests/cluster.go
  tests/server/cluster/cluster_test.go
Labels: component/config, status/can-merge, type/bug

#2230 config: fix output of GET method of component API
  server/api/middleware.go
  tests/config.go
  tests/pdbackup/backup_test.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/component/component_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/health/health_test.go
  tests/pdctl/helper.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/member/member_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
  tools/pd-ctl/pdctl/command/component_command.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/ctl.go
Labels: component/api, status/can-merge, type/bug

#2225 placement, schedule: add some logs for placement rule and operator
  server/cluster/cluster_worker.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/kind.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_manager.go
Labels: needs-cherry-pick-3.1, status/can-merge

#2233 erver: fix the race condition of region heartbeats from different reg…
  server/cluster_info.go
  server/cluster_info_test.go
Labels: type/bug, type/cherry-pick

#2219 schedulers: add role config to shuffleRegionScheduler
  pkg/testutil/operator_check.go
  server/schedule/selector/selector.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_region.go
  server/schedulers/shuffle_region_config.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: component/schedule, needs-cherry-pick-3.1, status/can-merge

#2235 schedulers: add role config to shuffleRegionScheduler (#2219)
  pkg/testutil/operator_check.go
  server/schedule/selector/selector.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_region.go
  server/schedulers/shuffle_region_config.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: type/cherry-pick

#2234 server: fix the race condition of region heartbeats from different re…
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: type/cherry-pick

#2224 dashboard: tls support
  go.mod
  go.sum
  pkg/dashboard/apiserver/apiserver.go
Labels: contribution, status/can-merge

#2241 *: support allowed Common Name(CN)
  pkg/grpcutil/grpcutil.go
  server/config/config.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge, type/enhancement

#2236 syncer: fix race problem in syncer
  server/region_syncer/client.go
Labels: status/can-merge, type/bug

#2242 server: prevent misoperation when there are tiflash nodes
  server/grpc_service.go
  server/server.go
  server/util.go
  tests/server/cluster/cluster_test.go
Labels: needs-cherry-pick-3.1, status/can-merge

#2250 *: add a new method `GetAll` to the config manager
  client/config_client.go
  client/metrics.go
  go.mod
  go.sum
  server/config_manager/config_manager.go
  server/config_manager/config_manager_test.go
  server/config_manager/grpc_service.go
Labels: component/config

#2256 syncer: fix panic problem when upgrading
  server/region_syncer/client.go
Labels: status/can-merge, type/bug

#2239 *: Parameterize hotspot scheduling and adjust hot cache
  server/api/scheduler_test.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_config.go
  server/schedulers/hot_test.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: component/schedule, status/can-merge, type/enhancement

#2249 api: fix the compatibility about schedulers item in config
  server/config/config.go
  server/server.go
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: component/api, status/can-merge

#2251 config: let the cert-allowed-cn same with other components
  conf/config.toml
  pkg/grpcutil/grpcutil.go
  server/config/config.go
Labels: component/config, needs-cherry-pick-3.1, status/can-merge

#2252 add specialUse reserved
  server/schedule/filter/filters.go
  server/schedulers/hot_region.go
  server/schedulers/scheduler_test.go
Labels: component/schedule, contribution, status/can-merge

#2260 dashboard: update to 0319
  Makefile
  cmd/pd-server/main.go
  go.mod
  go.sum
  pkg/dashboard/apiserver.go
  pkg/dashboard/apiserver/apiserver.go
  pkg/dashboard/servers.go
  pkg/dashboard/uiserver/uiserver.go
  server/api/server.go
  server/server.go
  server/server_test.go
  tests/cluster.go
Labels: status/can-merge

#2246 Add TiDB TLS config for tidb-dashboard
  pkg/dashboard/apiserver.go
  pkg/grpcutil/grpcutil.go
  server/config/config.go
  server/config/config_test.go
Labels: contribution, status/can-merge

#2258 api: support get default config
  server/api/config.go
  server/api/config_test.go
  server/api/router.go
Labels: component/api, status/can-merge

#2262 dashboard: update to 0320
  go.mod
  go.sum
Labels: component/visualization, status/can-merge

#2264 makefile: disable flag-parameter check
  pkg/btree/btree.go
  pkg/cache/two_queue.go
  pkg/mock/mockhbstream/mockhbstream.go
  revive.toml
  server/cluster/cluster.go
  server/config/config.go
  server/schedule/operator/builder.go
Labels: component/build, status/can-merge

#2248 *: let pdctl can set store label forcely and set multple key/value
  server/api/api.raml
  server/api/store.go
  server/cluster/cluster.go
  server/grpc_service.go
  tests/pdctl/store/store_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: component/pdctl, contribution, status/can-merge

#2263 config: let PD to control the dynamic config
  server/api/server.go
  server/config_manager/config_manager.go
  server/config_manager/grpc_service.go
  server/server.go
Labels: component/config, status/can-merge

#2265 .github/*: refine templates for pull request
  .github/pull_request_template.md
Labels: status/can-merge

#2266 remove incorrect help message
  tools/pd-ctl/pdctl/ctl.go
Labels: contribution, status/can-merge

#2267 show all component ID when using ids
  server/api/router.go
  server/config_manager/config_manager.go
  tests/pdctl/component/component_test.go
  tools/pd-ctl/pdctl/command/component_command.go
Labels: contribution, status/can-merge

#2277 config: add replicate-mode configuration
  server/config/config.go
  server/config/config_test.go
Labels: component/config, status/can-merge

#2261 dashboard: control dashboard running node
  cmd/pd-server/main.go
  pkg/dashboard/apiserver.go
  pkg/dashboard/manager.go
  pkg/dashboard/redirector.go
  pkg/dashboard/servers.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/option.go
  server/grpc_service.go
  server/server.go
  tests/cluster.go
  tests/dashboard/service_test.go
Labels: component/visualization, status/can-merge

#2284 dashboard: update to 0327 and refine redirector
  go.mod
  go.sum
  pkg/dashboard/redirector.go
  tests/dashboard/service_test.go
Labels: component/visualization

#2286 statistic: add moving average for stable hot
  server/statistics/avg_over_time.go
  server/statistics/avg_over_time_test.go
  server/statistics/store.go
  tests/pdctl/hot/hot_test.go
Labels: component/schedule, priority/P1, status/can-merge

#2295 schedulers: add some metrics for hotreigon
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/schedulers/hot_region.go
  server/schedulers/metrics.go
  server/schedulers/utils.go
  server/statistics/hot_regions_stat.go
  server/statistics/store.go
  tests/pdctl/hot/hot_test.go
Labels: component/metrics, priority/P1, status/can-merge

#2297 scheduelrs: add load expectations for hot scheudler
  pkg/mock/mockcluster/mockcluster.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_config.go
  server/schedulers/hot_test.go
  server/schedulers/utils.go
Labels: component/schedule, priority/P1, status/can-merge

#2298 schedulers/hot: let leader can be schedule even if the peer is not balanced
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
Labels: component/schedule, priority/P1, status/can-merge

#2282 config: fix cannot add new config item
  server/config_manager/config_manager.go
  server/config_manager/config_manager_test.go
Labels: component/config, status/can-merge

#2279 config: fix the extra config update when starting a new cluster
  server/server.go
Labels: component/config, status/can-merge

#2291 store: use fixed size and space ratio to decide space threshold
  server/config/config.go
  server/core/store.go
  server/core/store_test.go
  server/schedulers/balance_test.go
  server/schedulers/scheduler_test.go
Labels: component/schedule, status/can-merge

#2299 pd-ctl: add auto-completion for pd-ctl
  tests/pdctl/completion/completion_test.go
  tests/pdctl/helper.go
  tools/pd-ctl/pdctl/command/completion_command.go
  tools/pd-ctl/pdctl/ctl.go
Labels: contribution, status/can-merge

#2293 pdctl: add placement rules commands
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: component/pdctl, status/can-merge
