Repository tikv/pd, pull requests merged in 2020-01, with the labels that each got.

#2066 metrics: add metrics callback function
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: CanMerge, area/metrics

#2073 server/*: refactor AllocPeer
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/cluster/coordinator_test.go
  server/handler.go
  server/schedule/checker/replica_checker.go
  server/schedule/operator/builder.go
  server/schedule/operator/operator.go
  server/schedule/opt/opts.go
  server/schedule/region_scatterer.go
  server/schedulers/adjacent_region.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_region.go
Labels: CanMerge, area/schedule

#2074 placement: add exclusive label
  server/schedule/placement/label_constraint.go
Labels: CanMerge, area/schedule

#2076 metrics: fix counter
  server/schedule/operator_controller.go
  server/schedulers/balance_test.go
Labels: CanMerge, area/metrics, kind/bug

#2075 config: rename LeaderScheduleStrategy to LeaderSchedulePolicy
  conf/config.toml
  pkg/mock/mockoption/mockoption.go
  server/api/store.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/option.go
  server/core/kind.go
  server/core/store.go
  server/schedule/checker/merge_checker.go
  server/schedule/operator/influence.go
  server/schedule/operator_controller.go
  server/schedule/opt/opts.go
  server/schedule/selector/selector.go
  server/schedule/selector/selector_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
  server/schedulers/utils.go
  server/statistics/schedule_options.go
  server/statistics/store_collection.go
  tools/pd-ctl/README.md
Labels: CanMerge, area/config

#2079 *: upgrade etcd to v3.4.3
  go.mod
  go.sum
  pkg/metricutil/metricutil.go
Labels: CanMerge, area/build

#2041 *: add config client
  client/base_client.go
  client/client.go
  client/client_test.go
  client/config_client.go
  client/metrics.go
  server/config_manager/config_manager.go
  tests/client/client_test.go
  tests/client/config_client_test.go
Labels: CanMerge, area/config

#2082 api: fix remove scheduler output
  server/api/operator_test.go
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/api/util.go
  server/cluster/cluster_worker.go
  server/cluster/coordinator.go
Labels: CanMerge, area/api

#2091 config: enable etcd api v2
  server/config/config.go
Labels: CanMerge, area/config

#2089 *: let region syncer do not frequently dial connection
  client/base_client.go
  client/client.go
  client/client_test.go
  pkg/grpcutil/grpcutil.go
  server/config/config.go
  server/grpc_service.go
  server/region_syncer/client.go
  server/region_syncer/server.go
  server/server.go
Labels: CanMerge, area/client

#2053 schedulers: improve store-load-based scheduler
  server/cluster/coordinator.go
  server/schedule/operator/builder.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
Labels: CanMerge, area/schedule

#2095 *: remove unnecessary executable permissions
  server/cluster/cluster.go
  server/server.go
Labels: CanMerge, kind/refactor

#2086 Support PD with Dashboard
  .gitignore
  Makefile
  go.mod
  go.sum
  pkg/dashboard/uiserver/.gitignore
  pkg/dashboard/uiserver/uiserver.go
  scripts/embed-dashboard-ui.sh
  server/config/config.go
  server/server.go
Labels: CanMerge, area/visualization

#2097 metrics: fix hot scheduler metrics
  server/statistics/store_collection.go
Labels: CanMerge, area/metrics

#2049 *: add config check mechanism
  client/client_test.go
  server/config/config.go
  server/config/option.go
  server/server.go
  tests/client/client_test.go
  tests/client/config_client_test.go
Labels: CanMerge, area/config

#2102 api: fix the problem that enable-placement-rules cannot be set twice
  server/api/config.go
  tests/pdctl/config/config_test.go
Labels: CanMerge, area/api

#2103 cluster: update the region cache when flow changed (#1759) (#1741) (#1641)
  server/api/region.go
  server/api/region_test.go
  server/cluster_info.go
  server/cluster_info_test.go
  server/core/region.go
  server/core/region_option.go
  server/metrics.go
Labels: CanMerge, cherry-pick

#2104 cluster: update the region cache when flow changed (#1759) (#1741) (#1641)
  server/api/region.go
  server/api/region_test.go
  server/cluster_info.go
  server/cluster_info_test.go
  server/core/region.go
  server/core/region_option.go
  server/metrics.go
Labels: CanMerge, cherry-pick
