Repository tikv/pd, pull requests merged in 2020-06, with the labels that each got.

#2467 cluster: add suspect regions cache
  pkg/cache/cache_test.go
  pkg/cache/ttl.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/cluster/cluster_worker_test.go
  server/cluster/coordinator.go
  tests/server/cluster/cluster_test.go
  tests/server/cluster/cluster_work_test.go
Labels: status/can-merge, type/bugfix

#2480 client: support custom client timeout
  client/base_client.go
  client/client.go
  pkg/testutil/leak.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  tests/client/client_test.go
Labels: component/client, status/can-merge

#2436 use gzip_handler of dashboard
  go.mod
  go.sum
  pkg/dashboard/adapter/apiserver.go
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
  pkg/dashboard/uiserver/uiserver.go
  tools.go
  tools.json
Labels: component/visualization, needs-cherry-pick-4.0, status/can-merge

#2492 use gzip_handler of dashboard (#2436)
  go.mod
  go.sum
  pkg/dashboard/adapter/apiserver.go
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
  pkg/dashboard/uiserver/uiserver.go
  tools.go
  tools.json
Labels: status/can-merge, type/cherry-pick

#2484 replication_mode: keep sync state when lost region majority
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
Labels: status/can-merge, type/enhancement

#2486 Update README.md
  tools/pd-ctl/README.md
Labels: component/doc, status/can-merge

#2472 dashboard: update to fix race bug and add test for it
  go.mod
  go.sum
  pkg/dashboard/adapter/adapter.go
  pkg/dashboard/dashboard.go
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
  pkg/dashboard/uiserver/uiserver.go
  pkg/dashboard/without_dashboard.go
  server/config/config.go
  tests/cluster.go
  tests/dashboard/race_test.go
  tests/dashboard/service_test.go
Labels: component/visualization, needs-cherry-pick-4.0, status/can-merge

#2502 *: update the issue and PR template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/development-task.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/performance-challenge-program.md
  .github/ISSUE_TEMPLATE/usability-challenge-program.md
  .github/pull_request_template.md
Labels: component/misc, status/can-merge

#2508 dashboard: support internal proxy
  conf/config.toml
  pkg/dashboard/adapter/redirector.go
  pkg/dashboard/dashboard.go
  server/config/config.go
  tests/dashboard/service_test.go
Labels: needs-cherry-pick-4.0, status/can-merge

#2509 client: support custom client timeout (#2480)
  client/base_client.go
  client/client.go
  pkg/testutil/leak.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  tests/client/client_test.go
Labels: status/can-merge, type/cherry-pick

#2513 schedule: fix panic issue after delete the rule
  server/schedule/placement/fit.go
Labels: needs-cherry-pick-4.0, status/can-merge, type/bugfix

#2481 rule: prevent misconfiguration of placement rules in some situations
  server/api/rule.go
  server/schedule/placement/rule_list.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: needs-cherry-pick-4.0, status/can-merge, type/bugfix

#2491 replication_mode: switch from sync to async without replicate state
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
Labels: status/can-merge, type/bugfix

#2404 server/schedule: refine metrics about store limit
  server/cluster/cluster.go
  server/schedule/metrics.go
  server/schedule/operator_controller.go
Labels: contribution, status/can-merge

#2517 config: validate dashboard-address
  pkg/dashboard/adapter/manager.go
  pkg/dashboard/adapter/redirector.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/config_test.go
  server/config/util.go
  server/config/util_test.go
  server/server.go
Labels: component/config, needs-cherry-pick-4.0, status/can-merge

#2519 *: cleanup go.mod and Makefile
  .golangci.yml
  Makefile
  go.mod
  go.sum
  plugin/scheduler_example/evict_leader.go
  server/api/operator.go
  server/config/config.go
  server/core/store_option.go
  server/tso/tso.go
  tests/pdctl/hot/hot_test.go
  tools.go
  tools.json
Labels: status/can-merge

#2529 filter: remove BlackListFilter
  server/schedule/filter/filters.go
Labels: status/can-merge, type/enhancement

#2453 schedule: separate region limit from merge limit
  server/cluster/coordinator_test.go
  server/schedule/operator/kind.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/scheduler_test.go
Labels: component/schedule, status/can-merge

#2300 Addressing latency issue for pd-clients
  client/client.go
  tools/pd-tso-bench/main.go
Labels: contribution

#2536 schedule/selector: remove BalanceSelector
  server/schedule/selector/selector.go
  server/schedule/selector/selector_test.go
  server/schedulers/balance_test.go
  server/schedulers/label.go
  server/schedulers/scheduler_test.go
Labels: component/scheduler, status/can-merge

#2534 make operatorStepDuration metric thread-safe
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
Labels: contribution, status/can-merge

#2531 schedule: scatter regions to stores with the same engine
  pkg/mock/mockcluster/mockcluster.go
  server/schedule/filter/filters.go
  server/schedule/operator/create_operator.go
  server/schedule/operator_controller_test.go
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
  server/schedulers/scheduler_test.go
Labels: status/can-merge

#2544 schedule: fix panic when setting store-limit-mode to auto
  pkg/mock/mockoption/mockoption.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: component/schedule, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge

#2463 schedulers: fix cache item in hot peer cache and add more test
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
Labels: component/scheduler, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge

#2539 pd-ctl: add subcommand for checking cluster status
  server/cluster/cluster.go
  tests/cluster.go
  tests/pdctl/cluster/cluster_test.go
  tools/pd-ctl/pdctl/command/cluster_command.go
Labels: status/can-merge

#2530 operator: fast-fail if the leader changed to the RemovePeer
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: component/schedule, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge

#2546 rule checker: try to remove orphan peer after fix rule peers
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: component/placement, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge

#2551 operator: fast-fail if the leader changed to the RemovePeer (#2530)
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: component/schedule, priority/release-blocker, status/can-merge, type/cherry-pick

#2437 schedule: combine store limit and store balance rate
  conf/simconfig.toml
  pkg/mock/mockcluster/mockcluster.go
  pkg/mock/mockoption/mockoption.go
  server/api/store.go
  server/api/trend_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/cluster/store_limiter.go
  server/cluster/store_limiter_test.go
  server/config/config.go
  server/config/persist_options.go
  server/grpc_service.go
  server/handler.go
  server/schedule/filter/filters.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/opt/opts.go
  server/schedule/storelimit/store_limit.go
  server/schedule/storelimit/store_limit_scenes.go
  server/schedulers/balance_test.go
  server/statistics/schedule_options.go
  server/statistics/store_collection.go
  tests/pdctl/config/config_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/store/store_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/README.md
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: component/schedule, needs-cherry-pick-4.0, status/can-merge

#2559 schedule: consider TiFlash when setting the store limit
  server/api/store.go
  server/cluster/cluster.go
  server/config/config.go
  server/grpc_service.go
  server/handler.go
  tests/server/cluster/cluster_test.go
Labels: component/schedule, needs-cherry-pick-4.0, status/can-merge

#2557 schedule: combine store limit and store balance rate (#2437)
  conf/simconfig.toml
  pkg/mock/mockcluster/mockcluster.go
  pkg/mock/mockoption/mockoption.go
  server/api/store.go
  server/api/trend_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/cluster/store_limiter.go
  server/cluster/store_limiter_test.go
  server/config/config.go
  server/config/persist_options.go
  server/grpc_service.go
  server/handler.go
  server/schedule/filter/filters.go
  server/schedule/metrics.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/opt/opts.go
  server/schedule/storelimit/store_limit.go
  server/schedule/storelimit/store_limit_scenes.go
  server/schedulers/balance_test.go
  server/statistics/schedule_options.go
  server/statistics/store_collection.go
  tests/pdctl/config/config_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/store/store_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/README.md
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: status/can-merge, type/cherry-pick

#2545 dashboard: update to 0619
  conf/config.toml
  go.mod
  go.sum
  pkg/dashboard/adapter/config.go
  pkg/dashboard/dashboard.go
  pkg/dashboard/keyvisual/keyvisual.go
  server/config/config.go
Labels: component/visualization, needs-cherry-pick-4.0, priority/release-blocker, status/can-merge

#2563 go.mod: update pingcap/log to support json formatted log
  go.mod
  go.sum
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge

#2567 service: add ClusterVersion into StoreHeartbeatResponse
  go.mod
  go.sum
  server/cluster/cluster.go
  server/grpc_service.go
Labels: component/misc, status/can-merge

#2564 schedule: fix the zero store limit
  server/cluster/cluster.go
  server/config/config.go
  server/config/persist_options.go
  server/core/store.go
  server/grpc_service.go
  server/server.go
  server/util.go
  tests/server/cluster/cluster_test.go
Labels: component/schedule, needs-cherry-pick-4.0, status/can-merge, type/bugfix

#2558 add test files for log.go and rule.go
  server/api/log_test.go
  server/api/rule_test.go
Labels: component/testing, contribution, status/can-merge

#2552 selector: introduce StoreCandidates and replace RandomSelector
  plugin/scheduler_example/evict_leader.go
  server/schedule/selector/candidates.go
  server/schedule/selector/candidates_test.go
  server/schedule/selector/comparer.go
  server/schedule/selector/selector.go
  server/schedulers/adjacent_region.go
  server/schedulers/evict_leader.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: component/schedule, status/can-merge

#2543 scheduler: add opinfluence for balance leader scheduler
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
Labels: component/scheduler, status/can-merge

#2555 pd-ctl: decode json string in schedulers-payload output of `pd-ctl config show all`
  server/config/config.go
  server/schedule/scheduler.go
  server/server.go
Labels: contribution, needs-cherry-pick-4.0, status/can-merge

#2573 filter, schedulers: split DistinctScoreFilter to LocatoinSafeguard and LocationImprover
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/region_scatterer.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_region.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_region.go
Labels: component/schedule, status/can-merge

#2577 api: fix the encoded path of region key (#2399)
  server/api/region.go
  server/api/router.go
  tests/pdctl/region/region_test.go
Labels: status/can-merge, type/cherry-pick

#2582 operator: remove u64slice
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
Labels: component/schedule, status/can-merge

#2587 plugin: remove the extra path
  server/api/plugin.go
Labels: contribution, status/can-merge

#2581 filters: add NewPlacementSafeguard
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/region_scatterer.go
  server/schedulers/adjacent_region.go
  server/schedulers/balance_region.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_region.go
Labels: component/schedule, status/can-merge

#2586 api: prevent store limit from changing to zero
  server/api/store.go
  tests/pdctl/store/store_test.go
Labels: component/api, needs-cherry-pick-4.0, status/can-merge

#2585 server: adjust store disconnect log level and message
  server/heartbeat_streams.go
Labels: status/can-merge, type/enhancement

#2589 test: improve coverage for rule.go
  server/api/rule_test.go
Labels: component/testing, status/LGT2, status/can-merge
