Repository tikv/pd, pull requests merged in 2020-02, with the labels that each got.

#2098 core, placement: store placement rule in separeted kvs
  server/core/storage.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_manager.go
Labels: area/schedule

#2090 scheduler: add operator influence when sort store
  pkg/mock/mockcluster/mockcluster.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
Labels: CanMerge, area/schedule

#2087 metrics: add grafana and alertmanager scripts
  metrics/alertmanager/pd.rules.yml
  metrics/grafana/pd.json
Labels: CanMerge, area/metrics

#2108 test: make TestFailedAndDeletedPDJoinsPreviousCluster stable
  tests/server/join/join_test.go
Labels: CanMerge, area/testing

#2107 Add metrics for balance region schedulers
  metrics/grafana/pd.json
Labels: CanMerge, area/metrics

#2080 config: make original HTTP API compatible with config manager
  go.sum
  pkg/typeutil/duration.go
  pkg/typeutil/string_slice.go
  pkg/typeutil/string_slice_test.go
  server/api/config.go
  server/api/config_test.go
  server/api/label_test.go
  server/api/log.go
  server/api/middleware.go
  server/api/router.go
  server/api/store_test.go
  server/api/util.go
  server/cluster/cluster.go
  server/config/config.go
  server/config_manager/config_manager.go
  server/config_manager/config_manager_test.go
  server/config_manager/grpc_service.go
  server/grpc_service.go
  server/server.go
  server/server_test.go
  tests/client/config_client_test.go
  tests/cluster.go
  tests/pdctl/config/config_test.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/operator/operator_test.go
  tests/server/cluster/cluster_test.go
Labels: CanMerge, area/config

#2106 scheduler: hotspot: refactor data structure of store load
  server/cluster/coordinator.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/schedulers/metrics.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
  server/statistics/hot_peer.go
  server/statistics/hot_regions_stat.go
Labels: CanMerge, area/schedule, kind/refactor

#2110 go.mod: update the sysutil dependence
  go.mod
  go.sum
Labels: CanMerge, kind/enhancement

#2111 build: fix ci build
  Dockerfile
Labels: CanMerge, area/build, kind/bug

#2116 server: add start_timestamp for cluster components
  go.mod
  go.sum
  server/api/router.go
  server/api/status.go
  server/cluster/cluster.go
  server/core/store_option.go
  server/server.go
Labels: CanMerge, kind/enhancement

#2123 dashboard: dashboard is disabled by default
  server/config/config.go
Labels: area/visualization

#2125 *: update 3.1 kvproto
  conf/config.toml
  go.mod
  go.sum
  pkg/logutil/log.go
  server/server.go
Labels: CanMerge

#2124 config: rename EnableConfigManager to EnableDynamicConfig
  server/api/config.go
  server/api/config_test.go
  server/api/label_test.go
  server/api/log.go
  server/api/store_test.go
  server/config/config.go
  server/grpc_service.go
  server/server.go
  tests/client/config_client_test.go
  tests/server/cluster/cluster_test.go
Labels: area/config, backport/release-3.1

#2127 config: hide config and remove unnecessary test logic
  server/api/config_test.go
  server/api/label_test.go
  server/api/store_test.go
  server/config/config.go
  tests/client/config_client_test.go
  tests/cluster.go
  tests/pdctl/config/config_test.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/operator/operator_test.go
  tests/server/cluster/cluster_test.go
Labels: CanMerge, area/config

#2096 schedule, config: use leading dollar sign to mark exclusive labels
  server/config/config.go
  server/config/util.go
  server/config/util_test.go
  server/schedule/placement/label_constraint.go
  server/schedule/placement/label_constraint_test.go
Labels: CanMerge, area/schedule

#2128 rename EnableConfigManager to EnableDynamicConfig (#2124)
  server/api/config.go
  server/api/log.go
  server/config/config.go
  server/grpc_service.go
  server/server.go
Labels: area/config

#2115 dashboard: update version
  Makefile
  cmd/pd-server/main.go
  go.mod
  go.sum
  pkg/apiutil/serverapi/middleware.go
  pkg/dashboard/apiserver/apiserver.go
  pkg/dashboard/keyvisual/input/core.go
  pkg/dashboard/uiserver/uiserver.go
  server/api/server.go
  server/server.go
  server/server_test.go
Labels: CanMerge, area/visualization, backport/release-3.1

#2117 server: use leader lease to determine tso service validity #1676
  server/grpc_service.go
  server/leader.go
  server/lease.go
  server/server.go
  server/tso.go
  tests/server/region_syncer/region_syncer_test.go
Labels: CanMerge, cherry-pick

#2132 dashboard: update version and add test (#2115) (#2131)
  Makefile
  cmd/pd-server/main.go
  go.mod
  go.sum
  pkg/apiutil/serverapi/middleware.go
  pkg/dashboard/apiserver/apiserver.go
  pkg/dashboard/keyvisual/input/core.go
  pkg/dashboard/uiserver/uiserver.go
  server/api/server.go
  server/server.go
  server/server_test.go
  tests/cluster.go
  tests/dashboard/service_test.go
Labels: area/visualization, cherry-pick

#2133 dashboard: update version
  go.mod
  go.sum
Labels: backport/release-3.1

#2114 *: update retool install script
  scripts/retool-install.sh
Labels: CanMerge, area/build

#2092 tools: add component subcommand
  client/base_client.go
  go.mod
  go.sum
  pkg/dashboard/apiserver/apiserver.go
  pkg/dashboard/uiserver/uiserver.go
  pkg/keyvisual/service.go
  server/api/middleware.go
  server/api/router.go
  server/api/server.go
  server/api/util.go
  server/config/config.go
  server/config_manager/config_manager.go
  server/region_syncer/client.go
  server/server.go
  server/server_test.go
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/component_command.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/ctl.go
Labels: CanMerge, area/pdctl

#2130 api: add deploy path and binary version in member
  go.mod
  go.sum
  server/api/member.go
  server/member/leader.go
  server/server.go
Labels: CanMerge, area/api

#2142 Update Dashboard to support I18N
  go.mod
  go.sum
Labels: CanMerge, area/visualization

#2146 pkg: remove key visual
  pkg/keyvisual/service.go
Labels: CanMerge, area/visualization, kind/bug

#2081 schedule: transfer leader in batch when do eviction
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/config/config.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedulers/evict_leader.go
  server/schedulers/scheduler_test.go
Labels: CanMerge, area/schedule

#2145 doc: update readme
  README.md
Labels: CanMerge, area/doc

#2143 cluster: intervally persistent store meta
  go.mod
  go.sum
  server/api/store.go
  server/api/store_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/store.go
  server/core/store_option.go
  tests/pdctl/helper.go
Labels: CanMerge, kind/enhancement

#2140 statistics: multidimensional hot peer cache
  server/api/trend.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/topn.go
  server/statistics/topn_test.go
  server/statistics/util.go
Labels: CanMerge, area/schedule, kind/enhancement

#2155 Update dashboard to v0225
  go.mod
  go.sum
  pkg/dashboard/apiserver/apiserver.go
  tests/dashboard/service_test.go
Labels: CanMerge

#2157 api: disable omitempty for some fileds of store status
  docs/api.html
  server/api/api.raml
  server/api/store.go
Labels: CanMerge, area/api

#2158 api: improve health API
  server/api/health.go
  server/cluster/cluster.go
  tests/pdctl/health/health_test.go
Labels: CanMerge, area/api

#2141 scheduler: hotspot: solution-based key-rate-aware balance solver
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/coordinator.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
Labels: CanMerge, area/schedule, kind/enhancement

#2160 checker: fix rule checker panic
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: CanMerge, area/schedule, backport/release-3.1

#2153 config: rewrite and persist config file
  server/api/config.go
  server/config/config.go
  server/config_manager/config_manager.go
  server/server.go
Labels: CanMerge, area/config

#2162 *: add test for online reload new TLS certificates
  client/base_client.go
  pkg/grpcutil/grpcutil.go
  tests/client/cert-expired/ca-config.json
  tests/client/cert-expired/ca-csr.json
  tests/client/cert-expired/ca-key.pem
  tests/client/cert-expired/ca.csr
  tests/client/cert-expired/ca.pem
  tests/client/cert-expired/client-key.pem
  tests/client/cert-expired/client.csr
  tests/client/cert-expired/client.pem
  tests/client/cert-expired/gencerts.sh
  tests/client/cert-expired/pd-server-key.pem
  tests/client/cert-expired/pd-server.csr
  tests/client/cert-expired/pd-server.pem
  tests/client/cert/ca-config.json
  tests/client/cert/ca-csr.json
  tests/client/cert/ca-key.pem
  tests/client/cert/ca.csr
  tests/client/cert/ca.pem
  tests/client/cert/client-key.pem
  tests/client/cert/client.csr
  tests/client/cert/client.pem
  tests/client/cert/gencerts.sh
  tests/client/cert/pd-server-key.pem
  tests/client/cert/pd-server.csr
  tests/client/cert/pd-server.pem
  tests/client/client_tsl_test.go
Labels: CanMerge, area/client, area/testing, backport/release-3.1

#2154 config: fix schedulers maybe lost after restarting
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/config_manager/config_manager.go
  server/grpc_service.go
  server/server.go
  tests/server/cluster/cluster_test.go
Labels: CanMerge, area/config, kind/bug

#2166 *: add UCP issue template
  .github/ISSUE_TEMPLATE/usability-challenge-program.md
Labels: CanMerge, challenge-program-2
