Repository tikv/pd, pull requests merged in 2021-05, with the labels that each got.

#3627 statistics: support hotPeerCache maintained in Peer level
  pkg/autoscaling/calculation_test.go
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/core/kind.go
  server/core/peer.go
  server/replication/replication_mode_test.go
  server/schedule/checker/joint_state_checker_test.go
  server/schedule/checker/learner_checker_test.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/filter/filters_test.go
  server/schedule/hbstream/heartbeat_streams_test.go
  server/schedule/operator/builder_test.go
  server/schedule/operator/create_operator_test.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller_test.go
  server/schedule/opt/healthy_test.go
  server/schedule/region_scatterer_test.go
  server/schedule/region_splitter_test.go
  server/schedulers/balance_test.go
  server/schedulers/hot_test.go
  server/schedulers/scheduler_test.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hotstat.go
Labels: status/LGT2, status/can-merge

#3666 *: close the response body when finished with it
  server/api/member_test.go
  server/server.go
Labels: component/misc, require-LGT1, status/LGT1, status/can-merge

#3667 *: clean up useless parameters
  pkg/autoscaling/calculation.go
  pkg/autoscaling/calculation_test.go
  server/api/router.go
  server/api/server.go
  server/api/store_test.go
  server/cluster/cluster_test.go
  server/cluster/coordinator_test.go
  server/encryptionkm/key_manager.go
  server/grpc_service.go
  server/schedule/checker/rule_checker.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/schedulers/scheduler_test.go
  server/tso/allocator_manager.go
  tests/client/client_tls_test.go
  tests/server/cluster/cluster_test.go
  tests/server/cluster/cluster_work_test.go
  tools/pd-analysis/analysis/transfer_counter.go
Labels: component/misc, status/LGT2, status/can-merge

#3663 *: clean up some code
  server/cluster/cluster.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer_cache.go
  server/statistics/store.go
  server/statistics/store_hot_peers_infos.go
Labels: component/misc, status/LGT2, status/can-merge

#3670 dashboard: Update to TiDB Dashboard v2021.05.12.1
  go.mod
  go.sum
Labels: component/visualization, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, status/LGT2, status/can-merge

#3655 *: remove applying snapshot count
  pkg/mock/mockcluster/mockcluster.go
  server/api/store.go
  server/core/store_stats.go
  server/schedule/filter/filters.go
Labels: component/misc, status/LGT2, status/can-merge

#3676 github: add release-note description format to pull request template
  .github/pull_request_template.md
Labels: require-LGT1, status/LGT1, status/can-merge

#3665 cluster,statistics: support recving peer stat by store heartbeat
  go.mod
  go.sum
  pkg/mock/mockcluster/mockcluster.go
  server/api/admin_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/peer.go
  server/schedulers/hot_test.go
  server/schedulers/scheduler_test.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/region_stat_informer.go
Labels: status/LGT2, status/can-merge

#3678 schedulers: fix the panic issue about remove evict leader scheduler from a nonexistent store
  server/core/store.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/scheduler_test.go
Labels: release-note, require-LGT1, status/LGT1, status/can-merge

#3669 *: prealloc some slices to reduce allocation during the runtime
  go.sum
  pkg/autoscaling/calculation.go
  pkg/autoscaling/calculation_test.go
  plugin/scheduler_example/evict_leader.go
  server/api/trend_test.go
  server/cluster/coordinator.go
  server/grpc_service.go
  server/schedule/filter/candidates_test.go
  server/schedule/placement/fit.go
  server/schedule/placement/rule_manager.go
  server/schedule/region_scatterer.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/statistics/hot_peer_cache.go
  server/tso/allocator_manager.go
  tests/client/client_test.go
  tests/client/client_tls_test.go
  tests/config.go
  tests/server/cluster/cluster_test.go
  tools/pd-simulator/simulator/simutil/key.go
Labels: component/misc, status/LGT2, status/can-merge

#3585 cluster,api: fix the bug that replicate config do not sync with default rule
  server/api/cluster_test.go
  server/api/rule.go
  server/api/rule_test.go
  server/server.go
  tests/pdctl/config/config_test.go
Labels: status/LGT2, status/can-merge

#3683 github: update auto-assign config
  .github/auto_assign.yml
Labels: component/misc, release-note-none, require-LGT1, status/LGT1, status/can-merge

#3677 *: remove duplicated code by abstracting functions
  server/encryptionkm/key_manager_test.go
  tests/dashboard/service_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/tso/local_tso_test.go
  tests/server/tso/tso_test.go
  tests/server/watch/leader_watch_test.go
Labels: component/misc, status/LGT2, status/can-merge

#3639 [pkg]: fix the bug that the oldest element has the highest weight
  pkg/movingaverage/moving_average_test.go
  pkg/movingaverage/weight_moving_average.go
Labels: status/LGT2, status/can-merge

#3689 server: remove unnecessary gRPC forwarding checks
  server/grpc_service.go
Labels: component/misc, release-note-none, require-LGT1, status/LGT1, status/can-merge

#3349 tools: use PersistentFlags for some options in pd-ctl
  tools/pd-ctl/pdctl/ctl.go
Labels: component/tools, release-note-none, status/LGT2, status/can-merge

#3687 statistics: fix the bug that cold peer stat won't be updated
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  tests/pdctl/hot/hot_test.go
Labels: release-note-none, status/LGT2, status/can-merge

#3691 statistics: rename function with a proper name
  server/statistics/hot_peer_cache.go
Labels: release-note-none, require-LGT1, status/LGT1, status/can-merge

#3629 *: clean up the config template
  conf/config.toml
Labels: component/doc, status/LGT2, status/can-merge

#3681 schedulers: support hot read peer scheduling
  metrics/grafana/pd.json
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/coordinator.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/statistics/hot_cache.go
Labels: release-note-none, status/LGT2, status/can-merge

#3700 docs: update development doc
  docs/development.md
Labels: release-note-none

#3694 checker: fix the operator priority
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: component/checker, release-note, status/LGT2, status/can-merge

#3704 statistics: add metrics for the hot cache flow queue
  metrics/grafana/pd.json
  server/statistics/hot_cache.go
  server/statistics/metrics.go
Labels: release-note-none, status/LGT2, status/can-merge

#3253 api: check the unhealthy store when adding a new operator through API
  errors.toml
  pkg/errs/errno.go
  server/handler.go
  tests/pdctl/config/config_test.go
  tests/pdctl/helper.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
Labels: component/api, status/LGT2, status/can-merge

#3707 statistics: adjust threshold for the Region read stats
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
Labels: release-note-none, require-LGT1, status/LGT1, status/can-merge

#3711 *: upgrade go version to 1.16 and substitute ioutil
  .github/workflows/check-dashboard.yaml
  .github/workflows/check.yaml
  .github/workflows/pd-tests.yaml
  Dockerfile
  README.md
  go.mod
  go.sum
  pkg/apiutil/apiutil.go
  pkg/apiutil/serverapi/middleware.go
  pkg/autoscaling/handler.go
  pkg/autoscaling/prometheus_test.go
  pkg/encryption/master_key.go
  pkg/encryption/master_key_test.go
  pkg/etcdutil/etcdutil.go
  pkg/testutil/leak.go
  server/api/admin.go
  server/api/config.go
  server/api/diagnose_test.go
  server/api/health_test.go
  server/api/log.go
  server/api/member_test.go
  server/api/operator_test.go
  server/api/status_test.go
  server/api/store_test.go
  server/api/util.go
  server/api/util_test.go
  server/api/version_test.go
  server/encryptionkm/key_manager_test.go
  server/join/join.go
  server/kv/kv_test.go
  server/schedulers/hot_region_config.go
  server/server.go
  server/server_test.go
  server/testutil.go
  tests/client/client_tls_test.go
  tests/config.go
  tests/dashboard/service_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/helper.go
  tests/server/api/api_test.go
  tests/server/member/member_test.go
  tools/pd-backup/pdbackup/backup.go
  tools/pd-ctl/README.md
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-recover/README.md
  tools/pd-simulator/simulator/config.go
  tools/pd-tso-bench/main.go
Labels: release-note-none, status/LGT2, status/can-merge

#3390 tso: implement the Global TSO optimization
  go.mod
  go.sum
  server/grpc_service.go
  server/tso/allocator_manager.go
  server/tso/global_allocator.go
  server/tso/local_allocator.go
  server/tso/tso.go
  tests/server/tso/global_tso_test.go
Labels: component/tso, status/LGT2, status/can-merge

#3712 server: make leader can lost lease as soon as possible
  server/cluster/cluster.go
  server/server.go
  tests/server/member/member_test.go
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, release-note, status/LGT2, status/can-merge

#3717 command: Align TSO output format
  tests/pdctl/tso/tso_test.go
  tools/pd-ctl/pdctl/command/tso_command.go
Labels: release-note-none, require-LGT1, status/LGT1, status/can-merge

#3619 [core]:strictly match label should be same ignore rule placement params
  server/api/label_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: status/LGT2, status/can-merge

#3692 core: sort peers when creating RegionsInfo
  server/core/region.go
  server/core/region_test.go
Labels: release-note-none, status/LGT2, status/can-merge

#3673 test: reduce the consumption of TSO-related tests
  tests/client/client_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/local_tso_test.go
Labels: component/testing, component/tso, require-LGT1, status/LGT1, status/can-merge

#3722 scheduler: fix `isHot` in `checkHot`
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
Labels: release-note-none, status/LGT2, status/can-merge

#3706 schedulers: extract balancePlan for balancers
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/utils.go
Labels: release-note-none, status/LGT2, status/can-merge, type/refactor
