Repository tikv/pd, pull requests merged in 2021-12, with the labels that each got.

#4310 scheduler: add grant hot region scheduler for test imbalance scene
  server/api/scheduler.go
  server/handler.go
  server/schedulers/grant_hot_region.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/LGT2, release-note-none

#4409 schedulers: protect config field with lock
  server/schedulers/grant_hot_region.go
Labels: status/can-merge, status/LGT2, type/bug-fix, release-note-none

#4413 *: update some docs
  .github/ISSUE_TEMPLATE/challenge-program.md
  .github/ISSUE_TEMPLATE/development-task.md
  .github/ISSUE_TEMPLATE/enhancement-task.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/flaky-test.md
  .github/ISSUE_TEMPLATE/usability-challenge-program.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: status/can-merge, status/LGT2, component/doc, release-note-none

#4426 *: remove unnecessary read/write definitions
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/schedulers/grant_hot_region.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/kind.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4251 client: fix the case where the chosen TSO stream is canceled later
  client/client.go
  tests/client/client_test.go
Labels: status/can-merge, status/LGT2, component/client, release-note-none

#4124 test: Integrate UT coverage with CI pipeline
  .gitignore
  Makefile
  go.mod
  go.sum
  tools.go
Labels: status/can-merge, status/LGT2, release-note-none

#4396 statistics: fix the problem that the hot cache cannot be emptied when the interval is less than 60
  pkg/movingaverage/avg_over_time.go
  pkg/movingaverage/median_filter.go
  pkg/movingaverage/queue.go
  pkg/movingaverage/queue_test.go
  pkg/movingaverage/time_median.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/kind.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, component/statistics, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#4437 *: enable bodyclose linter
  .golangci.yml
  server/api/admin_test.go
  server/api/component_test.go
  server/api/member_test.go
  server/api/rule_test.go
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/api/service_gc_safepoint_test.go
  server/api/store_test.go
  server/api/util.go
  server/cluster/cluster.go
  server/server.go
  tests/server/api/api_test.go
  tests/server/member/member_test.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4438 *: update sysutil in go.mod to fix panic when search log
  go.mod
  go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#4441 Makefile: test the TSO without compiling the dashboard
  Makefile
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, component/tso, release-note-none

#4425 Update TiDB Dashboard to v2021.12.06.1 [master]
  go.mod
  go.sum
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-5.3

#4451 fixbug-#4422
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, release-note-none

#4338 Mark failed stores as tombstones before executing unsafe recovery
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: release-note, status/can-merge, status/LGT2

#4452 server: improve scheduler handler log
  server/handler.go
Labels: component/log, status/can-merge, status/LGT2, release-note-none

#4149 statistics: refacter store load in hot region scheduler
  server/cluster/coordinator.go
  server/schedulers/grant_hot_region.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
  server/statistics/kind.go
  server/statistics/store_load.go
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none

#4308 implement `GlobalConfig` for grpc server and client
  client/client.go
  go.mod
  go.sum
  server/grpc_service.go
  server/server.go
  tests/server/global_config/global_config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4453 Add parameter prompt for scheduler show --status ref #4405
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, release-note-none

#4403 dr-autosync: retry replicate state file
  server/cluster/cluster.go
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
  server/server.go
  tests/server/server_test.go
Labels: status/can-merge, status/LGT2, type/bug-fix, release-note-none

#4464 tso: add a local TSO prefix to prevent being conflicted with other system key paths
  server/tso/allocator_manager.go
  tests/server/tso/allocator_test.go
Labels: status/can-merge, status/LGT2, component/tso, release-note-none

#4421 ctl: the duration of the pause scheduler must be specified
  server/api/scheduler.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, type/bug-fix, component/tools, release-note-none

#4472 test: increase test lease time to tolerate higher delayed time
  server/testutil.go
  tools/pd-simulator/simulator/config.go
Labels: status/can-merge, status/LGT2, release-note-none

#4262 schedulers: add switch for hot scheduler to forbid read or write scheduler
  server/schedulers/hot_region.go
  server/schedulers/hot_region_config.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: release-note, status/can-merge, status/LGT2

#4446 statistics: fix hot peer cache
  pkg/movingaverage/avg_over_time.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4450 core:fix style of hot history region info of startkey and endkey,fix bug isleader always false
  conf/config.toml
  server/core/hot_region_storage.go
  server/core/hot_region_storage_test.go
  server/handler.go
Labels: status/can-merge, status/LGT2, release-note-none

#4103 command:add ctl command to get hot history regions(ref #25281)
  tests/pdctl/hot/hot_test.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/hot_command.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, do-not-merge/invalid-commit-message

#4479 ctl: pd-ctl cmd will work well in char device mode
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/pdctl/ctl_test.go
Labels: release-note, status/can-merge, status/LGT2

#4485 api: Revert for showing State in StoreInfo
  server/api/store.go
  server/api/store_test.go
  server/api/trend.go
  tests/cluster.go
  tests/pdctl/helper.go
  tests/pdctl/store/store_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4492 config: remove unused nextRetryDelay
  server/config/config.go
Labels: status/can-merge, status/LGT2, component/config, release-note-none

#4482 config: expose max request bytes
  server/config/config.go
  server/config/config_test.go
Labels: status/can-merge, status/LGT2, component/config, release-note-none

#4498 api, pd-ctl: fix the region range hole end key check and add some help info
  server/api/region_test.go
  server/core/region.go
  tests/pdctl/region/region_test.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: status/can-merge, status/LGT2, component/tools, release-note-none

#4506 *: move `parseUrls` to util
  pkg/apiutil/serverapi/middleware.go
  server/config/config.go
  server/config/util.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4461 statistics: small refactor of hot statistics
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/handler.go
  server/schedulers/hot_region_test.go
  server/statistics/hot_cache.go
  server/statistics/hot_cache_task.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/kind.go
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none

#4491 api, pdctl: add HTTP Component signature
  pkg/apiutil/apiutil.go
  tests/pdctl/global_test.go
  tests/pdctl/helper.go
  tools/pd-ctl/pdctl/command/global.go
Labels: release-note, status/can-merge, status/LGT2

#4519 config: fix the display value of the log level
  server/config/config.go
  server/config/config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4521 config: enable record history hot region
  server/config/config.go
  server/config/config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4517 *: move some functions from `opt` to `schedule`
  plugin/scheduler_example/evict_leader.go
  server/api/region.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/handler.go
  server/schedule/checker/checker_controller.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/healthy.go
  server/schedule/healthy_test.go
  server/schedule/operator_controller_test.go
  server/schedule/region_scatterer.go
  server/schedule/region_splitter.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4520 *: move `HeartbeatStream` out of `opt`
  pkg/mock/mockhbstream/mockhbstream.go
  pkg/mock/mockhbstream/mockhbstream_test.go
  server/cluster/coordinator_test.go
  server/schedule/hbstream/heartbeat_streams.go
  server/schedule/opt/opts.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4502 Update dashboard to v2021.12.31.1
  .github/workflows/check-dashboard.yaml
  .github/workflows/check.yaml
  .github/workflows/pd-tests.yaml
  .gitignore
  Makefile
  go.mod
  go.sum
  pkg/dashboard/adapter/config.go
  pkg/dashboard/dashboard.go
  pkg/dashboard/distro/.gitignore
  pkg/dashboard/distro/distro.go
  pkg/dashboard/distro/placeholder.go
  pkg/dashboard/distroutil/distro.go
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
  scripts/embed-dashboard-ui.ps1
  scripts/embed-dashboard-ui.sh
Labels: release-note, status/LGT2, do-not-merge/invalid-commit-message

#4530 ci: fix wrong boltdb dependency
  go.mod
  go.sum
  pkg/logutil/log_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none
