Repository tikv/pd, pull requests merged in 2021-06, with the labels that each got.

#3651 pd-ctl: expose GetRootCmd for integration tests, clean up interfaces
  tests/dashboard/service_test.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/completion/completion_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/health/health_test.go
  tests/pdctl/helper.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/member/member_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
  tests/pdctl/tso/tso_test.go
  tools/pd-ctl/pdctl/ctl.go
Labels: status/LGT2, status/can-merge

#3714 server/api: add an API to configure failpoints in runtime (#3488)
  server/api/router.go
Labels: cherry-pick-approved, status/LGT2, status/can-merge

#3729 statistics: replace loads with []float64 in peer info
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/core/kind.go
  server/core/peer.go
  server/core/region.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/kind_test.go
Labels: component/scheduler, component/statistics, release-note-none, status/LGT2, status/can-merge, type/refactor

#3693 core: simplify regionSubTree and regionMap
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/core/region_tree_test.go
Labels: release-note-none, status/LGT2, status/can-merge

#3731 statistics: more friendly output
  server/api/trend.go
  server/schedulers/utils.go
  server/statistics/hot_regions_stat.go
Labels: release-note-none, status/LGT2, status/can-merge

#3733 tso: fix the Global TSO fallback bug
  server/grpc_service.go
  server/tso/global_allocator.go
Labels: component/tso, release-note-none, status/LGT2, status/can-merge, type/bug-fix

#3708 checker: allow location placement get worse when fix replica
  pkg/mock/mockcluster/config.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/checker/replica_strategy.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: component/schedule, needs-cherry-pick-release-5.0, release-note, status/LGT2, status/can-merge, type/bug-fix

#3643 api: add role_name and is_learner to the returned peer info
  server/api/region.go
  server/api/region_test.go
  tests/pdctl/helper.go
  tests/pdctl/region/region_test.go
Labels: component/api, needs-cherry-pick-release-5.0, status/LGT2, status/can-merge, type/bug-fix

#3728 server: make region statistic loss some precision
  errors.toml
  pkg/errs/errno.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/config.go
  server/core/region.go
  server/core/region_option.go
  server/core/region_test.go
  server/grpc_service.go
  tests/pdctl/config/config_test.go
Labels: release-note, status/LGT2, status/can-merge

#3730 checker: reduce the generating snapshot tasks on Offline store
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator/create_operator.go
Labels: release-note, status/LGT2, status/can-merge

#3741 scheduler: fix sort hotpeer in hot scheduler
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
Labels: component/scheduler, release-note-none, status/LGT2, status/can-merge

#3747 *: make flow-round-by-digit compatible with trace-region-flow
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/config.go
  server/config/config_test.go
  server/config/persist_options.go
Labels: priority/P0, release-note, status/LGT2, status/can-merge

#3726 metrics: refactor the hot region metrics
  server/cluster/coordinator.go
  server/schedulers/hot_region.go
Labels: component/metrics, release-note-none, status/LGT2, status/can-merge

#3739 core: optimize the processing speed of RegionHeartbeat
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/core/region_tree_test.go
  server/schedule/range_cluster.go
  server/schedulers/scheduler_test.go
Labels: priority/P0, release-note-none, status/LGT2, status/can-merge

#3745 schedulers: avoid recalculate tolerantRatio
  server/schedulers/balance_test.go
  server/schedulers/utils.go
Labels: release-note-none, status/LGT2, status/can-merge, type/enhancement

#3721 statistics: remove mutex in hotPeerCache
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker_test.go
  server/cluster/coordinator_test.go
  server/statistics/hot_cache.go
  server/statistics/hot_cache_task.go
  server/statistics/hot_peer_cache.go
  server/statistics/hotstat.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: needs-cherry-pick-release-5.1, priority/P0, release-note-none, status/LGT2, status/can-merge

#3752 *: fix the license
  LICENSE
Labels: component/doc, release-note-none, status/LGT2, status/can-merge

#3754 ci: make github action effective for release-5.1
  .github/workflows/check-dashboard.yaml
  .github/workflows/pd-tests.yaml
Labels: component/build, needs-cherry-pick-release-5.1, release-note-none, require-LGT1, status/LGT1, status/can-merge

#3757 ci: make github action effective for release-5.1
  .github/workflows/check-dashboard.yaml
  .github/workflows/pd-tests.yaml
Labels: component/build, release-note-none, require-LGT1, status/LGT1, status/can-merge

#3760 schedule: fix race for region scatter
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note, status/LGT2, status/can-merge

#3758 statistics: fix task might get stuck and hold raftcluster mutex
  server/cluster/cluster.go
  server/statistics/hot_cache.go
  server/statistics/hot_cache_task.go
Labels: needs-cherry-pick-release-5.1, release-note-none, status/LGT2, status/can-merge

#3756 api: save cluster in request context
  server/api/admin.go
  server/api/component.go
  server/api/label.go
  server/api/middleware.go
  server/api/region.go
  server/api/replication_mode.go
  server/api/rule.go
  server/api/stats.go
  server/api/store.go
Labels: needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note-none, status/LGT2, status/can-merge

#3772 server: fix the data race problem
  server/server.go
Labels: component/election, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note, status/LGT2, status/can-merge

#3750 metrics: update grafana template
  metrics/grafana/pd.json
Labels: release-note-none, status/LGT2, status/can-merge

#3776 *: solve the diff problem
  .github/workflows/check-dashboard.yaml
  scripts/embed-dashboard-ui.ps1
  scripts/embed-dashboard-ui.sh
Labels: component/build, release-note-none, require-LGT1, status/LGT1, status/can-merge

#3777 client/base_client: do tiny refator for the function getMembers
  client/base_client.go
Labels: release-note-none, status/LGT2, status/can-merge

#3695 Report QPS about each type of command in RegionHeartbeat and StoreHeartbeat
  go.mod
  go.sum
  pkg/mock/mockcluster/mockcluster.go
  server/api/hot_status.go
  server/api/scheduler_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/core/region.go
  server/core/region_option.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_config.go
  server/schedulers/utils.go
  server/statistics/flowkind.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/hot_regions_stat.go
  server/statistics/kind.go
  server/statistics/kind_test.go
  server/statistics/metrics.go
  server/statistics/store.go
  server/statistics/store_collection.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: release-note-none, status/LGT2, status/can-merge

#3770 *: improve the some metrics
  server/schedule/checker/merge_checker.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
Labels: component/metrics, release-note-none, status/LGT2, status/can-merge

#3782 pd-ctl: try to fix interactive mode
  tools/pd-ctl/pdctl/ctl.go
Labels: needs-cherry-pick-release-5.1, release-note, status/LGT2, status/can-merge

#3785 dashboard: Update TiDB Dashboard to v2021.06.15.1
  go.mod
  go.sum
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note, require-LGT1, status/LGT1, status/can-merge

#3803 *: fix the precision of operator metrics
  server/schedule/metrics.go
Labels: release-note-none, require-LGT1, status/LGT1, status/can-merge

#3802 *: Fix the wrong usage of go.mod replace
  go.mod
  go.sum
Labels: component/misc, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note-none, status/LGT2, status/can-merge

#3798 dashboard: Update TiDB Dashboard to v2021.06.15.1 (#3785)
  go.mod
  go.sum
Labels: cherry-pick-approved, component/visualization, release-note, require-LGT1, status/LGT1, status/can-merge, type/cherry-pick-for-release-5.0

#3817 [hotfix 20210628] dashboard: Update TiDB Dashboard to v2021.06.15.1
  go.mod
  go.sum
Labels: do-not-merge/cherry-pick-not-approved, release-note, require-LGT1, status/LGT1, status/can-merge

#3787 schedulers: rollback the scheduler when failing to persist
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/cluster/coordinator.go
  server/config/persist_options.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
Labels: component/scheduler, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note, status/LGT2, status/can-merge
