Repository tikv/pd, pull requests merged in 2021-04, with the labels that each got.

#3553 go.*: remove some unnecessary replaces
  go.mod
  go.sum
Labels: require-LGT1, status/LGT1, status/can-merge

#3554 metrics: correction of statistical unit errors
  metrics/grafana/pd.json
Labels: component/metrics, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#3567 metrics: keep unit consistent with tikv
  metrics/grafana/pd.json
Labels: component/metrics, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, status/LGT1, status/can-merge

#3574 client: fix the goroutine leak of client unit test
  client/client_test.go
Labels: component/testing, status/LGT2, status/can-merge

#3576 client: fix etcd proxy loop detection error in unit test
  client/client_test.go
Labels: component/testing, status/LGT2

#3580 server: Defer region Clone to String() method
  server/core/region.go
Labels: status/LGT2, status/can-merge

#3583 metrics: support showing the store limit in Grafana
  metrics/grafana/pd.json
  server/cluster/cluster.go
  server/schedule/metrics.go
  server/schedule/operator_controller.go
  server/statistics/metrics.go
  server/statistics/store_collection.go
Labels: component/metrics, status/LGT2, status/can-merge

#3560 api: fix resign myself error
  server/api/member.go
  server/api/member_test.go
  server/member/member.go
Labels: first-time-contributor, status/LGT2, status/can-merge

#3584 join: modify log level
  server/join/join.go
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#3582 schedule: add metrcis for region scatter
  metrics/grafana/pd.json
  server/schedule/filter/filters.go
  server/schedule/metrics.go
  server/schedule/region_scatterer.go
Labels: do-not-merge/hold, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#3599 cluster: avoid unexpected statistic modify in range cluster
  server/core/store_option.go
  server/core/store_stats.go
  server/schedule/range_cluster.go
Labels: component/schedule, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#3592 core: change score calculator in few disk space to avoid offline earlier
  server/core/store.go
Labels: needs-cherry-pick-5.0, status/LGT2, status/can-merge

#3586 *: simplify some code
  server/cluster/cluster.go
  server/core/basic_cluster.go
  server/core/store.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator_controller.go
  server/statistics/hot_peer_cache_test.go
Labels: component/misc, status/LGT2, status/can-merge

#3603 *: fix the data race problem
  server/config/persist_options.go
  server/server.go
  server/statistics/store_collection.go
Labels: component/statistics, status/LGT2, status/can-merge

#3614 statistic: fix offline stats statistic after merge offline peer
  server/cluster/cluster_test.go
  server/core/test_util.go
  server/statistics/region_collection.go
Labels: component/statistics, needs-cherry-pick-5.0, status/LGT2, status/can-merge

#3422 schedule: revise region_scatter distribution for multi groups
  pkg/cache/ttl.go
  server/api/region_test.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: component/cluster, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2

#3616 tso: fix the bugs of TSO fallback and Local TSO physical time advancing too fast
  server/tso/global_allocator.go
  server/tso/local_allocator.go
  server/tso/tso.go
Labels: component/tso, needs-cherry-pick-5.0, status/LGT2, status/can-merge, type/bug-fix

#3624 README: update the badges in README.md
  README.md
Labels: require-LGT1, status/LGT1, status/can-merge

#3625 tso: refine the err handling and log of TSO
  server/tso/global_allocator.go
  server/tso/tso.go
Labels: component/tso, status/LGT2, status/can-merge

#3630 client: adjust the log level in updateMember
  client/base_client.go
Labels: component/client, needs-cherry-pick-5.0, status/LGT2, status/can-merge, type/bug-fix

#3638 client: fix comment typo
  client/base_client.go
Labels: require-LGT1, status/LGT1, status/can-merge

#3632 tso: check leadership before generating a Global TSO response
  server/tso/global_allocator.go
  server/tso/tso.go
Labels: status/LGT2, status/can-merge

#3634 tso: only run Local TSO related daemons when EnableLocalTSO
  server/server.go
  server/tso/allocator_manager.go
Labels: component/tso, status/LGT2, status/can-merge

#3641 tso: test: refine and add a test for EnableLocalTSO
  server/tso/allocator_manager.go
  tests/cluster.go
  tests/server/tso/allocator_test.go
Labels: component/testing, component/tso, status/LGT2, status/can-merge

#3628 tso: fix the TSO fallback caused by resetUserTimestamp
  pkg/typeutil/time.go
  pkg/typeutil/time_test.go
  server/tso/tso.go
Labels: component/tso, needs-cherry-pick-release-5.0, status/LGT2, status/can-merge, type/bug-fix

#3642 *: unify the use of errs.ZapError
  pkg/mock/mockcluster/mockcluster.go
  pkg/tempurl/tempurl.go
  server/encryptionkm/key_manager.go
  server/join/join.go
  server/tso/allocator_manager.go
  server/tso/global_allocator.go
  tests/cluster.go
Labels: component/log, status/LGT2, status/can-merge

#3646 tso: fix the bug that maxTSO may be changed unexpectedly in retry loop
  server/tso/global_allocator.go
Labels: component/tso, require-LGT1, status/LGT1, status/can-merge

#3637 tso: ensure cluster TSO consistency after Local TSO is turned off
  server/config/config.go
  server/tso/tso.go
  tests/server/tso/tso_test.go
Labels: component/tso, status/LGT2, status/can-merge

#3591 statistics: use `[]float64` to represent hot peer loads
  server/api/trend.go
  server/cluster/coordinator.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
  server/statistics/flowkind.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/hot_regions_stat.go
  server/statistics/kind.go
Labels: component/scheduler, component/statistics, status/LGT2, status/can-merge, type/refactor

#3650 Makefile: don't rely on hardcoded path for bash
  Makefile
Labels: status/LGT2, status/can-merge

#3652 tools: hide some barely used configurations
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: component/tools, status/LGT2, status/can-merge

#3654 schedulers: unify hot region scheduler's influence
  server/cluster/coordinator.go
  server/schedulers/hot_region.go
  server/schedulers/hot_test.go
Labels: status/LGT2, status/can-merge
