Repository tikv/pd, pull requests merged in 2021-09, with the labels that each got.

#4061 election: fix the panic bug of lease
  server/election/leadership_test.go
  server/election/lease.go
Labels: status/can-merge, status/LGT1, type/bug-fix, require-LGT1, component/election, release-note-none

#4060 checker: skip generating operator if fit is cached for rule checker
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4064 placement: early exit searching during FitRegion
  server/schedule/placement/fit.go
Labels: status/can-merge, status/LGT2, release-note-none

#4019 config: add hot region history configurations
  conf/config.toml
  server/config/config.go
  server/config/config_test.go
Labels: release-note, status/can-merge, status/LGT2

#4053 *: close ticker when function returns
  server/cluster/coordinator_test.go
  server/core/region_storage.go
  server/region_syncer/server.go
  tools/pd-tso-bench/main.go
Labels: status/can-merge, status/LGT1, component/misc, require-LGT1, release-note-none

#4067 placement: do not delete orphan peers if some peers selected by RuleFit is down or pending
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, release-note-none, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#4072 client: add a test case for (*client).GetTSAsync
  tests/client/client_test.go
Labels: component/testing, status/can-merge, status/LGT1, component/client, require-LGT1, release-note-none

#4069 placement: fix nil error during FitRegion cache
  server/core/region_option.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/placement/region_rule_cache.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4078 checker: judging that the peer is down is no longer based on DownSeconds
  server/schedule/checker/replica_checker.go
  server/schedule/checker/rule_checker.go
Labels: release-note, status/can-merge, status/LGT2, component/checker, type/bug-fix, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#4076 dashboard: update TiDB Dashboard to v2021.09.03.1
  go.mod
  go.sum
  pkg/dashboard/distro/distro.go
  pkg/dashboard/distro/placeholder.go
Labels: status/can-merge, status/LGT1, component/visualization, require-LGT1, release-note-none

#4086 *: support go:build lines for go1.17
  pkg/btree/btree_mem.go
  pkg/dashboard/dashboard.go
  pkg/dashboard/without_dashboard.go
  pkg/swaggerserver/empty_handler.go
  pkg/swaggerserver/swagger_handler.go
  pkg/tempurl/check_env.go
  pkg/tempurl/check_env_linux.go
  tests/server/tso/allocator_test.go
  tests/server/tso/consistency_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/manager_test.go
  tests/server/tso/tso_test.go
  tools.go
Labels: status/can-merge, status/LGT2, component/build, release-note-none

#4079 client: remove unnecessary use of a blocked channel
  client/client.go
Labels: status/can-merge, status/LGT2, component/client, release-note-none

#4052 schedule: fix incorrect operator limit metrics [release-4.0]
  server/schedule/checker_controller.go
Labels: status/can-merge, status/LGT2, cherry-pick-approved, type/cherry-pick-for-release-4.0, release-note-none

#4020 cluster: add hot_region_storage
  server/core/hot_region_storage.go
  server/core/hot_region_storage_test.go
  server/handler.go
  server/server.go
Labels: release-note, status/can-merge, status/LGT2

#4091 labeler: change nomerge to merge_option
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/labeler/labels.go
Labels: component/schedule, status/can-merge, status/LGT2, release-note-none

#4055 schedulers: add bench test for balance region scheduler
  server/cluster/coordinator_test.go
  server/schedulers/balance_benchmark_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4089 placement: use struct in order to avoid ignoring changing cache
  server/core/store.go
  server/schedule/placement/region_rule_cache.go
  server/schedule/placement/region_rule_cache_test.go
  server/schedule/placement/rule.go
Labels: status/can-merge, status/LGT2, release-note-none

#4012 rules: optimize the implementation of FitRegion
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/schedule/checker/priority_checker.go
  server/schedule/checker/rule_checker.go
  server/schedule/filter/filters.go
  server/schedule/operator/builder.go
  server/schedule/opt/healthy.go
  server/schedule/opt/opts.go
Labels: status/can-merge, status/LGT2, release-note-none

#4102 election: fix the data race of the leadership resetting
  server/election/lease.go
  server/tso/allocator_manager.go
Labels: status/can-merge, status/LGT1, require-LGT1, component/election, release-note-none, type/cherry-pick-for-release-5.2

#4110 *: remove functions which are not useful anymore
  pkg/cache/cache_test.go
  server/cluster/cluster.go
  server/core/basic_cluster.go
  server/core/hot_region_storage.go
  server/grpc_service.go
  server/schedule/checker/priority_checker.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/operator_controller.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/utils.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4097 schedule: not limit remove peer of the down store
  server/cluster/coordinator_test.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/checker_controller.go
  server/schedule/operator/builder.go
  server/schedule/operator/step.go
Labels: component/schedule, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, release-note-none, needs-cherry-pick-release-5.1

#4106 scheduler: allow empty region to be scheduled and use a sperate tolerance config in scatter range scheduler
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/utils.go
Labels: release-note, status/can-merge, status/LGT2, component/scheduler, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#4104 client: refactor the client options to make the scope clear
  client/base_client.go
  client/client.go
Labels: status/can-merge, status/LGT2, component/client, release-note-none

#4062 *: Make tso batch size metrics more accurate
  client/metrics.go
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, release-note-none

#4125 test: unify the use of setupCli in the client test
  tests/client/client_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, release-note-none

#4021 api: add interface for hot_region info reqeust
  server/api/hot_status.go
  server/api/hot_status_test.go
  server/api/router.go
  server/api/util.go
Labels: status/can-merge, status/LGT2, release-note-none

#4107 *: remove light learner/peer
  server/schedule/operator/builder.go
  server/schedule/operator/builder_test.go
  server/schedule/operator/operator.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  server/schedule/test_util.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4096 schedulers: evict-leader supports schedule the regions with unhealthy peers
  server/schedulers/evict_leader.go
  server/schedulers/scheduler_test.go
Labels: release-note, status/can-merge, status/LGT2, component/scheduler, type/bug-fix, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#4126 *: remove some unused files
  .github/auto_assign.yml
  .github/challenge-bot.yml
  .github/workflows/auto-assignee.yaml
  Jenkinsfile
  sonar-project.properties
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4123 election: revert the unnecessary setting of the lease to avoid the panic
  server/election/leadership.go
  server/election/leadership_test.go
  server/election/lease.go
  server/election/lease_test.go
Labels: status/can-merge, status/LGT2, type/bug-fix, component/election, release-note-none

#4092 api: Add pause or resume checker REST api
  errors.toml
  pkg/errs/errno.go
  server/api/checker.go
  server/api/checker_test.go
  server/api/router.go
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/handler.go
  server/schedule/checker/checker_pause.go
  server/schedule/checker/joint_state_checker.go
  server/schedule/checker/learner_checker.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/priority_checker.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/split_checker.go
  server/schedule/checker_controller.go
Labels: component/api, release-note, status/can-merge, status/LGT2

#4127 tools: add percentiles for the TSO bench latency of the total stats
  go.mod
  go.sum
  tools/pd-tso-bench/main.go
Labels: status/can-merge, status/LGT2, component/tools, component/tso, release-note-none

#4143 *: simplify assert
  pkg/cache/cache_test.go
  pkg/encryption/crypter_test.go
  pkg/encryption/master_key_test.go
  pkg/etcdutil/etcdutil_test.go
  server/api/component_test.go
  server/api/diagnose_test.go
  server/api/hot_status_test.go
  server/api/pprof_test.go
  server/api/region_test.go
  server/api/rule_test.go
  server/api/scheduler_test.go
  server/api/store_test.go
  server/api/trend_test.go
  server/cluster/coordinator_test.go
  server/config/config_test.go
  server/core/region_test.go
  server/core/storage_test.go
  server/core/store_test.go
  server/region_syncer/history_buffer_test.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/operator/builder_test.go
  server/schedule/operator/create_operator_test.go
  server/schedule/operator_controller_test.go
  server/schedule/region_scatterer_test.go
  server/schedule/region_splitter_test.go
  server/schedule/waiting_operator_test.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region_test.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/region_collection_test.go
  tests/client/client_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/member/member_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
  tests/server/api/api_test.go
  tests/server/cluster/cluster_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/tso/allocator_test.go
  tests/server/tso/manager_test.go
  tools/pd-analysis/analysis/parse_log_test.go
  tools/pd-simulator/simulator/simutil/key_test.go
Labels: status/can-merge, status/LGT1, component/misc, require-LGT1, release-note-none

#4120 labeler: change key-range config to a list of ranges
  server/api/region_label_test.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/checker/split_checker_test.go
  server/schedule/labeler/labeler.go
  server/schedule/labeler/labeler_test.go
  server/schedule/labeler/rules.go
Labels: component/schedule, status/can-merge, status/LGT2, release-note-none

#4150 metrics: adjust the alter rule name
  metrics/alertmanager/pd.rules.yml
Labels: release-note, status/can-merge, status/LGT1, require-LGT1

#4111 encryption: refine key manager watcher loop
  server/encryptionkm/key_manager.go
Labels: status/can-merge, status/LGT2, type/bug-fix, component/security, needs-cherry-pick-release-5.0, release-note-none, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#4152 ci: configure codecov
  codecov.yml
Labels: status/can-merge, status/LGT2, release-note-none

#4158 testing: make TestStoreOverloaded stable
  server/cluster/coordinator_test.go
  server/schedule/operator_controller.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, release-note-none

#3685 config: make some scheduling settings more aggressive
  server/cluster/coordinator_test.go
  server/config/config.go
  server/schedule/checker/replica_checker_test.go
Labels: release-note, status/can-merge, status/LGT2, component/config

#4144 tools: update shellwords to 1.0.12
  go.mod
  go.sum
Labels: release-note, status/can-merge, status/LGT2, component/tools

#4121 core:solve bug in hot_region_storage
  server/core/hot_region_storage.go
  server/core/hot_region_storage_test.go
  server/handler.go
  tests/server/core/hot_region_storage_test.go
Labels: status/can-merge, status/LGT2

#4167 *: fix race in hot region config
  server/schedulers/hot_region_config.go
Labels: release-note, status/can-merge, status/LGT2, component/config, needs-cherry-pick-release-5.2

#4171 *: use SerialSuites to reduce the servers in tests at the same time
  server/encryptionkm/key_manager_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4166 checker: support demote voter in rule checker
  server/core/peer.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator/create_operator.go
  server/schedule/placement/fit.go
Labels: status/can-merge, status/LGT2, release-note-none

#4173 schedule: reduce an unnecessary debug log in the rule_checker
  server/schedule/checker/rule_checker.go
Labels: component/schedule, status/can-merge, status/LGT1, require-LGT1, release-note-none

#4174 *: fix race in region syncer
  server/grpc_service.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#4172 *: fix race in priority checker
  server/cluster/coordinator_test.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#4176 *: fix race in hot region config (#4167)
  server/schedulers/hot_region_config.go
Labels: release-note, status/LGT2, cherry-pick-approved

#4178 checker: judging that the peer is down is no longer based on DownSeconds (#4078)
  server/schedule/checker/replica_checker.go
  server/schedule/checker/rule_checker.go
Labels: release-note, status/can-merge, status/LGT2, cherry-pick-approved

#4177 dashboard: update TiDB Dashboard to v2021.09.27.1
  go.mod
  go.sum
Labels: release-note, status/can-merge, status/LGT2

#4141 config non root login for dashboard
  pkg/dashboard/adapter/config.go
Labels: release-note, status/can-merge, status/LGT1, component/visualization, require-LGT1
