Repository tikv/pd, pull requests merged in 2021-07, with the labels that each got.

#3820 schedule: one operator only occupy one limit
  server/cluster/coordinator_test.go
  server/schedule/operator/kind.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller.go
  server/schedulers/balance_region.go
Labels: release-note, status/LGT2, status/can-merge

#3737 tools: support querying hot region through store id
  server/api/hot_status.go
  server/cluster/cluster.go
  tests/pdctl/hot/hot_test.go
  tools/pd-ctl/pdctl/command/hot_command.go
Labels: component/tools, release-note, status/LGT2, status/can-merge

#3813 pkg: implement preempt priority queue use btree
  pkg/cache/cache_test.go
  pkg/cache/priority_queue.go
Labels: release-note-none, status/LGT2, status/can-merge

#3804 Tools: Add store check sub command to list the stores with specified state
  tests/pdctl/store/store_test.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: release-note-none, status/LGT2, status/can-merge

#3833 scheduler: remove the useless code in hot-region-scheduler
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
Labels: component/scheduler, release-note-none, require-LGT1, status/LGT1, status/can-merge

#3797 dashboard: Update TiDB Dashboard to v2021.06.15.1 (#3785)
  go.mod
  go.sum
Labels: backport-4.0.14, cherry-pick-approved, component/visualization, release-note, require-LGT1, status/LGT1, status/can-merge, type/cherry-pick-for-release-4.0

#3809 server/api: add an API to configure failpoints in runtime (#3488)
  server/api/router.go
Labels: backport-4.0.14, cherry-pick-approved, release-note-none, require-LGT1, status/LGT1, status/can-merge, type/cherry-pick-for-release-4.0

#3837 config: disable label scheduler by default
  server/cluster/coordinator_test.go
  server/config/config.go
  server/config/config_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: component/config, release-note, status/LGT2

#3846 Add auto label action to add labels for TiDB Dashboard PRs
  .github/labeler.yml
  .github/workflows/label.yaml
Labels: release-note-none, status/LGT2

#3834 scheduler: simplify the limit judgment of hot-region-scheduler
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  server/schedulers/scheduler_test.go
Labels: component/scheduler, release-note-none, status/LGT2, status/can-merge

#3788 schedulers: refine add evict/grant scheduler log
  server/api/scheduler.go
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/grpc_service.go
  server/handler.go
Labels: component/scheduler, release-note-none, status/LGT2, status/can-merge

#3848 Add TiDB Dashboard PR labels by scripts
  .github/labeler.yml
  .github/workflows/label.yaml
Labels: release-note-none, status/LGT2, status/can-merge

#3831 metrics, tso: add more metrics for TSO
  metrics/grafana/pd.json
  server/tso/global_allocator.go
  server/tso/local_allocator.go
  server/tso/metrics.go
  server/tso/tso.go
Labels: component/metrics, component/tso, release-note-none, status/LGT2, status/can-merge

#3727 server: remove deviation influence and remodel balance region schedule
  server/api/store.go
  server/core/store.go
  server/core/store_stats.go
  server/core/store_test.go
  server/schedule/filter/comparer.go
  server/schedule/filter/filters.go
  server/schedule/operator_controller.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/utils.go
  server/statistics/store_collection.go
Labels: release-note, status/LGT2, status/can-merge

#3850 election: fix the etcd transaction failure that may be triggered during PD leader campaign
  server/election/leadership.go
  server/election/leadership_test.go
  server/member/member.go
  server/tso/local_allocator.go
Labels: component/election, release-note-none, status/LGT2, status/can-merge, type/bug-fix

#3867 tso: fix the Global TSO sync panic and add retry mechanism
  server/grpc_service.go
  server/tso/global_allocator.go
  tests/server/tso/global_tso_test.go
Labels: component/tso, release-note-none, status/LGT2, status/can-merge, type/bug-fix

#3874 schedule : fix the OpAdmin kind should not occupy any limit
  server/schedule/operator/kind.go
  server/schedule/operator/operator_test.go
  server/schedulers/random_merge.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_region.go
Labels: release-note, status/LGT2, status/can-merge

#3881 fix alert rules down-peer
  metrics/alertmanager/pd.rules.yml
Labels: release-note-none, status/LGT2, status/can-merge

#3889 moving average: MovingAvg supports GetInstantaneous
  pkg/movingaverage/exponential_moving_average.go
  pkg/movingaverage/hull_moving_average.go
  pkg/movingaverage/max_filter.go
  pkg/movingaverage/median_filter.go
  pkg/movingaverage/moving_average.go
  pkg/movingaverage/moving_average_test.go
  pkg/movingaverage/weight_moving_average.go
  server/statistics/store.go
Labels: component/statistics, release-note-none, status/LGT2, status/can-merge

#3888 *: make TestStoreLimitWithMerge more stable
  pkg/errs/errno.go
  server/api/region_test.go
  server/schedule/operator_controller_test.go
  server/schedule/region_scatterer.go
Labels: component/testing, release-note-none, status/LGT2, status/can-merge

#3898 *: make TestScatterGroupInConcurrency more stable
  server/schedule/region_scatterer_test.go
Labels: component/testing, release-note-none, status/LGT2, status/can-merge

#3876 *: use release-5.1 kvproto
  go.mod
  go.sum
Labels: backport-5.1.1, cherry-pick-approved, release-note-none, status/LGT2, status/can-merge

#3902 *: enlarge testing timeout
  Makefile
Labels: component/testing, release-note-none, status/LGT2, status/can-merge

#3897 schedule: `isRegionHealthy` only care pending peer and down peer
  server/schedule/opt/healthy.go
  server/schedule/opt/healthy_test.go
Labels: release-note-none, status/LGT2, status/can-merge

#3905 test: reorganize the TSO test and reduce the integration test time cost
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  Makefile
  server/tso/tso.go
  tests/server/tso/allocator_test.go
  tests/server/tso/common_test.go
  tests/server/tso/consistency_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/local_tso_test.go
  tests/server/tso/manager_test.go
  tests/server/tso/tso_test.go
Labels: component/testing, release-note-none, status/LGT2, status/can-merge

#3895 scheduler: add some log and metrics
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region.go
  server/schedulers/metrics.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/store.go
Labels: component/scheduler, release-note-none, status/LGT2, status/can-merge, type/refactor

#3870 scheduler: reduce GetStore in hot-region-scheduler
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
Labels: component/scheduler, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note, status/LGT2, status/can-merge, type/bug-fix

#3892 placement: return rules after clone
  pkg/typeutil/comparison.go
  server/api/cluster_test.go
  server/api/rule_test.go
  server/schedule/placement/rule.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
  server/server.go
Labels: needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, release-note, status/LGT2, status/can-merge, type/bug-fix

#3899 scheduler: support multi priorities api for hot-region-scheduler
  server/schedulers/hot_region_config.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: release-note-none, status/LGT2, status/can-merge

#3556 cherry pick #3451 to release-4.0
  pkg/typeutil/comparison.go
  server/cluster/coordinator.go
  server/schedule/filter/filters.go
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
  tests/pdctl/operator/operator_test.go
Labels: do-not-merge/cherry-pick-not-approved, do-not-merge/release-note-label-needed

#3808 region_syncer: reduce saveKV of client
  server/cluster/cluster.go
  server/core/region.go
  server/region_syncer/client.go
  server/region_syncer/server.go
Labels: component/cluster, release-note, status/LGT2, status/can-merge

#3913 scheduler: hot region api add store metrics
  server/schedulers/utils.go
  server/statistics/hot_regions_stat.go
Labels: release-note, status/LGT2, status/can-merge

#3819 cluster: calculate StoreWriteRate based on the stats of RegionHeartbeat
  server/api/hot_status.go
  server/cluster/cluster.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/statistics/kind.go
  server/statistics/store.go
  server/statistics/store_collection.go
  server/statistics/util.go
  tests/pdctl/hot/hot_test.go
Labels: release-note-none, status/LGT2, status/can-merge

#3920 scheduler: support priority for each dimension in hot scheduling
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: release-note, require-LGT1, status/LGT1, status/can-merge
