Repository tikv/pd, pull requests merged in 2022-02, with the labels that each got.

#4624 server/id: pre-alloc id gauge metrics
  server/id/id.go
  server/id/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#4611 pdctl: omit state which is meanless in StoreInfo
  tests/cluster.go
  tests/pdctl/helper.go
  tests/pdctl/label/label_test.go
  tests/pdctl/store/store_test.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: status/can-merge, status/LGT2, component/tools, release-note-none

#4625 server/api/*test: fix ci-lint caused by bodyclose
  server/api/pprof_test.go
  server/api/stats_test.go
  server/api/util_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4626 server/core/region.go: tiny refactor set_region
  server/core/region.go
  server/core/region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4636 client: do not return error when a ctx.Done signal arrives
  client/client.go
  errors.toml
  pkg/errs/errno.go
Labels: release-note, status/can-merge, status/LGT2, component/client

#4616 checker: update TTL according to SplitMergeInterval
  pkg/cache/ttl.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
Labels: status/can-merge, status/LGT2, component/checker, release-note-none

#4638 [DNM] tests: test the CI status check
  tests/client/client_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4639 Revert "[DNM] tests: test the CI status check"
  tests/client/client_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4619 api: fix invalid interface conversion
  pkg/typeutil/conversion.go
  pkg/typeutil/conversion_test.go
  server/api/operator.go
  server/api/region.go
  server/api/region_test.go
Labels: component/api, release-note, status/can-merge, status/LGT2

#4645 testing: remove TestClientWatchCloseReceiverExternally case
  tests/server/global_config/global_config_test.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#4631 server: add `/operators/records` API to list completed operators
  server/api/operator.go
  server/api/operator_test.go
  server/api/router.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/handler.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
  tests/pdctl/operator/operator_test.go
  tools/pd-ctl/pdctl/command/operator.go
Labels: release-note, status/can-merge, status/LGT2

#4644 operator: Skip failed operator to support batch operators in `AddWaitingOperator`
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4658 client: add the VS Code workspace file to handle the client module
  client/Makefile
  pd.code-workspace
Labels: status/can-merge, status/LGT1, component/client, require-LGT1, release-note-none

#4653 pdctl: fix the issue that duration fields of dr-autosync cannot be set
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: release-note, status/can-merge, status/LGT2, type/bug-fix, needs-cherry-pick-release-5.4, affects-5.4

#4662 workflows: fix the GitHub Actions workflows on release branches
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-function-test.yaml
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, release-note-none, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4

#4648 *: add comment to types that are exported by API
  pkg/metricutil/metricutil.go
  server/api/diagnose.go
  server/api/health.go
  server/api/region.go
  server/api/service_gc_safepoint.go
  server/api/status.go
  server/api/trend.go
  server/api/version.go
  server/cluster/cluster.go
  server/config/config.go
  server/core/store.go
  server/core/storelimit/store_limit_scenes.go
  server/schedule/labeler/rules.go
  server/schedule/operator/operator.go
  server/schedule/placement/rule.go
  server/statistics/store_hot_peers_infos.go
  server/storage/endpoint/gc_safe_point.go
  server/storage/hot_region_storage.go
Labels: status/can-merge, status/LGT2, release-note-none

#4488 scheduler: refactor hot region scheduler
  server/schedulers/grant_hot_region.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  server/statistics/collector.go
  server/statistics/store_hot_peers_infos.go
  server/statistics/store_load.go
Labels: status/can-merge, status/LGT2, component/scheduler, release-note-none

#4599 pkg, server: remove the component manager pkg
  pkg/component/manager.go
  pkg/component/manager_test.go
  server/api/component.go
  server/api/router.go
  server/cluster/cluster.go
  server/storage/endpoint/component.go
  server/storage/endpoint/key_path.go
  server/storage/storage.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, component/storage

#4671 metrics: support multi-k8s in grafana dashboards
  metrics/grafana/pd.json
Labels: release-note, status/can-merge, status/LGT2

#4677 workflows: add corresponding concurrency groups for the GitHub Actions CI workflows
  .github/workflows/assign-to-one-project.yaml
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-function-test.yaml
  README.md
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4678 api: remove deprecated HTTP APIs
  server/api/diagnose.go
  server/api/router.go
  server/api/utiletcdhttpapi.go
  server/server.go
Labels: component/api, status/can-merge, status/LGT2, release-note-none

#4609 api: HTTP audit using prometheus histogram metrics
  pkg/audit/audit.go
  pkg/audit/audit_test.go
  server/api/middleware.go
  server/api/router.go
  server/metrics.go
  server/server.go
  tests/server/api/api_test.go
Labels: release-note, status/can-merge, status/LGT2

#4680 api: add part of deprecated APIs back
  server/api/router.go
  server/server.go
Labels: component/api, status/can-merge, status/LGT1, require-LGT1, release-note-none
