Repository tikv/pd, pull requests merged in 2022-11, with the labels that each got.

#5655 merge_checker: use leader info to valid region
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5662 tools: accelerate prepare speed
  tools/pd-simulator/simulator/drive.go
Labels: status/can-merge, status/LGT2, release-note-none

#5664 schedule: fix bug for disbaled move leader
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5666 schedule: remove unused function
  server/schedule/placement/fit.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5668 tests: fix unstable test `pdctl/TestScheduler`
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5669 tests: fix unstable test `TestMinResolvedTS`
  server/api/min_resolved_ts_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5650 config: cache `ParseMbFrom` call to speed up region heartbeat
  server/config/store_config.go
  server/config/store_config_test.go
  server/schedule/checker/merge_checker_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5674 tools: support profiling simulator
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5663 schedule: Add leader filter for scatter
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#5640 schedulers: region fit once in one attemption.
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/filter/region_filters.go
  server/schedule/region_scatterer.go
  server/schedulers/balance_region.go
  server/schedulers/grant_hot_region.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
Labels: status/can-merge, status/LGT2, release-note-none

#5600 operator: the operator timeout duation depends on all the step not separated
  server/schedule/operator/create_operator.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/status_tracker.go
  server/schedule/operator/status_tracker_test.go
  server/schedule/operator/step.go
  server/schedule/operator_controller_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.1

#5614 scheduler: modify baseSchedulePlan to fit new balance region impl
  server/schedule/filter/filters.go
  server/schedulers/balance_plan.go
  server/schedulers/balance_plan_test.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5625 Supply AwakenRegions message in StoreHeartbeatResponse for TiKV cluster failure recovery.
  go.mod
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/store.go
  server/core/store_option.go
  server/grpc_service.go
Labels: release-note, status/can-merge, status/LGT2

#5639 schedulers: add witness transfer leader scheduler
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/core/region.go
  server/schedulers/transfer_witness_leader.go
  server/schedulers/transfer_witness_leader_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: release-note, status/can-merge, status/LGT2

#5681 Lower down the frequency of sending AwakenRegions.
  server/cluster/cluster_test.go
  server/core/store.go
Labels: status/can-merge, status/LGT2, release-note-none

#5693 cluster: eliminate some duplicated code in processRegionHeartbeat
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT1, component/cluster, require-LGT1, release-note-none

#5689 Polish the mechanism on updating `lastAwakenTime`
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  tests/pdctl/hot/hot_test.go
  tests/server/storage/hot_region_storage_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5696 api, ctl: support get the top CPU usage regions
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
  server/core/region.go
  server/core/region_option.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: component/api, status/can-merge, status/LGT2, release-note-none

#5695 Add curl command into docker image
  Dockerfile
Labels: release-note, status/can-merge, status/LGT2

#5694 mod: upgrade log module
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/client/go.mod
  tests/client/go.sum
  tools/pd-tso-bench/go.mod
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#5702 scheduler: fix the bug that balance-hot-region-scheduler does not store config when it starts
  server/cluster/coordinator_test.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5699 scheduler: keep rank-formula-version at v1 when upgrading from a lower version
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5670 tools: fix the inconsistency of available space
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/balance_region.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/diagnose_label_isolation.go
  tools/pd-simulator/simulator/cases/diagnose_rule.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/config.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
Labels: status/can-merge, status/LGT2, release-note-none

#5703 simulator: fix some logic bugs
  tools/pd-simulator/simulator/task.go
Labels: status/can-merge, status/LGT2, release-note-none

#5704 statistics: fix wrong is-learner
  server/statistics/hot_peer_cache.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5652 *: move update store to another place
  server/api/trend_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/metrics.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5688 tools: support using tiup playground to bench region heartbeat
  tools/pd-heartbeat-bench/config-template.toml
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#5715 *: make `TestMember` stable
  tests/pdctl/member/member_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5716 statistics: reduce unnecessary clone and init in hot cache
  pkg/movingaverage/avg_over_time.go
  pkg/movingaverage/queue.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5719 core: use map directly
  server/core/region.go
  server/core/region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5709 statistics: reduce unnecessary copy when collect hot metrics
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/store_hot_peers_infos.go
  server/statistics/store_load.go
Labels: status/can-merge, status/LGT2, release-note-none

#5723 *: make TestScheduler stable
  tests/client/client_test.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5708 scheduler: introduce base class of hot region scheduler
  server/schedulers/grant_hot_region.go
  server/schedulers/hot_region.go
  server/schedulers/shuffle_hot_region.go
Labels: status/can-merge, status/LGT2, type/refactor, component/scheduler, release-note-none

#5724 tests: make `TestExternalTS` stable
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5634 operator: split SwitchWitness from ChangePeer
  go.mod
  go.sum
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/create_operator_test.go
  server/schedule/operator/kind.go
  server/schedule/operator/step.go
  server/schedule/operator/step_test.go
  tests/client/go.mod
  tests/client/go.sum
Labels: release-note, status/can-merge, status/LGT2

#5727 tests: speed up test by reducing sleep time
  pkg/cache/cache_test.go
  pkg/mock/mockcluster/mockcluster.go
  server/core/region_option.go
  server/core/region_test.go
  server/statistics/hot_peer_cache_test.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/store/store_test.go
  tests/server/storage/hot_region_storage_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5729 statistics: remove `Kind` from hot peer stat
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/coordinator_test.go
  server/schedulers/hot_region.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/kind.go
Labels: status/can-merge, status/LGT2, release-note-none

#5726 server/cluster: automatic gc tombstone store
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: release-note, status/can-merge, status/LGT2

#5673 tools: use metrics to record statistics
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/metrics.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/statistics.go
  tools/pd-simulator/simulator/task.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5728 statistics: cached thresholds in hot peer cache
  server/schedulers/hot_region_test.go
  server/statistics/hot_cache.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5630 rule_checker: Add witness related rules
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/persist_options.go
  server/schedule/checker/checker_controller.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/cluster.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator_test.go
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedule/placement/fit.go
  server/schedule/placement/fit_region_test.go
  server/schedule/placement/fit_test.go
  server/schedule/placement/rule_manager.go
  server/versioninfo/feature.go
Labels: release-note, status/can-merge, status/LGT2

#5734 pkg: use another `Median`
  go.mod
  go.sum
  pkg/movingaverage/max_filter.go
  pkg/movingaverage/median_filter.go
  pkg/movingaverage/median_filter_test.go
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#5736 rule_checker: address witness pr commits
  server/config/config.go
  server/config/persist_options.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/placement/rule_manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#5721 statistics: remove unnecessary field and cached thresholds
  server/cluster/coordinator.go
  server/handler.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/hot_regions_stat.go
  server/statistics/store_hot_peers_infos.go
  server/statistics/store_load.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5740 *: upgrade go 1.19
  Dockerfile
  go.mod
  tests/client/go.mod
Labels: status/can-merge, status/LGT2, release-note-none

#4927 server/cluster/cluster.go: use atomic for running check instead of sharing lock with all attributes
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, release-note-none

#5608 pkg: support generic for btree
  pkg/btree/.travis.yml
  pkg/btree/LICENSE
  pkg/btree/README.md
  pkg/btree/btree_generic.go
  pkg/btree/btree_generic_test.go
  pkg/btree/btree_mem.go
  pkg/cache/priority_queue.go
  server/cluster/unsafe_recovery_controller.go
  server/core/rangetree/range_tree.go
  server/core/rangetree/range_tree_test.go
  server/core/region.go
  server/core/region_tree.go
  server/core/region_tree_test.go
  server/statistics/buckets/bucket_stat_informer.go
  server/statistics/buckets/hot_bucket_cache.go
Labels: status/can-merge, status/LGT2, release-note-none

#5731 storelimit: Extract interface for the store limit
  server/core/store.go
  server/core/store_option.go
  server/core/storelimit/limit.go
  server/core/storelimit/limit_test.go
  server/core/storelimit/store_limit.go
  server/schedule/operator_controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#5644 schedule: region fit replace does not make slice
  server/schedule/filter/filters.go
  server/schedule/placement/fit.go
  server/schedule/placement/fit_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5720 core: separate region lock
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator_test.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_test.go
  server/schedule/range_cluster.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region_test.go
  server/schedulers/scheduler_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none
