Repository tikv/pd, pull requests merged in 2022-01, with the labels that each got.

#4532 log: remove useless log
  cmd/pd-server/main.go
  go.mod
  pkg/logutil/log.go
  pkg/logutil/log_test.go
  server/api/region.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#4508 api: return more replication info
  server/api/region.go
  server/api/region_test.go
  server/cluster/coordinator.go
Labels: release-note, status/can-merge, status/LGT2

#4516 *: rename `SearchRegion` and `SearchPrevRegion`
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/basic_cluster.go
  server/core/region.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/raft.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4495 api: Support to get http client ip
  pkg/apiutil/apiutil.go
  server/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4527 *: remove `IsFeatureSupported` from `Cluster` interface
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/grpc_service.go
  server/schedule/checker/learner_checker_test.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator_test.go
  server/schedule/opt/opts.go
  server/schedule/region_scatterer_test.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region_config.go
  server/schedulers/hot_region_test.go
  server/schedulers/scheduler_test.go
  server/versioninfo/versioninfo.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4534 operator: remove empty JointConsensus steps and fix single voter demote bug
  server/schedule/operator/builder.go
  server/schedule/operator/builder_test.go
  server/schedule/operator/step.go
  server/schedule/operator/step_test.go
  server/schedule/operator_controller.go
Labels: release-note, status/can-merge, status/LGT2

#4484 statistics: reorder the functions and clean up
  server/cluster/cluster.go
  server/statistics/hot_cache.go
  server/statistics/hot_cache_task.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none

#4550 client: fix the bug that TSO revoking may get stuck while closing the client
  client/client.go
  tests/client/client_test.go
Labels: release-note, status/can-merge, status/LGT2, component/client, component/tso, needs-cherry-pick-release-5.4

#4554 Update tidb-dashboard to v2022.01.07.1
  go.mod
  go.sum
Labels: release-note, status/can-merge, status/LGT1, component/visualization, require-LGT1, needs-cherry-pick-release-5.4

#4401 schedulers: evict leader support multiple targets
  go.mod
  go.sum
  pkg/testutil/operator_check.go
  plugin/scheduler_example/evict_leader.go
  server/cluster/coordinator_test.go
  server/handler.go
  server/schedule/checker/rule_checker.go
  server/schedule/filter/candidates.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/create_operator_test.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedulers/balance_leader.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_hot_region.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  server/schedulers/label.go
  server/schedulers/scheduler_test.go
  server/schedulers/shuffle_leader.go
Labels: release-note, status/can-merge, status/LGT2

#4556 api: remove unnecessary header
  pkg/apiutil/serverapi/middleware.go
  tests/server/api/api_test.go
Labels: component/api, status/can-merge, status/LGT2, release-note-none

#4512 statistic: replace old inherit with adopt in hot statistic
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/kind.go
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none

#4499 statistics: add more test for hot statistics
  server/statistics/hot_peer_cache_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4557 Update TiDB Dashboard to v2022.01.10.1
  go.mod
  go.sum
Labels: release-note, status/can-merge, status/LGT1, component/visualization, require-LGT1, needs-cherry-pick-release-5.4

#4539 config:fix bug hot region configuration cant be change unless we do a reboot
  server/config/config.go
  server/config/config_test.go
  server/config/persist_options.go
  server/core/hot_region_storage.go
  server/core/hot_region_storage_test.go
  server/handler.go
  server/server.go
  tests/server/core/hot_region_storage_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-5.4

#4559 checker: enhance the observability for no-target metrics
  server/schedule/checker/merge_checker.go
Labels: component/metrics, status/can-merge, status/LGT2, release-note-none

#4563 operator: sort multi target leader transfer store ids
  server/schedule/operator/builder.go
Labels: status/can-merge, status/LGT2, release-note-none

#4566 Update dashboard to v2022.01.12.1
  go.mod
  go.sum
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-5.4

#4564 schedule: prevent removing voters directly in 2 replica raft group
  server/schedule/operator/builder.go
  server/schedule/operator/builder_test.go
Labels: component/schedule, release-note, status/can-merge, status/LGT2

#4535 *: remove opt package totally
  pkg/mock/mockcluster/mockcluster.go
  plugin/scheduler_example/evict_leader.go
  server/cluster/cluster.go
  server/cluster/coordinator_test.go
  server/cluster/unsafe_recovery_controller.go
  server/replication/replication_mode.go
  server/schedule/checker/checker_controller.go
  server/schedule/checker/joint_state_checker.go
  server/schedule/checker/learner_checker.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/priority_inspector.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/replica_strategy.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/split_checker.go
  server/schedule/cluster.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/healthy.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
  server/schedule/range_cluster.go
  server/schedule/region_scatterer.go
  server/schedule/region_splitter.go
  server/schedule/scheduler.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/base_scheduler.go
  server/schedulers/evict_leader.go
  server/schedulers/evict_slow_store.go
  server/schedulers/grant_hot_region.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_config.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4574 build: reorg Makefile
  Makefile
  plugin/scheduler_example/Makefile
Labels: status/can-merge, status/LGT2, release-note-none

#4570 region_scatterer: fix the bug that could generate schedule with too few peers
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: component/schedule, release-note, status/can-merge, status/LGT2, type/bug-fix

#4586 region_scatterer: fix incorrect test
  server/schedule/region_scatterer_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, needs-cherry-pick-release-5.4

#4590 *: move kv pkg into server/storage
  server/api/hot_status_test.go
  server/core/hot_region_storage.go
  server/election/leadership.go
  server/grpc_service.go
  server/id/id.go
  server/member/member.go
  server/region_syncer/history_buffer.go
  server/region_syncer/history_buffer_test.go
  server/region_syncer/server.go
  server/server.go
  server/storage/endpoint/endpoint.go
  server/storage/etcd_backend.go
  server/storage/kv/etcd_kv.go
  server/storage/kv/kv.go
  server/storage/kv/kv_test.go
  server/storage/kv/levedb_kv.go
  server/storage/kv/mem_kv.go
  server/storage/kv/metrics.go
  server/storage/leveldb_backend.go
  server/storage/memory_backend.go
  server/storage/storage.go
  server/storage/storage_test.go
  server/tso/allocator_manager.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, component/storage

#4585 api: mark diagnose API as deprecated
  server/api/component_test.go
  server/api/diagnose.go
  server/api/diagnose_test.go
  server/api/router.go
  server/api/server_test.go
Labels: component/api, status/can-merge, status/LGT2, release-note-none

#4582 *: clean up some lint comments
  pkg/cache/lru.go
  pkg/cache/two_queue.go
  pkg/testutil/operator_check.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/schedule/filter/filters.go
  server/schedule/operator/operator_test.go
  server/statistics/topn_test.go
  tests/dashboard/service_test.go
  tests/server/tso/common_test.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4592 Update TiDB Dashboard to v2022.01.17.1 ref #4257
  go.mod
  go.sum
Labels: release-note, status/can-merge, status/LGT1, component/visualization, require-LGT1

#4458 scheduler: add approximateSize property to operator struct
  server/cluster/coordinator_test.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller_test.go
  server/schedule/waiting_operator_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4589 storage: refine some code and comments of the storage pkg
  server/api/service_gc_safepoint_test.go
  server/grpc_service.go
  server/region_syncer/server.go
  server/schedule/labeler/labeler_test.go
  server/schedule/placement/rule_manager_test.go
  server/schedulers/hot_region_test.go
  server/statistics/region_collection_test.go
  server/storage/etcd_backend.go
  server/storage/leveldb_backend.go
  server/storage/memory_backend.go
  server/storage/storage.go
  server/storage/storage_test.go
Labels: status/can-merge, status/LGT2, release-note-none, component/storage

#4595 *: unify the root key path joining
  Makefile
  server/cluster/cluster.go
  server/server.go
  server/storage/endpoint/key_path.go
  server/util.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none, component/storage

#4572 tools: support changing instance log level
  tests/pdctl/log/log_test.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/log_command.go
Labels: status/can-merge, status/LGT2, component/tools, release-note-none

#4600 *: move hot_region_storage into server/storage
  server/api/hot_status.go
  server/api/hot_status_test.go
  server/handler.go
  server/server.go
  server/storage/hot_region_storage.go
  server/storage/hot_region_storage_test.go
  server/storage/kv/kv_test.go
  server/storage/kv/levedb_kv.go
  server/storage/leveldb_backend.go
  server/storage/storage.go
  tests/pdctl/hot/hot_test.go
  tests/server/storage/hot_region_storage_test.go
  tools/pd-ctl/pdctl/command/hot_command.go
Labels: status/can-merge, status/LGT2, release-note-none, component/storage

#4594 *: move prepare checker to coordinator
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/cluster/prepare_checker.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4604 cluster: remove useless `traceRegionFlow`
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4424 statistics: fix the hot region API cannot work without hot scheduler
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/core/basic_cluster.go
  server/schedulers/grant_hot_region.go
  server/schedulers/hot_region.go
  server/schedulers/metrics.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/utils.go
  server/statistics/collector.go
  server/statistics/metrics.go
  server/statistics/store_hot_peers_infos.go
  server/statistics/store_load.go
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none

#4605 metrics: rename `Operator limit`
  metrics/grafana/pd.json
Labels: component/metrics, status/can-merge, status/LGT2, release-note-none

#4526 api: Add Request Info Middleware
  pkg/apiutil/apiutil.go
  pkg/requestutil/context.go
  pkg/requestutil/context_test.go
  pkg/requestutil/request_info.go
  server/api/admin.go
  server/api/admin_test.go
  server/api/middleware.go
  server/api/router.go
  server/config/config.go
  server/server.go
  tests/server/api/api_test.go
Labels: component/api, release-note, status/can-merge, status/LGT2

#4613 *: simplify WaitUntil usage
  client/option_test.go
  pkg/mock/mockhbstream/mockhbstream_test.go
  pkg/testutil/testutil.go
  server/api/server_test.go
  server/api/tso_test.go
  server/cluster/coordinator_test.go
  server/server_test.go
  tests/client/client_test.go
  tests/cluster.go
  tests/pdctl/member/member_test.go
  tests/server/api/api_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/server_test.go
  tests/server/tso/allocator_test.go
  tests/server/tso/consistency_test.go
  tests/server/tso/manager_test.go
  tests/server/watch/leader_watch_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4621 doc: update CONTRIBUTING.md and pr template
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: release-note, status/can-merge, status/LGT1, require-LGT1
