Repository tikv/pd, pull requests merged in 2022-03, with the labels that each got.

#4649 server/schedule/labeler: support schedule-disabled for region
  server/cluster/coordinator_test.go
  server/schedule/checker/checker_controller.go
  server/schedule/checker/joint_state_checker.go
  server/schedule/labeler/labeler.go
  server/schedule/labeler/rules.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: release-note, status/can-merge, status/LGT2

#4548 server: operator's timeout depends on steps
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/status_tracker.go
  server/schedule/operator/status_tracker_test.go
  server/schedule/operator/step.go
Labels: status/can-merge, status/LGT2, release-note-none

#4689 server/scheduler/labeler: tiny refactor
  server/schedule/labeler/labeler.go
  server/schedule/labeler/labeler_test.go
  server/schedule/labeler/rules.go
Labels: status/can-merge, status/LGT2, release-note-none

#4692 server/tso: remove useless metrics
  server/tso/tso.go
Labels: status/can-merge, status/LGT2, release-note-none

#4674 api: set scanregions with endkey default limit as 16
  server/api/region.go
Labels: status/can-merge, status/LGT2, release-note-none

#4523 dr-ausosync: add new intermediate state
  go.mod
  go.sum
  server/grpc_service.go
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#4691 operator: finished operator check timeout will be ok
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4687 *: add node state field
  client/client.go
  client/go.mod
  client/go.sum
  errors.toml
  go.mod
  go.sum
  pkg/autoscaling/calculation.go
  pkg/errs/errno.go
  server/api/admin_test.go
  server/api/checker_test.go
  server/api/label_test.go
  server/api/operator_test.go
  server/api/region_test.go
  server/api/scheduler_test.go
  server/api/server_test.go
  server/api/service_gc_safepoint_test.go
  server/api/store.go
  server/api/store_test.go
  server/api/trend_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/prepare_checker.go
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
  server/core/store.go
  server/core/store_option.go
  server/grpc_service.go
  server/handler.go
  server/replication/replication_mode.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/replica_checker_test.go
  server/schedule/checker/rule_checker.go
  server/schedule/filter/filters.go
  server/schedule/operator/builder.go
  server/schedule/placement/region_rule_cache.go
  server/schedulers/evict_slow_store.go
  server/server.go
  server/statistics/region_collection.go
  server/statistics/store.go
  server/statistics/store_collection.go
  server/statistics/store_collection_test.go
  tests/client/client_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/compatibility/version_upgrade_test.go
  tests/pdctl/helper.go
  tests/pdctl/store/store_test.go
  tools/pd-ctl/pdctl/command/store_command.go
  tools/pd-simulator/simulator/conn.go
  tools/pd-simulator/simulator/node.go
Labels: status/can-merge, status/LGT2, release-note-none

#4702 *: add make tools in github action
  .github/workflows/check.yaml
  Makefile
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, component/build, release-note-none

#4700 placement: change ValidateStores condition
  server/schedule/placement/region_rule_cache.go
  server/schedule/placement/region_rule_cache_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4693 *: Replace juju ratelimit
  go.mod
  go.sum
  pkg/ratelimit/ratelimiter.go
  pkg/ratelimit/ratelimiter_test.go
  server/core/store.go
  server/core/storelimit/store_limit.go
  server/region_syncer/server.go
  server/schedule/operator_controller.go
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#4705 Periodically instead of limitlessly request for store report.
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4699 client: support getting region with buckets
  client/client.go
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/client/go.mod
  tests/client/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#4709 server: add evict leader logic for damaged regions when handling store heartbeat
  pkg/apiutil/apiutil.go
  server/api/scheduler.go
  server/api/util.go
  server/grpc_service.go
  server/handler.go
  tests/server/cluster/cluster_test.go
  tools.go
Labels: release-note, status/can-merge, status/LGT2

#4711 server/core: add more benchmarks for region tree
  server/core/region_tree_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4715 *: update the VS Code workspace file to handle other module
  pd.code-workspace
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4722 ci: upgrade go version to 1.18 in github action
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4683 api: Refactor service label and Traverse routes to get it
  pkg/apiutil/apiutil.go
  server/api/admin.go
  server/api/checker.go
  server/api/cluster.go
  server/api/config.go
  server/api/health.go
  server/api/label.go
  server/api/log.go
  server/api/member.go
  server/api/metric.go
  server/api/operator.go
  server/api/pprof.go
  server/api/region.go
  server/api/region_label.go
  server/api/replication_mode.go
  server/api/router.go
  server/api/rule.go
  server/api/scheduler.go
  server/api/server_test.go
  server/api/service_gc_safepoint.go
  server/api/stats.go
  server/api/status.go
  server/api/store.go
  server/api/trend.go
  server/api/version.go
  server/server.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4652 scheduler: allow `balance-leader-scheduler` generate multiple operators
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/schedule/operator_controller.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
  server/schedulers/scheduler_test.go
Labels: release-note, status/can-merge, status/LGT2

#4725 storage: reformat load function to reduce code
  server/storage/endpoint/config.go
  server/storage/endpoint/gc_safe_point.go
  server/storage/endpoint/meta.go
  server/storage/endpoint/replication_status.go
  server/storage/endpoint/util.go
Labels: status/can-merge, status/LGT2, release-note-none

#4655 api, scheduler: add `balance-leader` config handler
  server/api/scheduler_test.go
  server/schedulers/balance_leader.go
  server/schedulers/hot_region_config.go
  server/schedulers/utils.go
Labels: release-note, status/can-merge, status/LGT2

#4734 return error for unimplemented ReportBuckets rpc
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, release-note-none

#4656 pdctl: support config `balance-leader`
  server/api/scheduler_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: release-note, status/can-merge, status/LGT2

#4740 Update TiDB Dashboard to v2022.03.16.1 ref #4257
  go.mod
  go.sum
  tests/client/go.sum
Labels: release-note, status/can-merge, status/LGT1, component/visualization, require-LGT1

#4716 dr-ausosync: report min resolved ts
  go.mod
  go.sum
  server/api/config_test.go
  server/api/min_resolved_ts.go
  server/api/min_resolved_ts_test.go
  server/api/router.go
  server/api/service_gc_safepoint_test.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/persist_options.go
  server/core/store.go
  server/core/store_option.go
  server/grpc_service.go
  server/storage/endpoint/key_path.go
  server/storage/endpoint/min_resolved_ts.go
  server/storage/storage.go
  tests/client/go.mod
  tests/client/go.sum
  tests/pdctl/config/config_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/pdctl/command/min_resolved_ts.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-tso-bench/go.sum
Labels: release-note, status/can-merge, status/LGT2

#4736 server: add persist file log
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#4738 dr-autosync: do not switch to async when there is not enough peers
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
Labels: status/can-merge, status/LGT2, type/bug-fix, release-note-none

#4742 scheduler: Add lock for balance leader config
  server/schedulers/balance_leader.go
Labels: status/can-merge, status/LGT2, release-note-none

#4747 scheduler: adjust `Batch` size when created by `ConfigJSONDecoder`
  server/cluster/coordinator_test.go
  server/schedulers/balance_leader.go
Labels: status/can-merge, status/LGT2, release-note-none

#4744 dr-ausosync: ensure cluster min resolved ts increase
  server/api/min_resolved_ts.go
  server/api/min_resolved_ts_test.go
  server/api/router.go
  server/cluster/cluster.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4754 config: fix the default value of log.format
  server/config/config.go
  server/config/config_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, needs-cherry-pick-release-6.0

#4756 ci: add GitHub Actions workflows for release-6.x
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
Labels: status/can-merge, status/LGT1, require-LGT1, type/ci, release-note-none

#4501 api: Implement QPS rate limit
  go.sum
  pkg/ratelimit/concurrency_limiter.go
  pkg/ratelimit/concurrency_limiter_test.go
  pkg/ratelimit/limiter.go
  pkg/ratelimit/limiter_test.go
  pkg/ratelimit/option.go
Labels: release-note, status/can-merge, status/LGT2

#4706 server: get tikv config by status api
  pkg/mock/mockcluster/mockcluster.go
  pkg/typeutil/size.go
  pkg/typeutil/size_test.go
  server/cluster/cluster.go
  server/config/store_config.go
  server/config/store_config_test.go
  server/grpc_service.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/merge_checker_test.go
  server/schedule/operator/builder.go
  server/server.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4735 api: introduce API v2 framework
  Makefile
  cmd/pd-server/main.go
  errors.toml
  go.mod
  pkg/apiutil/serverapi/middleware.go
  pkg/errs/errno.go
  pkg/etcdutil/etcdutil.go
  pkg/slice/slice.go
  pkg/slice/slice_test.go
  server/api/member.go
  server/apiv2/middlewares/bootstrap_checker.go
  server/apiv2/middlewares/redirector.go
  server/apiv2/router.go
  server/cluster/cluster_stat.go
  server/member/member.go
  server/server.go
  tests/cluster.go
Labels: component/api, status/can-merge, status/LGT2, release-note-none

#4766 server: use old interface for scatter region
  server/grpc_service.go
  tests/client/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.0

#4695 server/schedule/labeler: support ttl for region label
  pkg/mock/mockcluster/mockcluster.go
  server/api/region_label_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/schedule/labeler/labeler.go
  server/schedule/labeler/labeler_test.go
  server/schedule/labeler/rule_test.go
  server/schedule/labeler/rules.go
Labels: release-note, status/can-merge, status/LGT2

#4765 mod: upgrade some dependencies with security concerns
  go.mod
  go.sum
  tests/client/go.sum
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4676 server: small refactor for grpc-server
  server/grpc_service.go
  tests/server/global_config/global_config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4773 *: update kvproto and gogo/protobuf
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/client/go.mod
  tests/client/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none
