Repository tikv/pd, pull requests merged in 2022-05, with the labels that each got.

#4881 Fix data race, ref #4857
  server/cluster/cluster.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4888 *: fix the progress indicator monitor
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, release-note-none

#4885 tso: fix the corner case that may cause TSO fallback
  server/server.go
  server/tso/tso.go
  tests/client/client_test.go
Labels: release-note, status/can-merge, status/LGT2, component/tso, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#4100 tools: add cancel-delete store command for pd-ctl
  server/api/store.go
  server/cluster/cluster.go
  tests/pdctl/store/store_test.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: status/can-merge, status/LGT2, component/tools, release-note-none

#4896 server/scheduler/labeler: delete region rule instead of delete placement rule when region rule expired
  server/schedule/labeler/labeler.go
Labels: status/can-merge, status/LGT2, release-note-none

#4899 *: fix some typos
  server/grpc_service.go
  server/schedulers/grant_hot_region.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4900 metrics: hide unnecessary metrics
  metrics/grafana/pd.json
Labels: component/metrics, status/can-merge, status/LGT2, release-note-none, affects-5.3, affects-5.4, affects-6.0

#4834 config: sync tikv config in interval.
  pkg/mock/mockcluster/mockcluster.go
  pkg/netutil/address.go
  pkg/netutil/address_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/store_config.go
  server/config/store_config_test.go
  server/core/store.go
  server/grpc_service.go
  server/schedule/checker/merge_checker_test.go
  server/server.go
  server/statistics/region_collection.go
  server/statistics/store_collection.go
  server/statistics/store_collection_test.go
  tests/client/client_tls_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4907 test: fix data race in store limit test
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4864 dashboard/adapter/manager.go:reduce the complex to O(n) from O(nlogn) for setNewAddr
  pkg/dashboard/adapter/manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#4779 schedule: avoid that the smallest region of the spliting regions can be merged again.
  errors.toml
  pkg/errs/errno.go
  server/config/store_config.go
  server/config/store_config_test.go
  server/schedule/checker/merge_checker.go
Labels: release-note, status/can-merge, status/LGT2

#4919 api: change the status code when there is no such progress
  server/api/store.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4807 dr-autosync: add config to allow pausing region split
  go.mod
  go.sum
  server/cluster/cluster_worker.go
  server/config/config.go
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#4938 server/grpc_service: create scatter_region operator with OpAdmin
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, release-note-none

#4936 metrics: add operator region size metric
  metrics/grafana/pd.json
  server/schedule/metrics.go
  server/schedule/operator_controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#4945 *: Fix linter after Go 1.18 upgrade
  .github/workflows/check.yaml
  Makefile
  go.mod
  pkg/autoscaling/prometheus.go
  tests/client/client_test.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: status/can-merge, status/LGT2, release-note-none

#4902 store: add some function for store state to decrease the same code.
  pkg/autoscaling/calculation.go
  pkg/mock/mockcluster/mockcluster.go
  server/api/hot_status.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/unsafe_recovery_controller.go
  server/core/store.go
  server/schedule/checker/replica_checker.go
  server/server.go
  server/statistics/store_load.go
Labels: status/can-merge, status/LGT2, release-note-none

#4898 server/scheduler/region-label: adjust test for GetLabelRule
  server/schedule/labeler/labeler_test.go
  server/schedule/labeler/rules.go
Labels: status/can-merge, status/LGT2, release-note-none

#4930 * : return error if get progress status failed
  errors.toml
  pkg/errs/errno.go
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  server/api/store.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/region.go
  server/handler.go
  server/schedulers/balance_region.go
Labels: status/can-merge, status/LGT2, release-note-none

#4942 cluster: reset stores cache before loading cluster info
  server/cluster/cluster.go
  server/core/basic_cluster.go
  tests/server/cluster/cluster_test.go
Labels: release-note, status/can-merge, status/LGT2, component/cluster, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4

#4951 statistics: make aot more stable
  server/cluster/cluster.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/util.go
  tests/pdctl/hot/hot_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4929 cluster: Lower sync config log level
  server/cluster/cluster.go
  server/cluster/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#4950 scheduler: refactor calcProgressiveRank in hot-scheduler
  server/schedulers/hot_region.go
  server/schedulers/hot_region_config.go
Labels: status/can-merge, status/LGT2, release-note-none

#4963 pkg: make speed estimation more accurate
  metrics/grafana/pd.json
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/metrics.go
  tests/pdctl/config/config_test.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4875 *: fix scheduling can not immediately start after transfer leader
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/cluster/prepare_checker.go
  server/cluster/unsafe_recovery_controller_test.go
  server/core/region.go
  server/core/region_option.go
  server/grpc_service.go
  server/region_syncer/client.go
  tests/server/region_syncer/region_syncer_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#4964 *: replace pingcap/errors
  metrics/grafana/pd.json
  server/schedule/checker/rule_checker.go
Labels: status/can-merge, status/LGT2, release-note-none

#4869 config, api: Add Service Config
  server/api/config_test.go
  server/api/middleware.go
  server/api/min_resolved_ts.go
  server/api/router.go
  server/api/service_gc_safepoint.go
  server/api/service_middleware.go
  server/api/service_middleware_test.go
  server/config/config.go
  server/config/persist_options.go
  server/config/service_middleware_config.go
  server/config/service_middleware_persist_options.go
  server/server.go
  server/storage/endpoint/key_path.go
  server/storage/endpoint/service_middleware.go
  server/storage/storage.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4952 scheduler: refactor solve in hot-region-scheduler
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4962 scheduler: redesigned `progressiveRank` of the hot-region-scheduler
  server/schedulers/hot_region.go
Labels: status/can-merge, status/LGT2, release-note-none

#4978 server/grpc_service: create scatter_region operator with OpAdmin for old method
  server/grpc_service.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4704 unsafe recover: multiple stage recovery plan generation
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  server/api/operator_test.go
  server/api/router.go
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/cluster/coordinator.go
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
  server/core/basic_cluster.go
  server/grpc_service.go
  tests/client/go.mod
  tests/client/go.sum
  tests/pdctl/unsafe/unsafe_operation_test.go
  tools/pd-ctl/pdctl/command/unsafe_command.go
  tools/pd-tso-bench/go.sum
Labels: release-note, status/can-merge, status/LGT2

#4980 config: adjust the default value of `max-store-preparing-time`
  server/cluster/cluster.go
  server/config/config.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4947 schedule: add more information for split operator
  server/schedule/operator/create_operator.go
  server/schedule/operator_controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#4948 scheduler: add new scheduler for hot bucket split.
  pkg/mock/mockcluster/mockcluster.go
  server/api/scheduler.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/config_test.go
  server/config/persist_options.go
  server/handler.go
  server/schedule/cluster.go
  server/schedulers/hot_region.go
  server/schedulers/split_bucket.go
  server/schedulers/split_bucket_test.go
  server/statistics/buckets/bucket_stat_informer.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, release-note-none

#4989 *: fix the prepare checker data race
  server/cluster/prepare_checker.go
Labels: status/can-merge, status/LGT2, release-note-none

#4727 statistics: pd can calculate the hot degree of the buckets.
  pkg/keyutil/util.go
  pkg/rangetree/range_tree.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/statistics/buckets/bucket_stat_informer.go
  server/statistics/buckets/hot_bucket_cache.go
  server/statistics/buckets/hot_bucket_cache_test.go
  server/statistics/buckets/hot_bucket_task.go
  tests/client/client_test.go
Labels: release-note, status/can-merge, status/LGT2

#4992 server: implement for BucketStatInformer
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/metrics.go
  server/statistics/buckets/bucket_stat_informer.go
  server/statistics/buckets/hot_bucket_cache.go
  server/statistics/buckets/hot_bucket_task.go
  server/statistics/buckets/hot_bucket_task_test.go
  server/statistics/buckets/metric.go
Labels: status/can-merge, status/LGT2, release-note-none

#4988 schedule: If it is promoting operator, don't check waiting queue count
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, release-note-none, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#4996 Fix data race,ref #4857
  server/cluster/unsafe_recovery_controller_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4934 Makefile: disable swagger server
  Makefile
  client/Makefile
  go.mod
  go.sum
  pkg/swaggerserver/empty_handler.go
  tests/client/Makefile
  tests/client/go.sum
Labels: release-note, status/can-merge, status/LGT1, require-LGT1

#4961 replication: add acid_consistant flag in HTTP response
  server/replication/replication_mode.go
Labels: status/can-merge, status/LGT2, release-note-none

#5009 config: Enlarge max request bytes
  server/config/config.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.1

#5022 cluster: add the RLock back
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.1

#5027 api: return an error when remove-tombstone failed
  server/cluster/cluster.go
  tests/pdctl/store/store_test.go
Labels: release-note, status/can-merge, status/LGT2

#5017 pd-ctl: add subcommand for region topkeys
  server/api/region.go
  server/api/router.go
  server/statistics/store_collection.go
  tests/pdctl/region/region_test.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: status/can-merge, status/LGT2, release-note-none

#5029 cluster: calculate speed until cluster is prepared
  server/cluster/cluster.go
  server/cluster/coordinator.go
  tests/server/api/api_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.1

#5004 scheduler: fix the hot scheduler panic due to region with no leader
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
Labels: release-note, status/can-merge, status/LGT2, cherry-pick-approved, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#5036 pkg/ratelimit/ratelimiter: reduce the usage of CPU in Available
  pkg/ratelimit/ratelimiter.go
Labels: status/can-merge, status/LGT2, release-note-none

#5043 config: add split-bucket to default schedulers
  server/cluster/coordinator_test.go
  server/config/config.go
  server/config/config_test.go
  server/config/store_config.go
  server/schedulers/split_bucket.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, needs-cherry-pick-release-6.1

#4937 storage: Add APIs for RawKV GC
  server/storage/endpoint/gc_key_space.go
  server/storage/endpoint/key_path.go
  server/storage/storage.go
  server/storage/storage_gc_test.go
Labels: release-note, status/can-merge, status/LGT2

#5038 cluster: calculate offline speed until cluster is prepared
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/server/api/api_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.1

#5010 checker: only temp state should be added in waiting list
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/replica_strategy.go
  server/schedule/checker/rule_checker.go
  server/schedule/filter/candidates.go
Labels: status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, release-note-none, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#5052 schedulers: return false if region bucket disable
  server/cluster/unsafe_recovery_controller_test.go
  server/schedulers/split_bucket.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.1

#5045 unsafe recovery: Tombstone tiflash learners which have the latest log
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.1

#5013 cluster: pd support the configuration of bucket switch
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/store_config.go
  server/core/region.go
  server/core/region_option.go
  server/core/region_test.go
  server/grpc_service.go
  server/schedulers/split_bucket.go
  tests/client/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5061 apiutil, audit, autoscaling, cache: testify the tests
  go.mod
  pkg/apiutil/apiutil_test.go
  pkg/audit/audit_test.go
  pkg/autoscaling/calculation_test.go
  pkg/autoscaling/prometheus_test.go
  pkg/cache/cache_test.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#5066 codec, encryption, errs: testify the tests
  pkg/codec/codec_test.go
  pkg/encryption/config_test.go
  pkg/encryption/crypter_test.go
  pkg/encryption/master_key_test.go
  pkg/encryption/region_crypter_test.go
  pkg/errs/errs_test.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#5067 assertutil, etcdutil, grpcutil, keyutil, logutil, metricutil: testify the tests
  pkg/assertutil/assertutil_test.go
  pkg/etcdutil/etcdutil_test.go
  pkg/grpcutil/grpcutil_test.go
  pkg/keyutil/util_test.go
  pkg/logutil/log_test.go
  pkg/metricutil/metricutil_test.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#5079 workflow: change timeout-minutes of `statics` to 8
  .github/workflows/check.yaml
Labels: status/can-merge, status/LGT2, release-note-none

#4839 *: Add Limiter Config
  pkg/ratelimit/limiter.go
  pkg/ratelimit/limiter_test.go
  pkg/ratelimit/option.go
Labels: status/can-merge, status/LGT2, release-note-none
