Repository tikv/pd, pull requests merged in 2022-12, with the labels that each got.

#5700 scheduler: reduce memory used in median filter
  pkg/movingaverage/median_filter.go
Labels: status/can-merge, status/LGT2, release-note-none

#5748 rule_checker: prohibit tiflash from being a witness
  go.mod
  server/schedule/checker/rule_checker.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5751 balance leader filter witness
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5653 core: reorder the check
  server/core/region.go
  server/core/region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5754 Fix unsafe recovery auto detect mode
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.5

#5758 *: fix `AtomicCheckAndPutRegion` deadlock
  server/cluster/cluster.go
  server/core/region.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5

#5749 statistics: remove lastAverage in dimStat
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
Labels: status/can-merge, status/LGT2, release-note-none

#5752 statistics: move lock to dimStat from SafeQueue
  pkg/movingaverage/avg_over_time.go
  pkg/movingaverage/queue.go
  pkg/movingaverage/queue_test.go
  server/statistics/hot_peer.go
Labels: status/can-merge, status/LGT2, release-note-none

#5760 statistics: reduce the call times of `DefaultAntiCount`
  server/statistics/hot_peer_cache.go
Labels: status/can-merge, status/LGT2, release-note-none

#5615 *: reduce get overlap operations
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/core/region_tree_test.go
  server/region_syncer/client.go
  server/schedule/range_cluster.go
  server/schedulers/balance_test.go
  server/schedulers/scheduler_test.go
  server/storage/storage_test.go
  tools/pd-simulator/simulator/raft.go
Labels: status/can-merge, status/LGT2, release-note-none

#5768 *: fix lock in `CheckAndPutRegion`
  server/core/region.go
Labels: status/can-merge, status/LGT2, release-note-none

#5770 tools: fix the key range
  tools/pd-heartbeat-bench/config-template.toml
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#5774 config: fix json tag
  server/config/store_config.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5773 *: move kv to pkg
  pkg/election/leadership.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
  pkg/storage/kv/levedb_kv.go
  pkg/storage/kv/mem_kv.go
  pkg/storage/kv/metrics.go
  server/api/hot_status_test.go
  server/gc/safepoint_test.go
  server/grpc_service.go
  server/id/id.go
  server/keyspace/keyspace_test.go
  server/member/member.go
  server/region_syncer/history_buffer.go
  server/region_syncer/history_buffer_test.go
  server/region_syncer/server.go
  server/server.go
  server/storage/endpoint/endpoint.go
  server/storage/etcd_backend.go
  server/storage/hot_region_storage.go
  server/storage/leveldb_backend.go
  server/storage/memory_backend.go
  server/storage/storage.go
  server/storage/storage_test.go
  server/tso/allocator_manager.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5772 *: move encryptionkm to pkg
  pkg/encryption/key_manager.go
  pkg/encryption/key_manager_test.go
  server/encryptionkm/key_manager.go
  server/server.go
  server/storage/endpoint/endpoint.go
  server/storage/hot_region_storage.go
  server/storage/leveldb_backend.go
  server/storage/storage.go
Labels: status/can-merge, status/LGT2, release-note-none

#5771 config: remove config dependency for tso
  server/config/config.go
  server/config/config_test.go
  server/tso/allocator_manager.go
  server/tso/config.go
Labels: status/can-merge, status/LGT2, release-note-none

#5778 *: move member to pkg
  pkg/member/member.go
  server/server.go
  server/tso/allocator_manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#5779 *: Introduce the service registry
  pkg/autoscaling/service.go
  pkg/dashboard/dashboard.go
  pkg/dashboard/without_dashboard.go
  pkg/msc/docs.go
  pkg/msc/registry/registry.go
  pkg/swaggerserver/swaggerserver.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/server.go
  server/apiv2/router.go
  server/server.go
  server/server_test.go
  server/util.go
  tests/pdctl/global_test.go
  tests/registry/registry_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5765 scheduler: cache statistics to avoid frequent copy
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5746 tools: support more update flow in pd-heartbeat-bench
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#5789 operator: When replacing-down-peer, it should not stop at the step of leave-joint-state
  server/schedule/operator/step.go
  server/schedule/operator/step_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.5

#5793 *: make TestScheduler stable
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5785 resource_manager: basic implement about manage resource group
  cmd/pd-server/main.go
  go.mod
  go.sum
  pkg/mcs/docs.go
  pkg/mcs/registry/registry.go
  pkg/mcs/resource_manager/server/apis/v1/api.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/install/install.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/metrics.go
  pkg/mcs/resource_manager/server/token_bukets.go
  pkg/mcs/resource_manager/server/types.go
  pkg/mcs/resource_manager/server/types_test.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/resource_group.go
  server/server.go
  server/storage/storage.go
  tests/client/go.mod
  tests/client/go.sum
  tests/msc/resource_manager/resource_manager_test.go
  tests/registry/registry_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5798 movingaverage: reduce memory consume
  pkg/mock/mockcluster/mockcluster.go
  pkg/movingaverage/avg_over_time.go
  pkg/movingaverage/avg_over_time_test.go
  pkg/movingaverage/median_filter.go
  pkg/movingaverage/moving_average_test.go
  pkg/movingaverage/time_median.go
  server/statistics/hot_cache.go
Labels: status/can-merge, status/LGT2, release-note-none

#5797 tools: fix store update flow
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5805 *: fix typo
  pkg/mcs/docs.go
  pkg/mcs/registry/registry.go
  pkg/mcs/resource_manager/server/apis/v1/api.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/install/install.go
  server/schedule/checker/checker_controller.go
  server/server.go
  server/util.go
  tests/registry/registry_test.go
Labels: status/can-merge, status/LGT1, component/misc, require-LGT1, release-note-none

#5763 schedulers: add balance witness scheduler
  pkg/mock/mockcluster/mockcluster.go
  server/api/scheduler.go
  server/cluster/cluster.go
  server/cluster/coordinator_test.go
  server/config/config.go
  server/config/persist_options.go
  server/core/basic_cluster.go
  server/core/kind.go
  server/core/region.go
  server/core/region_option.go
  server/core/store.go
  server/handler.go
  server/schedule/filter/counter.go
  server/schedule/filter/filters.go
  server/schedule/filter/region_filters.go
  server/schedule/filter/region_filters_test.go
  server/schedule/filter/status.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/create_operator_test.go
  server/schedule/operator/influence.go
  server/schedule/operator/kind.go
  server/schedule/operator/step.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_witness.go
  server/schedulers/balance_witness_test.go
  server/schedulers/metrics.go
  server/schedulers/utils.go
  server/schedulers/utils_test.go
  server/statistics/region.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: release-note, status/can-merge, status/LGT2

#5787 checker: when there are too many orphan peers, try to delete them
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5
