Repository tikv/pd, pull requests merged in 2022-04, with the labels that each got.

#4670 server: pd can support bucket steam and save them.
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/cluster/metrics.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_test.go
  server/grpc_service.go
  server/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#4786 server/scheduler/evict_leader: fix a data race in the func `config.Clone`
  server/schedulers/evict_leader.go
  server/schedulers/evict_leader_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4788 cluster: fix the storage data race in test
  server/cluster/cluster.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none, component/storage

#4789 *: fix unused failpoint
  pkg/ratelimit/concurrency_limiter.go
  server/api/min_resolved_ts_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4792 server/schedulers: move evict_leader's tests to the related file
  server/schedulers/evict_leader_test.go
  server/schedulers/scheduler_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4760 config, api: Change audit switch into PDServerConfig
  server/api/admin.go
  server/api/admin_test.go
  server/api/config.go
  server/api/config_test.go
  server/api/middleware.go
  server/api/router.go
  server/config/config.go
  server/config/persist_options.go
  server/server.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4746 api: region api will support buckets
  server/api/region.go
  server/api/region_test.go
  server/cluster/cluster_worker.go
  server/core/region.go
  server/grpc_service.go
  tests/client/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4795 add release notes style guide link
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, release-note-none

#4781 config: reject the config setting request if TTL config exists
  pkg/apiutil/apiutil.go
  server/api/config.go
  server/api/config_test.go
  server/config/persist_options.go
  server/server.go
Labels: status/can-merge, status/LGT2, component/config, release-note-none

#4798 server: partially fix grpc status
  server/grpc_service.go
  tests/server/cluster/cluster_test.go
Labels: release-note, status/can-merge, status/LGT2

#4697 ctl: pd-ctl should support to check regions that's isolation label equals the given labels
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
  tests/pdctl/label/label_test.go
  tools/pd-ctl/pdctl/command/label_command.go
Labels: status/can-merge, status/LGT2, release-note-none

#4800 schedulers/evict_slow_store: fix bug in persist config when the slow store recovers
  server/schedulers/evict_slow_store.go
  server/schedulers/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4682 pkg: add progress indicator
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  server/api/router.go
  server/api/store.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/cluster/metrics.go
  server/handler.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4750 region_sync: region syncer support bucket
  server/region_syncer/client.go
  server/region_syncer/server.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4810 server/cluster:remove the public function GetReplicationConfig
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, release-note-none

#4778 server,client: Add_split_and_scatter_region
  client/client.go
  client/metrics.go
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#4803 schedulers/evict_slow_store: return directly when there is more than 1 slow store.
  server/schedulers/evict_slow_store.go
  server/schedulers/evict_slow_store_test.go
  server/schedulers/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4775 server/cluster: consider the number of left evict-leader & online store before offline a store.
  errors.toml
  pkg/errs/errno.go
  server/api/store_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/schedulers/evict_leader.go
  tests/pdctl/store/store_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4816 server/cluster/coordinator.go: new function to avoid visiting private attributes from another struct
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4817 region_syncer: buckets should not be nil
  server/region_syncer/client.go
  server/region_syncer/server.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4784 statistics: add `undersized-region-count` and `oversized-region-count` unhealthy region type
  server/api/region.go
  server/api/router.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator_test.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
  tests/pdctl/region/region_test.go
  tools/pd-ctl/pdctl/command/region_command.go
Labels: status/can-merge, status/LGT2, release-note-none

#4819 tso: remove an unused nil check
  server/tso/global_allocator.go
Labels: status/can-merge, status/LGT1, require-LGT1, component/tso, release-note-none

#4824 metrics: fix the residual label
  server/statistics/store_collection.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#4832 *: fix typos
  errors.toml
  pkg/errs/errno.go
  server/cluster/cluster.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, component/misc, release-note-none

#4837 core: change scoreV2 to adapt the higher disk capacity and amp .
  server/core/store.go
  server/core/store_test.go
  server/core/test_util.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.0

#4597 *: optimize lock usage
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/core/basic_cluster.go
  server/grpc_service.go
  server/statistics/region_collection.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4475 unsafe recovery: Pause all schedulers and checkers when doing unsafe recovery
  errors.toml
  pkg/errs/errno.go
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
  server/grpc_service.go
  tools/pd-ctl/pdctl/command/unsafe_command.go
Labels: status/can-merge, status/LGT2, release-note-none

#4794 server/schedulers: support update the config of evict_leader concurrently while schedule
  server/schedulers/evict_leader.go
  server/schedulers/evict_slow_store.go
Labels: status/can-merge, status/LGT2, release-note-none

#4854 election: fix the unstable TestLeadership test
  server/election/leadership_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, component/election, release-note-none

#4855 .github: refine the pull request template
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#4858 api: Support clean up ttl setting
  server/api/config.go
  server/api/config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4860 dashboard/adapter/manager.go:stop the loop once meet the right condition
  pkg/dashboard/adapter/manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#4840 api: Refactor Service Middleware
  server/api/middleware.go
  server/api/router.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4856 election: fix the unstable TestLeadership test (again)
  server/election/leadership_test.go
  server/election/lease.go
Labels: component/testing, status/can-merge, status/LGT2, component/election, release-note-none

#4851 Add remove peer logic for damaged regions when handling store heartbeat
  server/grpc_service.go
  tests/server/cluster/cluster_test.go
Labels: release-note, status/can-merge, status/LGT2

#4871 *: make the test more stable
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4873 api: fix the potential race problem
  go.mod
  server/apiv2/router.go
Labels: status/can-merge, status/LGT2, release-note-none

#4874 pkg: refactor the progress indicator
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/storage/endpoint/meta.go
Labels: status/can-merge, status/LGT2, release-note-none

#4852 server/api: create scatter_region operator with opAdmin
  server/api/region.go
  server/handler.go
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#4729 *: refactor API util functions
  errors.toml
  pkg/apiutil/apiutil.go
  pkg/apiutil/apiutil_test.go
  pkg/errs/errno.go
  pkg/testutil/api_check.go
  server/api/admin_test.go
  server/api/checker_test.go
  server/api/cluster_test.go
  server/api/config_test.go
  server/api/etcd_api_test.go
  server/api/hot_status_test.go
  server/api/label_test.go
  server/api/log_test.go
  server/api/operator_test.go
  server/api/region.go
  server/api/region_label_test.go
  server/api/region_test.go
  server/api/rule_test.go
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/api/service_gc_safepoint_test.go
  server/api/store_test.go
  server/api/trend_test.go
  server/api/tso_test.go
  server/api/unsafe_operation_test.go
  server/api/util.go
  server/handler.go
Labels: status/can-merge, status/LGT2, release-note-none

#4718 *: use topology weight to estimate preparing transition
  errors.toml
  pkg/errs/errno.go
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  server/apiv2/router.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/config.go
  server/config/persist_options.go
  server/core/basic_cluster.go
  server/core/region.go
  server/schedule/placement/rule_list.go
  server/schedule/placement/rule_manager.go
  server/statistics/store_collection.go
  server/statistics/store_collection_test.go
  tests/pdctl/config/config_test.go
Labels: release-note, status/can-merge, status/LGT2, component/cluster

#4806 metrics: add monitor for the progress indicator
  metrics/grafana/pd.json
Labels: component/metrics, status/can-merge, status/LGT2, release-note-none
