Repository tikv/pd, pull requests merged in 2022-08, with the labels that each got.

#3688 tools: refine pd-heartbeat-bench
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5390 *: fix some typo issues
  plugin/scheduler_example/evict_leader.go
  server/cluster/cluster_test.go
  server/election/leadership.go
  server/schedule/filter/region_filters.go
  server/schedule/filter/region_filters_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: status/can-merge, status/LGT2, release-note-none

#5286 schedulers: skip uniform store to reduce schedule
  server/schedulers/hot_region.go
  server/schedulers/hot_region_config.go
  server/schedulers/hot_region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5392 scheduler: revert two unstable optimization in hot scheduler
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  server/statistics/store_hot_peers_infos.go
  server/statistics/store_load.go
Labels: status/can-merge, status/LGT2, cherry-pick-approved, release-note-none

#5387 filter: don't record tombstone store in filter metrics
  server/grpc_service.go
  server/schedule/filter/filters.go
  server/tso/global_allocator.go
Labels: status/can-merge, status/LGT2, release-note-none

#5265 storage: keyspace management
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  server/storage/endpoint/key_path.go
  server/storage/endpoint/keyspace.go
  server/storage/keyspace_test.go
  server/storage/storage.go
  tests/client/go.mod
  tests/client/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#5405 metrics: remove scheduler event monitor
  metrics/grafana/pd.json
  server/schedulers/balance_leader.go
  server/schedulers/balance_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5403 unsafe recovery: Introduce auto-detect mode for online recovery
  server/api/unsafe_operation.go
  server/api/unsafe_operation_test.go
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
  tools/pd-ctl/pdctl/command/unsafe_command.go
Labels: release-note, status/can-merge, status/LGT2

#5428 metrics: fix the table compatibility problem
  metrics/grafana/pd.json
Labels: component/metrics, status/can-merge, status/LGT2, release-note-none

#5406 *: only keep one protobuf dependency
  go.mod
  server/schedule/filter/filters.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#5404 *: fix the wrong store monitor
  server/core/store.go
  server/core/store_test.go
  server/schedule/checker/replica_checker_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5402 *: optimize status definition
  server/schedule/filter/candidates_test.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedule/filter/region_filters.go
  server/schedule/filter/status.go
  server/schedule/plan/status.go
Labels: status/can-merge, status/LGT2, release-note-none

#5433 api: add region fit placement rule API
  server/api/router.go
  server/api/rule.go
  server/api/rule_test.go
  server/schedule/placement/fit.go
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: release-note, status/can-merge, status/LGT2

#5442 *: remove unnecessary calculations about time duration
  client/client.go
  pkg/audit/audit_test.go
  pkg/autoscaling/calculation.go
  pkg/autoscaling/prometheus_test.go
  pkg/etcdutil/etcdutil.go
  pkg/ratelimit/limiter_test.go
  pkg/systimemon/systimemon_test.go
  server/api/trend_test.go
  server/cluster/cluster_test.go
  server/cluster/coordinator_test.go
  server/config/config.go
  server/schedule/operator_controller_test.go
  server/schedule/region_scatterer.go
  server/schedule/region_splitter.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/topn_test.go
  server/storage/kv/etcd_kv.go
  server/tso/allocator_manager.go
  tests/server/tso/manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5445 simulator: adjust log file to tiup playground
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/node.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5291 server: keyspace management
  pkg/syncutil/lock_group.go
  pkg/syncutil/lock_group_test.go
  server/keyspace/keyspace.go
  server/keyspace/keyspace_test.go
  server/keyspace/util.go
  server/keyspace/util_test.go
  server/keyspace_service.go
  server/server.go
  server/storage/endpoint/key_path.go
Labels: status/can-merge, status/LGT2, release-note-none

#5439 schedule: add scatter operator into OperatorController immediately
  Makefile
  pkg/mock/mockcluster/mockcluster.go
  server/api/region.go
  server/cluster/coordinator.go
  server/grpc_service.go
  server/handler.go
  server/schedule/operator/create_operator.go
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-5.4

#5280 schedule: Schedule plan interface and plan collector
  plugin/scheduler_example/evict_leader.go
  server/cluster/cluster_test.go
  server/schedule/checker/replica_strategy.go
  server/schedule/filter/candidates.go
  server/schedule/filter/candidates_test.go
  server/schedule/filter/filters.go
  server/schedule/filter/region_filters.go
  server/schedule/plan/plan.go
  server/schedule/plan/status.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_plan.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_leader.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
Labels: status/can-merge, status/LGT2, release-note-none

#5437 config: Relax limitation of tso-update-physical-interval
  server/config/config.go
  server/config/config_test.go
  server/tso/tso.go
  tests/server/tso/global_tso_test.go
Labels: release-note, status/can-merge, status/LGT2

#5453 schedule: add scatter operator into OperatorController immediately(#5439)
  Makefile
  pkg/mock/mockcluster/mockcluster.go
  server/api/region.go
  server/cluster/coordinator.go
  server/grpc_service.go
  server/handler.go
  server/schedule/operator/create_operator.go
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: status/can-merge, status/LGT2, cherry-pick-approved, release-note-none

#5435 *: fmt the code using go1.19
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  Makefile
  client/tlsutil/tlsutil.go
  pkg/btree/btree.go
  pkg/codec/codec.go
  pkg/netutil/address_test.go
  plugin/scheduler_example/evict_leader.go
  server/api/admin.go
  server/api/pprof_test.go
  server/cluster/unsafe_recovery_controller.go
  server/config/store_config.go
  server/encryptionkm/key_manager.go
  server/handler.go
  server/join/join.go
  server/schedule/filter/filters_test.go
  server/schedule/labeler/rules.go
  server/schedule/operator/builder.go
  server/schedule/placement/fit.go
  server/schedule/placement/fit_test.go
  server/schedulers/balance_benchmark_test.go
  server/statistics/buckets/hot_bucket_cache_test.go
  server/statistics/region_collection.go
  server/tso/global_allocator.go
  server/tso/tso.go
Labels: status/can-merge, status/LGT2, release-note-none

#5441 dr-auto-sync: enable min-resolved-ts persist by default
  server/api/config_test.go
  server/api/min_resolved_ts_test.go
  server/cluster/cluster.go
  server/config/config.go
  tests/server/cluster/cluster_test.go
Labels: release-note, status/can-merge, status/LGT2

#5297 client: keyspace client
  client/client.go
  client/keyspace_client.go
  client/metrics.go
  tests/client/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5458 operator: allows to skip placement rules checks
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/create_operator_test.go
Labels: component/schedule, release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1
