Repository tikv/pd, pull requests merged in 2022-10, with the labels that each got.

#5571 backup, simulator: Add Unit Tests For pd-backup And pd-simulator
  tools/pd-backup/pdbackup/backup_test.go
  tools/pd-simulator/simulator/simutil/key_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5560 checkers: reduce the duplicated logic
  server/cluster/coordinator.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#5573 *: fix election race
  server/election/leadership.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#5572 *: update actions
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
Labels: status/can-merge, status/LGT2, release-note-none

#5577 remove address and store from filter counter
  server/schedule/filter/filters.go
  server/schedule/filter/metrics.go
Labels: release-note, status/can-merge, status/LGT2

#5579 *: make `TestScheduler` stable
  server/handler.go
  server/schedule/checker/rule_checker.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#5551 client: fix Stream timeout logic
  client/client.go
  client/errs/errno.go
  tests/client/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5575 schedule: refine the operator priority
  plugin/scheduler_example/evict_leader.go
  server/cluster/coordinator_test.go
  server/core/kind.go
  server/schedule/checker/joint_state_checker.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller.go
  server/schedule/region_scatterer.go
  server/schedule/waiting_operator_test.go
  server/schedulers/evict_leader.go
  server/schedulers/grant_hot_region.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
Labels: status/can-merge, status/LGT2, release-note-none

#5594 schedule: fix priority bucket number
  server/schedule/waiting_operator.go
  server/schedule/waiting_operator_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5591 schdeuler: Set resource with step for collecting plan
  server/schedule/plan/plan.go
  server/schedulers/balance_plan.go
  server/schedulers/balance_plan_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5323 simulator: the operator should share one limiter.
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/task.go
Labels: status/can-merge, status/LGT2, release-note-none, componet/simulator

#5525 metrics: add scheduling hot peer load
  pkg/mock/mockcluster/mockcluster.go
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/cluster/metrics.go
  server/schedule/cluster.go
  server/schedulers/hot_region.go
  server/schedulers/hot_region_test.go
  server/schedulers/metrics.go
  server/statistics/kind.go
  server/statistics/store_load.go
Labels: component/metrics, status/can-merge, status/LGT2, component/scheduler, release-note-none

#5592 api,config: enable audit-middleware in default config
  metrics/grafana/pd.json
  pkg/audit/audit.go
  pkg/audit/audit_test.go
  server/api/router.go
  server/api/service_middleware_test.go
  server/config/service_middleware_config.go
  server/metrics.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5544 scheduler: decreate the repeat filter in scheduler.
  metrics/grafana/pd.json
  server/api/diagnostic_test.go
  server/schedule/filter/filters.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_test.go
  server/schedulers/metrics.go
  server/schedulers/utils.go
Labels: status/can-merge, status/LGT2, release-note-none

#5605 mod: update pingcap/log mod
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/errs/errs_test.go
  tests/client/go.mod
  tests/client/go.sum
  tools/pd-tso-bench/go.mod
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#5292 Modify placement rule to support witness
  go.mod
  go.sum
  server/api/trend_test.go
  server/core/peer.go
  server/handler.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/operator/builder.go
  server/schedule/operator/create_operator.go
  server/schedule/operator/step.go
  server/schedule/placement/fit.go
  server/schedule/placement/rule.go
  tests/client/go.mod
  tests/client/go.sum
Labels: release-note, status/can-merge, status/LGT2

#5597 statistics: fix `ToHotPeersStat` result when `HotPeers` is empty
  server/statistics/store_load.go
  tests/pdctl/hot/hot_test.go
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#5590 scheduler: update hot region scheduler default config for v2
  server/schedulers/hot_region_config.go
  server/schedulers/hot_region_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5624 Add jq for region check command
  tools/pd-ctl/pdctl/command/region_command.go
Labels: status/can-merge, status/LGT2, release-note-none

#5556 Redefine the total label query for balance leader and region schedulers
  metrics/grafana/pd.json
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
Labels: status/can-merge, status/LGT2, release-note-none

#5587 *: use independent lock
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/core/basic_cluster.go
  server/core/region.go
  server/core/region_tree.go
Labels: status/can-merge, status/LGT2, release-note-none

#5612 metrics: Add check for unhealthy stores
  metrics/alertmanager/pd.rules.yml
Labels: status/can-merge, status/LGT2, release-note-none

#5629 operator: fix some error checks
  server/schedule/operator/step.go
  server/schedule/operator/step_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5561 schedule: batch to report the metrics of target filter
  plugin/scheduler_example/evict_leader.go
  server/schedule/checker/replica_strategy.go
  server/schedule/filter/candidates.go
  server/schedule/filter/candidates_test.go
  server/schedule/filter/counter.go
  server/schedule/filter/counter_test.go
  server/schedule/filter/filters.go
  server/schedule/filter/filters_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/evict_leader.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/utils.go
Labels: status/can-merge, status/LGT2, release-note-none

#5628 *: reduce call when comparing key
  pkg/rangetree/range_tree.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/core/region_tree_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5609 simulator: support change peer v2
  server/api/trend_test.go
  server/core/region_option.go
  server/schedule/operator_controller_test.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/statistics.go
  tools/pd-simulator/simulator/task.go
Labels: status/can-merge, status/LGT2, release-note-none, componet/simulator

#5636 *: improve region path
  server/storage/endpoint/key_path.go
  server/storage/endpoint/key_path_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5642 api: fix unstable test for TestSchedulerDiagnosticAPI
  server/api/diagnostic_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5647 metrics: fix bug that the target is wrong
  metrics/grafana/pd.json
  server/schedule/filter/counter.go
Labels: status/can-merge, status/LGT2, release-note-none

#5610 api: using index to replace tree scan if only returns count
  server/api/stats.go
  server/api/stats_test.go
  server/cluster/cluster.go
  server/core/basic_cluster.go
  server/core/region.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.1

#5631 cluster: support external timestamp
  client/client.go
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/tsoutil/tso.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/server.go
  server/storage/endpoint/external_timestamp.go
  server/storage/endpoint/key_path.go
  server/storage/storage.go
  server/tso/allocator_manager.go
  tests/client/go.mod
  tests/client/go.sum
  tests/server/cluster/cluster_test.go
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none
