Repository tikv/pd, pull requests merged in 2023-01, with the labels that each got.

#5824 step: fix non-witness ConfVerChanged impl
  server/schedule/operator/step.go
Labels: status/can-merge, status/LGT2, release-note-none

#5821 syncer: fix sync buckets
  server/region_syncer/client.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5826 resource_manager: persist settings with settings prefix
  go.mod
  go.sum
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/resource_group_test.go
  pkg/mcs/resource_manager/server/token_bukets.go
  pkg/mcs/resource_manager/server/types_test.go
  pkg/storage/endpoint/resource_group.go
  tests/client/go.mod
  tests/client/go.sum
  tests/msc/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5840 *: fix other timestamp
  pkg/mock/mockcluster/mockcluster.go
  tests/pdctl/hot/hot_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5800 statistics: reduce unnecessary cpu time
  server/core/peer.go
  server/statistics/hot_cache.go
  server/statistics/hot_cache_task.go
  server/statistics/hot_peer.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  server/statistics/kind.go
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none

#5834 pdctl: support dynamic addition of witness-related schedulers
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/config/config.go
  server/handler.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, release-note-none

#5347 kv: added RunInTransaction style transaction interface
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
  pkg/storage/kv/levedb_kv.go
  pkg/storage/kv/mem_kv.go
Labels: status/can-merge, status/LGT2, release-note-none

#5809 resource_manager: implement token assignment in server
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/token_buckets_test.go
  pkg/mcs/resource_manager/server/token_bukets.go
Labels: release-note, status/can-merge, status/LGT2

#5850 server: remove duplicate line
  server/server.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5847 *: make TestScheduler stable
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5843 keyspace: Refactor keyspace manager using RunInTxn
  client/go.mod
  client/go.sum
  client/keyspace_client.go
  client/metrics.go
  go.mod
  go.sum
  pkg/storage/endpoint/keyspace.go
  server/keyspace/keyspace.go
  server/keyspace/keyspace_test.go
  server/keyspace/util.go
  server/keyspace_service.go
  server/server.go
  server/storage/keyspace_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/client/keyspace_test.go
  tests/msc/go.mod
  tests/msc/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test

#5725 Prevent PD from crashing due to epoch comparison error (#5449)
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: status/can-merge, status/LGT2, cherry-pick-approved, release-note-none, type/cherry-pick-for-release-6.1

#5844 keyspace: add region label when creating keyspace
  server/api/region_label_test.go
  server/keyspace/keyspace.go
  server/keyspace/keyspace_test.go
  server/keyspace/util.go
  server/keyspace/util_test.go
  server/server.go
  tests/cluster.go
  tests/server/keyspace/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test

#5799 statistics: use unbounded chan in hot task item queue
  go.mod
  go.sum
  server/statistics/hot_cache.go
  server/statistics/hot_peer_cache.go
  server/statistics/hot_peer_cache_test.go
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, component/statistics, release-note-none

#5863 storage: unify the keyspace naming
  pkg/storage/endpoint/gc_key_space.go
  pkg/storage/endpoint/key_path.go
  server/storage/storage.go
  server/storage/storage_gc_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5861 *: upgrade kvproto to the latest master
  client/client.go
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  server/grpc_service.go
  tests/client/go.mod
  tests/client/go.sum
  tests/msc/go.mod
  tests/msc/go.sum
  tests/server/global_config/global_config_test.go
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#5859 core: reduce log zap cpu time
  pkg/core/region.go
Labels: status/can-merge, status/LGT2, release-note-none

#5862 resource_manager: introduce the resource unit model and config
  pkg/mcs/resource_manager/client/config.go
  pkg/mcs/resource_manager/client/model.go
Labels: status/can-merge, status/LGT2, release-note-none

#5867 resouce_manager: fix the bug of loading resource group and using copy
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/resource_group.go
  tests/msc/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5869 keyspace: Pre alloc keyspace
  conf/config.toml
  server/config/config.go
  server/keyspace/keyspace.go
  server/keyspace/keyspace_test.go
  server/server.go
  tests/server/keyspace/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5871 client: modify client config interface
  client/client.go
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/resource_group_test.go
  server/grpc_service.go
  tests/client/go.mod
  tests/client/go.sum
  tests/msc/go.mod
  tests/msc/go.sum
  tests/msc/resource_manager/resource_manager_test.go
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test

#5868 resource_manager: impl limiter for token controlloer
  pkg/mcs/resource_manager/client/limiter.go
  pkg/mcs/resource_manager/client/limiter_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5855 resource_manager: implement the metrics info collecting
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#5873 schedulers: split transfer-witness-leader's limit from balance-leader
  server/schedule/operator/kind.go
  server/schedulers/transfer_witness_leader.go
Labels: status/can-merge, status/LGT2, release-note-none

#5830 Support resource group watch
  client/client.go
  client/go.mod
  client/go.sum
  client/resourcemanager_client.go
  go.mod
  go.sum
  server/grpc_service.go
  server/server.go
  tests/client/global_config_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/msc/go.mod
  tests/msc/go.sum
  tests/msc/resource_manager/resource_manager_test.go
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test

#5865 schedule: when Region is removed from RegionsInfo, also remove fit cache
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/schedule/placement/rule_manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#5811 resouce_manager: impl resource controller for tokens client
  pkg/mcs/resource_manager/client/client.go
  pkg/mcs/resource_manager/client/config.go
  pkg/mcs/resource_manager/client/limiter.go
  pkg/mcs/resource_manager/client/limiter_test.go
  pkg/mcs/resource_manager/client/model.go
  pkg/mcs/resource_manager/server/token_buckets_test.go
  pkg/mcs/resource_manager/server/token_bukets.go
  tests/msc/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5877 schedule: use public stores cache in placement rules cache
  server/schedule/placement/region_rule_cache.go
  server/schedule/placement/region_rule_cache_test.go
  server/schedule/placement/rule_manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#5880 resource_manager: remove `maxRequestTokens` in limiter
  pkg/mcs/resource_manager/client/client.go
  pkg/mcs/resource_manager/client/config.go
  pkg/mcs/resource_manager/client/limiter.go
  pkg/mcs/resource_manager/client/limiter_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5883 schedulers: enable transfer-witness-leader by default
  server/cluster/coordinator_test.go
  server/config/config.go
Labels: status/can-merge, status/LGT2, release-note-none

#5881 resource_manager: supports burstable mode
  pkg/mcs/resource_manager/client/client.go
  pkg/mcs/resource_manager/client/client_test.go
  pkg/mcs/resource_manager/client/limiter.go
  pkg/mcs/resource_manager/client/limiter_test.go
  pkg/mcs/resource_manager/server/token_bukets.go
  tests/msc/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5889 feature: update the min version supported witness
  pkg/versioninfo/feature.go
Labels: status/can-merge, status/LGT2, release-note-none

#5884 metrics: add witness leader region metrics
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
Labels: status/can-merge, status/LGT2

#5890 metrics: add witness count
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, release-note-none

#5891 resource_manager/client: fix the infinite loop issue
  pkg/mcs/resource_manager/client/client.go
  pkg/mcs/resource_manager/client/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none
