Repository tikv/pd, pull requests merged in 2023-12, with the labels that each got.

#7490 client/http: introduce caller ID into the HTTP client
  client/http/client.go
  client/http/client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/L, release-note-none

#7492 *: make TestConfigPDServer stable
  pkg/core/region_tree.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/registry/registry_test.go
  tests/server/config/config_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7494 mcs: add forward metrics
  server/grpc_service.go
  server/metrics.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7472 mcs: fix panic of get leader
  pkg/member/participant.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7435 tests: reduce mcs test duration
  pkg/schedule/operator/operator_controller.go
  pkg/statistics/hot_cache.go
  pkg/statistics/hot_peer_cache.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/api/checker_test.go
  tests/server/api/operator_test.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/server/api/scheduler_test.go
  tests/server/config/config_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7513 mcs: add IsServiceIndependent check to fix redirect
  pkg/mcs/scheduling/server/config/config.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/config/persist_options.go
  tests/integrations/mcs/tso/api_test.go
  tests/server/api/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7511 pkg/window: fix panic in test
  pkg/window/policy_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7334 checker: reduces the probability of deleting normal peers when the store becomes unavailable (#7249)
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  server/cluster/coordinator_test.go
Labels: status/can-merge, status/LGT2, size/XL, cherry-pick-approved, release-note-none

#7522 ci: fix docker build sqlite3 and alpine 3.19 incompatibility
  Dockerfile
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7510 resource_control: improve trace logs, ctl and metrics
  client/go.mod
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
  client/resource_group/controller/metrics.go
  pkg/mcs/resourcemanager/server/config.go
  tests/pdctl/resourcemanager/resource_manager_command_test.go
  tools/pd-ctl/pdctl/command/resource_manager_command.go
  tools/pd-ctl/pdctl/ctl.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7520 resource_control: fix data race in controller
  client/resource_group/controller/controller.go
  client/resource_group/controller/metrics.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none, needs-cherry-pick-release-7.5

#7525 ci: fix CI for specific branch
  .github/workflows/pd-tests.yaml
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7529 mcs: fix panic of GetMinTS
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7536 audit, client/http: use X-Caller-ID to replace the component signature key
  client/http/client.go
  client/http/client_test.go
  pkg/audit/audit.go
  pkg/audit/audit_test.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/apiutil/apiutil_test.go
  pkg/utils/requestutil/context_test.go
  pkg/utils/requestutil/request_info.go
  server/api/middleware.go
  server/metrics.go
  tests/pdctl/global_test.go
  tests/server/api/api_test.go
  tools/pd-ctl/pdctl/command/global.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/L, release-note-none

#7516 client/http: add func for jenkins test
  client/http/api.go
  client/http/client.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/L, release-note-none

#7540 mcs: fix panic when getting the member which is not started
  pkg/mcs/scheduling/server/server.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7239 pkg/ratelimit: refactor for BBR
  pkg/ratelimit/controller.go
  pkg/ratelimit/controller_test.go
  pkg/ratelimit/limiter.go
  pkg/ratelimit/limiter_test.go
  pkg/ratelimit/option.go
  server/api/middleware.go
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7534 client/http: add more API for lightning's usage, and don't use body io.Reader
  client/http/client.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7538 mcs: fix unnecessary PDRedirectorHeader
  pkg/utils/apiutil/serverapi/middleware.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7542 api: fix the output of some APIs
  server/api/store.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7497 errs: remove redundant `FastGenWithCause` in `ZapError`
  client/errs/errno.go
  client/errs/errs.go
  client/tso_dispatcher.go
  errors.toml
  pkg/autoscaling/prometheus.go
  pkg/errs/errno.go
  pkg/errs/errs.go
  pkg/errs/errs_test.go
  pkg/schedule/hbstream/heartbeat_streams.go
  pkg/schedule/plugin_interface.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/utils.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/logutil/log.go
  pkg/utils/tempurl/check_env_linux.go
  server/handler.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7548 mcs: fix sequence of callback functions
  pkg/mcs/resourcemanager/server/server.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7549 Makefile: fix versioninfo package path
  Makefile
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7556 makefile: update golangci
  Makefile
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7493 ci: support real cluster test in jenkins
  Makefile
  go.mod
  go.sum
  pkg/member/member.go
  tests/integrations/client/go.mod
  tests/integrations/mcs/go.mod
  tests/integrations/realtiup/Makefile
  tests/integrations/realtiup/deploy.sh
  tests/integrations/realtiup/go.mod
  tests/integrations/realtiup/go.sum
  tests/integrations/realtiup/mock_db.go
  tests/integrations/realtiup/reboot_pd_test.go
  tests/integrations/realtiup/transfer_leader_test.go
  tests/integrations/realtiup/ts_test.go
  tests/integrations/realtiup/util.go
  tests/integrations/realtiup/wait_tiup.sh
  tests/integrations/tso/go.mod
  tools/pd-api-bench/go.mod
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7372 api: support mcs api for members
  client/http/api.go
  client/http/client.go
  pkg/mcs/discovery/discover.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/utils/util.go
  server/apiv2/handlers/micro_service.go
  server/apiv2/router.go
  tests/integrations/mcs/members/member_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7555 *: add pre func in etcdutil and refactor for endpoint
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/meta/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/placement/rule_manager_test.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/statistics/region_collection_test.go
  pkg/storage/endpoint/config.go
  pkg/storage/endpoint/gc_safe_point.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/keyspace.go
  pkg/storage/endpoint/replication_status.go
  pkg/storage/endpoint/rule.go
  pkg/storage/endpoint/safepoint_v2.go
  pkg/storage/endpoint/service_middleware.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/storage/endpoint/util.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/keyspace_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7554 client/http, tests: implement retry mechanism based on the leader and follower
  client/http/client.go
  client/http/client_test.go
  client/http/interface.go
  client/http/request_info.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/XXL, release-note-none

#7505 scheduler: enable `evict-slow-store` by default.
  pkg/schedule/config/config.go
  server/cluster/cluster_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/api/scheduler_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7567 Makefile: add test-real-cluster command to the root Makefile
  Makefile
  pd.code-workspace
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7565 client/http: require source mark when initializing the http client
  client/http/client.go
  client/http/client_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/members/member_test.go
  tests/integrations/realtiup/util.go
Labels: status/can-merge, status/LGT2, component/client, size/M, release-note-none

#7563 dashboard: Pass TLS info to dashboard to fix TiKV heap profiling
  go.mod
  go.sum
  pkg/dashboard/adapter/config.go
  pkg/utils/grpcutil/grpcutil.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: release-note, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-7.5

#7550 mcs: watch rule change with txn
  pkg/core/basic_cluster.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/schedule/placement/config.go
  pkg/schedule/placement/config_test.go
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/placement/rule_manager_test.go
  pkg/storage/endpoint/rule.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/etcdutil/etcdutil.go
  server/keyspace_service.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7581 check: remove orphan peer only when the peers is greater than the rule count
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/placement/fit.go
Labels: release-note, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7586 makefile: make clean to remove dashboard temp
  Makefile
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7573 tests, Makefile: rename the test from realtiup to realcluster
  Makefile
  pd.code-workspace
  tests/integrations/realcluster/Makefile
  tests/integrations/realcluster/deploy.sh
  tests/integrations/realcluster/go.mod
  tests/integrations/realcluster/go.sum
  tests/integrations/realcluster/mock_db.go
  tests/integrations/realcluster/reboot_pd_test.go
  tests/integrations/realcluster/transfer_leader_test.go
  tests/integrations/realcluster/ts_test.go
  tests/integrations/realcluster/util.go
  tests/integrations/realcluster/wait_tiup.sh
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7594 dashboard-ui: make custom dashboard ui work
  scripts/embed-dashboard-ui.sh
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7588 grafana: reassign the ID of the panel
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7566 member: return err when meet frequently campaign leader
  errors.toml
  pkg/election/leadership.go
  pkg/errs/errno.go
  pkg/member/member.go
  tests/server/member/member_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7547 resource_control: unify label name to group_name
  client/resource_group/controller/controller.go
  client/resource_group/controller/metrics.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7597 versioninfo: remove fips suffix
  pkg/versioninfo/fips.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7603 tests, Makefile: fix the TSO consistency test
  Makefile
  tests/server/tso/consistency_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, component/tso, size/M, release-note-none

#7602 client/http: add more interface for BR/lightning
  client/http/interface.go
  client/http/request_info.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7578 tests/realcluster: support local real cluster test
  tests/integrations/realcluster/Makefile
  tests/integrations/realcluster/deploy.sh
  tests/integrations/realcluster/reboot_pd_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7601 versioninfo: remove fips suffix
  server/versioninfo/fips.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7489 client: Introduce `ServiceClient`
  client/client.go
  client/go.mod
  client/go.sum
  client/grpcutil/grpcutil.go
  client/pd_service_discovery.go
  client/pd_service_discovery_test.go
  client/testutil/check_env_dummy.go
  client/testutil/check_env_linux.go
  client/testutil/leak.go
  client/testutil/tempurl.go
  pkg/utils/tempurl/check_env_dummy.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/realcluster/go.mod
  tests/integrations/realcluster/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
  tools/pd-tso-bench/go.mod
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7606 mcs: support status api
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/server/server.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/utils/util.go
  pkg/versioninfo/versioninfo.go
  server/api/status.go
  server/api/status_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7608 *: bump image and crypto
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
Labels: status/can-merge, status/LGT1, require-LGT1, size/L, release-note-none

#7574 tools/api: replace client to pd http client
  tools/pd-api-bench/README.md
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/cert_opt.sh
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7600 rule: split txn to multi batch
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/schedule/placement/rule.go
  pkg/schedule/placement/rule_manager.go
  pkg/storage/endpoint/rule.go
  pkg/storage/endpoint/util.go
  pkg/utils/etcdutil/etcdutil.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/server/api/rule_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7604 *: add maxprocs metrics for mcs
  pkg/basicserver/metrics.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/tso/server/metrics.go
  pkg/mcs/tso/server/server.go
  server/metrics.go
  server/server.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/tso/api_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7611 client: use ServiceClient for discovery
  client/client.go
  client/pd_service_discovery.go
  client/tso_service_discovery.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7617 mcs, client: support returning ru statistics in Get/ListResourceGroup response
  client/go.mod
  client/go.sum
  client/resource_group/controller/controller.go
  client/resource_manager_client.go
  client/testutil/leak.go
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/resource_group_test.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/realcluster/go.mod
  tests/integrations/realcluster/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
  tools/pd-tso-bench/go.mod
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7610 chore: supply a script to update tidb-dashboard
  build.ps1
  scripts/dashboard-version
  scripts/describe-dashboard.sh
  scripts/embed-dashboard-ui.ps1
  scripts/embed-dashboard-ui.sh
  scripts/update-dashboard.sh
Labels: status/can-merge, status/LGT2, size/L, release-note-none, ok-to-test

#7623 resource_mananger: deep clone resource group
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/resource_group_test.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.sum
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7622 client: fix wrong for check
  client/go.mod
  client/http/client.go
  client/http/client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7541 *: add API concurrency metrics
  metrics/grafana/pd.json
  pkg/ratelimit/concurrency_limiter.go
  pkg/ratelimit/concurrency_limiter_test.go
  pkg/ratelimit/controller.go
  pkg/ratelimit/controller_test.go
  pkg/ratelimit/limiter.go
  pkg/ratelimit/limiter_test.go
  pkg/ratelimit/option.go
  server/api/service_middleware_test.go
  server/config/service_middleware_config.go
  server/grpc_service.go
  server/metrics.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7636 metrics: fix duplicate ID
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7638 fix: fix update-dashboard script not work when target is semver style
  scripts/dashboard-version
  scripts/update-dashboard.sh
Labels: status/can-merge, status/LGT2, size/M, release-note-none, ok-to-test

#7640 test: fix TestRedirectWithMetrics data race
  client/http/client.go
  client/http/client_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7432 *: follower support to handle `GetRegion` and other region api
  client/client.go
  client/pd_service_discovery.go
  pkg/utils/grpcutil/grpcutil.go
  server/forward.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
Labels: release-note, status/can-merge, status/LGT2, size/XL
