Repository tikv/pd, pull requests merged in 2023-09, with the labels that each got.

#6965 Scatter: make peer scatter logic same with the leader
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6984 mcs: support alloc ID for scheduling server
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/server/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/scheduling_cluster.go
  tests/testutil.go
  tests/tso_cluster.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7022 tso: add some metrics for Keyspace Group operations
  pkg/tso/keyspace_group_manager.go
  pkg/tso/metrics.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, size/M, release-note-none, component/mcs

#6983 resource_control: fix consumption less zero
  client/resource_group/controller/controller.go
  client/resource_group/controller/model.go
  pkg/mcs/resourcemanager/server/manager.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-7.1

#7025 mcs: avoid stuck goroutine when raftcluster failed to create
  pkg/keyspace/tso_keyspace_group.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7029 *: unify the test logger
  pkg/audit/audit_test.go
  pkg/election/leadership_test.go
  pkg/utils/etcdutil/etcdutil_test.go
  server/api/version_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/pdctl/config/config_test.go
  tests/scheduling_cluster.go
  tests/server/api/api_test.go
  tests/testutil.go
  tests/tso_cluster.go
  tools/pd-backup/pdbackup/backup_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7021 client: backport ErrClientTSOStreamClosed
  client/client.go
  client/errs/errno.go
Labels: status/can-merge, status/LGT2, size/S, cherry-pick-approved, release-note-none

#7007 test: reduce redundant code about etcd server and logger
  pkg/audit/audit_test.go
  pkg/election/leadership_test.go
  pkg/election/lease_test.go
  pkg/encryption/key_manager_test.go
  pkg/id/id_test.go
  pkg/mcs/discovery/discover_test.go
  pkg/mcs/discovery/register_test.go
  pkg/storage/kv/kv_test.go
  pkg/storage/storage_tso_test.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/testutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/testutil.go
  pkg/utils/testutil/testutil.go
  tests/server/api/api_test.go
  tools/pd-backup/pdbackup/backup_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7031 tso: sync timestamp once before the first serving
  client/client.go
  client/option.go
  client/tso_dispatcher.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/tso/allocator_manager.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/metrics.go
  pkg/tso/tso.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, size/L, release-note-none

#7040 mcs, tso: add more metrics on the TSO critical path
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/metrics.go
  pkg/mcs/tso/server/server.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/metrics.go
  pkg/tso/tso.go
Labels: component/metrics, status/can-merge, status/LGT2, component/tso, size/L, release-note-none, component/mcs

#7039 mcs: disable PD scheduling when enabling scheduling service
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/coordinator.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/handler.go
  tests/integrations/mcs/scheduling/config_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7047 mcs: sync store state to scheduling service
  pkg/core/store_option.go
  pkg/core/store_test.go
  pkg/mcs/scheduling/server/meta/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/statistics/region_collection_test.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/store_test.go
  pkg/storage/endpoint/key_path.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/integrations/mcs/scheduling/meta_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7050 tso, server: ensure the reset TSO would NOT be updated at all
  errors.toml
  pkg/errs/errno.go
  pkg/tso/tso.go
  server/server.go
Labels: status/can-merge, status/LGT2, component/tso, size/S, release-note-none

#7032 mcs: use separate participant
  go.mod
  go.sum
  pd.code-workspace
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/server.go
  pkg/member/election_leader.go
  pkg/member/participant.go
  pkg/tso/keyspace_group_manager.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7052 tests: fix waitFinishMerge to stablize the merge test
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/proxy_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7048 utils: let http client can reuse connections
  pkg/utils/etcdutil/etcdutil.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7009 statistics: fix empty region count when resuming
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/statistics/region.go
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
  server/api/stats_test.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6959 unsafe recovery: Add log for overlapping regions in unsafe recovery
  pkg/unsaferecovery/unsafe_recovery_controller.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7060 mcs: improve scheduling service log
  go.mod
  pkg/gc/safepoint_v2.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/utils/util.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/config/config.go
  pkg/utils/configutil/configutil.go
  pkg/utils/grpcutil/grpcutil.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/scheduling_cluster.go
  tools/pd-api-bench/Makefile
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/main.go
  tools/pd-tso-bench/Makefile
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7061 mcs: use memory storage
  pkg/basicserver/basic_server.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/tso/server/server.go
  server/server.go
  tests/integrations/mcs/scheduling/server_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7054 *: check raftcluster nil
  server/api/min_resolved_ts.go
  server/grpc_service.go
  server/handler.go
  server/server.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#7074 test: fix unstable test TestScheduler
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7064 *: split the `TestScheduler`
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7065 chore(dashboard): update version to v2023.09.11.1
  go.mod
  go.sum
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, size/L, cherry-pick-approved, release-note-none, ok-to-test

#7080 fix wrong legend name
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7072 mcs: watch scheduling service's primary address
  pkg/member/participant.go
  pkg/storage/endpoint/key_path.go
  server/api/server.go
  server/server.go
  tests/cluster.go
  tests/integrations/mcs/scheduling/server_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7082 mcs/scheduling: register the scheduler handler in API service mode
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_controller.go
  server/cluster/cluster.go
  server/handler.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/server/api/api_test.go
  tests/server/api/testutil.go
Labels: component/schedule, status/can-merge, status/LGT2, size/XL, release-note-none, component/mcs

#7086 pd-api-bench: fix the gosec check
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT1, component/tools, require-LGT1, size/XS, release-note-none

#7075 scatter: fix the unexpected error code
  errors.toml
  pkg/errs/errno.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6976 mcs: forward store requests to scheduling server
  go.mod
  go.sum
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/meta/watcher.go
  server/grpc_service.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7076 scheduling: sync schedulers from the API server
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/storage/endpoint/config.go
  pkg/storage/endpoint/key_path.go
  plugin/scheduler_example/evict_leader.go
  server/cluster/cluster_test.go
  server/server.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/integrations/mcs/scheduling/server_test.go
Labels: component/schedule, status/can-merge, status/LGT2, size/XXL, release-note-none, component/mcs

#7102 keyspace: return error if the split keyspace list is empty
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
Labels: status/can-merge, status/LGT1, require-LGT1, component/keyspace, size/XS, release-note-none

#7097 mcs: update store stats
  pkg/core/basic_cluster.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/server.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7078 mcs: forward current http request to mcs
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/apiutil/serverapi/middleware.go
  pkg/utils/testutil/api_check.go
  server/api/hot_status_test.go
  server/api/region_test.go
  server/api/rule_test.go
  server/api/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7042 resource_control: supports dynamically change the controller config
  client/go.mod
  client/go.sum
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/util.go
  client/resource_group/controller/util_test.go
  client/resource_manager_client.go
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/config_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/storage/endpoint/resource_group.go
  server/server.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7098 config: enable store limit v2 in raftstore-v2
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/persist_options.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7089 *: decouple operator handler and server
  errors.toml
  pkg/errs/errno.go
  pkg/schedule/handler/handler.go
  server/api/hot_status.go
  server/api/label.go
  server/api/region.go
  server/api/rule.go
  server/api/store.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/handler.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7105 schedulers, handler: fix the evict-leader-scheduler sync
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/schedulers/evict_leader.go
  server/handler.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/api/testutil.go
Labels: status/can-merge, status/LGT2, component/scheduler, size/L, release-note-none

#7023 mcs: forward region requests to scheduling server
  go.mod
  go.sum
  pkg/cluster/cluster.go
  pkg/core/region.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/server.go
  pkg/mock/mockhbstream/mockhbstream.go
  pkg/mock/mockhbstream/mockhbstream_test.go
  pkg/schedule/hbstream/heartbeat_streams.go
  pkg/schedule/operator/step.go
  server/api/stats.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  server/server.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tests/server/api/api_test.go
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7111 scatter: fix incorrect judgment condition
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#7117 metrics: rename `mergeCheckerSpecialPeerCounter` to `mergeCheckerUnhealthyRegionCounter`
  pkg/schedule/checker/merge_checker.go
Labels: release-note, status/can-merge, status/LGT2, size/XS

#6867 cluster: handle region after report split
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/counter_test.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/region_filters.go
  pkg/schedule/filter/status.go
  pkg/schedule/plan/status.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_test.go
  pkg/syncer/client.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/cluster/cluster_worker_test.go
  server/grpc_service.go
Labels: release-note, status/can-merge, status/LGT2, size/XL

#7115 mcs/resourcemanager: add metric for TiFlash RU consumption
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7122 *: fix sync isolation level to default placement rule
  pkg/mcs/scheduling/server/cluster.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/placement/rule_manager_test.go
  pkg/statistics/region_collection_test.go
  server/api/operator_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/persist_options.go
  server/server.go
  tests/pdctl/config/config_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#7113 util: add check delete json function
  errors.toml
  pkg/autoscaling/prometheus_test.go
  pkg/errs/errno.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/testutil/api_check.go
  server/api/admin_test.go
  server/api/diagnostic_test.go
  server/api/operator_test.go
  server/api/region_label_test.go
  server/api/rule_test.go
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/api/service_gc_safepoint_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7120 tests: refactor and make pd-ctl helper support mcs
  tests/autoscaling/autoscaling_test.go
  tests/cluster.go
  tests/compatibility/version_upgrade_test.go
  tests/dashboard/service_test.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/tso/client_test.go
  tests/pdctl/cluster/cluster_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/health/health_test.go
  tests/pdctl/helper.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/keyspace/keyspace_group_test.go
  tests/pdctl/keyspace/keyspace_test.go
  tests/pdctl/label/label_test.go
  tests/pdctl/log/log_test.go
  tests/pdctl/member/member_test.go
  tests/pdctl/operator/operator_test.go
  tests/pdctl/region/region_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/pdctl/store/store_test.go
  tests/pdctl/unsafe/unsafe_operation_test.go
  tests/registry/registry_test.go
  tests/server/api/api_test.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
  tests/server/cluster/cluster_test.go
  tests/server/cluster/cluster_work_test.go
  tests/server/config/config_test.go
  tests/server/id/id_test.go
  tests/server/keyspace/keyspace_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/storage/hot_region_storage_test.go
  tests/server/tso/consistency_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/tso_test.go
  tests/server/watch/leader_watch_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XXL, release-note-none

#7128 schedulers: fix the grant-leader-scheuler store pause/resume
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/grant_leader.go
Labels: status/can-merge, status/LGT2, component/scheduler, size/S, release-note-none

#7134 Revert "cluster: handle region after report split (#6867)"
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/counter_test.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/region_filters.go
  pkg/schedule/filter/status.go
  pkg/schedule/plan/status.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_test.go
  pkg/syncer/client.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/cluster/cluster_worker_test.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7135 resourcemanager: change the ru label name
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7092 resource_control: watch delete with prev and refine test
  client/resource_group/controller/controller.go
  client/resource_manager_client.go
  server/grpc_service.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7087 security: disable plugin in default and persist file in specified dir
  Makefile
  pkg/replication/replication_mode.go
  server/api/admin.go
  server/api/admin_test.go
  server/api/plugin.go
  server/api/plugin_disable.go
  server/api/server_test.go
  server/handler.go
  server/server.go
  server/server_test.go
  server/util.go
Labels: release-note, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#7136 chore: update tidb-dashboard to v2023.09.21.1
  go.mod
  go.sum
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, size/S, cherry-pick-approved, release-note-none, ok-to-test

#7145 tests: skip TestWatchResourceGroup temporarily
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7130 resource_manager: fix unstable test TestSkipConsumptionForBackgroundJobs
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7139 tso: improve skipping sync condition and add more logs
  pkg/tso/tso.go
Labels: status/can-merge, status/LGT2, component/tso, size/M, release-note-none

#7110 dr-autosync: add metrics
  metrics/grafana/pd.json
  pkg/replication/metrics.go
  pkg/replication/replication_mode.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7149 Revert "statistics: fix empty region count when resuming (#7009)"
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/region.go
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
  server/api/stats_test.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-6.5

#7150 Revert "statistics: fix empty region count when resuming (#7009) (#70…
  server/api/stats_test.go
  server/cluster/cluster.go
  server/core/region.go
  server/core/region_test.go
  server/statistics/region.go
  server/statistics/region_collection.go
  server/statistics/region_collection_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/M, cherry-pick-approved, release-note-none

#7154 resource_manager: Fix for delayed deletion of created groups in TestWatchResourceGroup
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7157 *: use syncutil lock
  pkg/balancer/round_robin.go
  pkg/btree/btree_generic.go
  pkg/btree/btree_generic_test.go
  pkg/election/leadership.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/memory/meminfo.go
  pkg/ratelimit/limiter_test.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/statistics/region_collection.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/tempurl/tempurl.go
  server/apiv2/handlers/tso_keyspace_group.go
  server/grpc_service.go
  server/server.go
  tests/cluster.go
  tests/integrations/client/global_config_test.go
  tests/server/id/id_test.go
  tests/server/tso/consistency_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7108 scheduler: fix scheduler save config
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_controller.go
  server/cluster/cluster_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#7090 mcs: make scheduling server support operator http interface
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/handler/handler.go
  pkg/schedule/operator/kind.go
  pkg/utils/apiutil/apiutil.go
  server/api/operator.go
  server/api/server_test.go
  server/api/trend.go
  tests/cluster.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/pdctl/operator/operator_test.go
  tests/server/api/operator_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7160 api: supports GetRegion by hex key
  server/api/region.go
  server/api/region_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7170 dashboard_test: extend wait time for dashboard service
  server/config/config.go
  tests/dashboard/service_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7143 region: fix the potential panic .
  pkg/core/region.go
  pkg/core/region_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none
