Repository tikv/pd, pull requests merged in 2023-03, with the labels that each got.

#6048 resource_controller: load RU config from the remote server when initializing controller
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, component/resource-control

#5518 core: multi level sliding windows for limit snapshot task
  pkg/core/store.go
  pkg/core/storelimit/limit.go
  pkg/core/storelimit/limit_test.go
  pkg/core/storelimit/sliding_window.go
  pkg/core/storelimit/store_limit.go
  server/schedule/operator_controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#6003 resource_group_client: statistic sql cpu cost
  client/go.mod
  client/go.sum
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/model.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/metrics.go
  tests/mcs/go.mod
  tests/mcs/go.sum
  tests/mcs/resource_manager/resource_manager_test.go
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6072 *: make `TestWatch` stable
  tests/client/client_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6004 *: support starting server in API service mode
  cmd/pd-server/main.go
  pkg/member/member.go
  server/api/router.go
  server/api/server_test.go
  server/api/version_test.go
  server/server.go
  server/server_test.go
  server/testutil.go
  tests/cluster.go
  tests/pdctl/global_test.go
  tests/server/member/member_test.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#6080 moving_filter: fix data race with cache result
  pkg/movingaverage/median_filter.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5

#6065 Support tso microservice auto service discovery in the pd client.
  client/base_client.go
  client/client.go
  client/errs/errno.go
  client/tso_client.go
  client/tso_request_dispatcher.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/tso/server/server_test.go
  tests/mcs/go.mod
  tests/mcs/tso/server_test.go
  tests/mcs/tso/testutil.go
  tools/pd-tso-bench/main.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6089 remove priority from limit
  pkg/core/constant/kind.go
  pkg/core/store.go
  pkg/core/storelimit/limit.go
  pkg/core/storelimit/limit_test.go
  pkg/core/storelimit/sliding_window.go
  pkg/core/storelimit/store_limit.go
  plugin/scheduler_example/evict_leader.go
  server/api/store.go
  server/cluster/coordinator_test.go
  server/config/persist_options.go
  server/schedule/checker/joint_state_checker.go
  server/schedule/checker/merge_checker.go
  server/schedule/checker/replica_checker.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/config/config.go
  server/schedule/operator/influence.go
  server/schedule/operator/operator.go
  server/schedule/operator/operator_test.go
  server/schedule/operator_controller.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
  server/schedule/region_scatterer.go
  server/schedule/schedulers/balance_leader.go
  server/schedule/schedulers/balance_region.go
  server/schedule/schedulers/balance_test.go
  server/schedule/schedulers/balance_witness.go
  server/schedule/schedulers/evict_leader.go
  server/schedule/schedulers/grant_hot_region.go
  server/schedule/schedulers/grant_leader.go
  server/schedule/schedulers/hot_region.go
  server/schedule/schedulers/random_merge.go
  server/schedule/schedulers/shuffle_hot_region.go
  server/schedule/schedulers/shuffle_leader.go
  server/schedule/schedulers/shuffle_region.go
  server/schedule/schedulers/transfer_witness_leader.go
  server/schedule/schedulers/utils.go
  server/schedule/waiting_operator_test.go
  server/statistics/collector.go
  server/statistics/store_hot_peers_infos.go
Labels: status/can-merge, status/LGT2, release-note-none

#6070 *: fix member race problem
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, needs-cherry-pick-release-6.5

#6083 try fix data race
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, cherry-pick-approved, release-note-none, ok-to-test

#6086 resource_manager: implement the independent primary election
  pkg/mcs/resource_manager/server/config.go
  pkg/mcs/resource_manager/server/metrics.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/resource_manager/server/testutil.go
  pkg/mcs/tso/server/server.go
  pkg/utils/memberutil/member.go
  tests/mcs/resource_manager/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none, component/resource-control

#6096 remove tombstone monitor from the scheduler filter
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, release-note-none

#5533 operator: add send snapshot cost influence
  server/schedule/operator/builder.go
  server/schedule/operator/influence.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#6100 Fix a deadloop in ServiceRegister
  pkg/mcs/discovery/register.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6059 etcdutil: add dial keep alive params to switch connect as soon as possible
  pkg/storage/kv/kv_test.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/testutil.go
Labels: status/can-merge, status/LGT2, release-note-none

#6102 resource_manager: change cpu time unit from ms to ns
  client/resource_group/controller/model.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6101 pkg: use tso storage
  pkg/mcs/tso/server/server.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/tso.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/storage_tso_test.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/tso.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6109 Fix deadloop in discovery.Deregister
  pkg/mcs/discovery/register.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6103 pkg: add new store limit type `SendSnapshot`
  pkg/core/store_option.go
  pkg/core/storelimit/limit.go
  pkg/core/storelimit/limit_test.go
  pkg/core/storelimit/sliding_window.go
  pkg/core/storelimit/store_limit.go
  server/cluster/cluster.go
  server/config/persist_options.go
  server/schedule/operator/influence.go
  server/schedule/operator/operator_test.go
  server/schedule/operator/step.go
  server/schedule/operator_controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#6094 mcs: reduce duplicated definitions
  pkg/mcs/resource_manager/server/config.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/tso/allocator_manager.go
  pkg/utils/configutil/configutil.go
  pkg/utils/etcdutil/etcdutil.go
  server/config/config.go
Labels: status/can-merge, status/LGT2, release-note-none

#6108 online recovery: fix online recovery timeout mechanism
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#6106 config: improve TTL log
  server/config/persist_options.go
Labels: status/can-merge, status/LGT2, release-note-none

#6110 fix listen addr of tso service
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/server.go
  tests/mcs/tso/server_test.go
  tests/mcs/tso/testutil.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6119 client/resource-manager: fix the issue that some groups cannot be reported
  client/resource_group/controller/controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#6084 Add REST for tso microservice
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/tso/server/handler.go
  pkg/mcs/tso/server/server.go
  pkg/member/participant.go
  pkg/tso/admin.go
  server/api/admin.go
  server/api/router.go
  server/handler.go
  server/server.go
  tests/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test

#6127 rule_manager: generate default rules based on whether enable witness
  server/config/persist_options.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/config/config.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6090 Improve PD/TSO-MCS Service Discovery and TSO Client.
  client/client.go
  client/client_test.go
  client/keyspace_client.go
  client/meta_storage_client.go
  client/pd_service_discovery.go
  client/resource_manager_client.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  tests/client/Makefile
  tests/client/client_test.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6137 resource_manager_client: fix client nil possible to fix panic
  client/grpcutil/grpcutil.go
  client/resource_manager_client.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6138 Add and initialize cluster id in the TSO service
  client/client.go
  client/pd_service_discovery.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  pkg/mcs/tso/server/server.go
  tests/mcs/tso/testutil.go
  tests/mcs/tso/tso_service_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6141 refactor: reduce similar code to handler the forward request
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, release-note-none

#6139 rule_checker: revert promote witness when has pending voter
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6098 resource_manager_client: remove stale resource group
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/model.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6123 *: add defer to logs the panic reason and stack
  pkg/cache/ttl.go
  pkg/election/lease.go
  pkg/gctuner/memory_limit_tuner.go
  pkg/mcs/discovery/register.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/schedule/region_scatterer.go
  pkg/systimemon/systimemon.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  server/region_syncer/client.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, ok-to-test

#6125 controller: return the consumption info on RU request/response
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/testutil.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test, component/resource-control

#6152 mcs: add retry mechanism for initializing the cluster ID
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/mcs/utils/util.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6150 resource_manager/client: resource group Independent reporting time
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#6158 mcs: unify confusing etcd key
  pkg/mcs/resource_manager/server/server.go
  tests/mcs/discovery/register_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6162 pkg: move operator_check out from test_util
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/checker/replica_checker_test.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/schedule/schedulers/transfer_witness_leader_test.go
  pkg/utils/operatorutil/operator_check.go
  server/cluster/coordinator_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6132 redirect /admin/reset-ts to tso under microservice mode
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/server.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6163 client/resource_group: make maxWaitDuration configurable
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#6164 *: unify cleanupFunc in test
  pkg/mcs/resource_manager/server/testutil.go
  pkg/mcs/tso/server/testutil.go
  pkg/utils/testutil/testutil.go
  server/api/admin_test.go
  server/api/checker_test.go
  server/api/cluster_test.go
  server/api/config_test.go
  server/api/diagnostic_test.go
  server/api/hot_status_test.go
  server/api/label_test.go
  server/api/log_test.go
  server/api/member_test.go
  server/api/min_resolved_ts_test.go
  server/api/operator_test.go
  server/api/pprof_test.go
  server/api/region_label_test.go
  server/api/region_test.go
  server/api/rule_test.go
  server/api/scheduler_test.go
  server/api/server_test.go
  server/api/service_gc_safepoint_test.go
  server/api/service_middleware_test.go
  server/api/stats_test.go
  server/api/store_test.go
  server/api/tso_test.go
  server/api/unsafe_operation_test.go
  server/server_test.go
  server/testutil.go
  tests/client/client_test.go
  tests/client/global_config_test.go
  tests/server/keyspace/keyspace_test.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#6165 Improve grpcutil.GetOrCreateGRPCConn with CAS
  client/grpcutil/grpcutil.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, ok-to-test

#6166 mcs: use cluster ID for election
  client/tso_service_discovery.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6168 Fix panic issue when client.getClient returns nil.
  client/client.go
  client/errs/errno.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6135 config: adjust config when tikv engine is `raft-kv2`
  pkg/schedule/config/config.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/persist_options.go
  server/config/store_config.go
  server/config/store_config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6155 *: add watch for services' primary address
  pkg/utils/apiutil/serverapi/middleware.go
  server/server.go
  tests/cluster.go
  tests/mcs/discovery/register_test.go
  tests/mcs/resource_manager/server_test.go
  tests/mcs/testutil.go
  tests/mcs/tso/server_test.go
  tests/mcs/tso/tso_service_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6171 Register tso/resource_manager services with ServiceRegistryEntry json struct
  pkg/mcs/discovery/discover_test.go
  pkg/mcs/discovery/registry_entry.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  tests/mcs/discovery/register_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6130 mcs: support forwarding requests for tso server
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/tso/allocator_manager.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/member.go
  server/api/tso.go
  server/grpc_service.go
  server/server.go
  tests/mcs/testutil.go
  tests/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6063 resource_manager: add degraded mode
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/limiter.go
  pkg/mcs/resource_manager/server/config.go
  pkg/mcs/resource_manager/server/config_test.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/server.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/resource_group.go
  server/config/config.go
  server/server.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6172 mcs: move service name to utils/constant.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  server/grpc_service.go
  server/server.go
  server/server_test.go
  tests/cluster.go
  tests/mcs/discovery/register_test.go
  tests/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6180 resource control: add priority field for resource group
  go.mod
  go.sum
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/resource_group_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/go.mod
  tests/mcs/go.sum
  tests/mcs/resource_manager/resource_manager_test.go
  tests/mcs/resource_manager/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6160 Support service mode switching for tso and change the value type of tso primary to tsopb.Participant
  client/client.go
  client/errs/errno.go
  client/go.mod
  client/go.sum
  client/keyspace_client.go
  client/meta_storage_client.go
  client/pd_service_discovery.go
  client/resource_manager_client.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  client/tso_stream.go
  go.mod
  go.sum
  pkg/basicserver/basic_server.go
  pkg/mcs/meta_storage/server/grpc_service.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/storage/endpoint/key_path.go
  pkg/tso/allocator_manager.go
  pkg/tso/local_allocator.go
  pkg/utils/apiutil/multiservicesapi/middleware.go
  server/api/server.go
  server/grpc_service.go
  server/server.go
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/discovery/register_test.go
  tests/mcs/go.mod
  tests/mcs/go.sum
  tests/mcs/testutil.go
  tests/mcs/tso/server_test.go
  tests/server/tso/allocator_test.go
  tools/pd-tso-bench/go.sum
  tools/pd-tso-bench/main.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6178 change rule-group delete func to rule-bundle delete func
  tests/pdctl/config/config_test.go
  tools/pd-ctl/pdctl/command/config_command.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6170 resource_manager/client: introduce RU and Request metrics
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
  client/resource_group/controller/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#6182 etcdutil: revert etcd client in pd legacy server
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6176 resource_manager: Remove `buffer` and `initialRequestUnits` var
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6189 *: fix urls cannot take effect when setting in the config file
  cmd/pd-server/main.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6177 mcs: use release mode for gin
  pkg/mcs/resource_manager/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
  server/server.go
  tests/mcs/discovery/register_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6183 tests: make the TSO testing as independent as possible
  client/client.go
  client/tso_client.go
  pd.code-workspace
  pkg/mcs/tso/server/testutil.go
  pkg/utils/testutil/testutil.go
  tests/client/client_test.go
  tests/mcs/tso/tso_service_test.go
  tests/server/tso/consistency_test.go
  tests/server/tso/global_tso_test.go
  tests/tso/Makefile
  tests/tso/client_test.go
  tests/tso/consistency_test.go
  tests/tso/go.mod
  tests/tso/go.sum
  tests/tso/server_test.go
  tests/tso/testutil.go
Labels: component/testing, status/can-merge, status/LGT2, component/tso, release-note-none

#6196 build(deps): bump some dependencies to fix the severity alters
  tests/tso/go.mod
  tests/tso/go.sum
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, component/tso, release-note-none

#6200 rule: it can transfer leader between the different rule
  pkg/schedule/filter/filters.go
  pkg/schedule/placement/fit.go
  pkg/schedule/placement/fit_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0

#6204 ci: add GitHub Actions workflows for release-7.x
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-function-test.yaml
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6201 client: refine serviceModeKeeper code
  client/client.go
  client/pd_service_discovery.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
Labels: status/can-merge, status/LGT2, component/client, release-note-none

#6199 *: use txn for saving timestamp
  pkg/storage/endpoint/tso.go
  pkg/storage/storage_tso_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6205 *: use revision for watch test
  pkg/tso/tso.go
  tests/client/client_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, release-note-none

#6207 *: remove unnecessary rand init
  pkg/core/region_tree.go
  pkg/mcs/tso/server/server.go
  pkg/member/member.go
  pkg/movingaverage/moving_average_test.go
  pkg/schedule/filter/candidates.go
  pkg/schedule/waiting_operator.go
  pkg/utils/etcdutil/etcdutil.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6208 pkg: remove txn lock
  pkg/storage/kv/etcd_kv.go
Labels: status/can-merge, status/LGT2, release-note-none

#6212 mcs: support advertise address
  cmd/pd-server/main.go
  pkg/mcs/resource_manager/server/config.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/resource_manager/server/testutil.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/tso/server/testutil.go
  pkg/member/participant.go
  tests/mcs/discovery/register_test.go
  tests/mcs/resource_manager/server_test.go
  tests/mcs/testutil.go
  tests/mcs/tso/server_test.go
  tests/tso/client_test.go
  tests/tso/consistency_test.go
  tests/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6206 resource_control: create the default resource group
  errors.toml
  pkg/errs/errno.go
  pkg/mcs/resource_manager/server/manager.go
  tests/mcs/resource_manager/resource_manager_test.go
  tests/mcs/resource_manager/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6215 mcs: remove advertise backend endpoint parameters
  cmd/pd-server/main.go
  pkg/mcs/resource_manager/server/config.go
  pkg/mcs/resource_manager/server/testutil.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/testutil.go
  tests/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6211 Serialize tso stream creation
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6039 resource_manager: implement the token-consuming by client
  client/resource_group/controller/controller.go
  client/resource_group/controller/limiter.go
  errors.toml
  pkg/errs/errno.go
  pkg/mcs/resource_manager/server/apis/v1/api.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/resource_group_test.go
  pkg/mcs/resource_manager/server/token_buckets_test.go
  pkg/mcs/resource_manager/server/token_bukets.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test, needs-cherry-pick-release-7.0

#6216 resource_manager/client: Don't set token as `-1` in burstable mode
  client/resource_group/controller/controller.go
  client/resource_group/controller/limiter.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6198 tests: divide all tests into the CI chunks including submodule tests
  .github/workflows/pd-tests.yaml
  Makefile
  pd.code-workspace
  pkg/utils/grpcutil/grpcutil_test.go
  scripts/ci-subtask.sh
  tests/integrations/client/Makefile
  tests/integrations/client/cert-expired/ca-config.json
  tests/integrations/client/cert-expired/ca-csr.json
  tests/integrations/client/cert-expired/ca-key.pem
  tests/integrations/client/cert-expired/ca.csr
  tests/integrations/client/cert-expired/ca.pem
  tests/integrations/client/cert-expired/client-key.pem
  tests/integrations/client/cert-expired/client.csr
  tests/integrations/client/cert-expired/client.pem
  tests/integrations/client/cert-expired/gencerts.sh
  tests/integrations/client/cert-expired/pd-server-key.pem
  tests/integrations/client/cert-expired/pd-server.csr
  tests/integrations/client/cert-expired/pd-server.pem
  tests/integrations/client/cert/ca-config.json
  tests/integrations/client/cert/ca-csr.json
  tests/integrations/client/cert/ca-key.pem
  tests/integrations/client/cert/ca.csr
  tests/integrations/client/cert/ca.pem
  tests/integrations/client/cert/client-key.pem
  tests/integrations/client/cert/client.csr
  tests/integrations/client/cert/client.pem
  tests/integrations/client/cert/gencerts.sh
  tests/integrations/client/cert/pd-server-key.pem
  tests/integrations/client/cert/pd-server.csr
  tests/integrations/client/cert/pd-server.pem
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/client/global_config_test.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/client/keyspace_test.go
  tests/integrations/mcs/Makefile
  tests/integrations/mcs/discovery/register_test.go
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/mcs/resource_manager/resource_manager_test.go
  tests/integrations/mcs/resource_manager/server_test.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/Makefile
  tests/integrations/tso/client_test.go
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tests/integrations/tso/server_test.go
  tests/integrations/tso/testutil.go
Labels: component/testing, status/can-merge, status/LGT2, release-note-none

#6226 build(deps): bump some dependencies to fix the severity alters
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, release-note-none

#6175 Refactor TSO forward/dispatcher to be shared by both PD and TSO
  client/grpcutil/grpcutil.go
  client/tso_batch_controller.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_stream.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/tso/allocator_manager.go
  pkg/utils/tsoutil/tso_dispatcher.go
  pkg/utils/tsoutil/tso_proto_factory.go
  pkg/utils/tsoutil/tso_request.go
  pkg/utils/tsoutil/tsoutil.go
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test

#6227 resource_manager: change the default group fillrate to MaxInt32
  pkg/mcs/resource_manager/server/manager.go
  tests/integrations/mcs/resource_manager/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6214 Add basic multi-keyspace-group management
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/config_test.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/handler.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/member/election_leader.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/local_allocator.go
  pkg/tso/testutil.go
  pkg/tso/tso.go
  server/config/config.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6237 resource_manager/client: fix too many token request when burst < 0
  client/resource_group/controller/limiter.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6239 schedulers: Add a comment
  pkg/schedule/placement/label_constraint.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6229 *: support keyspace group RESTful API
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  pkg/mcs/utils/constant.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/storage/storage.go
  pkg/tso/keyspace_group_manager.go
  server/apiv2/handlers/keyspace.go
  server/apiv2/handlers/tso_keyspace_group.go
  server/apiv2/middlewares/bootstrap_checker.go
  server/apiv2/middlewares/redirector.go
  server/apiv2/router.go
  server/keyspace/tso_keyspace_group.go
  server/keyspace/tso_keyspace_group_test.go
  server/keyspace/util.go
  server/server.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6184 mcs: add more tso tests
  client/pd_service_discovery.go
  pkg/tso/allocator_manager.go
  server/cluster/cluster.go
  tests/cluster.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6244 client: fix compatibility problem of pd client
  client/pd_service_discovery.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.0

#6246 online recovery: fix online recovery timeout mechanism (#6108)
  server/cluster/unsafe_recovery_controller.go
  server/cluster/unsafe_recovery_controller_test.go
Labels: status/can-merge, status/LGT2, cherry-pick-approved, release-note-none
