Repository tikv/pd, pull requests merged in 2023-11, with the labels that each got.

#7256 mcs: support scheduler config forward and enable some tests
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/handler/handler.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/utils/testutil/api_check.go
  server/api/server.go
  server/config/persist_options.go
  server/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/api/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7293 resourcemanager: change param name
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/token_buckets.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7303 dashboard: update hotfix version
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7294 checker: replace down check with disconnect check when fixing orphan peer
  pkg/core/store.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7319 mcs: fix duplicated metrics
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7315 checker: avoid unnecessary remove disconnected peer with multi orphan peers
  pkg/core/store.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7295 checker: replace down check with disconnect check when fixing orphan peer(#7294)
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7321 mcs: solve forward stream error
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7278 mcs: support config http interface in scheduling server
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/server.go
  server/api/config.go
  server/api/config_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/pdctl/config/config_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/api/operator_test.go
  tests/server/api/scheduler_test.go
  tests/server/config/config_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7252 core: batch get region size
  pkg/core/region.go
  pkg/core/region_test.go
  server/cluster/cluster.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7333 mcs/scheduling: fix typo
  pkg/mcs/scheduling/server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7335 mcs: fix participant name
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/server.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7327 mcs: solve stream error when forward tso
  pkg/utils/grpcutil/grpcutil.go
  server/gc_service.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7339 chore(dashboard): update tidb dashboard verstion to v2023.11.08.1
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: release-note, status/can-merge, status/LGT2, size/S, ok-to-test

#7330 checker: reduces the probability of deleting normal peers when the store becomes unavailable (#7249)
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/XL, cherry-pick-approved, release-note-none

#6295 dr-autosync: add recover timeout
  pkg/replication/replication_mode.go
  pkg/replication/replication_mode_test.go
  server/config/config.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-6.5

#7344 mcs/resourcemanager: delete expire tokenSlot
  pkg/mcs/resourcemanager/server/token_buckets.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7326 scheduler: refine the interval of scheduling tick in evict-slow-trend-scheduler.
  pkg/schedule/schedulers/evict_slow_trend.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7348 mcs: tso service should not forward again
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7199 mcs: support rules http interface in scheduling server
  errors.toml
  pkg/errs/errno.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/handler/handler.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/region_test.go
  server/api/rule.go
  server/api/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/pdctl/config/config_test.go
  tests/server/api/rule_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7352 etcdutil, leadership: avoid redundant created watch channel
  pkg/election/leadership.go
  pkg/utils/etcdutil/etcdutil.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none, needs-cherry-pick-release-7.5

#7342 checker: refactor fixOrphanPeers
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7354 mcs: fix error typo
  pkg/mcs/tso/server/install/install.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7270 mcs: use a controller to manage scheduling jobs
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/cluster/scheduling_controller.go
  server/grpc_service.go
  server/handler.go
  server/server.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7357 api: add rule middleware
  server/api/router.go
  server/api/rule.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7304 client: introduce the HTTP client
  client/client.go
  client/http/api.go
  client/http/client.go
  client/http/types.go
  client/http/types_test.go
  tests/integrations/client/http_client_test.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/XXL, release-note-none

#7361 resource_controller: prevent loadServerConfig from panic
  client/resource_group/controller/controller.go
Labels: status/can-merge, status/LGT2, component/client, size/XS, release-note-none, component/resource-control

#7305 *: Improve region forward
  server/forward.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7217 prepare_check: remove redundant check
  pkg/cluster/cluster.go
  pkg/core/region.go
  pkg/core/region_tree.go
  pkg/schedule/prepare_checker.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/cluster/cluster_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7275 makefile: support build with `boringcrypto` to support Fips
  Makefile
  pkg/versioninfo/fips.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7301 member: avoid frequent campaign times
  client/client.go
  pkg/election/leadership.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/server.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  server/server.go
  tests/cluster.go
  tests/server/member/member_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7367 mcs: make scheduling server test stable
  pkg/utils/testutil/api_check.go
  server/api/diagnostic_test.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/pdctl/config/config_test.go
  tests/server/api/rule_test.go
  tests/server/api/scheduler_test.go
  tests/server/config/config_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7378 resourcemanager: return resource-group priority in OnRequestWait
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-7.5

#7376 makefile: delete redundant build commands
  Makefile
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7227 etcdutil: remove stale client endpoints for `healthyChecker`
  pkg/utils/etcdutil/etcdutil.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-7.5

#7385 tests: make TestUpdateAfterResetTSO stable
  pkg/member/member.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7371 client/http: implement more HTTP APIs
  client/http/api.go
  client/http/client.go
  client/http/types.go
  pkg/mock/mockcluster/config.go
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/operator/create_operator_test.go
  pkg/schedule/placement/fit_region_test.go
  pkg/schedule/placement/region_rule_cache_test.go
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/placement/rule_manager_test.go
  pkg/schedule/placement/rule_test.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/schedule/schedulers/balance_witness_test.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/scheduler_test.go
  server/api/cluster_test.go
  server/api/region_test.go
  server/api/rule.go
  server/cluster/cluster_test.go
  server/server.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/scheduling/rule_test.go
  tests/pdctl/config/config_test.go
  tests/server/api/operator_test.go
  tests/server/api/rule_test.go
  tools/pd-simulator/simulator/cases/diagnose_rule.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/XXL, release-note-none

#7325 mcs: dynamic enable scheduling jobs
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/scheduler_controller.go
  server/api/middleware.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/cluster/scheduling_controller.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/keyspace/keyspace_group_test.go
  tests/server/api/operator_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7392 *: fix data race of `TestRaftClusterMultipleRestart`
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker_test.go
  server/server.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7283 mcs: support region label http interface in scheduling server
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/handler/handler.go
  pkg/utils/apiutil/serverapi/middleware.go
  pkg/utils/testutil/api_check.go
  server/api/region_label.go
  server/api/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/server/api/rule_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7396 mcs: fix sync store label
  pkg/core/store_option.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/meta/watcher.go
  tests/integrations/mcs/scheduling/meta_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7370 *: clean up handling metrics process
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/hot_cache.go
  pkg/statistics/region_collection.go
  pkg/statistics/store_collection.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/scheduling_controller.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7398 *: make TestConfigTestSuite stable
  client/retry/backoff.go
  pkg/schedule/operator/operator_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/pdctl/config/config_test.go
  tests/server/api/rule_test.go
  tests/server/cluster/cluster_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7397 client/http: encapsulate rule-related PD HTTP interfaces
  client/http/api.go
  client/http/client.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/XL, release-note-none

#7404 client/http: pass res interface into respHandler
  client/http/client.go
Labels: status/can-merge, status/LGT1, component/client, require-LGT1, size/S, release-note-none

#7390 dr: add more log when state change
  pkg/replication/replication_mode.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7408 tests: make TestFallbackTSOConsistency stable
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/server_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7402 *: make resign leader test more stable
  tests/integrations/client/client_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7412 *: make TestPrimaryChange stable
  tests/integrations/mcs/scheduling/server_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7368 api: use suitable status code and make TestResetTS stable
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/tso/admin.go
  server/api/admin_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7406 schedulers: add reload config function
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/schedulers/utils.go
  pkg/window/policy.go
  server/cluster/scheduling_controller.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/api/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
  tools/pd-simulator/simulator/node.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7337 checker: reduces the probability of deleting normal peers when the store becomes unavailable (#7249)
  server/cluster/coordinator_test.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, size/XL, cherry-pick-approved, release-note-none

#7403 mcs: fix api wrongly send to scheduling server
  server/api/admin.go
  server/api/config.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7420 *: fix data race when starting server
  pkg/utils/apiutil/serverapi/middleware.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7417 mcs: speed up and stablize tests
  tests/integrations/mcs/scheduling/server_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7415 schedule: fix panic when switching placement rules
  pkg/schedule/checker/rule_checker.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7421 *: fix data race of TestPersistScheduler
  server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7428 *: Use http.NoBody instead of nil in http.NewRequest calls
  client/http/client.go
  pkg/audit/audit_test.go
  pkg/dashboard/adapter/redirector_test.go
  pkg/utils/apiutil/apiutil.go
  server/api/admin.go
  server/api/admin_test.go
  server/api/config.go
  server/api/region_test.go
  server/api/server_test.go
  server/api/store_test.go
  server/cluster/cluster.go
  server/server_test.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/server/api/api_test.go
  tests/server/api/testutil.go
  tests/server/apiv2/handlers/testutil.go
  tests/server/member/member_test.go
  tools/pd-api-bench/cases/cases.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7297 mcs: support region http interface in scheduling server
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/handler/handler.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/utils/apiutil/serverapi/middleware.go
  scripts/ci-subtask.sh
  server/api/region.go
  server/api/region_test.go
  server/api/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/api/operator_test.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7426 mcs: fix TestAllocIDAfterLeaderChange
  errors.toml
  pkg/errs/errno.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/apiv2/middlewares/redirector.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7434 ci: adjust the task weight algorithm to make ci tasks more uniform
  scripts/ci-subtask.sh
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7437 mcs: make TestDefaultKeyspaceGroup stable
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7430 client/http: implement more rule and batch related interfaces
  client/http/api.go
  client/http/client.go
  client/http/types.go
  pkg/schedule/checker/checker_controller.go
  pkg/utils/tsoutil/tsoutil.go
  server/cluster/cluster.go
  server/cluster/scheduling_controller.go
  tests/integrations/client/http_client_test.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/XL, release-note-none

#7449 client/http: use KeyRange to differentiate the encoding format of the key
  client/http/api.go
  client/http/client.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/M, release-note-none

#7409 mcs: support ttl config
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/config/config.go
  server/config/persist_options.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/server/config/config_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7450 mcs: fix the last heartbeat is not updated
  pkg/core/store_option.go
  pkg/mcs/scheduling/server/cluster.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7451 go.mod: upgrade gin version from v1.8.1 to v1.9.1
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
Labels: release-note, status/can-merge, status/LGT2, size/XL, ok-to-test

#7458 dashboard: update version to v20231127.1
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-6.5, ok-to-test

#7455 *: make `TestUpdateDefaultReplicaConfig` stable
  tests/pdctl/config/config_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7456 *: remove improper method in ServiceDiscovery
  client/pd_service_discovery.go
  client/tso_service_discovery.go
  pkg/utils/grpcutil/grpcutil.go
  server/config/persist_options.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7463 *: make TestConfig stable
  pkg/dashboard/adapter/manager.go
  tests/pdctl/config/config_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7442 pd-ctl: retry when keyspace group manager not initialized
  server/apiv2/handlers/keyspace.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/pdctl/keyspace/keyspace_test.go
  tools/pd-ctl/pdctl/command/keyspace_command.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, ok-to-test

#7453 client/http: add GetHistoryHotRegions interface and more tests
  client/http/client.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/L, release-note-none

#7433 mcs: fix unstable panic in tso test
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7465 client: add follower option
  client/client.go
  client/option.go
  client/option_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7443 client: update the leader even if the connection creation fails
  client/client.go
  client/grpcutil/grpcutil.go
  client/pd_service_discovery.go
  client/tso_client.go
  client/tso_dispatcher.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7454 api: return `[]` rather than `null` for empty scheduler results
  pkg/schedule/handler/handler.go
  tests/pdctl/scheduler/scheduler_test.go
  tests/server/api/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7486 schedulers: fix config data race
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/split_bucket.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7462 client/http: implement the marshaler interfaces for Rule/RuleOp
  client/http/api.go
  client/http/client.go
  client/http/codec.go
  client/http/codec_test.go
  client/http/types.go
  client/http/types_test.go
  server/api/stats.go
  server/api/store.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/XXL, release-note-none

#7461 syncer: add region syncer client status
  pkg/syncer/client.go
  pkg/syncer/server.go
  server/server.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7487 *: make TestDisable stable
  pkg/schedule/coordinator.go
  server/cluster/cluster.go
  tests/server/api/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none
