Repository tikv/pd, pull requests merged in 2023-04, with the labels that each got.

#6255 mcs: fix ctx in tso forward stream
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, release-note-none

#6249 *: remove cluster dependency from keyspace
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  server/api/region_label_test.go
  server/apiv2/handlers/keyspace.go
  server/config/config.go
  server/keyspace_service.go
  server/server.go
  tests/cluster.go
  tests/integrations/client/keyspace_test.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/keyspace/keyspace_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6258 *: make code clear by rename `isServing` to `isRunning`
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6260 *: upgrade aws sdk from v1 to v2
  go.mod
  go.sum
  pkg/encryption/kms.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#6267 cgroup: fix the path problem due to special container name
  pkg/cgroup/cgroup.go
  pkg/cgroup/cgroup_mock_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6253 store: ignore the store if the capacity is 0B
  pkg/core/store.go
  pkg/core/store_test.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/filter/filters.go
  pkg/schedule/plan/status.go
  pkg/statistics/store_collection_test.go
  tests/integrations/client/client_test.go
  tests/integrations/client/go.mod
  tests/pdctl/helper.go
Labels: status/can-merge, status/LGT2, release-note-none

#6251 server: fix watch keyspace revision
  server/keyspace_service.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6269 tso, server: refine the TSO allocator manager parameters
  pkg/tso/allocator_manager.go
  pkg/tso/keyspace_group_manager.go
  server/server.go
Labels: status/can-merge, status/LGT2, component/tso, release-note-none

#6272 tso: unify the TSO ServiceConfig and ConfigProvider interfaces
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
Labels: status/can-merge, status/LGT1, require-LGT1, component/tso, release-note-none

#6247 Load initial assignment and dynamically watch/apply keyspace groups' membership/distribution change
  client/client.go
  client/errs/errno.go
  errors.toml
  go.mod
  pkg/errs/errno.go
  pkg/mcs/tso/server/handler.go
  pkg/mcs/tso/server/server.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/key_path_test.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6241 *: define user kind for keyspace group
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/storage/endpoint/tso_keyspace_group.go
  server/server.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6280 Add more failure tests when tso service loading initial keyspace groups assignment
  errors.toml
  pkg/errs/errno.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6283 mcs: fix panic when resp is nil
  pkg/mcs/meta_storage/server/grpc_service.go
Labels: status/can-merge, status/LGT2, release-note-none

#6286 *: fix unexpected log
  client/pd_service_discovery.go
  tests/integrations/tso/server_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6287 test: fix unstabled test
  pkg/schedule/schedulers/hot_region_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6292 *: make TestGlobalAndLocalTSO stable
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6268 *: auto assign keyspace group
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/slice/slice.go
  pkg/slice/slice_test.go
  server/apiv2/handlers/tso_keyspace_group.go
Labels: status/can-merge, status/LGT2, release-note-none

#6294 resource_manager/client: fix exceed error when ru consump of query is greater than ru fill rate
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/metrics.go
  tests/integrations/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6293 keyspace, api: support the keyspace group split
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, component/keyspace, release-note-none

#6305 Improve lock mechanism in tso.KeyspaceGroupManager
  pkg/tso/allocator_manager.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6309 keyspace: add split-from field for endpoint.KeyspaceGroup
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/storage/endpoint/tso_keyspace_group.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, component/keyspace, release-note-none

#6299 pkg: support getting memory info from cgroup
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/memory/meminfo.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-tso-bench/go.mod
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6302 pkg: fix bugs that the report interval equals the avg interval
  pkg/movingaverage/avg_over_time.go
  pkg/movingaverage/avg_over_time_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6315 tso: optimize function signatures to reduce parameter passing
  pkg/tso/keyspace_group_manager_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, component/tso, release-note-none

#6308 *: bootstrap keyspace group when server is in API mode
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/server.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6316 keyspace: avoid keyspace being updated during the split
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/storage/endpoint/tso_keyspace_group.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, component/keyspace, release-note-none

#6318 *: fix `TestConcurrentlyReset`
  pkg/tso/global_allocator.go
Labels: status/can-merge, status/LGT2, release-note-none

#6296 pkg: fix read cpu quota from cgroup v2
  pkg/cgroup/cgroup.go
  pkg/cgroup/cgroup_cpu.go
  pkg/cgroup/cgroup_memory.go
  pkg/cgroup/cgroup_mock_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6273 scheduler: bugfix for slow-trend-scheduler when timestamp of heartbeats are equal
  pkg/schedule/schedulers/evict_slow_trend.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6306 bootstrap default keyspace group in the tso service
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/tso/server/handler.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/utils/tsoutil/tso_request.go
  server/apiv2/handlers/tso_keyspace_group.go
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6234 operator: cache operator influence
  pkg/core/storelimit/limit.go
  pkg/core/storelimit/limit_test.go
  pkg/core/storelimit/sliding_window.go
  pkg/core/storelimit/store_limit.go
  pkg/schedule/operator/influence.go
  pkg/schedule/operator/operator.go
  pkg/schedule/operator_controller.go
  pkg/schedule/operator_controller_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6324 *: change the log level
  errors.toml
  pkg/errs/errno.go
  pkg/keyspace/keyspace.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/tso.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6325 *: fix the missing log panic
  pkg/election/lease.go
  pkg/schedule/labeler/labeler.go
  pkg/statistics/buckets/hot_bucket_cache.go
  pkg/statistics/hot_cache.go
  pkg/storage/endpoint/gc_key_space.go
  pkg/storage/hot_region_storage.go
  pkg/storage/leveldb_backend.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/local_allocator.go
  pkg/utils/metricutil/metricutil.go
  pkg/utils/tsoutil/tso_dispatcher.go
  server/cluster/coordinator.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6320 *: fix `TestLogicalOverflow`
  tests/server/tso/global_tso_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6279 mcs: fix watch primary address revision and update cache when meets not leader
  pkg/tso/keyspace_group_manager.go
  pkg/utils/tsoutil/tso_dispatcher.go
  server/grpc_service.go
  server/server.go
  tests/integrations/mcs/discovery/register_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6313 tso, member: support TSO split based on keyspace group split
  errors.toml
  pkg/errs/errno.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/mcs/tso/server/handler.go
  pkg/mcs/tso/server/server.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/tso/admin.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/local_allocator.go
  server/handler.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/tso/server_test.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/apiv2/handlers/testutil.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, release-note-none

#6329 mcs: support metrics HTTP interface for tso/resource manager server
  pkg/mcs/resource_manager/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/utils/util.go
  tests/integrations/mcs/resource_manager/server_test.go
  tests/integrations/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6331 tso: put finishSplitKeyspaceGroup into the critical section
  pkg/tso/keyspace_group_manager.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, release-note-none

#6337 *: make `TestServerRegister` stable
  tests/integrations/mcs/discovery/register_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6274 mcs: add balancer for keyspace group
  pkg/balancer/balancer.go
  pkg/balancer/balancer_test.go
  pkg/balancer/round_robin.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/mcs/discovery/key_path.go
  pkg/storage/endpoint/tso_keyspace_group.go
  server/apiv2/handlers/keyspace.go
  server/apiv2/handlers/tso_keyspace_group.go
  server/server.go
  tests/integrations/client/keyspace_test.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/apiv2/handlers/testutil.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
  tests/server/keyspace/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6336 client: Count resource penalty for resource control
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/model.go
  client/resource_group/controller/testutil.go
  tests/integrations/mcs/resource_manager/resource_manager_test.go
Labels: release-note, status/can-merge, status/LGT2

#6261 resource_manager/client: fine tune trickle param
  client/resource_group/controller/controller.go
  client/resource_group/controller/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#6327 server: add accelerate-schedule/batch api
  server/api/region.go
  server/api/region_test.go
  server/api/router.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6346 Fixed bugs in tso service registry watching loop.
  pkg/keyspace/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6339 mcs: fix double compression of prom handler
  pkg/mcs/resource_manager/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/utils/util.go
  tests/integrations/mcs/resource_manager/server_test.go
  tests/integrations/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6338 tests, tso: add more TSO split tests
  errors.toml
  pkg/errs/errno.go
  pkg/mcs/tso/server/server.go
  pkg/member/participant.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  tests/integrations/mcs/cluster.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/server/apiv2/handlers/testutil.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: component/testing, status/can-merge, status/LGT2, component/tso, component/keyspace, release-note-none

#6242 fix data race by replace clone
  pkg/core/storelimit/limit_test.go
  pkg/core/storelimit/store_limit.go
  pkg/schedule/operator_controller.go
Labels: status/can-merge, status/LGT2, release-note-none

#6161 storelimit: impl fead back by snapshot report
  pkg/core/constant/kind.go
  pkg/core/store.go
  pkg/core/storelimit/limit.go
  pkg/core/storelimit/limit_test.go
  pkg/core/storelimit/sliding_window.go
  pkg/core/storelimit/store_limit.go
  pkg/schedule/config/config.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/operator/influence.go
  pkg/statistics/store_collection.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/config.go
  server/config/persist_options.go
  tests/pdctl/config/config_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.1

#6353 keyspace, tso: fix next revision to watch after watch/Get/RangeScan
  pkg/keyspace/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6354 pkg: fix tso inconsistent problem
  pkg/storage/endpoint/tso.go
  pkg/storage/storage_tso_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.1

#6356 mcs, tests: use TSO cluster to do the failover test
  pkg/mcs/tso/server/server.go
  tests/integrations/mcs/cluster.go
  tests/integrations/tso/client_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, component/tso, release-note-none

#6352 *: fix `startWatchLoop` leak
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, release-note-none

#6341 mcs: update client when meet transport is closing
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, release-note-none

#6347 mcs: add bootstrap test
  tests/integrations/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6365 mcs, tso : fix flaky TestLoadKeyspaceGroupsAssignment test
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6362 mcs, tso: fix ts fallback caused by multi-primary of the same keyspace group
  pkg/mcs/tso/server/server.go
  tests/integrations/mcs/cluster.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6364 *: fix log output
  client/client.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6281 scheduler: move hot region should be splitted if it's size is too large .
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/operator/operator.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/buckets/bucket_stat_informer.go
  pkg/statistics/buckets/hot_bucket_cache.go
  pkg/statistics/buckets/hot_bucket_task.go
  pkg/utils/keyutil/util.go
  pkg/utils/keyutil/util_test.go
  server/cluster/cluster.go
  server/cluster/coordinator_test.go
  server/config/config.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none, affects-7.1, needs-cherry-pick-release-7.1

#6367 *: fix deletion of region stats metrics after resign
  pkg/statistics/region_collection.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, needs-cherry-pick-release-7.1

#6370 fix data race issue in the store limit test
  pkg/core/storelimit/limit_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6358 mcs: fix duplicate start of RaftCluster.
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, release-note-none

#6372 tso: add retry mechanism for updating keyspace group
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, release-note-none

#6314 scheduler: cache history loads in hot region scheduler
  pkg/core/constant/kind.go
  pkg/schedule/config/config.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2.go
  pkg/statistics/kind.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/store_hot_peers_infos.go
  pkg/statistics/store_load.go
  pkg/statistics/store_load_test.go
  server/config/store_config.go
  server/config/store_config_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.1

#6377 *: make TestScheduler stable
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6374 etcdutil: revert etcd client without multi endpoint
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  pkg/utils/etcdutil/etcdutil_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6383 mcs, tso: fix Nil pointer deference when (*AllocatorManager).GetMember
  pkg/tso/keyspace_group_manager.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6332 resource_manage/metrics: change histogram to vector
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#6321 mcs, tso: support multi-keyspace-group and its service discovery in E2E path
  client/client.go
  client/client_test.go
  client/errs/errno.go
  client/go.mod
  client/go.sum
  client/pd_service_discovery.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  client/tso_stream.go
  errors.toml
  go.mod
  go.sum
  pkg/errs/errno.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/member/participant.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  server/cluster/cluster.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#6380 client: add `NewClientWithKeyspaceName` for client
  client/client.go
  server/keyspace_service.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6382 keyspace, tso: check the replica count before the split
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, release-note-none

#6389 tso: fix bugs to make split test case to pass
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6388 keyspace: patrol keyspace assignment before the first split
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, component/keyspace, release-note-none

#6396 tests: fix Flaky TestMicroserviceTSOServer/TestConcurrentlyReset
  tests/integrations/tso/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6392 keyspace, slice: improve code efficiency in membership ops
  pkg/keyspace/tso_keyspace_group.go
  pkg/slice/slice.go
  pkg/slice/slice_test.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6398 tests: enable TestTSOKeyspaceGroupSplitClient
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, component/tso, component/keyspace, release-note-none
