Repository tikv/pd, pull requests merged in 2023-08, with the labels that each got.

#6826 mcs: init cluster for scheduler
  cmd/pd-server/main.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/config_watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/mcs/utils/util.go
  pkg/storage/endpoint/key_path.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/configutil/configutil.go
  server/config/config.go
  tests/integrations/mcs/scheduling/config_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#6863 schedule: add rule leader fit filter test with placement rule
  pkg/schedule/filter/filters_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6856 client: add trace to distinguish tso_wait and tso_rpc latency
  client/client.go
  client/tso_dispatcher.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, ok-to-test

#6874 dr-autosync: move state replicate to different goroutine
  pkg/replication/replication_mode.go
  pkg/replication/replication_mode_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6882 github: update CODEOWNERS
  .github/CODEOWNERS
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#6705 dr-autosync: move state replicate to different goroutine (#6874)
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
Labels: status/can-merge, status/LGT2, size/L, cherry-pick-approved, release-note-none, type/cherry-pick-for-release-6.5

#6881 codecov: only ignore the tool tests
  codecov.yml
Labels: component/testing, status/can-merge, status/LGT2, size/XS, release-note-none

#6876 mcs: fix ticker stop in register
  pkg/mcs/discovery/register.go
  pkg/mcs/discovery/register_test.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6878 *: implement the scheduling rule watcher
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/labeler_test.go
  pkg/schedule/labeler/rules.go
  pkg/schedule/placement/rule.go
  pkg/schedule/placement/rule_manager.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/rule.go
  pkg/utils/etcdutil/etcdutil.go
  tests/integrations/mcs/scheduling/rule_test.go
Labels: component/schedule, status/can-merge, status/LGT2, component/placement, size/XXL, release-note-none

#6887 Makefile: remove check-plugin from the static checks
  Makefile
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#6884 pkg/tso: add go trace information for tso allocation
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/local_allocator.go
  pkg/tso/tso.go
  server/gc_service.go
  server/grpc_service.go
  tests/server/tso/allocator_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, ok-to-test

#6895 client: add the missing forward ctx
  client/client.go
  client/gc_client.go
  pkg/replication/replication_mode.go
  tests/integrations/client/gc_client_test.go
  tests/integrations/client/global_config_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6891 *: merge hot stats
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/statistics/buckets/bucket_stat_informer.go
  pkg/statistics/buckets/hot_bucket_cache.go
  pkg/statistics/collector.go
  pkg/statistics/hot_cache.go
  pkg/statistics/hot_peer.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/hot_stat.go
  pkg/statistics/region_stat_informer.go
  pkg/statistics/store.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/store_hot_peers_infos.go
  pkg/statistics/store_load.go
  pkg/statistics/store_load_test.go
  pkg/statistics/utils/constant.go
  pkg/statistics/utils/kind.go
  pkg/statistics/utils/kind_test.go
  pkg/statistics/utils/topn.go
  pkg/statistics/utils/topn_test.go
  server/api/hot_status.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  tests/pdctl/hot/hot_test.go
  tests/pdctl/store/store_test.go
  tests/server/storage/hot_region_storage_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#6869 unsafe recovery: Add newly created empty regions output for unsafe recovery
  pkg/unsaferecovery/unsafe_recovery_controller.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#6903 pd-ctl: make `TestShowKeyspaceGroupPrimary` stable
  tests/pdctl/keyspace/keyspace_group_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#6907 pd-ctl: fix keyspace group split hang when pd is in pd-mode
  server/apiv2/handlers/tso_keyspace_group.go
  server/server.go
  tests/cluster.go
  tests/pdctl/keyspace/keyspace_group_test.go
  tools/pd-ctl/pdctl/command/keyspace_group_command.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6902 config: refactor StoreConfig into PersistOptions to ensure the persistence
  pkg/mock/mockcluster/config.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/config/config_provider.go
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/persist_options.go
  server/config/store_config.go
  server/config/store_config_test.go
Labels: component/schedule, status/can-merge, status/LGT2, component/config, size/XXL, release-note-none

#6914 utils: let http client can reuse connections
  pkg/utils/etcdutil/etcdutil.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6921 scheduling/config: watch StoreConfig in scheduling config watcher
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  tests/integrations/mcs/scheduling/config_test.go
Labels: component/schedule, status/can-merge, status/LGT1, component/config, require-LGT1, size/M, release-note-none

#6929 test: make `TestAPI` run again
  pkg/utils/testutil/api_check.go
  server/api/scheduler_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/M, release-note-none

#6919 config: sync store config in time
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: release-note, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6893 *: create coordinator with scheduling cluster
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/mock/mockcluster/config.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/config/store_config.go
  pkg/schedule/config/store_config_test.go
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/schedule/splitter/region_splitter.go
  pkg/schedule/splitter/region_splitter_test.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/store_limiter.go
  server/config/persist_options.go
  tests/integrations/mcs/scheduling/config_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#6925 election: fix the keep alive worker
  pkg/election/lease.go
  pkg/election/lease_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6909 tests: removes redundant integration files and generated by script
  pkg/utils/grpcutil/grpcutil_test.go
  tests/integrations/client/cert-expired/ca-config.json
  tests/integrations/client/cert-expired/ca-csr.json
  tests/integrations/client/cert-expired/ca-key.pem
  tests/integrations/client/cert-expired/ca.csr
  tests/integrations/client/cert-expired/ca.pem
  tests/integrations/client/cert-expired/client-key.pem
  tests/integrations/client/cert-expired/client.csr
  tests/integrations/client/cert-expired/client.pem
  tests/integrations/client/cert-expired/gencerts.sh
  tests/integrations/client/cert-expired/pd-server-key.pem
  tests/integrations/client/cert-expired/pd-server.csr
  tests/integrations/client/cert-expired/pd-server.pem
  tests/integrations/client/cert/ca-config.json
  tests/integrations/client/cert/ca-csr.json
  tests/integrations/client/cert/ca-key.pem
  tests/integrations/client/cert/ca.csr
  tests/integrations/client/cert/ca.pem
  tests/integrations/client/cert/client-key.pem
  tests/integrations/client/cert/client.csr
  tests/integrations/client/cert/client.pem
  tests/integrations/client/cert/gencerts.sh
  tests/integrations/client/cert/pd-server-key.pem
  tests/integrations/client/cert/pd-server.csr
  tests/integrations/client/cert/pd-server.pem
  tests/integrations/client/cert_opt.sh
  tests/integrations/client/client_tls_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#6911 pkg/core, cluster: save kv and cache if region flashback
  pkg/core/region.go
  pkg/core/region_option.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: release-note, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6896 *: make coordinator run
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/server.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/utils/etcdutil/etcdutil.go
  server/cluster/cluster.go
  server/config/persist_options.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6924 *: update to go 1.21
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  Dockerfile
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-tso-bench/go.mod
  tools/pd-tso-bench/go.sum
Labels: release-note, status/can-merge, status/LGT2, size/XXL

#6952 config: sync store config in time (#6919) #6931
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/store_config.go
  server/config/store_config_test.go
Labels: release-note, status/can-merge, status/LGT2, size/M

#5706 tools: api bench
  Makefile
  tools/pd-api-bench/README.md
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/cert_opt.sh
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#6880 api: Extend the min-resolved-ts api to support getting the specified store
  client/client.go
  server/api/min_resolved_ts.go
  server/api/min_resolved_ts_test.go
  server/cluster/cluster.go
  tests/server/cluster/cluster_test.go
  tools/pd-api-bench/README.md
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6955 scheduling: watch the respective scheduler config and trim the prefix
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/storage/endpoint/key_path.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/integrations/mcs/scheduling/rule_test.go
Labels: component/schedule, status/can-merge, status/LGT2, component/config, component/scheduler, size/XL, release-note-none

#6958 apiutil, middleware: strengthen the robustness of GetIPPortFromHTTPRequest function
  pkg/audit/audit_test.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/apiutil/apiutil_test.go
  pkg/utils/apiutil/serverapi/middleware.go
  pkg/utils/requestutil/request_info.go
  server/apiv2/middlewares/redirector.go
  server/server.go
  server/server_test.go
  server/testutil.go
  tests/server/api/api_test.go
  tools/pd-ctl/pdctl/command/log_command.go
Labels: component/api, release-note, status/can-merge, status/LGT2, size/L

#6946 *: supports build pd-server with fail point
  Makefile
  pkg/utils/etcdutil/etcdutil.go
  server/api/failpoint.go
  server/api/router.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6967 chore: update tidb-dashboard to v2023.08.15.1
  go.mod
  go.sum
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, size/S, cherry-pick-approved, release-note-none, needs-ok-to-test

#6971 mcs/tso: add log to show the progress of group cleaning up
  pkg/tso/keyspace_group_manager.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, size/S, release-note-none, component/mcs

#6960 mcs: add http support for scheduling service
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/scheduling/server/testutil.go
  pkg/schedule/operator/operator_controller.go
  server/handler.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#6969 metrics: fix wrong metrics for balance region
  metrics/grafana/pd.json
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/scatter_range.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6945 slow node detection: enable `evict-slow-trend` on `raft-kv2`.
  pkg/mcs/scheduling/server/config/config.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/config/store_config.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/metrics.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/persist_options.go
  tests/integrations/mcs/scheduling/config_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none, needs-ok-to-test

#6834 server: add gRPC rate limit
  errors.toml
  pkg/errs/errno.go
  server/api/router.go
  server/api/service_middleware.go
  server/api/service_middleware_test.go
  server/api/store.go
  server/config/service_middleware_config.go
  server/config/service_middleware_persist_options.go
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#6982 region: remove error return logic
  server/core/region.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, size/XS, cherry-pick-approved, release-note-none

#6986 Bugfix when restarting from an existing cluster.
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, ok-to-test

#6961 etcdutil, leadership: use RequestProgress in watch loop
  pkg/election/leadership.go
  pkg/election/leadership_test.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/grpcutil/grpcutil.go
  pkg/utils/tsoutil/tso_dispatcher.go
  pkg/utils/tsoutil/tso_proto_factory.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#6985 mcs: add region stats to scheduling cluster
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/server.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6993 tests: improve the wait time of WaitForPrimaryServing
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/tso_cluster.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#6994 Revert the initialization of evict-slow-trend scheduler in `init_schedulers`.
  pkg/mcs/scheduling/server/config/config.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/config/store_config.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/metrics.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/persist_options.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-ok-to-test

#6964 mcs: refactor tso handler
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/tso/server/handler.go
  pkg/mcs/tso/server/server.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/tso/server_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6953 pkg/schedule, grpc_service : Add error code if scatter_region grpc is failed
  pkg/schedule/operator/operator_controller.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-6.5, ok-to-test, needs-cherry-pick-release-7.1

#7000 test: fix unstable test TestLoadWithoutNames
  tests/integrations/client/global_config_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7003 test: fix unstable test TestBasicResourceGroupCURD
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#6978 client: support backoff mechanism for memberLoop
  client/base_client.go
  client/client.go
  client/keyspace_client.go
  client/retry/backoff.go
  client/retry/backoff_test.go
  server/server.go
  tests/client/client_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/L, cherry-pick-approved, release-note-none

#6995 client: add backoff for `member loop`
  client/pd_service_discovery.go
  client/retry/backoff.go
  client/retry/backoff_test.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  server/server.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6987 *: add log to help debug
  pkg/election/lease.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#6992 client: wait handleResourceTokenDispatcher exit
  client/resource_manager_client.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7014 *: fix the static checks from the latest tools
  .golangci.yml
  pkg/core/region.go
  pkg/encryption/key_manager_test.go
  pkg/encryption/master_key_test.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/utils/apiutil/apiutil.go
  server/grpc_service.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7002 mcs: init rule manager
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/server.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7018 cmd, server: add env to manage the service mode
  cmd/pd-server/main.go
  server/server.go
Labels: release-note, status/can-merge, status/LGT1, require-LGT1, size/S

#7012 tso: pre-initialize the TSO metrics with the group label
  pkg/storage/endpoint/key_path.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/local_allocator.go
  pkg/tso/metrics.go
  pkg/tso/tso.go
Labels: component/metrics, status/can-merge, status/LGT2, component/tso, size/XL, release-note-none

#7013 mcs: extract the common part as base server
  pkg/basicserver/basic_server.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/server/server.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/util.go
  pkg/tso/allocator_manager.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7010 tests: make TestExpireRegionCache stable
  pkg/cache/cache_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#6927 scheduler: enhance output when scheduler config update
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/schedule/schedulers/split_bucket.go
  server/api/scheduler.go
  server/api/scheduler_test.go
  server/handler.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7019 operator: remove cancel reason for successfully finishing operator
  pkg/schedule/operator/operator.go
  pkg/schedule/operator/operator_controller.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#6854 scheduler: add some comments and example for hot scheduler
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/utils.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none
