Repository tikv/pd, pull requests merged in 2023-05, with the labels that each got.

#6395 tests: add more tests for multiple keyspace groups
  pkg/mcs/tso/server/server.go
  pkg/tso/keyspace_group_manager.go
  tests/integrations/mcs/cluster.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/server/tso/common_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6401 tests: fix failpoint disable
  pkg/schedule/operator_controller_test.go
  pkg/utils/etcdutil/etcdutil_test.go
  tests/integrations/tso/client_test.go
  tests/server/tso/tso_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6400 election: update leadership_test.go
  pkg/election/leadership_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6402 client: retry load keyspace meta when creating a new client
  client/client.go
Labels: status/can-merge, status/LGT2, release-note-none

#6410 Fix test issue in TestRandomResignLeader.
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6397 keyspace, api2: fix the keyspace assignment patrol consistency
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/storage/endpoint/keyspace.go
  pkg/storage/keyspace_test.go
  server/apiv2/handlers/tso_keyspace_group.go
  server/server.go
Labels: component/api, status/can-merge, status/LGT2, component/keyspace, release-note-none

#6379 election, tso: fix data race in lease.go
  pkg/election/leadership.go
  pkg/election/lease.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6290 mcs: fix forward test with pd mode client
  client/pd_service_discovery.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/util.go
  pkg/keyspace/util_test.go
  pkg/mcs/utils/constant.go
  pkg/tso/global_allocator.go
  pkg/tso/tso.go
  pkg/utils/tsoutil/tso_dispatcher.go
  server/grpc_service.go
  server/server.go
  tests/integrations/client/keyspace_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/server/apiv2/handlers/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6411 keyspace: patrol the keyspace assignment in batch
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
Labels: status/can-merge, status/LGT2, component/keyspace, release-note-none

#6390 etcdutil: add watch loop
  pkg/keyspace/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/tsoutil/tso_dispatcher.go
  server/grpc_service.go
  server/keyspace_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6373 mcs, tso: add API interface to obtain the TSO keyspace group member info
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/tso/server/server.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/apiutil/multiservicesapi/middleware.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, release-note-none

#6416 dashboard: update version
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.1

#6414 keysapce: wait region split when creating keyspace
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/util.go
  server/api/config.go
  server/apiv2/handlers/keyspace.go
  server/config/config.go
  server/config/persist_options.go
  server/server.go
  tests/integrations/client/keyspace_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/keyspace/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6413 minResolvedTS: Provide an API to fetch the store resolved_ts
  server/api/min_resolved_ts.go
  server/api/router.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, release-note-none

#6422 mcs: use getClusterInfo to check whether api service is ready
  pkg/mcs/tso/server/server.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6423 pd-ctl, tests: add the keyspace group commands
  server/apiv2/handlers/keyspace.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/pdctl/keyspace/keyspace_group_test.go
  tools/pd-ctl/pdctl/command/cluster_command.go
  tools/pd-ctl/pdctl/command/keyspace_group_command.go
  tools/pd-ctl/pdctl/command/tso_command.go
  tools/pd-ctl/pdctl/ctl.go
Labels: status/can-merge, status/LGT2, component/tools, component/keyspace, release-note-none

#6425 checker: fix the incorrect metrics name
  pkg/schedule/checker/replica_strategy.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, needs-cherry-pick-release-7.1

#6393 client: metircs with const label
  client/client.go
  client/metrics.go
  client/option.go
Labels: status/can-merge, status/LGT2, release-note-none

#6427 checker: fix unhealth region skip the rule check
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/metrics.go
  pkg/schedule/operator_controller.go
  pkg/schedule/operator_controller_test.go
  server/cluster/cluster.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6432 config: raftv2 use enable bucket split by default
  server/cluster/cluster_test.go
  server/config/persist_options.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-7.1

#6437 client: add a option to control whether to initialize the metric when creating the client
  client/client.go
  client/option.go
Labels: status/can-merge, status/LGT2, release-note-none

#6441 client: fix pd client panic
  client/metrics.go
Labels: status/can-merge, status/LGT2, release-note-none

#6434 Handle compatibility issue in GetClusterInfo RPC
  client/client.go
  client/pd_service_discovery.go
  client/tso_service_discovery.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6409 *: use another etcd client for election
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6459 Disable TestGetMinTS since it's not stable
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6447 server: fix the leader cannot election after pd leader lost while etcd leader intact
  pkg/member/member.go
  pkg/member/participant.go
  pkg/tso/allocator_manager.go
  server/server.go
  tests/server/member/member_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6450 resource_manager/client: modify log level
  client/resource_group/controller/limiter.go
  pkg/mcs/resource_manager/server/grpc_service.go
Labels: status/can-merge, status/LGT2, release-note-none

#6451 tso: use less interval when waiting api service
  pkg/mcs/tso/server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6445 etcdutil: fix ctx in watch loop
  pkg/utils/etcdutil/etcdutil.go
Labels: status/can-merge, status/LGT2, release-note-none

#6412 *: fix disable failpoint
  pkg/schedule/operator_controller.go
  pkg/schedule/operator_controller_test.go
  server/region_syncer/client_test.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6464 *: fix panic that region may not exist
  server/cluster/coordinator.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-7.1

#6468 cluster: fix the merging issue of labels after store reboot
  server/cluster/cluster.go
  server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6457 Fix "non-default keyspace groups use the same timestamp path by mistake"
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/local_allocator.go
  pkg/tso/tso.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/tso/client_test.go
  tests/integrations/tso/testutil.go
Labels: status/can-merge, status/LGT2, release-note-none

#6479 client: return error if the keyspace meta cannot be found
  client/client.go
Labels: status/can-merge, status/LGT2, release-note-none

#6480 *: fix typo in operator
  pkg/schedule/operator/step.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6481 *: unify import path format and rename the store meta functions
  cmd/pd-server/main.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/mcs/metastorage/server/install/install.go
  pkg/mcs/metastorage/server/manager.go
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/config_test.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/install/install.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/resource_group_test.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/resourcemanager/server/testutil.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
  pkg/mcs/resourcemanager/server/token_bukets.go
  pkg/storage/endpoint/meta.go
  pkg/storage/storage_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/config/config.go
  server/regionsyncer/client.go
  server/regionsyncer/client_test.go
  server/regionsyncer/history_buffer.go
  server/regionsyncer/history_buffer_test.go
  server/regionsyncer/metrics.go
  server/regionsyncer/server.go
  server/server.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/integrations/mcs/testutil.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6452 replication_mode: fix the state cannot switch to async while existing learner node
  pkg/core/basic_cluster.go
  pkg/core/region.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/statistics/store_collection.go
  server/api/store.go
  server/replication/replication_mode.go
  server/replication/replication_mode_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6482 client: support use API context to create client
  client/client.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6494 client: fix the leak of the keyspace watch channel
  client/keyspace_client.go
Labels: status/can-merge, status/LGT2, release-note-none

#6488 mcs, tso: implement GetMinTS gPRC on both API leader and PD client
  client/client.go
  client/go.mod
  client/go.sum
  client/tso_client.go
  errors.toml
  go.mod
  go.sum
  pkg/errs/errno.go
  server/grpc_service.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#6489 *: introduce the cluster informer for decoupling the dependencies
  pkg/keyspace/keyspace.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/joint_state_checker.go
  pkg/schedule/checker/learner_checker.go
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/checker/priority_inspector.go
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/checker/replica_strategy.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/split_checker.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/filter/healthy.go
  pkg/schedule/filter/region_filters.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/create_operator.go
  pkg/schedule/operator/step.go
  pkg/schedule/operator_controller.go
  pkg/schedule/range_cluster.go
  pkg/schedule/region_scatterer.go
  pkg/schedule/region_splitter.go
  pkg/schedule/scheduler.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/schedulers/utils.go
  plugin/scheduler_example/evict_leader.go
  server/cluster/coordinator_test.go
  server/replication/replication_mode.go
Labels: status/can-merge, status/LGT2, release-note-none

#6490 *: put the operator related logic together
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/metrics.go
  pkg/schedule/operator/metrics.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/operator/operator_queue.go
  pkg/schedule/operator/test_util.go
  pkg/schedule/operator/waiting_operator.go
  pkg/schedule/operator/waiting_operator_test.go
  pkg/schedule/region_scatterer.go
  pkg/schedule/region_scatterer_test.go
  pkg/schedule/region_splitter.go
  pkg/schedule/scheduler.go
  pkg/schedule/schedulers/balance_benchmark_test.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/balance_witness_test.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  plugin/scheduler_example/evict_leader.go
  server/api/operator.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/handler.go
Labels: status/can-merge, status/LGT2, release-note-none

#6501 metrics: add tso events metrics
  metrics/grafana/pd.json
Labels: release-note, status/can-merge, status/LGT1, require-LGT1

#6491 *: put the scheduler related logic together
  pkg/keyspace/keyspace.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/balance_witness_test.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/schedulers/transfer_witness_leader_test.go
  plugin/scheduler_example/evict_leader.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/handler.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6500 README: update the Go version from v1.19 to v1.20
  README.md
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, ok-to-test

#6504 resourcemanager/server: fix filename typo
  pkg/mcs/resourcemanager/server/token_buckets.go
Labels: status/can-merge, status/LGT2, release-note-none

#6506 metrics: update the mvcc db metrics of etcd
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6507 keyspace: add benchmarks for keyspace assignment patrol
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
Labels: component/testing, status/can-merge, status/LGT2, component/keyspace, release-note-none

#6514 Print keyspace-group-id zap field in the tso log conditionally
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/utils/logutil/log.go
Labels: status/can-merge, status/LGT2, release-note-none

#6513 Improve logging when tso keyspace group meta is updated.
  pkg/tso/keyspace_group_manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#6511 tso: log tso service discovery info on the client side only when the primary is changed
  client/tso_service_discovery.go
Labels: status/can-merge, status/LGT2, release-note-none

#6503 *: decouple coordinator with server
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/config/config.go
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/diagnostic_manager.go
  pkg/schedule/labeler/metrics.go
  pkg/schedule/metrics.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/prepare_checker.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/range_cluster.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/utils.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  server/api/diagnostic.go
  server/api/diagnostic_test.go
  server/api/plugin.go
  server/api/unsafe_operation_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/cluster/coordinator_test.go
  server/cluster/metrics.go
  server/handler.go
  tests/server/cluster/cluster_test.go
  tests/server/region_syncer/region_syncer_test.go
  tools/pd-ctl/pdctl/command/plugin_command.go
Labels: status/can-merge, status/LGT2, release-note-none

#6419 Introduce keyspace safepoint interface
  client/client.go
  client/errs/errno.go
  client/gc_client.go
  client/go.mod
  client/go.sum
  client/metrics.go
  go.mod
  go.sum
  pkg/gc/safepoint.go
  pkg/gc/safepoint_test.go
  pkg/gc/safepoint_v2.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/util.go
  pkg/storage/endpoint/gc_key_space.go
  pkg/storage/endpoint/gc_safe_point.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/safepoint_v2.go
  pkg/storage/storage.go
  pkg/storage/storage_gc_test.go
  server/cluster/cluster.go
  server/gc_service.go
  server/grpc_service.go
  server/server.go
  tests/integrations/client/gc_client_test.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6498 config, cluster: add an option to halt the cluster scheduling
  errors.toml
  metrics/grafana/pd.json
  pkg/errs/errno.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/config/config.go
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/diagnostic_manager.go
  pkg/schedule/placement/rule_manager_test.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/cluster/metrics.go
  server/config/config.go
  server/config/persist_options.go
Labels: status/can-merge, status/LGT2, release-note-none

#6475 resource_manager: add the runaway field for resource group
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/resource_group_test.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#6524 mcs, tso: remove unnecessary "create tso forwarding stream" log on the common happy path
  pkg/utils/tsoutil/tso_dispatcher.go
Labels: status/can-merge, status/LGT2, release-note-none

#6528 fix watch keyspace
  server/keyspace_service.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6418 *: move out replication and syncer
  pkg/replication/metrics.go
  pkg/replication/replication_mode.go
  pkg/replication/replication_mode_test.go
  pkg/syncer/client.go
  pkg/syncer/client_test.go
  pkg/syncer/history_buffer.go
  pkg/syncer/history_buffer_test.go
  pkg/syncer/metrics.go
  pkg/syncer/server.go
  server/cluster/cluster.go
  server/server.go
  tests/server/cluster/cluster_test.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6529 Fix tso server close stuck issue
  pkg/mcs/tso/server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6526 mcs, tso: change keyspace group primary path.
  pkg/mcs/utils/constant.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/key_path_test.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/util.go
  pkg/tso/util_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6534 Add TestUpgradingAPIandTSOClusters
  tests/cluster.go
  tests/integrations/mcs/cluster.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6523 resource_manager: add metrics for avaiable RU
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6535 mcs: add a test for starting tso server first
  pkg/mcs/resourcemanager/server/server.go
  server/server.go
  tests/integrations/mcs/tso/api_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6538 *: make consist with ru formula
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/model.go
  client/resource_group/controller/testutil.go
  pkg/mcs/resourcemanager/server/config.go
Labels: status/can-merge, status/LGT2, release-note-none

#6510 resource_manager/client: introduce watch resource group
  client/errs/errno.go
  client/meta_storage_client.go
  client/resource_group/controller/controller.go
  client/resource_manager_client.go
  pkg/mcs/metastorage/server/grpc_service.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none
