Repository tikv/pd, pull requests merged in 2023-02, with the labels that each got.

#5887 resource_manager, storage: create new storage endpoint for resource manager
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/storage/endpoint/key_path.go
  server/grpc_service.go
  server/server.go
  tests/client/global_config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5888 resource_manager: unify RRU and WRU into RU for token limit
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/mcs/resource_manager/client/client.go
  pkg/mcs/resource_manager/client/client_test.go
  pkg/mcs/resource_manager/client/config.go
  pkg/mcs/resource_manager/client/model.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/resource_group_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/msc/go.mod
  tests/msc/go.sum
  tests/msc/resource_manager/resource_manager_test.go
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#5894 metrics: fix witness count id and datasource
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, release-note-none

#5313 apiv2: keyspace management
  server/apiv2/handlers/keyspace.go
  server/apiv2/router.go
  server/keyspace/keyspace.go
  tests/server/apiv2/handlers/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5886 client: both Support names and config path
  client/client.go
  client/go.mod
  client/go.sum
  client/resourcemanager_client.go
  go.mod
  go.sum
  server/grpc_service.go
  tests/client/global_config_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/msc/go.mod
  tests/msc/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5903 resource_manager: fix missing kvCPUTime when sqlCPUTime is 0
  pkg/mcs/resource_manager/server/manager.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5901 *: move `tso` to `pkg`
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/filter.go
  pkg/tso/global_allocator.go
  pkg/tso/local_allocator.go
  pkg/tso/metrics.go
  pkg/tso/tso.go
  server/grpc_service.go
  server/handler.go
  server/server.go
  tests/client/client_test.go
  tests/cluster.go
  tests/server/cluster/cluster_test.go
  tests/server/tso/allocator_test.go
  tests/server/tso/consistency_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/manager_test.go
  tests/server/tso/tso_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5893 misc: fix few typos (create the first PR to walk through the pingcap development cycle on github and to verify dev env setup)
  server/config/service_middleware_config.go
  server/join/join.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, ok-to-test

#5874 storage: add TSO storage
  pkg/mock/mockcluster/mockcluster.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/resource_group.go
  pkg/storage/endpoint/tso.go
  pkg/tso/allocator_manager.go
  server/cluster/coordinator_test.go
  server/storage/storage.go
  server/storage/storage_tso_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5910 keyspace: marshal/unmarshal keyspace id
  server/apiv2/handlers/keyspace.go
Labels: status/can-merge, status/LGT2, release-note-none

#5900 resource_manager, server: implement the resource manager failover
  client/base_client.go
  client/resourcemanager_client.go
  pkg/mcs/registry/registry.go
  pkg/mcs/resource_manager/client/client.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/manager.go
  server/server.go
  tests/msc/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5912 resource_manager: adjust the RU model config
  pkg/mcs/resource_manager/client/config.go
  pkg/mcs/resource_manager/client/model.go
  tests/msc/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5914 resource_manager: move client to client mod
  client/go.mod
  client/go.sum
  client/resource_manager/client/client.go
  client/resource_manager/client/client_test.go
  client/resource_manager/client/config.go
  client/resource_manager/client/limiter.go
  client/resource_manager/client/limiter_test.go
  client/resource_manager/client/model.go
  tests/client/go.sum
  tests/msc/go.sum
  tests/msc/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5902 config: refactor TSO config
  pkg/member/member.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  server/config/config.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#5918 schedulers: reduce the batch size to avoid discarding
  server/schedulers/transfer_witness_leader.go
Labels: status/can-merge, status/LGT2, release-note-none

#5919 *: fix the package name
  pkg/mcs/docs.go
  server/util.go
  tests/mcs/Makefile
  tests/mcs/go.mod
  tests/mcs/go.sum
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5921 *: refactor server entry point to support multi-mode service
  cmd/pd-server/main.go
  pkg/basic_server/basic_server.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test

#5920 region_scatterer: fix the bug that could generate schedule with too many peers
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: component/schedule, release-note, status/can-merge, status/LGT2, type/bug-fix, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#5896 rule_checker: promote witness when has pending voter
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5922 filter: fix panic caused by nil pointer
  server/schedule/filter/filters.go
Labels: status/can-merge, status/LGT2

#5904 fit: optimize the selection of witness rule candidates
  server/schedule/placement/fit.go
Labels: status/can-merge, status/LGT2, release-note-none

#5934 scheduler: move init function
  cmd/pd-server/main.go
  server/api/hot_status_test.go
  server/api/scheduler_test.go
  server/cluster/cluster_worker_test.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/balance_witness.go
  server/schedulers/evict_leader.go
  server/schedulers/evict_slow_store.go
  server/schedulers/grant_hot_region.go
  server/schedulers/grant_leader.go
  server/schedulers/hot_region.go
  server/schedulers/init.go
  server/schedulers/label.go
  server/schedulers/random_merge.go
  server/schedulers/scatter_range.go
  server/schedulers/shuffle_hot_region.go
  server/schedulers/shuffle_leader.go
  server/schedulers/shuffle_region.go
  server/schedulers/split_bucket.go
  server/schedulers/transfer_witness_leader.go
  server/testutil.go
  tests/dashboard/race_test.go
  tests/dashboard/service_test.go
  tests/server/server_test.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, type/refactor, component/scheduler, release-note-none

#5935 keyspace: add load keyspace by id
  server/apiv2/handlers/keyspace.go
  server/keyspace/keyspace.go
  server/keyspace/keyspace_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5930 step: fix merge region failed caused by mismatch confver
  server/schedule/operator/step.go
Labels: status/can-merge, status/LGT2, release-note-none

#5875 checker: improve failover speed with witness
  server/schedule/checker/replica_strategy.go
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
  server/schedule/filter/filters.go
Labels: status/can-merge, status/LGT2, release-note-none

#5938 *: fix scheduler init
  cmd/pd-server/main.go
  server/cluster/cluster_worker_test.go
  server/schedulers/init.go
  tests/dashboard/race_test.go
  tests/dashboard/service_test.go
  tests/server/server_test.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#5939 *: move storage to pkg
  pkg/mock/mockcluster/mockcluster.go
  pkg/storage/etcd_backend.go
  pkg/storage/hot_region_storage.go
  pkg/storage/hot_region_storage_test.go
  pkg/storage/keyspace_test.go
  pkg/storage/leveldb_backend.go
  pkg/storage/memory_backend.go
  pkg/storage/storage.go
  pkg/storage/storage_gc_test.go
  pkg/storage/storage_test.go
  pkg/storage/storage_tso_test.go
  server/api/hot_status.go
  server/api/hot_status_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker_test.go
  server/cluster/coordinator.go
  server/cluster/coordinator_test.go
  server/cluster/unsafe_recovery_controller_test.go
  server/config/config_test.go
  server/handler.go
  server/region_syncer/client.go
  server/region_syncer/client_test.go
  server/region_syncer/server.go
  server/replication/replication_mode_test.go
  server/schedulers/balance_test.go
  server/schedulers/balance_witness_test.go
  server/schedulers/evict_leader_test.go
  server/schedulers/evict_slow_store_test.go
  server/schedulers/hot_region_test.go
  server/schedulers/hot_region_v2_test.go
  server/schedulers/scheduler_test.go
  server/schedulers/transfer_witness_leader_test.go
  server/server.go
  server/statistics/region_collection_test.go
  tests/pdctl/hot/hot_test.go
  tests/server/cluster/cluster_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/storage/hot_region_storage_test.go
  tools/pd-ctl/pdctl/command/hot_command.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5940 rule_checker: filter witness in allowLeader
  server/schedule/checker/rule_checker.go
Labels: status/can-merge, status/LGT2, release-note-none

#5931 resource_manager: replace MaxToken by BurstLimit
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/resource_group_test.go
  pkg/mcs/resource_manager/server/token_bukets.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5808 scheduler: new slow store detecting and leader evicting
  errors.toml
  pkg/core/basic_cluster.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/errs/errno.go
  server/api/scheduler.go
  server/api/store.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/persist_options.go
  server/handler.go
  server/schedule/filter/counter.go
  server/schedule/filter/counter_test.go
  server/schedule/filter/filters.go
  server/schedulers/balance_test.go
  server/schedulers/evict_slow_store_test.go
  server/schedulers/evict_slow_trend.go
  server/schedulers/evict_slow_trend_test.go
  server/schedulers/init.go
  server/schedulers/metrics.go
  server/statistics/store_collection.go
  tools/pd-ctl/pdctl/command/scheduler.go
Labels: release-note, status/can-merge, status/LGT2

#5948 limiter: remove the warn log
  client/resource_manager/client/limiter.go
Labels: status/can-merge, status/LGT2, release-note-none

#5879 schedule: placement rules cache reduce cache low usage fit
  server/schedule/checker/checker_controller.go
  server/schedule/checker/rule_checker.go
  server/schedule/placement/fit.go
  server/schedule/placement/fit_test.go
  server/schedule/placement/region_rule_cache.go
  server/schedule/placement/rule_manager.go
  server/schedule/placement/rule_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5917 Add skeleton to initialize tso microservice
  pkg/basic_server/basic_server.go
  pkg/mcs/tso/server/server.go
  pkg/tso/config.go
  pkg/utils/configutil/configutil.go
  server/config/config.go
  server/config/config_test.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5848 Add pd global memory limiter and gctuner
  go.mod
  go.sum
  pkg/cgroup/cgroup.go
  pkg/cgroup/cgroup_cpu.go
  pkg/cgroup/cgroup_cpu_linux.go
  pkg/cgroup/cgroup_cpu_test.go
  pkg/cgroup/cgroup_cpu_unsupport.go
  pkg/cgroup/cgroup_memory.go
  pkg/cgroup/cgroup_mock_test.go
  pkg/gctuner/finalizer.go
  pkg/gctuner/finalizer_test.go
  pkg/gctuner/mem.go
  pkg/gctuner/mem_test.go
  pkg/gctuner/memory_limit_tuner.go
  pkg/gctuner/memory_limit_tuner_test.go
  pkg/gctuner/tuner.go
  pkg/gctuner/tuner_test.go
  pkg/gogc/gogc.go
  pkg/memory/bench_test.go
  pkg/memory/meminfo.go
  pkg/memory/memstats.go
  pkg/memory/var.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/persist_options.go
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/go.mod
  tests/mcs/go.sum
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5952 Update TiDB Dashboard to v6.6.0
  go.mod
  go.sum
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/go.mod
  tests/mcs/go.sum
Labels: status/can-merge, status/LGT1, component/visualization, require-LGT1, release-note-none, ok-to-test

#5951 cluster: fix schedulers register test
  server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5906 resource_manager: save tokens in persistent storage
  client/client.go
  client/resource_manager/client/client.go
  client/resourcemanager_client.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/resource_group.go
  pkg/mcs/resource_manager/server/resource_group_test.go
  pkg/mcs/resource_manager/server/token_bukets.go
  pkg/storage/endpoint/key_path.go
  pkg/storage/endpoint/resource_group.go
  pkg/storage/endpoint/rule.go
  pkg/storage/endpoint/util.go
  tests/mcs/go.mod
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5932 grpc: Use WithPrevKV() to get the previous key-value pair when get Delete Event
  server/grpc_service.go
  tests/client/global_config_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5911 pkg: support service discovery
  pkg/mcs/discovery/discover.go
  pkg/mcs/discovery/discover_test.go
  pkg/mcs/discovery/key_path.go
  pkg/mcs/discovery/register.go
  pkg/mcs/discovery/register_test.go
  server/schedule/operator/builder.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5933 *: decouple the dependency between server and mcs
  cmd/pd-server/main.go
  pkg/autoscaling/service.go
  pkg/basicserver/basic_server.go
  pkg/dashboard/dashboard.go
  pkg/dashboard/without_dashboard.go
  pkg/mcs/registry/registry.go
  pkg/mcs/resource_manager/server/apis/v1/api.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/tso/server/server.go
  pkg/swaggerserver/swaggerserver.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/server.go
  server/apiv2/router.go
  server/server.go
  server/server_test.go
  server/testutil.go
  server/util.go
  tests/client/client_test.go
  tests/client/global_config_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/pdctl/global_test.go
  tests/registry/registry_test.go
  tests/server/member/member_test.go
Labels: status/can-merge, status/LGT2, type/refactor, release-note-none

#5961 *: use uniform case spellings
  pkg/tso/metrics.go
  server/cluster/coordinator.go
  server/handler.go
  server/metrics.go
  server/schedule/filter/filters.go
  server/schedule/hbstream/metric.go
  server/schedule/metrics.go
  server/schedulers/balance_leader.go
  server/schedulers/balance_region.go
  server/schedulers/hot_region.go
  server/schedulers/init.go
  server/schedulers/metrics.go
  server/server_test.go
  server/statistics/buckets/bucket_stat_informer.go
  server/statistics/store_collection.go
  server/statistics/store_hot_peers_infos.go
  server/testutil.go
  tools/pd-simulator/simulator/task.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5970 misc: update pd.code-workspace
  pd.code-workspace
Labels: status/can-merge, status/LGT1, component/misc, require-LGT1, release-note-none

#5941 client: pay back WRU when the request fails
  client/resource_manager/client/client.go
  client/resource_manager/client/model.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5958 resource_manager: make limit effective quickly and avoid jitter
  client/resource_manager/client/client.go
  client/resource_manager/client/client_test.go
  client/resource_manager/client/limiter.go
  client/resource_manager/client/model.go
  pkg/mcs/resource_manager/server/token_bukets.go
Labels: status/can-merge, status/LGT2, release-note-none

#5964 server: move client function to util
  pkg/utils/etcdutil/etcdutil.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#5975 add enable_flaky_tests and skip some flaky tests in gctuner
  pkg/cgroup/cgroup_cpu_test.go
  pkg/gctuner/finalizer_test.go
  pkg/gctuner/memory_limit_tuner_test.go
  pkg/gctuner/tuner_calc_test.go
  pkg/gctuner/tuner_test.go
Labels: status/can-merge, status/LGT2, release-note-none, needs-ok-to-test, needs-cherry-pick-release-6.6

#5966 cluster: no more redundant etcd writes when `ReportMinResolvedTS` is called
  server/cluster/cluster.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#5969 build: bump alpine image to 3.17
  Dockerfile
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5974 dashboard: default close telemetry
  conf/config.toml
  server/config/config.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#5959 resource_group_controller: refine the code
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
  client/resource_group/controller/model.go
  client/resource_manager_client.go
  server/schedule/waiting_operator.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none, component/resource-control

#5985 Refactor some common utilities which will be used by the upcoming TSO microservice change
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/grpcutil/grpcutil.go
  server/grpc_service.go
  server/server.go
  server/util.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5957 *: refactor scheduler test and move scheduler register
  server/schedulers/balance_benchmark_test.go
  server/schedulers/balance_leader_test.go
  server/schedulers/balance_test.go
  server/schedulers/balance_witness_test.go
  server/schedulers/evict_leader_test.go
  server/schedulers/evict_slow_store_test.go
  server/schedulers/evict_slow_trend_test.go
  server/schedulers/hot_region_test.go
  server/schedulers/hot_region_v2_test.go
  server/schedulers/scheduler_test.go
  server/schedulers/split_bucket_test.go
  server/schedulers/transfer_witness_leader_test.go
  server/testutil.go
  tests/cluster.go
  tests/dashboard/race_test.go
  tests/dashboard/service_test.go
  tests/server/server_test.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#5987 resource_manager: use construction func to init resource group token settings
  pkg/mcs/resource_manager/server/resource_group.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none, component/resource-control

#5960 schedulers: enable placement rules in tests
  pkg/mock/mockcluster/config.go
  server/schedulers/balance_test.go
  server/schedulers/hot_region_test.go
  server/schedulers/scheduler_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#5971 *: add service subcommand
  cmd/pd-server/main.go
  pkg/mcs/tso/server/server.go
  pkg/tso/config.go
  pkg/utils/logutil/log.go
  server/api/server_test.go
  server/config/config.go
  server/config/config_test.go
  server/server.go
  server/testutil.go
  tests/cluster.go
  tests/config.go
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#5996 *: fix the default value of peer-urls
  cmd/pd-server/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#5999 cgroup: refine the handling of error 'no cpu controller detected'
  pkg/cgroup/cgroup_cpu.go
  pkg/cgroup/cgroup_cpu_test.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6001 Makefile: use the absolute path to cd during the check
  Makefile
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6002 .github: use None as the default release note placeholder
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6000 go.mod: update the Prometheus client
  Makefile
  go.mod
  go.sum
  pkg/autoscaling/prometheus_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/go.mod
  tests/mcs/go.sum
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6007 Clean config, log initialization and refactor version info
  cmd/pd-server/main.go
  pkg/mcs/tso/server/server.go
  pkg/utils/configutil/configutil.go
  pkg/utils/configutil/configutil_test.go
  pkg/versioninfo/versioninfo.go
  server/util.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-recover/main.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6009 *: fix default config when using config file
  cmd/pd-server/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#6011 config: refactor config functions
  pkg/tso/config.go
  pkg/utils/configutil/configutil.go
  server/config/config.go
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-simulator/simulator/config.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6015 *: fix typo with swagger
  pkg/swaggerserver/empty_handler.go
Labels: status/can-merge, status/LGT1, component/visualization, require-LGT1, release-note-none

#6030 mcs: delete metrics that does not update
  pkg/mcs/resource_manager/server/manager.go
Labels: status/can-merge, status/LGT2, release-note-none

#6031 schedulers: fix balance_region log
  server/schedulers/balance_region.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#5994 resource_manager: add service mode server
  client/resource_manager_client.go
  cmd/pd-server/main.go
  go.mod
  pkg/basicserver/basic_server.go
  pkg/mcs/resource_manager/server/config.go
  pkg/mcs/resource_manager/server/grpc_service.go
  pkg/mcs/resource_manager/server/manager.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  server/server.go
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/go.mod
  tests/mcs/go.sum
  tests/mcs/resource_manager/server_test.go
  tests/registry/registry_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6034 *: remove periods and align case at the beginning of sentences
  cmd/pd-server/main.go
  pkg/audit/audit.go
  pkg/audit/audit_test.go
  pkg/dashboard/adapter/manager.go
  pkg/dashboard/distroutil/distro.go
  pkg/dashboard/keyvisual/input/core.go
  pkg/encryption/key_manager.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  server/cluster/unsafe_recovery_controller.go
  server/region_syncer/client.go
  server/schedule/labeler/labeler.go
  server/server.go
  tests/server/api/api_test.go
  tools/pd-analysis/analysis/parse_log.go
  tools/pd-analysis/analysis/transfer_counter.go
  tools/pd-analysis/main.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/import_data.go
Labels: status/can-merge, status/LGT1, component/misc, require-LGT1, release-note-none

#6033 resource_group_client: add defined errors
  client/errs/errno.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/limiter.go
  client/resource_manager_client.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6032 *: upgrade go from 1.19 to 1.20
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  Dockerfile
  Makefile
  client/go.mod
  go.mod
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/movingaverage/moving_average_test.go
  pkg/storage/endpoint/key_path_test.go
  pkg/storage/storage_test.go
  server/schedule/waiting_operator.go
  server/server.go
  tests/client/go.mod
  tests/mcs/go.mod
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT2, release-note-none

#6046 etcdutil: support multi backends client
  client/base_client.go
  pkg/mcs/resource_manager/server/server.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/testutil.go
  tests/client/client_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6006 Optimize the processing on StoreHeartbeat when no slow stores.
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/statistics/slow_stat.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6044 *: add metrics when operator exceed store limit and the max cpu process
  metrics/grafana/pd.json
  server/metrics.go
  server/schedule/operator/metrics.go
  server/schedule/operator_controller.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none

#6040 mcs: register resource manager to etcd
  pkg/mcs/resource_manager/server/server.go
  tests/mcs/resource_manager/server_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6008 Init TSO service and start service loop
  cmd/pd-server/main.go
  pkg/basicserver/basic_server.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/tso/server/server_test.go
  pkg/mcs/tso/server/testutil.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/local_allocator.go
  server/config/config.go
  server/server.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6037 TSO Client implement and provide general client side service discovery framework and general gPRC stream handling framework.
  client/base_client.go
  client/client.go
  client/client_test.go
  client/go.mod
  client/go.sum
  client/grpcutil/grpcutil.go
  client/keyspace_client.go
  client/resource_manager_client.go
  client/tso_batch_controller.go
  client/tso_client.go
  client/tso_request_dispatcher.go
  client/tso_stream.go
  tests/client/client_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/go.mod
  tests/mcs/go.sum
  tests/mcs/resource_manager/resource_manager_test.go
  tools/pd-tso-bench/go.sum
  tools/pd-tso-bench/main.go
Labels: status/can-merge, status/LGT2, release-note-none, ok-to-test

#6056 test: fix unstable test TestClientWatchWithRevision
  tests/client/global_config_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6049 resource_group_client: refactor ErrClientGetResourceGroup error
  client/errs/errno.go
  client/resource_manager_client.go
  tests/mcs/resource_manager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6054 region_scatter: fix a bug that the leaders may be unbalanced after scatter region
  server/schedule/region_scatterer.go
  server/schedule/region_scatterer_test.go
Labels: release-note, status/can-merge, status/LGT2, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#6058 mcs: fix cannot build with swagger
  .github/workflows/check.yaml
  pkg/mcs/resource_manager/server/apis/v1/api.go
  server/apiv2/handlers/keyspace.go
Labels: status/can-merge, status/LGT2, release-note-none

#6062 mcs: register TSO server to etcd
  pkg/mcs/discovery/register.go
  pkg/mcs/resource_manager/server/server.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/tso/server/server_test.go
  pkg/mcs/tso/server/testutil.go
Labels: status/can-merge, status/LGT2, release-note-none

#6025 server: wrap etcd operations
  client/client.go
  client/go.mod
  client/go.sum
  client/meta_storage_client.go
  client/metrics.go
  go.mod
  go.sum
  pkg/mcs/discovery/discover_test.go
  pkg/mcs/discovery/register_test.go
  pkg/mcs/meta_storage/server/grpc_service.go
  pkg/mcs/meta_storage/server/install/install.go
  pkg/mcs/meta_storage/server/manager.go
  pkg/mcs/resource_manager/server/server.go
  server/server.go
  tests/client/client_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/mcs/go.mod
  tests/mcs/go.sum
  tools/pd-tso-bench/go.sum
Labels: status/can-merge, status/LGT2, release-note-none
