Repository tikv/pd, pull requests merged in 2023-06, with the labels that each got.

#6541 mcs: support pprof for microservices
  go.mod
  go.sum
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/tso/server/apis/v1/api.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: status/can-merge, status/LGT2, release-note-none

#6544 mcs, tso: delete the tso ms discovery when switching away from API mode.
  client/client.go
Labels: status/can-merge, status/LGT2, release-note-none

#6540 *: fix slow score config
  server/config/config.go
Labels: status/can-merge, status/LGT2, release-note-none

#6555 *: fix the split problem caused by no enough replicas
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/discovery/discover.go
  pkg/mcs/discovery/registry_entry.go
  server/server.go
  tests/cluster.go
  tests/integrations/mcs/tso/api_test.go
  tests/pdctl/keyspace/keyspace_group_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6551 *: remove unnecessary interfaces
  pkg/core/basic_cluster.go
  pkg/core/region.go
  pkg/dashboard/keyvisual/input/core.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/replication/replication_mode.go
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/diagnostic_manager.go
  pkg/schedule/filter/region_filters.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/operator/step.go
  pkg/schedule/operator/step_test.go
  pkg/schedule/prepare_checker.go
  pkg/schedule/region_scatterer_test.go
  pkg/schedule/schedulers/balance_benchmark_test.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/storage/storage_test.go
  plugin/scheduler_example/evict_leader.go
  server/api/region.go
  server/api/stats.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/handler.go
  tests/server/cluster/cluster_test.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/raft.go
Labels: status/can-merge, status/LGT2, release-note-none

#6568 *: fix some log issues
  pkg/utils/etcdutil/etcdutil.go
Labels: status/can-merge, status/LGT1, require-LGT1, release-note-none

#6574 checker: fix the too many orphan peers cannot be removed
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
Labels: release-note, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6569 cluster, schedule: unify the scheduling halt to decouple dependencies
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/cluster/metrics.go
  server/config/metrics.go
  server/config/persist_options.go
Labels: component/schedule, status/can-merge, status/LGT1, component/config, component/cluster, require-LGT1, release-note-none

#6572 Simplify TSO Proxy implementation by using one forward stream for one gPRC stream
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/tsoutil/tso_request.go
  server/grpc_service.go
  tests/integrations/mcs/tso/proxy_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6553 pkg: use minimum interface for schedulers
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/config/config.go
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/filter/healthy.go
  pkg/schedule/filter/region_filters.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/create_operator.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/balance_witness_test.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/range_cluster.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/schedulers/utils.go
  plugin/scheduler_example/evict_leader.go
  server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, release-note-none

#6585 Improve tso proxy reliability
  pkg/utils/etcdutil/etcdutil.go
  server/config/config.go
  server/grpc_service.go
  server/metrics.go
  server/server.go
  tests/integrations/mcs/Makefile
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/tso/proxy_test.go
  tests/pdctl/keyspace/keyspace_group_test.go
  tests/pdctl/scheduler/scheduler_test.go
  tools/pd-simulator/simulator/config.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#6584 tests: make TestSplitKeyspaceGroup stable
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  server/cluster/cluster.go
  tests/pdctl/keyspace/keyspace_group_test.go
  tests/pdctl/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6581 Add keyspace and keyspace group info to the time fallback log.
  client/tso_dispatcher.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#6588 config, server: fault injection in TSO Proxy
  server/config/config.go
  server/grpc_service.go
  server/server.go
  tests/integrations/mcs/tso/proxy_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6591 mcs, tso: fix stream Send() and CloseSend() data race issue in TSO proxy
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#6596 mcs, tso: fix potential inconsistency caused by non-atomic applying keyspace movement state change in the persistent store
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6594 keyspace, apiv2: implement the keyspace group merging API
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/storage/endpoint/tso_keyspace_group.go
  server/apiv2/handlers/tso_keyspace_group.go
Labels: status/can-merge, status/LGT2, component/keyspace, size/XL, release-note-none

#6606 keyspace: prohibit merging the default keyspace group
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
Labels: status/can-merge, status/LGT1, require-LGT1, component/keyspace, size/XS, release-note-none

#6557 *: extract conn and replace `GetAllocator`
  pkg/mock/mockcluster/mockcluster.go
  pkg/replication/replication_mode.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/operator/builder.go
  pkg/syncer/client.go
  pkg/syncer/server.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/utils/grpcutil/grpcutil.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6612 client: fix keyspace update in `tsoSvcDiscovery`
  client/client.go
  client/tso_client.go
  pkg/balancer/round_robin.go
  pkg/tso/keyspace_group_manager.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6610 typo: fix some typo
  pkg/core/storelimit/store_limit.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/status.go
  server/config/config.go
  server/config/persist_options.go
  tools/pd-ctl/pdctl/command/operator.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#6624 Resource manager: disable watch when isSingleGroupByKeyspace is true
  client/resource_group/controller/controller.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#6629 keyspace: enhance LockGroup with RemoveEntryOnUnlock LockOption
  pkg/keyspace/keyspace.go
  pkg/utils/syncutil/lock_group.go
  pkg/utils/syncutil/lock_group_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6600 pd-ctl: split operator support use key
  tests/pdctl/operator/operator_test.go
  tools/pd-ctl/pdctl/command/operator.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6602 keyspace: add priority of tso node for the keyspace group
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
  pkg/mcs/utils/constant.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/pdctl/keyspace/keyspace_group_test.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
  tools/pd-ctl/pdctl/command/keyspace_group_command.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#6632 tests: reduce unnecessary time.sleep in keyspace group
  tests/cluster.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/pdctl/keyspace/keyspace_group_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#6636 leadership: avoid potential data race
  pkg/election/leadership.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.2

#6626 ci: split integrations test to speed up
  .github/workflows/pd-tests.yaml
  Makefile
  scripts/ci-subtask.sh
  tests/integrations/client/Makefile
  tests/integrations/mcs/Makefile
  tests/integrations/tso/Makefile
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6633 schedule: fix location label in placement rule not work well with rule checker
  pkg/schedule/checker/replica_strategy.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.2

#6622 api: support record the caller IP when forwarding
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/router.go
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6579 simulator: impl snapshot stats in simulator
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/cases/balance_region.go
  tools/pd-simulator/simulator/config.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/task.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6654 Add keyspace group info in the timestamp fallback log in the client.
  client/tso_dispatcher.go
  client/tso_stream.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6652 tso: fix checkTSOSplit to finish split correctly
  pkg/tso/keyspace_group_manager.go
Labels: status/can-merge, status/LGT2, component/tso, size/S, release-note-none

#6655 tests: fix TestTSOKeyspaceGroupSplitClient to avoid unexpected panic
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: component/testing, status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#6656 mcs: add log for finishing split
  client/tso_client.go
  pkg/keyspace/tso_keyspace_group.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#6657 client: fix the keyspace ID RW race inside tsoServiceDiscovery
  client/tso_service_discovery.go
Labels: status/can-merge, status/LGT2, component/client, size/S, release-note-none

#6660 checker: fix the conflict between tiflash learner and location labels
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6625 tso, tests: implement the keyspace group merge checker
  errors.toml
  pkg/errs/errno.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/local_allocator.go
  pkg/tso/tso.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/server/apiv2/handlers/testutil.go
Labels: status/can-merge, status/LGT2, component/tso, component/keyspace, size/XL, release-note-none

#6646 keyspace, apiv2: support to split keyspace group with the keyspace ID range
  pkg/keyspace/keyspace.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  server/apiv2/handlers/tso_keyspace_group.go
Labels: component/api, status/can-merge, status/LGT2, component/keyspace, size/XL, release-note-none

#6671 checker: fix the conflict between tiflash learner and location labels
  server/schedule/checker/rule_checker.go
  server/schedule/checker/rule_checker_test.go
Labels: status/LGT2, size/M, release-note-none

#6669 replication mode: tune persist file timeout
  pkg/replication/replication_mode.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#6664 mcs, tso: fix expensive async forwardTSORequest() and its timeout mechanism.
  pkg/utils/tsoutil/tso_dispatcher.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6617 mcs, tso: support weighted-election for TSO keyspace group primary election
  pkg/mcs/discovery/discover.go
  pkg/mcs/discovery/key_path.go
  pkg/mcs/discovery/register.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/cluster.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#6675 tools: add merge commands for pd-ctl
  tests/pdctl/keyspace/keyspace_group_test.go
  tools/pd-ctl/pdctl/command/keyspace_group_command.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6650 pd-ctl: fix hot region show
  pkg/schedule/coordinator.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_regions_stat.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6678 dashboard: update version to show all instance cpu limit
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.2

#6689 Add split-range cmd and fix duplicate keyspaces
  pkg/keyspace/tso_keyspace_group.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/keyspace_group_command.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#6695 *: add group id to error logs
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6676 operator: log the cancel reason
  pkg/schedule/checker/merge_checker_test.go
  pkg/schedule/operator/operator.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/split_bucket.go
  server/handler.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6699 tools: add keepalive for pd-tso-bench
  client/grpcutil/grpcutil.go
  tools/pd-tso-bench/main.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#6700 Add more debugging info to time fallback log.
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_stream.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6707 keyspace: refine the split and merge details
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
  pkg/keyspace/util.go
Labels: status/can-merge, status/LGT2, component/keyspace, size/L, release-note-none

#6691 unsafe recovery: Fix learner nodes got ignored in auto detect mode error
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1

#6714 tools: support get all groups
  tests/pdctl/keyspace/keyspace_group_test.go
  tools/pd-ctl/pdctl/command/keyspace_group_command.go
  tools/pd-ctl/pdctl/command/store_command.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#6716 api: remove redundant code
  server/api/router.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#6723 Fix data race between read APIs and finshiSplit/finishMerge in keyspace group manager
  pkg/tso/keyspace_group_manager.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#6724 *: put gRPC unknown error into the header. (#5310)
  client/base_client.go
  client/client.go
  server/api/label_test.go
  server/api/member.go
  server/grpc_service.go
  server/tso/allocator_manager.go
  server/tso/global_allocator.go
  tests/client/client_test.go
  tests/cluster.go
  tests/compatibility/version_upgrade_test.go
  tests/server/api/api_test.go
  tests/server/cluster/cluster_test.go
  tests/server/id/id_test.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/simulator/client.go
Labels: release-note, status/can-merge, status/LGT2, size/XL, cherry-pick-approved

#6730 tso: fix memory leak introduced by timer.After
  pkg/timerpool/pool.go
  pkg/timerpool/pool_test.go
  pkg/utils/tsoutil/tso_dispatcher.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none
