Repository tikv/pd, pull requests merged in 2024-04, with the labels that each got.

#7722 cluster: dynamic progress time window for offline scene
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  pkg/schedule/coordinator.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#8000 client/http: change the keyspace config name for the GC management type
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Labels: release-note, status/can-merge, status/LGT2, size/M, ok-to-test

#8009 config: remove defaultTraceRegionFlow
  server/config/config.go
Labels: status/can-merge, status/LGT1, component/config, require-LGT1, size/XS, release-note-none

#8013 unsafe recovery: Fix lock contention
  server/cluster/unsafe_recovery_controller.go
Labels: status/can-merge, status/LGT2, size/S, cherry-pick-approved, release-note-none

#7909 client: support specifying target member
  .gitignore
  client/errs/errno.go
  client/grpcutil/grpcutil.go
  client/http/client.go
  client/http/client_test.go
  client/http/interface.go
  client/http/request_info.go
  client/mock_pd_service_discovery.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8010 schedule: add check action when poll the opeators from opNotifierQueue
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, ok-to-test

#8017 *: upgrade etcd to v3.4.31
  go.mod
  go.sum
  pkg/utils/etcdutil/etcdutil.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#8026 resource_control: remove unnecessary comment
  pkg/mcs/resourcemanager/server/config.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7920 unsafe_recovery: also consider applied index when selects force leader
  go.mod
  go.sum
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8027 *: make `TestStores` stable
  tests/integrations/mcs/scheduling/api_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8029 *: fix `TestBundle`
  tests/server/api/rule_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8028 client/controller: add logs and export more information in throttled error
  client/errs/errno.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#8030 *: fix `TestConfigTTL`
  tests/server/config/config_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8031 *: fix `TestAPI`
  tests/server/api/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8033 *: make `TestConfigAll` stable
  tests/server/config/config_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8034 *: make `TestScheduleTestSuite` stable
  tests/server/api/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8032 pkg/schedule: optimize the lock usage of operator controller
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/operator/operator_queue.go
  pkg/schedule/operator/waiting_operator.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#8037 cluster: fix race when getting coordinator
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7895 retry, client: support to log after execing some times
  client/retry/backoff.go
  client/retry/backoff_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8020 scripts: fix client and tools cover profile
  client/Makefile
  scripts/ci-subtask.sh
  tests/integrations/Makefile
  tests/integrations/realcluster/Makefile
  tools/Makefile
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8024 pkg/ratelimit: introduce an executor that can run with a limiter
  pkg/ratelimit/concurrency_limiter.go
  pkg/ratelimit/concurrency_limiter_test.go
  pkg/ratelimit/limiter.go
  pkg/ratelimit/runner.go
  pkg/ratelimit/runner_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#8045 tests/tso: make TestPrimaryPriorityChange stable
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8044 *: fix ci covprofile by updating codecov version and replacing cover pkg
  .github/workflows/pd-tests.yaml
  client/Makefile
  scripts/ci-subtask.sh
  tests/integrations/Makefile
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7996 schedule: fix the down peer cannot be repaired
  pkg/schedule/checker/replica_strategy.go
  pkg/schedule/checker/rule_checker_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7952 *: make unit test great
  Makefile
  client/resource_group/controller/util_test.go
  pkg/audit/audit_test.go
  pkg/autoscaling/calculation_test.go
  pkg/autoscaling/prometheus_test.go
  pkg/balancer/balancer_test.go
  pkg/cache/cache_test.go
  pkg/codec/codec_test.go
  pkg/core/rangetree/range_tree_test.go
  pkg/core/storelimit/limit_test.go
  pkg/encryption/config_test.go
  pkg/encryption/crypter_test.go
  pkg/encryption/master_key_test.go
  pkg/encryption/region_crypter_test.go
  pkg/errs/errs_test.go
  pkg/mock/mockhbstream/mockhbstream_test.go
  pkg/movingaverage/avg_over_time_test.go
  pkg/movingaverage/max_filter_test.go
  pkg/movingaverage/moving_average_test.go
  pkg/movingaverage/weight_allocator_test.go
  pkg/ratelimit/concurrency_limiter_test.go
  pkg/ratelimit/controller_test.go
  pkg/ratelimit/limiter_test.go
  pkg/ratelimit/ratelimiter_test.go
  pkg/slice/slice_test.go
  pkg/utils/apiutil/apiutil_test.go
  pkg/utils/assertutil/assertutil_test.go
  pkg/utils/grpcutil/grpcutil_test.go
  pkg/utils/jsonutil/jsonutil_test.go
  pkg/utils/keyutil/util_test.go
  pkg/utils/logutil/log_test.go
  pkg/utils/metricutil/metricutil_test.go
  pkg/utils/netutil/address_test.go
  pkg/utils/reflectutil/tag_test.go
  pkg/utils/requestutil/context_test.go
  pkg/utils/typeutil/comparison_test.go
  pkg/utils/typeutil/conversion_test.go
  pkg/utils/typeutil/duration_test.go
  pkg/utils/typeutil/size_test.go
  pkg/utils/typeutil/string_slice_test.go
  pkg/utils/typeutil/time_test.go
  server/api/health_test.go
  server/api/member_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-ut/README.md
  tools/pd-ut/ut.go
  tools/pd-ut/xprog.go
Labels: release-note, status/can-merge, status/LGT2, size/XXL

#8050 pkg/schedule: put merge operators together
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/waiting_operator.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8048 client: introduce RPCClient
  client/client.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/M, release-note-none

#8014 tests/api: refine TestPreparingProgress to make test stable
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8056 *: fix `TestKeyspaceGroupMergeIntoDefault`
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7843 pdctl: support top query in pdctl
  pkg/core/region_option.go
  server/api/region.go
  server/api/router.go
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/helper.go
  tools/pd-ctl/tests/region/region_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7852 scheduler: use move-hot-write-leader operator
  metrics/grafana/pd.json
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/utils/operatorutil/operator_check.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-7.1

#7892 pd-ctl: hidden some hot scheduler config
  tools/pd-ctl/pdctl/command/scheduler.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8059 *: make `TestTSOKeyspaceGroupSplit` stable
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8060 *: fix client log
  client/tso_service_discovery.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8053 *: optimize heartbeat process with concurrent runner - part 1
  pkg/cluster/cluster.go
  pkg/core/context.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/core/region_tree_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/runner.go
  pkg/ratelimit/runner_test.go
  pkg/schedule/config/config.go
  pkg/statistics/region_collection.go
  pkg/syncer/client.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  tests/cluster.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#8068 cluster: make TestStoreOverloadedWithReplace stable
  server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8067 *: make `TestEtcdScaleInAndOut` stable
  pkg/utils/etcdutil/testutil.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8075 *: make `TestLogicalOverflow` stable
  tests/server/tso/global_tso_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7559 schedule: enlarge waiting list cache size
  pkg/schedule/checker/checker_controller.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8069 tools/pd-ut: accelarate build by `compile-without-link`
  tools/pd-ut/go-compile-without-link.sh
  tools/pd-ut/ut.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8071 ci: transitioning action version from node 16 to node 20
  .github/workflows/check.yaml
  .github/workflows/label.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8078 *: make `TestStores` stable
  tests/integrations/mcs/scheduling/api_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8081 tests: reduce duplicate configurations in hot scheduler tests
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8077 client/tso: use the TSO request pool at the tsoClient level to avoid data race
  client/client.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_request.go
Labels: status/can-merge, status/LGT2, component/client, component/tso, size/L, release-note-none

#8084 *: make `TestEtcdClientSync` stable
  pkg/utils/etcdutil/etcdutil_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8046 cluster: print down peer when the related store is not disconnected
  pkg/statistics/region_collection.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8082 *: make `TestConcurrentlyReset` stable
  server/api/admin_test.go
  tests/integrations/tso/server_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8088 *: make `TestSplitKeyspaceGroup` stable
  tests/server/apiv2/handlers/testutil.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/M, release-note-none

#8092 *: make `TestRateLimitConfigReload` stable
  tests/server/config/config_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8097 schedule: fix the filter metrics flush
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8102 tests/etcd: remove mod to make test stable
  pkg/utils/etcdutil/testutil.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8110 *: make `TestTSOKeyspaceGroupSplitElection` stable
  pkg/tso/keyspace_group_manager.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8112 *: update dependencies
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT1, require-LGT1, size/M, release-note-none

#8122 *: fix follower cannot handle member request
  server/apiv2/handlers/micro_service.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8052 *: optimize heartbeat process with concurrent runner - part 2
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/metrics.go
  pkg/ratelimit/runner.go
  pkg/schedule/config/config.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#8109 Fix typo in keyspace config
  conf/config.toml
Labels: status/can-merge, status/LGT2, size/XS, release-note-none, ok-to-test

#8121 client/tso: organize the methods of TSO dispatcher
  client/tso_client.go
  client/tso_dispatcher.go
Labels: status/can-merge, status/LGT1, component/client, require-LGT1, size/XXL, release-note-none

#8118 *: fix log level
  cmd/pd-server/main.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/utils/constant.go
  server/config/config.go
  server/config/config_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8124 scheduler: fix scatter counter name
  pkg/schedule/filter/counter.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/scatter_range.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8123 client/tso: improve the switching of TSO stream
  client/tso_client.go
  client/tso_dispatcher.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/XL, release-note-none

#8101 server/api: add the api to show the regions in subtree by type
  pkg/core/region.go
  pkg/response/store.go
  server/api/region.go
  server/cluster/cluster.go
  tools/pd-ctl/pdctl/command/region_command.go
  tools/pd-ctl/tests/region/region_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8133 pkg: fix `RegionStatsNeedUpdate` condition
  pkg/statistics/region_collection.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8134 client/tso: decouple tsoClient and tsoDispatcher
  client/client.go
  client/tso_batch_controller.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_request.go
Labels: status/can-merge, status/LGT2, component/client, size/XXL, release-note-none
