Repository tikv/pd, pull requests merged in 2024-05, with the labels that each got.

#8132 core: check stats healthy by reference
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/core/region_tree_test.go
  pkg/mcs/scheduling/server/cluster.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8093 *: make `TestScheduler` stable
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XL, release-note-none

#8130 *: split into multiple runner for heartbeat
  pkg/core/context.go
  pkg/core/region.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/runner.go
  pkg/ratelimit/runner_test.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#8116 metrics: fix patrol panel
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/XS, release-note-none, needs-cherry-pick-release-8.1

#8147 *: individually check the scheduling halt for online unsafe recovery
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  server/config/persist_options.go
  server/forward.go
  server/server.go
Labels: component/schedule, release-note, status/can-merge, status/LGT2, size/M

#8156 resource_group: export DegradeModeWaitDuration
  client/resource_group/controller/controller.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8160 controller: Reduce the frequency of printing logs
  client/resource_group/controller/limiter.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8138 *: add pending task metrics in runner and add templ
  metrics/grafana/pd.json
  pkg/ratelimit/metrics.go
  pkg/ratelimit/runner.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#8153 api: remove set node replica check
  server/apiv2/handlers/tso_keyspace_group.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tools/pd-ctl/tests/keyspace/keyspace_group_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8169 pkg/ratelimit: make TestConcurrencyLimiterAcquire stable
  pkg/ratelimit/concurrency_limiter_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#8168 *: remove task name opt
  pkg/core/region.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/runner.go
  pkg/ratelimit/runner_test.go
  server/cluster/cluster.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8166 tests/operators: pause all checkers to make test stable
  tests/server/api/operator_test.go
  tests/server/api/region_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8171 test/server: replace default 30s to 1s to reduce test cost time
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8175 pkg: refactor token
  pkg/ratelimit/concurrency_limiter.go
  pkg/ratelimit/concurrency_limiter_test.go
  pkg/ratelimit/runner.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8177 tests/server/api: make `TestPreparingProgress` stable
  tests/server/api/api_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8174 schedule/coordinator.go:Fix errors in the comments since the DefaultP…
  pkg/schedule/coordinator.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8182 pkg: improve get forwarded host
  pkg/utils/grpcutil/grpcutil.go
  pkg/utils/grpcutil/grpcutil_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8180 pkg: improve region path
  pkg/storage/endpoint/key_path.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8178 schedule: add check action when poll the opeators from opNotifierQueue(pick from 8086)
  server/schedule/operator/operator.go
  server/schedule/operator_controller.go
  server/schedule/operator_controller_test.go
Labels: status/can-merge, status/LGT2, size/L, cherry-pick-approved, release-note-none, ok-to-test

#8181 pkg: improve region statistics observe
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8183 core: use sync pool for tracer
  pkg/core/metrics.go
  server/cluster/cluster_worker.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7991 *: support generate the test coverage file and using it in ci
  .github/workflows/pd-tests.yaml
  Makefile
  codecov.yml
  scripts/ci-subtask.sh
  tests/scheduling_cluster.go
  tests/server/cluster/cluster_test.go
  tests/testutil.go
  tools/go.mod
  tools/pd-ut/README.md
  tools/pd-ut/coverProfile.go
  tools/pd-ut/ut.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XL, release-note-none

#8187 core/region: fix sub tree may not consist with root tree
  pkg/core/region.go
  pkg/core/region_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8199 tests/client: unify http client in tests
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/members/member_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/server/api/api_test.go
  tests/server/api/checker_test.go
  tests/server/api/operator_test.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/server/api/scheduler_test.go
  tests/server/api/testutil.go
  tests/server/apiv2/handlers/testutil.go
  tests/server/config/config_test.go
  tests/server/member/member_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#8201 core/region: fix the bug causing incorrect reference count after a cache reset
  pkg/core/region.go
  pkg/core/region_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8200 tools/ut: replace integration test in ci
  Makefile
  scripts/ci-subtask.sh
  tools/pd-ut/ut.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8158 *: use a separate runner for updating subtree
  metrics/grafana/pd.json
  pkg/core/context.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/metrics.go
  pkg/ratelimit/runner.go
  pkg/syncer/client.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8202 tests/tso: add IDAllocator to make keyspace test stable
  pkg/tso/keyspace_group_manager.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#8208 pkg/statistics: reduce the memory alloc for hot statistics
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#8209 metrics: update grafana template to add heartbeat latency overview
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#8186 tools/ut: add a parallel parameter
  tools/pd-ut/ut.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/M, release-note-none

#8210 metrics: fix the duplicate avg metrics
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8211 core/region: optimize the logic of randomly selecting regions within a single range
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/core/region_tree_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8214 tools/ctl: add caller ID for `pd-ctl`
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/tests/global_test.go
Labels: status/can-merge, status/LGT1, size/M, release-note-none

#8212 ctl: replace doRequest with HTTP client to get health status
  client/http/api.go
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  pkg/dashboard/uiserver/embedded_assets_rewriter.go
  tests/integrations/client/http_client_test.go
  tools/pd-ctl/pdctl/command/health_command.go
  tools/pd-ctl/tests/global_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#8216 apiutil/middleware: add retry logic for obtaining PD leader in redirector
  pkg/utils/apiutil/serverapi/middleware.go
  tests/server/api/api_test.go
Labels: component/api, status/can-merge, status/LGT2, size/M, release-note-none

#8213 *: batch process peer task
  pkg/cluster/cluster.go
  pkg/core/peer.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/statistics/hot_cache.go
  pkg/statistics/hot_cache_task.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/utils/kind.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tools/pd-ctl/tests/hot/hot_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#6830 *: refactor store info
  pkg/core/basic_cluster.go
  pkg/core/store.go
  pkg/keyspace/keyspace.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/placement/fit_test.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/schedule/schedulers/balance_test.go
  pkg/storage/leveldb_backend.go
  pkg/storage/storage_test.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  server/api/admin.go
  server/api/stats.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/scheduling_controller.go
  server/grpc_service.go
  server/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/integrations/mcs/scheduling/meta_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/api/region_test.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#8221 tests: fix the testify usage of re.Positive/Negative
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/statistics/hot_peer_cache_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#8219 controller: fix error retry and add more metrics
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/metrics.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-7.5

#8215 simulator: make store,region,replica configurable in cases
  pkg/utils/configutil/configutil.go
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/balance_region.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/diagnose_label_isolation.go
  tools/pd-simulator/simulator/cases/diagnose_rule.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/config/config.go
  tools/pd-simulator/simulator/conn.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/simutil/case_config.go
  tools/pd-simulator/simulator/task.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XXL, release-note-none

#8226 pkg/member: Fixing residual counts in campaign times
  pkg/election/leadership.go
  pkg/election/leadership_test.go
  pkg/member/member.go
  tests/server/member/member_test.go
Labels: release-note, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#8228 api/middleware: avoid redirecting when the leader remains unchanged
  pkg/utils/apiutil/serverapi/middleware.go
Labels: component/api, status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#5677 tools: support triggering an event through HTTP API
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/cases/add_nodes.go
  tools/pd-simulator/simulator/cases/add_nodes_dynamic.go
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/balance_region.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/delete_nodes.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/conn.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/simutil/id.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XXL, release-note-none

#8227 client/retry: only return the latest error in backoffer
  client/go.mod
  client/http/client.go
  client/retry/backoff.go
  client/retry/backoff_test.go
  tests/integrations/client/http_client_test.go
Labels: release-note, status/can-merge, status/LGT2, component/client, size/L
