Repository tikv/pd, pull requests merged in 2024-10, with the labels that each got.

#8637 *: upgrade go to 1.23
  .github/workflows/check.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  .golangci.yml
  Dockerfile
  Makefile
  README.md
  client/client.go
  client/go.mod
  client/resource_manager_client.go
  cmd/pd-server/main.go
  go.mod
  go.sum
  pkg/gc/safepoint.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/schedule/filter/candidates_test.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  pkg/utils/reflectutil/tag.go
  pkg/window/policy_test.go
  server/api/pprof.go
  server/api/store_test.go
  server/forward.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/tso/testutil.go
  tests/server/tso/common_test.go
  tests/tso_cluster.go
  tools/go.mod
  tools/go.sum
  tools/pd-api-bench/README.md
  tools/pd-api-bench/config/config.go
  tools/pd-api-bench/main.go
  tools/pd-ctl/README.md
  tools/pd-recover/README.md
  tools/pd-simulator/README.md
  tools/pd-tso-bench/README.md
  tools/pd-ut/README.md
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8682 *: fix `TestStoreWatch` panic
  tests/integrations/mcs/scheduling/meta_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8686 *: fix the race of `TestRaftClusterMultipleRestart`
  pkg/replication/replication_mode.go
  server/cluster/cluster.go
  tests/server/cluster/cluster_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8699 client: move option to option.go
  client/client.go
  client/option.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8719 client/tso: fix the issue where the TSO follower proxy cannot be closed
  client/tso_client.go
  tests/integrations/client/client_test.go
Labels: release-note, component/client, size/M, lgtm, approved, dco-signoff: yes

#8718 syncer: make log clearer when load region
  pkg/syncer/client.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8703 checker, statistic: avoid leak in label statistic
  pkg/cluster/cluster.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/region_collection.go
  server/cluster/cluster_test.go
  server/cluster/scheduling_controller.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8707 client: reuse `initRetry` function
  client/client.go
  client/pd_service_discovery.go
  client/tso_service_discovery.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8724 test: make TestStoreWatch stable
  tests/integrations/mcs/scheduling/meta_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8722 resource-group:fix issue that the deleted resource group still appear in metrics
  pkg/mcs/resourcemanager/server/manager.go
Labels: release-note, size/XS, affects-8.1, lgtm, approved, dco-signoff: yes

#8695 pd-ctl, config: adjust the output of pd config
  server/config/config.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8723 test: make TestLabelerRuleTTL stable
  pkg/schedule/labeler/labeler_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8685 test: refactor real cluster test and implement cluster id case
  .gitignore
  tests/integrations/realcluster/Makefile
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/realcluster/deploy.sh
  tests/integrations/realcluster/download_integration_test_binaries.sh
  tests/integrations/realcluster/real_cluster.go
  tests/integrations/realcluster/reboot_pd_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/integrations/realcluster/ts_test.go
  tests/integrations/realcluster/util.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8720 *: move tso to independent thread
  client/client.go
  client/pd_service_discovery.go
  client/tso_service_discovery.go
  server/cluster/cluster.go
  server/server.go
  tests/integrations/tso/client_test.go
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/server_test.go
  tests/server/cluster/cluster_test.go
  tests/server/tso/allocator_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/tso_test.go
  tools/pd-backup/tests/backup_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8711 statistics: fix the memory leak of region statistics
  pkg/statistics/region_collection.go
  pkg/statistics/region_collection_test.go
Labels: size/XS, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#8732 realclustertest: apply new style for some test cases
  tests/integrations/realcluster/real_cluster.go
  tests/integrations/realcluster/reboot_pd_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/integrations/realcluster/ts_test.go
  tests/integrations/realcluster/util.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8740 statistics: rename `RegionStats` in hot statistics
  pkg/mcs/scheduling/server/cluster.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/hot_cache.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/region_stat_informer.go
  server/cluster/cluster_test.go
  server/cluster/scheduling_controller.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8734 ci: ignore codecov path
  codecov.yml
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8738 server: refactor the independent service check
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/config.go
  server/cluster/cluster.go
  server/forward.go
  server/grpc_service.go
  server/server.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/testutil.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8702 statistics: add gc in hot peer cache
  pkg/mcs/scheduling/server/cluster.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/hot_cache.go
  pkg/statistics/hot_cache_test.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/hot_stat.go
  pkg/statistics/utils/topn.go
  pkg/statistics/utils/topn_test.go
  server/cluster/cluster_test.go
  server/cluster/scheduling_controller.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8744 server: implement dynamic forward
  server/cluster/cluster.go
  server/grpc_service.go
  server/server.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes
