Repository tikv/pd, pull requests merged in 2024-03, with the labels that each got.

#7855 dr-autosync: cherry-pick add metrics (#7110)
  metrics/grafana/pd.json
  server/replication/metrics.go
  server/replication/replication_mode.go
Labels: status/can-merge, status/LGT2, size/XXL, cherry-pick-approved, release-note-none, ok-to-test

#7862 client: tsoRequest should return when in dispatching but context done
  client/client.go
  client/tso_dispatcher.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7866 *: fix typos
  client/client.go
  client/pd_service_discovery.go
  pkg/btree/btree_generic.go
  pkg/cache/fifo.go
  pkg/cgroup/cgroup_cpu_test.go
  pkg/core/rangetree/range_tree_test.go
  pkg/core/region.go
  pkg/encryption/crypter.go
  pkg/encryption/key_manager_test.go
  pkg/encryption/kms.go
  pkg/encryption/region_crypter.go
  pkg/movingaverage/weight_allocator.go
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  pkg/replication/replication_mode_test.go
  pkg/response/store.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/labeler/labeler_test.go
  pkg/schedule/placement/fit.go
  pkg/schedule/placement/fit_region_test.go
  pkg/schedule/placement/fit_test.go
  pkg/schedule/plan/status.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/hot_region_v2.go
  pkg/statistics/store_test.go
  pkg/storage/hot_region_storage_test.go
  pkg/unsaferecovery/unsafe_recovery_controller_test.go
  pkg/utils/requestutil/context.go
  server/api/region.go
  server/grpc_service.go
  tests/cluster.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/tso/allocator_test.go
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/cases/controller.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-recover/main.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7859 storage: decouple the region storage from LevelDB backend
  pkg/storage/leveldb_backend.go
  pkg/storage/leveldb_backend_test.go
  pkg/storage/region_storage.go
  pkg/storage/region_storage_test.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
  pkg/syncer/client_test.go
  pkg/syncer/server.go
  server/server.go
  tests/server/region_syncer/region_syncer_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none, component/storage

#7867 tools: support more concurrency for API bench
  tools/pd-api-bench/cases/controller.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7870 client/http: fix the scan region parameter
  client/http/api.go
  client/pd_service_discovery.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, ok-to-test

#7874 Revert "cluster: don't collect region stats in API mode (#7817)"
  server/cluster/cluster.go
  tests/server/api/region_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7860 client: use Tracer from Span and fix unfinished `span`
  client/client.go
  client/gc_client.go
  client/keyspace_client.go
  client/meta_storage_client.go
  client/tso_dispatcher.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7876 test: fix unstable test TestLevelDBBackend
  pkg/storage/leveldb_backend_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7879 client/http: support update Keyspace safe point version
  client/http/api.go
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, ok-to-test

#7883 client/http, tests: utilize a mock PD service discovery during testing
  client/http/client.go
  client/http/client_test.go
  client/mock_pd_service_discovery.go
  client/pd_service_discovery.go
Labels: component/testing, status/can-merge, status/LGT2, component/client, size/L, release-note-none

#7885 *: remove uuid dependency
  go.mod
  pkg/mcs/tso/server/server.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7884 *: upgrade etcd to v3.4.30
  client/grpcutil/grpcutil.go
  client/pd_service_discovery_test.go
  go.mod
  go.sum
  pkg/dashboard/adapter/config.go
  pkg/election/leadership_test.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/mcs/tso/server/testutil.go
  pkg/syncer/client_test.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/testutil.go
  pkg/utils/grpcutil/grpcutil.go
  pkg/utils/testutil/leak.go
  pkg/utils/testutil/testutil.go
  server/config/config.go
  server/server.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/registry/registry_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-simulator/simulator/client.go
Labels: release-note, status/can-merge, status/LGT2, size/XL

#7878 scheduler: make history-sample-interval and history-sample-duration configurable
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/statistics/store_collection_test.go
  pkg/statistics/store_load.go
  pkg/statistics/store_load_test.go
  tests/server/api/scheduler_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-7.5

#7890 tools: support more qps for api bench
  tools/pd-api-bench/cases/controller.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7899 client: prevent keyspace client from panic
  client/keyspace_client.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7717 Cgroup monitoring and alerting
  metrics/alertmanager/pd.rules.yml
  metrics/grafana/pd.json
  pkg/basicserver/metrics.go
  pkg/cgroup/cgroup.go
  pkg/cgroup/cgroup_cpu.go
  pkg/cgroup/cgroup_cpu_linux.go
  pkg/cgroup/cgroup_cpu_unsupport.go
  pkg/cgroup/cgroup_mock_test.go
  server/cgmon.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none, ok-to-test

#7903 client: add status http interface
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7901 client: fix scheme when tls config not match
  client/client.go
  client/grpcutil/grpcutil.go
  client/http/client.go
  client/meta_storage_client.go
  client/mock_pd_service_discovery.go
  client/pd_service_discovery.go
  client/pd_service_discovery_test.go
  client/resource_manager_client.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  client/tso_stream.go
  pkg/utils/grpcutil/grpcutil.go
  tests/integrations/client/client_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7871 *: add region heartbeat duration breakdown metrics
  pkg/core/metrics.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/config/config.go
  pkg/syncer/client.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/cluster/scheduling_controller.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7911 client: avoid panic when leader gRPC conn is nil
  client/client.go
  client/pd_service_discovery.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7916 client: fix wrong usage of `url.Parse`
  client/pd_service_discovery.go
  client/pd_service_discovery_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7669 metrics: convert delta() usage to rate(), except for directional negative
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7918 pkg: fix cgroup monitor
  pkg/cgroup/cgmon.go
  pkg/cgroup/cgroup_cpu_linux.go
  server/server.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/L, release-note-none

#7921 grafana: add region heartbeat duration breakdown metrics
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT1, require-LGT1, size/L, release-note-none

#7923 chore(dashboard): update TiDB Dashboard to v8.0.0-df2799d9 [master]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/S, release-note-none, ok-to-test

#7924 chore(dashboard): update TiDB Dashboard to v8.0.0-ab48e09f [master]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/S, release-note-none, ok-to-test

#7925 client: remove failed request metrics for background setting query
  client/resource_group/controller/controller.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7929 mcs: make compatible with cluster info page display
  server/apiv2/handlers/micro_service.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7932 ci: add GitHub Actions workflows for release-8.x
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-function-test.yaml
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7937 client/tso: fix the bug that TSO may hang when switching mode
  client/client.go
  client/tso_client.go
  client/tso_dispatcher.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/M, release-note-none

#7940 tests/api: replace init cluster 3 to 1 to reduce cost time
  server/api/status_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7939 test/pprof: replace 5s to 5 to reduce test cost time
  server/api/pprof_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7945 tests: reduce etcdutil test time
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7949 tests/label: use eventually to make sure label equal
  pkg/schedule/labeler/labeler_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7951 client/tso: fix the bug that collected TSO requests could never be finished
  client/client.go
  client/tso_batch_controller.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_stream.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/L, release-note-none

#7953 tests/api: reduce TestRegionsWithKillRequest test time
  server/api/region_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7950 tests/server: move `TestCheckClusterID` out of `leaderServerTestSuite`
  server/server_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7956 mcs: fix micro-service topo's display
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/tso/server/server.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7961 metrics: fix alloc id, current tso and patrol panel
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7936 resource_manager: record the max RU per second
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/metrics_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7970 client/http: fix the panic when merging empty RegionsInfo
  client/http/types.go
  client/http/types_test.go
Labels: status/can-merge, status/LGT1, component/client, require-LGT1, size/L, release-note-none

#7962 client/tso: double-check the contexts to prevent waiting for TSO requests in closed chan
  client/client.go
  client/tso_batch_controller.go
  client/tso_client.go
  client/tso_dispatcher.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/M, release-note-none

#7947 tests/etcdutil: reduce `TestRandomKillEtcd` test time
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/testutil/testutil.go
  server/api/region_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7975 metrics: fix dr-auto-sync metics
  metrics/grafana/pd.json
  pkg/replication/replication_mode.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, needs-cherry-pick-release-8.0

#7972 client/test: add some tests where member change
  client/client_test.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7946 tests/discovery: reduce TestRegister cost time
  pkg/mcs/discovery/register_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7981 cmd, server: check the release version before starting the pd-server
  cmd/pd-server/main.go
  server/grpc_service.go
  server/server.go
  server/util.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7985 chore(dashboard): update TiDB Dashboard to v8.0.0-9768844f [master]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/S, release-note-none, ok-to-test

#7979 ttl: Trying to get float64 after get uint64 fails.
  server/config/persist_options.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7896 retry, client: append errors for backoffer
  client/go.mod
  client/retry/backoff.go
  client/retry/backoff_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7987 chore(dashboard): update TiDB Dashboard to 6.5.9-0f035e0e [release-6.5]
  build.ps1
  go.mod
  go.sum
  pkg/dashboard/adapter/config.go
  pkg/grpcutil/grpcutil.go
  scripts/dashboard-version
  scripts/describe-dashboard.sh
  scripts/embed-dashboard-ui.ps1
  scripts/embed-dashboard-ui.sh
  scripts/update-dashboard.sh
  tests/client/go.mod
  tests/client/go.sum
Labels: status/can-merge, status/LGT2, size/L, cherry-pick-approved, release-note-none, ok-to-test

#7993 config: fix `trace-region-flow` displayed incorrectly
  server/config/config.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#8001 tests/member: change leader priority check ticker to reduce test time
  tests/server/member/member_test.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none
