Repository tikv/pd, pull requests merged in 2024-08, with the labels that each got.

#8428 schedule: move the logic of patrol region from coordinator to checkers
  pkg/cache/cache_test.go
  pkg/cache/priority_queue.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/priority_inspector.go
  pkg/schedule/checker/priority_inspector_test.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/coordinator.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/metrics.go
  server/cluster/cluster_test.go
  server/join/join.go
  tests/server/api/api_test.go
  tests/server/join/join_fail/join_fail_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8455 *: replace part of path with filepath
  pkg/encryption/master_key_test.go
  pkg/storage/hot_region_storage_test.go
  pkg/utils/grpcutil/grpcutil_test.go
  pkg/utils/testutil/testutil.go
  server/config/config_test.go
  server/join/join.go
  server/server_test.go
  server/testutil.go
  tests/config.go
  tests/integrations/client/client_tls_test.go
  tests/server/join/join_test.go
  tools/pd-backup/pdbackup/backup_test.go
  tools/pd-ctl/pdctl/command/global_test.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/health/health_test.go
  tools/pd-ctl/tests/store/store_test.go
  tools/pd-simulator/simulator/config/config.go
  tools/pd-ut/coverProfile.go
  tools/pd-ut/ut.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8440 scheduler: GetType() returns types.CheckerSchedulerType directly
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/operator/metrics.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/type/type.go
  plugin/scheduler_example/evict_leader.go
  server/config/persist_options.go
  server/handler.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8461 pdms: Add the name field to the startup parameters
  cmd/pd-server/main.go
  pkg/mcs/discovery/discover.go
  pkg/mcs/discovery/registry_entry.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/resourcemanager/server/testutil.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/tso/server/testutil.go
  tests/testutil.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8445 *: enlarge the default value of `max-merge-region-size`.
  conf/config.toml
  pkg/schedule/config/config.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/region/region_test.go
Labels: release-note, size/S, lgtm, approved, dco-signoff: yes

#8481 *: add some comments to exported function, part 2 of enable revive.exported
  pkg/core/region.go
  pkg/core/region_tree.go
  pkg/core/region_tree_test.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/ratelimit/runner.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/region_filters.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/create_operator.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/operator/operator_queue.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_rank_v1.go
  pkg/schedule/schedulers/hot_region_rank_v2_test.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/schedulers/utils.go
  pkg/schedule/schedulers/utils_test.go
  plugin/scheduler_example/evict_leader.go
  server/forward.go
  server/grpc_service.go
  server/handler.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8488 *: replace path with filepath
  pkg/dashboard/distroutil/distro.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8490 client/http: fix the URI of GetRegionLabelRulesByIDs
  client/http/interface.go
  tests/integrations/client/http_client_test.go
Labels: component/client, size/XS, release-note-none, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes

#8482 *: reduce unsafe usage
  pkg/core/region.go
  pkg/encryption/crypter.go
  pkg/storage/hot_region_storage.go
  pkg/utils/logutil/log.go
  pkg/utils/typeutil/conversion.go
  pkg/utils/typeutil/conversion_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8486 server: skip the engine key when match store label
  server/api/label_test.go
  server/cluster/cluster.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8479 schedule: adjust patrol region scan limit according to the num of regions
  pkg/schedule/checker/checker_controller.go
  server/cluster/cluster_test.go
  tests/server/cluster/cluster_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8496 *: unify the etcd naming
  pkg/mcs/server/server.go
  pkg/mcs/utils/util.go
  server/gc_service.go
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/cases/controller.go
  tools/pd-api-bench/config/config.go
  tools/pd-api-bench/main.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8498 tools/ut: replace path with filepath
  tools/pd-ut/ut.go
  tools/pd-ut/xprog.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#6330 *: fix the gctuner tests
  pkg/gctuner/finalizer_test.go
  pkg/gctuner/memory_limit_tuner_test.go
  pkg/gctuner/tuner.go
  pkg/gctuner/tuner_calc_test.go
  pkg/gctuner/tuner_test.go
  pkg/gogc/gogc.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8505 checker: use ttl cache
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/checker/replica_checker_test.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/handler/handler.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/splitter/region_splitter.go
  server/cluster/cluster_worker.go
  server/cluster/scheduling_controller.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8478 resource_manager: add metrics to show resource group configuration
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8506 *: not use a fixed port number
  tools/pd-ut/alloc/server.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8485 *: instead scheduler type string of types.CheckerSchedulerType
  pkg/mcs/scheduling/server/cluster.go
  pkg/mock/mockconfig/mockconfig.go
  pkg/schedule/config/config.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/balance_benchmark_test.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/balance_witness_test.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_rank_v2_test.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/schedulers/transfer_witness_leader_test.go
  pkg/schedule/type/type.go
  plugin/scheduler_example/evict_leader.go
  server/api/scheduler.go
  server/cluster/cluster_test.go
  server/handler.go
  tests/server/api/scheduler_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8495 tso: skip resetting leader when resetting tso allocator
  pkg/keyspace/tso_keyspace_group.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  server/server.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8510 ms: make TestBootstrapDefaultKeyspaceGroup stable
  pkg/keyspace/tso_keyspace_group.go
  tests/integrations/mcs/tso/server_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8508 *: unify the usage of independent service
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/admin.go
  server/api/config.go
  server/cluster/cluster.go
  server/grpc_service.go
  server/server.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8520 client: use defer for cancel
  client/client.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8157 pdms: support primary/transfer api for scheduling and tso
  pkg/election/leadership.go
  pkg/election/leadership_test.go
  pkg/election/lease.go
  pkg/election/lease_test.go
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/scheduling/server/testutil.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/utils/expected_primary.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/tso/global_allocator.go
  tests/integrations/mcs/members/member_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8515 scheduler: extract storage operations to schedulerConfig interface
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/config.go
  pkg/schedule/schedulers/config_test.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/schedule/schedulers/split_bucket.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8523 tso: fix an invalid err != nil check
  pkg/tso/keyspace_group_manager.go
Labels: component/tso, component/keyspace, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8532 *: add linters to organize import dependency
  .gitignore
  .golangci.yml
  client/go.mod
  client/http/client_test.go
  client/resource_group/controller/controller.go
  go.mod
  go.sum
  pkg/gctuner/finalizer.go
  pkg/gctuner/memory_limit_tuner.go
  pkg/memory/var.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/simutil/key_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8540 tests/api: add wait leader for api
  tests/server/api/api_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8536 config: disable EnableV2 of etcd
  server/api/member_test.go
  server/config/config.go
Labels: release-note, size/S, lgtm, approved, dco-signoff: yes

#8541 Revert "*: enlarge the default value of `max-merge-region-size`. (#8445)"
  conf/config.toml
  pkg/schedule/config/config.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/region/region_test.go
Labels: size/S, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#8544 *: fix some typos
  client/pd_service_discovery.go
  conf/config.toml
  pkg/autoscaling/calculation.go
  pkg/gc/safepoint_test.go
  pkg/member/election_leader.go
  pkg/movingaverage/weight_allocator.go
  pkg/replication/replication_mode_test.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/operator/operator.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/plan/plan.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/utils.go
  scripts/dashboard-version
  scripts/update-dashboard.sh
  server/api/middleware.go
  server/cluster/cluster_test.go
  tests/server/apiv2/handlers/keyspace_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-api-bench/cases/controller.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-simulator/README.md
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8546 tests/tso: Create independent clients to prevent interfering with other tests.
  tests/integrations/tso/client_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8537 server: refactor params of `askSplit` call
  server/grpc_service.go
Labels: size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8539 mcs: fix potential data race in scheduling server
  pkg/mcs/scheduling/server/server.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8516 scheduler: remove old scheduler name
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mock/mockconfig/mockconfig.go
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/config/config.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/coordinator.go
  pkg/schedule/filter/counter_test.go
  pkg/schedule/handler/handler.go
  pkg/schedule/operator/metrics.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_test.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/balance_witness_test.go
  pkg/schedule/schedulers/base_scheduler.go
  pkg/schedule/schedulers/diagnostic_recorder.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/evict_slow_trend_test.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/schedulers/transfer_witness_leader_test.go
  pkg/schedule/types/type.go
  plugin/scheduler_example/evict_leader.go
  server/api/diagnostic_test.go
  server/api/scheduler.go
  server/cluster/cluster_test.go
  server/cluster/scheduling_controller.go
  server/config/persist_options.go
  server/handler.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/server/api/scheduler_test.go
  tests/server/cluster/cluster_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8504 ctl: replace gc_safepoint call with PD HTTP SDK
  client/http/api.go
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  pkg/storage/endpoint/gc_safe_point.go
  server/api/service_gc_safepoint.go
  tests/integrations/client/http_client_test.go
  tools/pd-ctl/pdctl/command/gc_safepoint_command.go
  tools/pd-ctl/tests/safepoint/safepoint_test.go
Labels: size/XL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8551 ms: change the default name of the microservice to lowercase
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/tso/server/config.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8554 api: remove duplicate `/debug/pprof/trace` register
  server/util.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8545 tests/resource_control: enable trace log to help diagnose
  pkg/mcs/resourcemanager/server/config.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8558 tests: make TestAllocIDAfterLeaderChange more stable
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/join/join_test.go
  tests/server/watch/leader_watch_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8556 tests: unify frequency check time to make test stable
  pkg/member/member.go
  tests/integrations/client/client_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/cluster/cluster_test.go
  tests/server/id/id_test.go
  tests/server/region_syncer/region_syncer_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8559 heartbeat: reduce unnecessary `RunTask`
  pkg/cluster/cluster.go
  pkg/mcs/scheduling/server/cluster.go
  server/cluster/cluster.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8522 *: make TestStores stable
  server/cluster/cluster.go
  tests/integrations/mcs/scheduling/api_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8563 *: enable revive.exported linter
  .golangci.yml
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/cases/controller.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-heartbeat-bench/metrics/util.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/config/config.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-tso-bench/main.go
  tools/pd-ut/alloc/server.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8562 *: remove the previous joined pd
  tests/cluster.go
  tests/integrations/mcs/scheduling/api_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes
