Repository tikv/pd, pull requests merged in 2024-07, with the labels that each got.

#8306 *: add mark function for log desensitization
  conf/config.toml
  pkg/core/region.go
  pkg/storage/hot_region_storage.go
  pkg/utils/configutil/configutil.go
  pkg/utils/logutil/log.go
  pkg/utils/logutil/log_test.go
  pkg/utils/typeutil/conversion.go
  pkg/utils/typeutil/conversion_test.go
  server/config/config_test.go
  tests/testutil.go
  tools/pd-api-bench/main.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/main.go
Labels: release-note, size/XL, lgtm, approved, dco-signoff: yes

#8344 client/controller: record context error and add slowlog about token bucket
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Labels: size/M, release-note-none, affects-7.1, affects-7.5, affects-8.1, lgtm, approved, dco-signoff: yes

#8342 tools/ut: accelerate the build process and scatter test
  .github/workflows/pd-tests.yaml
  .gitignore
  Makefile
  pkg/core/region_test.go
  scripts/ci-subtask.sh
  server/api/region_test.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/integrations/tso/consistency_test.go
  tests/server/api/checker_test.go
  tests/server/api/operator_test.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/server/api/scheduler_test.go
  tests/server/config/config_test.go
  tests/testutil.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/hot/hot_test.go
  tools/pd-ctl/tests/operator/operator_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
  tools/pd-ut/ut.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8340 scheduler: fix flaky test TestRegionLabelDenyScheduler
  pkg/schedule/schedulers/scheduler_controller.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8347 client: clean up the tls config for client
  client/tlsutil/tlsconfig.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8352 resource_control: allow configuration of the maximum retry time for the local bucket
  client/resource_group/controller/config.go
  client/resource_group/controller/controller.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/config_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8087 schedulers,test: avoid some test branches not being reached and remove schedulePeerPr
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/hot_region_v2_test.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/statistics/hot_cache_test.go
  pkg/statistics/store_hot_peers_infos.go
  pkg/utils/operatorutil/operator_check.go
Labels: status/LGT1, size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8357 test/region_syncer: make TestPrepareCheckerWithTransferLeader more stable
  Makefile
  scripts/ci-subtask.sh
  tests/server/region_syncer/region_syncer_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8366 simulator: fix region size and keys
  tools/pd-simulator/simulator/raft.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8369 [cherry-pick] controller: fix the low_ru request missed
  client/go.mod
  client/go.sum
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter_test.go
Labels: size/L, release-note-none, approved, dco-signoff: yes, needs-1-more-lgtm

#8368 controller: fix the low_ru request missed
  client/go.mod
  client/go.sum
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_group/controller/limiter_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.2

#8367 metrics: use second as the unit of latency
  client/metrics.go
  client/tso_stream.go
  server/metrics.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8338 statistics: extend store label with store id
  metrics/grafana/pd.json
  pkg/statistics/metrics.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_collection_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8376 tools/simulator: resolve simulator race
  Makefile
  pkg/core/region.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/task.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8383 *: fix the initialization of encryption key manager
  server/server.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8380 test: check leader not ready in test
  tests/autoscaling/autoscaling_test.go
  tests/compatibility/version_upgrade_test.go
  tests/dashboard/race_test.go
  tests/dashboard/service_test.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/discovery/register_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/integrations/mcs/scheduling/meta_test.go
  tests/integrations/mcs/scheduling/rule_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/server_test.go
  tests/server/api/api_test.go
  tests/server/cluster/cluster_work_test.go
  tests/server/id/id_test.go
  tests/server/join/join_fail/join_fail_test.go
  tests/server/join/join_test.go
  tests/server/member/member_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/storage/hot_region_storage_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/tso_test.go
  tests/server/watch/leader_watch_test.go
  tools/pd-backup/tests/backup_test.go
  tools/pd-ctl/tests/cluster/cluster_test.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/hot/hot_test.go
  tools/pd-ctl/tests/label/label_test.go
  tools/pd-ctl/tests/log/log_test.go
  tools/pd-ctl/tests/member/member_test.go
  tools/pd-ctl/tests/region/region_test.go
  tools/pd-ctl/tests/resourcemanager/resource_manager_command_test.go
  tools/pd-ctl/tests/store/store_test.go
  tools/pd-ctl/tests/unsafe/unsafe_operation_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8382 metrics: remove useless "metric" field in pd.json
  metrics/grafana/pd.json
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8377 *: merge waiting list and suspect regions
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/coordinator.go
  pkg/schedule/handler/handler.go
  pkg/schedule/scatter/region_scatterer_test.go
  pkg/schedule/splitter/region_splitter_test.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/cluster/scheduling_controller.go
  tests/integrations/client/http_client_test.go
  tests/server/api/region_test.go
  tests/server/cluster/cluster_work_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8385 checker: use CheckerSchedulerType for checker
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/joint_state_checker.go
  pkg/schedule/checker/learner_checker.go
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/checker/metrics.go
  pkg/schedule/checker/replica_checker.go
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/split_checker.go
  pkg/schedule/type/type.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8387 rg/controller: use the default resource group if the requested one doesn't exist
  client/errs/errno.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8398 *: enable G601 for gosec
  .golangci.yml
  tests/server/api/rule_test.go
  tools/pd-api-bench/config/config.go
  tools/pd-api-bench/main.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8120 grpc: allow client send consecutive pings in every 5 seconds
  pkg/mcs/utils/util.go
Labels: size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8407 middleware: fix waitForLeader in redirector panic
  pkg/utils/apiutil/serverapi/middleware.go
Labels: release-note, size/XS, lgtm, approved, dco-signoff: yes

#8402 rg/controller: optimize the fallback mechanism of the controller
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
Labels: size/L, release-note-none, component/resource-control, lgtm, approved, dco-signoff: yes

#8405 schedule: fix split-merge-interval update
  pkg/schedule/checker/merge_checker.go
  pkg/schedule/checker/merge_checker_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8375 client: report error when scan region encounter hole region
  client/client.go
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/core/basic_cluster.go
  pkg/core/basic_cluster_test.go
  pkg/core/region.go
  pkg/core/region_test.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: release-note, size/XL, lgtm, approved, dco-signoff: yes

#8393 scheduler: add scheduler type and move metrics file
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/label.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/random_merge.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_leader.go
  pkg/schedule/schedulers/shuffle_region.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/transfer_witness_leader.go
  pkg/schedule/type/type.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8403 show approximate_kv_size in pd-ctl
  pkg/response/region.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8259 scheduler: add batch config for evict leader scheduler
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_leader_test.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8410 client: make TSO client request duration include failed requests
  client/metrics.go
  client/tso_stream.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8420 chore(dashboard): update TiDB Dashboard to v8.3.0-e6e78c7c [master]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8421 tools/ut: add -v to help diagnose
  tools/pd-ut/ut.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8418 resourcemanager: make TestResourceManagerServer more stable
  tests/integrations/mcs/resourcemanager/server_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8423 *: upgrade go-graphviz
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8415 *: fix redact log
  pkg/keyspace/keyspace.go
  pkg/schedule/labeler/rules.go
  server/cluster/cluster_worker.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8411 tests: add frequency check time to make resign test more stable
  pkg/member/member.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/cluster/cluster_test.go
  tests/server/id/id_test.go
  tests/server/region_syncer/region_syncer_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8414 pd-ctl: disable EnablePrefixMatching and avoid misuse of `store remove` and `store delete`
  tools/pd-ctl/pdctl/command/store_command.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/tests/store/store_test.go
Labels: release-note, size/S, lgtm, approved, dco-signoff: yes

#8399 resourcemanger: add more test about assign tokens and comments
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Labels: require-LGT1, size/M, release-note-none, lgtm, approved, dco-signoff: yes, needs-1-more-lgtm

#8394 *: use context to manage runner
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/runner.go
  pkg/ratelimit/runner_test.go
  server/cluster/cluster.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8427 test: add Stdout to TestReloadLabel
  tests/integrations/realcluster/reboot_pd_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8429 *: pass context to task
  pkg/cluster/cluster.go
  pkg/core/region.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/runner.go
  pkg/ratelimit/runner_test.go
  server/cluster/cluster.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8436 controller: fix limiter cannot work well in high concurrency scenario
  client/resource_group/controller/limiter.go
  client/resource_group/controller/limiter_test.go
Labels: size/L, release-note-none, needs-cherry-pick-release-7.5, lgtm, approved, dco-signoff: yes

#8353 scheduler: introduce the rank interface
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_rank_v1.go
  pkg/schedule/schedulers/hot_region_rank_v2.go
  pkg/schedule/schedulers/hot_region_rank_v2_test.go
  pkg/schedule/schedulers/hot_region_test.go
  tests/integrations/mcs/scheduling/server_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8416 scheduler: Replace the input parameter of AddScheduler with types.CheckerSchedulerType.
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/counter_test.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/type/type.go
  server/api/scheduler.go
  server/handler.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8345 scheduler: add more hot scheduler comments and replace negative rank
  pkg/schedule/schedulers/hot_region.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/hot_region_rank_v1.go
  pkg/schedule/schedulers/hot_region_rank_v2.go
  pkg/schedule/schedulers/hot_region_rank_v2_test.go
  pkg/statistics/store_hot_peers_infos.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8449 tools: fix panic issue in tso bench
  tools/pd-tso-bench/main.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8451 api: enhance ttl config api output
  server/api/config.go
  tests/server/config/config_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8235 tools/heartbeat: support to collect metrics
  tools/go.mod
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-heartbeat-bench/metrics/util.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, needs-1-more-lgtm

#8433 client: Merge the two tsoStream types to reuse the same error handling and metrics reporting code
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_stream.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8459 *: add some comments to exported function, part of enable revive.exported
  .golangci.yml
  pkg/core/metrics.go
  pkg/core/region_tree.go
  pkg/core/storelimit/store_limit.go
  pkg/id/id.go
  pkg/ratelimit/metrics.go
  pkg/ratelimit/runner.go
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/region_filters.go
  pkg/schedule/operator/builder.go
  pkg/schedule/operator/operator_queue.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/splitter/region_splitter.go
  pkg/schedule/type/type.go
  pkg/statistics/collector.go
  pkg/statistics/hot_peer.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/store_collection.go
  pkg/statistics/store_hot_peers_infos.go
  pkg/statistics/utils/topn.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/mem_kv.go
  pkg/syncer/client.go
  pkg/syncer/history_buffer.go
  pkg/syncer/history_buffer_test.go
  pkg/syncer/server.go
  pkg/window/counter.go
  plugin/scheduler_example/evict_leader.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8462 server: fix inappropriate log level
  pkg/mcs/resourcemanager/server/manager.go
Labels: size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes
