Repository tikv/pd, pull requests merged in 2024-01, with the labels that each got.

#7647 chore(dashboard): update TiDB Dashboard to v7.6.0-473bf80a [master]
  go.mod
  go.sum
  scripts/dashboard-version
  scripts/update-dashboard.sh
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: release-note, status/can-merge, status/LGT2, size/S, ok-to-test

#7629 api: fix panic when region doesn't have a leader
  server/api/region.go
  tools/pd-ctl/tests/region/region_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7652 mcs: fix metrics cleanup
  pkg/mcs/resourcemanager/server/manager.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, ok-to-test

#7648 http: add GetVersion API
  client/http/interface.go
  client/http/request_info.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7605 ctl: replace cluster info with HTTP SDK
  client/http/api.go
  client/http/client.go
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  go.mod
  go.sum
  server/cluster/cluster.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/cluster_command.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/tests/helper.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7654 mcs: change the log level
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7626 resource_group: don't accumulate tokens when burstlimit less than 0
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7660 http: add GetEmptyRegions API
  client/http/interface.go
  client/http/request_info.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7662 client: directly save tls config
  client/client.go
  client/client_test.go
  client/grpcutil/grpcutil.go
  client/pd_service_discovery.go
  client/tso_service_discovery.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7619 metrics: add instance var and improve conccurrency metrics
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7677 client: fix panic when checking resp error
  client/client.go
  tests/integrations/client/client_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7667 client/http: do not retry the 4XX code returned by leader
  client/http/client.go
Labels: component/api, status/can-merge, status/LGT2, component/client, size/M, release-note-none

#7678 mcs: fix the prepare checker is directly skipped
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/coordinator.go
  pkg/schedule/prepare_checker.go
  tests/server/api/scheduler_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7680 client/http, retry: support backoffer in HTTP client
  client/http/client.go
  client/http/client_test.go
  client/http/interface.go
  client/http/request_info.go
  client/pd_service_discovery.go
  client/retry/backoff.go
  client/retry/backoff_test.go
  client/tso_dispatcher.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, component/client, size/XL, release-note-none

#7684 http/client, retry: copy a new Backoffer for each request
  client/http/client.go
Labels: status/can-merge, status/LGT2, component/client, size/XS, release-note-none

#7674 scheduler: add aduit log for scheduler config API and add resp msg for evict-leader
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_leader.go
  server/api/router.go
  server/api/scheduler.go
  server/api/server_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5

#7683 tools: support config for API Bench and add TSO API
  tools/go.mod
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/config/config.go
  tools/pd-api-bench/config/simconfig.toml
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XL, release-note-none

#7685 tools: add http server for heartbeat bench
  tools/go.mod
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/L, release-note-none

#7694 chore(dashboard): update TiDB Dashboard to v7.6.0-41f7c801 [release-7.6]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/S, cherry-pick-approved, release-note-none, ok-to-test

#7691 mcs: add option to control redirect http request
  pkg/utils/apiutil/apiutil.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/config.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/tso/api_test.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/tests/config/config_test.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7668 client: use ServiceDiscovery to update member in HTTP client
  client/client.go
  client/errs/errno.go
  client/go.mod
  client/http/client.go
  client/http/client_test.go
  client/pd_service_discovery.go
  client/pd_service_discovery_test.go
  client/tso_service_discovery.go
  tests/integrations/client/http_client_test.go
  tests/integrations/go.mod
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7698 tools: support changing the percentage of heartbeat
  tools/pd-heartbeat-bench/config-template.toml
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/L, release-note-none

#7699 http: add Admin API and Config with TTL API
  client/http/interface.go
  client/http/request_info.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7692 tools: refactor API Bench and support HTTP server
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/cases/controller.go
  tools/pd-api-bench/config/config.go
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XXL, release-note-none

#7710 tools: improve heartbeat bench cmd
  tools/pd-heartbeat-bench/config/config.go
Labels: status/can-merge, status/LGT2, require-LGT1, size/XS, release-note-none

#7705 api: optional return operators as JSON object
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/schedule/operator/operator.go
  pkg/schedule/operator/operator_test.go
  server/api/operator.go
  tests/server/api/operator_test.go
Labels: release-note, status/can-merge, status/LGT2, size/L

#7708 etcdutil: fix load range option
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/meta/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  server/keyspace_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7713 tools: add log file param for api bench
  tools/pd-api-bench/config/config.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7714 schedule: prevent suddenly scheduling
  pkg/schedule/prepare_checker.go
Labels: status/can-merge, status/LGT2, size/XS, release-note-none

#7595 mcs: add a switch to dynamically enable scheduling service
  server/api/config.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/persist_options.go
  server/server.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/api/operator_test.go
  tests/server/api/rule_test.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/operator/operator_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7725 etcdutil, server: sort out the initialization functions of etcd client
  pkg/mcs/utils/util.go
  pkg/utils/etcdutil/etcdutil.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7727 etcdutil: refine the etcd client healthy checker code
  pkg/utils/etcdutil/etcdutil.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7720 server: tolerate no leader on report bucket
  server/grpc_service.go
Labels: release-note, status/can-merge, status/LGT2, size/S

#7718 etcdutil, mcs: fix the issue loading label rules is too slow
  pkg/keyspace/util.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/schedule/labeler/labeler.go
  pkg/schedule/placement/rule_manager.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/testutil.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7709 *: upgrade prometheus dependencies
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7736 mcs: fix prepare checker panic
  server/cluster/cluster.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/testutil.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7740 ctl: clone tls config to avoid reusing connection
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/tests/cert_opt.sh
  tools/pd-ctl/tests/store/store_test.go
Labels: release-note, status/can-merge, status/LGT2, size/L

#7743 etcdutil: move health checker into a separate file
  pkg/member/member.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/etcdutil/testutil.go
  server/api/member.go
  server/cluster/cluster.go
  server/join/join.go
  server/server.go
  tests/server/join/join_test.go
  tools/pd-ctl/tests/member/member_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7738 mcs, schedule: use txn in label rule manager
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/labeler_test.go
  pkg/schedule/placement/rule_manager.go
  pkg/storage/endpoint/rule.go
  pkg/storage/endpoint/util.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none

#7746 labeler: keep compatibility when meeting duplicate rules.
  pkg/schedule/labeler/labeler.go
  pkg/schedule/labeler/labeler_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7744 http: init `NewDefaultPDServiceDiscovery` and refine http client tests
  client/http/client.go
  client/http/client_test.go
  client/pd_service_discovery.go
  tests/integrations/client/http_client_test.go
  tests/integrations/go.mod
  tests/integrations/realcluster/Makefile
  tests/integrations/realcluster/util.go
  tools/pd-ctl/main.go
  tools/pd-ctl/pdctl/command/global.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7749 http/client, test: remove IgnoreTopFunction of go leak and repair http SDK leak
  client/client.go
  client/http/client.go
  client/pd_service_discovery_test.go
  client/testutil/leak.go
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/client/gc_client_test.go
  tests/integrations/client/global_config_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7701 lease: modify log info
  pkg/election/lease.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7745 tools: support tls and refactor
  tools/pd-heartbeat-bench/config-template.toml
  tools/pd-heartbeat-bench/config/config.go
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/L, release-note-none

#7753 server(gRPC): use the PD leader member in server if it's not in etcd members
  pkg/member/member.go
  server/api/member.go
  server/grpc_service.go
  server/server.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7755 Revert "Use the PD leader member in server if it's not in etcd members (#7753)"
  pkg/member/member.go
  server/api/member.go
  server/grpc_service.go
  server/server.go
  tests/server/cluster/cluster_test.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/M, release-note-none

#7761 client: add sheme in pd http client
  client/client.go
  client/pd_service_discovery.go
  tests/integrations/client/http_client_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7715 tools: API bench supports etcd
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/cases/controller.go
  tools/pd-api-bench/config/config.go
  tools/pd-api-bench/config/simconfig.toml
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT2, size/XL, release-note-none

#7759 Makefile: build all necessary deps before the static check
  Makefile
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none

#7765 config: disable witness related schedulers by default
  pkg/schedule/config/config.go
  server/cluster/cluster_test.go
  tests/integrations/mcs/scheduling/server_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7771 tools: fix store statistics
  tools/pd-heartbeat-bench/main.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none

#7769 tools: remove trim scheme
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/main.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7766 ci-subtask: exit ci-subtask.sh when execute ci failed
  Makefile
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/config/config.go
  pkg/schedule/schedulers/scheduler_controller.go
  scripts/ci-subtask.sh
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/scheduling/server_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7768 api: add MinServiceGcSafepoint filed when list safepoints
  server/api/service_gc_safepoint.go
  server/api/service_gc_safepoint_test.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none

#7773 server: fix the race on (*Server).clusterID
  server/forward.go
  server/grpc_service.go
  server/server.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7737 etcdutil: consider the latency while patrolling the healthy endpoints
  metrics/grafana/pd.json
  pkg/mcs/utils/util.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/etcdutil/health_checker_test.go
  pkg/utils/etcdutil/metrics.go
  pkg/utils/typeutil/comparison_test.go
  server/server.go
Labels: release-note, status/can-merge, status/LGT2, size/XXL

#7779 etcdutil: return original enpoints when all are evicted
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/etcdutil/health_checker_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none

#7754 mcs: add store and region interface in scheduling server
  pkg/mcs/scheduling/server/apis/v1/api.go
  pkg/mcs/scheduling/server/meta/watcher.go
  pkg/response/region.go
  pkg/response/region_easyjson.go
  pkg/response/region_test.go
  pkg/response/store.go
  server/api/label.go
  server/api/label_test.go
  server/api/region.go
  server/api/region_test.go
  server/api/store.go
  server/api/store_test.go
  server/api/trend.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/server/api/region_test.go
  tools/pd-ctl/pdctl/command/label_command.go
  tools/pd-ctl/pdctl/command/store_command.go
  tools/pd-ctl/tests/helper.go
  tools/pd-ctl/tests/label/label_test.go
  tools/pd-ctl/tests/region/region_test.go
  tools/pd-ctl/tests/store/store_test.go
Labels: status/can-merge, status/LGT2, size/XXL, release-note-none

#7757 mcs: close the connection to avoid retrying to connect
  pkg/utils/grpcutil/grpcutil.go
  server/forward.go
  server/grpc_service.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none
