Repository tikv/pd, pull requests merged in 2024-11, with the labels that each got.

#8752 tests: add ms cluster case
  tests/integrations/realcluster/cluster.go
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/realcluster/reboot_pd_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/integrations/realcluster/ts_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8763 client/tso: add a TSO wait failed duration observer
  client/metrics.go
  client/tso_request.go
Labels: component/metrics, component/tso, size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8760 api: return error when create grant/evict leader scheduler
  server/api/scheduler.go
  server/handler.go
Labels: release-note, size/M, cherry-pick-approved, lgtm, approved, dco-signoff: yes

#8764 chore(dashboard): update TiDB Dashboard to v8.5.0-bce95733 [master]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#8783 cluster: fix tso fallback when pd leader switch
  server/cluster/cluster.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8768 test: add ut to test the input when creating evict-leader scheduler
  server/api/scheduler.go
  tests/server/api/scheduler_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8791 chore(dashboard): update TiDB Dashboard to v7.1.6-afb197c94 [release-7.1]
  go.mod
  go.sum
  pkg/dashboard/adapter/config.go
  scripts/dashboard-version
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: size/M, cherry-pick-approved, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8787 tools: support setting float for qps
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/tests/config/config_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8794 cluster: avoid unexpect scheduling job start
  server/cluster/cluster.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#8623 scheduler: replace pauseLeader with two flags and add source filter to transferIn
  errors.toml
  pkg/core/basic_cluster.go
  pkg/core/constant/kind.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/errs/errno.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/schedule/filter/filters.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/grant_leader_test.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/utils.go
  pkg/statistics/collector.go
  pkg/utils/operatorutil/operator_check.go
  plugin/scheduler_example/evict_leader.go
  server/cluster/cluster_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8782 *: remove unused code from participant.go
  pkg/member/participant.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8793 client: genericize the batch controller
  client/batch_controller.go
  client/batch_controller_test.go
  client/tso_batch_controller.go
  client/tso_dispatcher.go
Labels: component/client, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8799 *: aggregate the utils package within the client
  client/client.go
  client/client_test.go
  client/meta_storage_client.go
  client/option_test.go
  client/pd_service_discovery.go
  client/pd_service_discovery_test.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_service_discovery.go
  client/utils/grpcutil/grpcutil.go
  client/utils/testutil/check_env_dummy.go
  client/utils/testutil/check_env_linux.go
  client/utils/testutil/leak.go
  client/utils/testutil/tempurl.go
  client/utils/testutil/testutil.go
  client/utils/timerutil/pool.go
  client/utils/timerutil/pool_test.go
  client/utils/tlsutil/OWNERS
  client/utils/tlsutil/tlsconfig.go
  client/utils/tlsutil/tlsutil.go
  client/utils/tsoutil/tsoutil.go
  pkg/utils/timerutil/pool.go
  pkg/utils/timerutil/pool_test.go
  pkg/utils/tsoutil/tso_dispatcher.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/integrations/tso/client_test.go
  tools/pd-api-bench/main.go
  tools/pd-heartbeat-bench/main.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8798 store_command: propagate the error code to the root command
  tools/pd-ctl/pdctl/command/store_command.go
Labels: size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8804 mcs: remove resource manager service
  cmd/pd-server/main.go
  pkg/mcs/discovery/discover.go
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/install/install.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/resourcemanager/server/testutil.go
  pkg/mcs/utils/constant/constant.go
  pkg/member/participant.go
  pkg/utils/keypath/key_path.go
  tests/integrations/mcs/discovery/register_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/testutil.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8807 tests: fix local id panic
  tests/integrations/mcs/scheduling/api_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8809 tests: fix `TestRaftClusterMultipleRestart`
  tests/server/cluster/cluster_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8808 tests: fix `TestPreparingProgress`
  tests/server/api/api_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8810 *: remove the Local TSO test cases
  .github/workflows/tso-consistency-test.yaml
  Makefile
  pd.code-workspace
  pkg/storage/storage_tso_test.go
  tests/server/member/member_test.go
  tests/server/tso/allocator_test.go
  tests/server/tso/common_test.go
  tests/server/tso/consistency_test.go
  tests/server/tso/global_tso_test.go
  tests/server/tso/manager_test.go
  tests/server/tso/tso_test.go
  tools/pd-ut/ut.go
Labels: component/testing, component/tso, do-not-merge/hold, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8770 hotfix: Upgrade Third-Party Dependencies, Go Version, and Base Image in v6.5.7
  .github/workflows/check.yaml
  .github/workflows/label.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  .golangci.yml
  Dockerfile
  Makefile
  client/client.go
  client/go.mod
  client/go.sum
  client/grpcutil/grpcutil.go
  client/testutil/leak.go
  go.mod
  go.sum
  pkg/dashboard/adapter/config.go
  pkg/etcdutil/etcdutil.go
  pkg/etcdutil/etcdutil_test.go
  pkg/grpcutil/grpcutil.go
  pkg/movingaverage/moving_average_test.go
  pkg/reflectutil/tag.go
  pkg/testutil/leak.go
  pkg/testutil/testutil.go
  server/api/pprof.go
  server/api/store_test.go
  server/config/config.go
  server/core/region.go
  server/core/region_test.go
  server/core/region_tree.go
  server/election/leadership_test.go
  server/election/lease_test.go
  server/encryptionkm/key_manager_test.go
  server/grpc_service.go
  server/id/id_test.go
  server/region_syncer/client_test.go
  server/schedule/waiting_operator.go
  server/server.go
  server/storage/endpoint/key_path_test.go
  server/storage/hot_region_storage.go
  server/storage/kv/kv_test.go
  server/storage/storage_test.go
  tests/client/go.mod
  tests/client/go.sum
  tests/server/global_config/global_config_test.go
  tools/pd-backup/pdbackup/backup_test.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/simulator/client.go
  tools/pd-tso-bench/go.mod
  tools/pd-tso-bench/go.sum
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8813 *: independent the client option
  client/client.go
  client/client_test.go
  client/gc_client.go
  client/keyspace_client.go
  client/meta_storage_client.go
  client/opt/option.go
  client/opt/option_test.go
  client/pd_service_discovery.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_dispatcher_test.go
  client/tso_service_discovery.go
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/tso/client_test.go
  tools/pd-api-bench/cases/cases.go
  tools/pd-api-bench/main.go
  tools/pd-tso-bench/main.go
Labels: component/client, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8815 readme: remove the TSO consistency test status badge
  README.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8786 *: reduce raft cluster lock and replace some place with atomic
  pkg/schedule/checker/checker_controller.go
  pkg/utils/typeutil/clone_test.go
  server/cluster/cluster.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8819 *: remove store limit scene code
  pkg/core/storelimit/store_limit_scenes.go
  server/api/router.go
  server/api/store.go
  server/cluster/cluster.go
  server/cluster/cluster_stat.go
  server/cluster/cluster_stat_test.go
  server/cluster/store_limiter.go
  server/cluster/store_limiter_test.go
  server/handler.go
  tools/pd-ctl/pdctl/command/store_command.go
  tools/pd-ctl/tests/store/store_test.go
Labels: do-not-merge/hold, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8812 *: fix `TestWatcher`
  pkg/encryption/key_manager_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8822 client: split the meta storage client
  client/client.go
  client/clients/metastorage/client.go
  client/meta_storage_client.go
  client/opt/option.go
  client/resource_group/controller/controller.go
  client/resource_group/controller/controller_test.go
  client/resource_manager_client.go
  client/tso_service_discovery.go
  tests/integrations/client/client_test.go
Labels: component/client, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8820 test: remove duplicated code
  tests/integrations/realcluster/ts_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8824 syncer: exit watch leader immediately
  pkg/syncer/client.go
Labels: size/S, release-note-none, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-8.5

#8704 grpc: add caller info to client and wrap innerClient
  client/caller/caller.go
  client/caller/caller_test.go
  client/client.go
  client/client_test.go
  client/gc_client.go
  client/go.mod
  client/go.sum
  client/inner_client.go
  client/keyspace_client.go
  client/meta_storage_client.go
  client/resource_manager_client.go
  go.mod
  go.sum
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/client/gc_client_test.go
  tests/integrations/client/global_config_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/tso/client_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-api-bench/main.go
  tools/pd-tso-bench/main.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8837 cluster: fix tso fallback due raft cluster did not stop tso service
  server/cluster/cluster.go
  tests/integrations/client/client_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8757 scheduler: add test for creating evict-leader-scheduler twice
  pkg/core/store.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/init.go
  plugin/scheduler_example/evict_leader.go
  tests/integrations/realcluster/cluster.go
  tests/integrations/realcluster/scheduler_test.go
Labels: size/M, release-note-none, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, lgtm, approved, dco-signoff: yes

#8816 *: update kvproto
  pkg/mcs/resourcemanager/server/resource_group_test.go
Labels: require-LGT1, size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8845 tso/local: remove `allocatorPatroller`/`PriorityChecker` func
  pkg/tso/allocator_manager.go
  pkg/tso/filter.go
  pkg/tso/local_allocator.go
  server/api/tso.go
  server/api/tso_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8833 client: separate the metrics package
  client/client.go
  client/gc_client.go
  client/inner_client.go
  client/keyspace_client.go
  client/meta_storage_client.go
  client/metrics.go
  client/metrics/metrics.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_request.go
  client/tso_stream.go
Labels: component/client, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8825 *: independent the service discovery package
  client/client.go
  client/client_test.go
  client/constants/constants.go
  client/errs/errno.go
  client/errs/errs.go
  client/http/client.go
  client/inner_client.go
  client/servicediscovery/mock_pd_service_discovery.go
  client/servicediscovery/pd_service_discovery.go
  client/servicediscovery/pd_service_discovery_test.go
  client/servicediscovery/tso_service_discovery.go
  client/tso_client.go
  client/tso_dispatcher.go
  client/tso_dispatcher_test.go
  client/tso_stream.go
  client/utils/tlsutil/url.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/drive.go
Labels: component/client, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8789 etcd/path: change leaderPath/dcLocationPath/memberPath/allocalIDPath to absolute path
  pkg/id/id.go
  pkg/id/id_test.go
  pkg/keyspace/keyspace.go
  pkg/mcs/scheduling/server/server.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/keypath/key_path.go
  pkg/utils/keypath/key_path_v2.go
  server/server.go
  tests/integrations/realcluster/cluster.go
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/realcluster/download_integration_test_binaries.sh
  tests/integrations/realcluster/etcd_key_test.go
  tests/integrations/realcluster/util.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8846 tso: remove local tso code part 2
  errors.toml
  pkg/errs/errno.go
  pkg/tso/allocator_manager.go
  pkg/tso/global_allocator.go
  server/api/member_test.go
  server/config/config.go
  server/grpc_service.go
  server/server.go
  tests/cluster.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8847 client: fix trace
  client/tso_dispatcher.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8855 cluster: avoiding large numbers of logs in check tso service
  server/cluster/cluster.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8853 server: use `ResourceExhausted` for the rate limit error
  server/grpc_service.go
  tests/server/server_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8858 *: move some common libraries to the client/pkg directory
  client/client.go
  client/client_test.go
  client/clients/tso/tso_client.go
  client/clients/tso/tso_dispatcher.go
  client/http/client.go
  client/http/client_test.go
  client/http/interface.go
  client/http/request_info.go
  client/meta_storage_client.go
  client/opt/option_test.go
  client/pkg/batch/batch_controller.go
  client/pkg/batch/batch_controller_test.go
  client/pkg/caller/caller.go
  client/pkg/caller/caller_test.go
  client/pkg/retry/backoff.go
  client/pkg/retry/backoff_test.go
  client/pkg/utils/grpcutil/grpcutil.go
  client/pkg/utils/testutil/check_env_dummy.go
  client/pkg/utils/testutil/check_env_linux.go
  client/pkg/utils/testutil/leak.go
  client/pkg/utils/testutil/tempurl.go
  client/pkg/utils/testutil/testutil.go
  client/pkg/utils/timerutil/pool.go
  client/pkg/utils/timerutil/pool_test.go
  client/pkg/utils/tlsutil/OWNERS
  client/pkg/utils/tlsutil/tlsconfig.go
  client/pkg/utils/tlsutil/tlsutil.go
  client/pkg/utils/tlsutil/url.go
  client/pkg/utils/tsoutil/tsoutil.go
  client/servicediscovery/pd_service_discovery.go
  client/servicediscovery/pd_service_discovery_test.go
  client/servicediscovery/tso_service_discovery.go
  tests/integrations/client/client_test.go
  tests/integrations/client/client_tls_test.go
  tests/integrations/client/gc_client_test.go
  tests/integrations/client/global_config_test.go
  tests/integrations/client/http_client_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/testutil.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/realcluster/etcd_key_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/integrations/tso/client_test.go
  tools/pd-api-bench/main.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-tso-bench/main.go
Labels: component/client, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8851 tso/local: remove dc location and local_locator.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/member/member.go
  pkg/member/participant.go
  pkg/tso/allocator_manager.go
  pkg/tso/config.go
  pkg/tso/filter.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/local_allocator.go
  pkg/tso/testutil.go
  pkg/tso/tso.go
  pkg/utils/keypath/key_path.go
  pkg/utils/keypath/key_path_v2.go
  pkg/utils/tsoutil/tso_proto_factory.go
  pkg/utils/tsoutil/tso_request.go
  server/api/member.go
  server/cluster/cluster.go
  server/config/config.go
  server/forward.go
  server/grpc_service.go
  server/handler.go
  server/server.go
  tests/cluster.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/server/member/member_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes
