Repository tikv/pd, pull requests merged in 2024-06, with the labels that each got.

#8243 server/join: log detailed info when a join failure member is detected
  server/join/join.go
Labels: status/can-merge, status/LGT2, size/S, release-note-none, dco-signoff: yes

#8218 chore: add prow OWNERS files to control the approvals for critical configuration files
  OWNERS_ALIASES
  client/resource_group/controller/OWNERS
  client/tlsutil/OWNERS
  conf/OWNERS
  pkg/encryption/OWNERS
  pkg/mcs/resourcemanager/server/OWNERS
  pkg/mcs/scheduling/server/config/OWNERS
  pkg/mcs/tso/server/OWNERS
  pkg/schedule/config/OWNERS
  pkg/schedule/schedulers/OWNERS
  server/config/OWNERS
Labels: status/can-merge, status/LGT2, size/M, release-note-none, ok-to-test, dco-signoff: yes

#8239 ctl: fix https client panic
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/pdctl/command/global_test.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/tests/health/health_test.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, dco-signoff: no

#8240 grafana: use log2 for y-axis of uptime
  metrics/grafana/pd.json
Labels: status/can-merge, status/LGT2, size/XS, release-note-none, dco-signoff: yes

#8245 tools/simulator: add store api and replace simulator http with SDK
  client/http/interface.go
  client/http/request_info.go
  tests/integrations/client/http_client_test.go
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/diagnose_rule.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/config/config.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
Labels: status/can-merge, status/LGT2, size/L, release-note-none, dco-signoff: yes

#8254 storelimit: fix datarace from `getOrCreateStoreLimit`
  pkg/core/storelimit/store_limit.go
  pkg/schedule/operator/operator_controller_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, dco-signoff: yes

#8257 tools/simulator: avoid redundant schedule
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/node.go
Labels: status/can-merge, status/LGT1, require-LGT1, size/S, release-note-none, dco-signoff: yes

#8270 tests/realcluster: using real pd with race
  tests/integrations/realcluster/deploy.sh
Labels: status/can-merge, status/LGT1, require-LGT1, size/XS, release-note-none, dco-signoff: yes

#8264 schedule: fix datarace in `operator.check`
  pkg/schedule/operator/operator.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_test.go
Labels: status/can-merge, status/LGT2, size/M, release-note-none, dco-signoff: yes

#8268 rc: fix group change will meet data race
  pkg/mcs/resourcemanager/server/manager.go
Labels: status/LGT1, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8234 pkg: remove old duplicated task
  pkg/core/region.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/ratelimit/runner.go
  pkg/ratelimit/runner_test.go
  server/cluster/cluster.go
Labels: status/LGT1, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8280 *: fix error file permissions
  client/resource_group/controller/controller.go
  pkg/storage/leveldb_backend.go
  pkg/utils/apiutil/serverapi/middleware.go
Labels: require-LGT1, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8282 server, metrics: let server TSO handle duration including failed requests
  metrics/grafana/pd.json
  server/grpc_service.go
Labels: component/metrics, release-note, component/tso, size/M, lgtm, approved, dco-signoff: yes

#8262 api: supports `/regions/key` by hex key
  pkg/core/region_tree.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/apiutil/apiutil_test.go
  server/api/region.go
  server/api/region_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8164 *: optimize memory usage
  pkg/cluster/cluster.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/core/region_tree_test.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/schedulers/hot_region_test.go
  pkg/schedule/schedulers/scheduler_test.go
  pkg/statistics/hot_cache.go
  pkg/statistics/hot_cache_task.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/hot_peer_cache_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/tests/hot/hot_test.go
Labels: status/LGT1, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8283 mcs: tso server compare address without scheme
  pkg/keyspace/tso_keyspace_group.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/utils/typeutil/comparison.go
  pkg/utils/typeutil/comparison_test.go
  server/apiv2/handlers/tso_keyspace_group.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8276 *: refine code, decrease indent, and rename
  pkg/progress/progress.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/scheduler_controller.go
  server/cluster/cluster.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8277 *: enable errcheck
  .golangci.yml
  client/http/types.go
  client/pd_service_discovery.go
  client/resource_manager_client.go
  client/tso_client.go
  client/tso_service_discovery.go
  pkg/core/region.go
  pkg/election/leadership.go
  pkg/election/lease.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/utils/util.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/typeutil/clone.go
  server/cluster/cluster.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8287 etcdutil: check if the endpoint has been removed before evicting
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/etcdutil/health_checker_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8288 *: enable error check for mcs, keyspace and labeler
  .golangci.yml
  pkg/autoscaling/handler.go
  pkg/keyspace/keyspace.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/utils/util.go
  pkg/schedule/labeler/labeler.go
Labels: require-LGT1, size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8301 *: enable error check for some files
  .golangci.yml
  pkg/core/store_stats.go
  pkg/schedule/placement/rule.go
  pkg/storage/hot_region_storage.go
  pkg/tso/allocator_manager.go
  plugin/scheduler_example/evict_leader.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8308 test: add test for clone unmarshal
  client/http/types_test.go
  pkg/schedule/placement/rule_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8304 tools/simulator: support simulator with multiple pds
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/conn.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8302 mcs: update node every restart
  pkg/keyspace/tso_keyspace_group.go
  server/apiv2/handlers/tso_keyspace_group.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8309 pd-ctl: fix the output trim
  tools/pd-ctl/pdctl/command/global.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: component/tools, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8311 tests/real_cluster: refine reboot cluster
  tests/integrations/client/http_client_test.go
  tests/integrations/realcluster/deploy.sh
  tests/integrations/realcluster/reboot_pd_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8300 api: client and server support `BatchScanRegions`
  client/client.go
  client/go.mod
  client/go.sum
  client/http/types.go
  client/metrics.go
  go.mod
  go.sum
  pkg/core/basic_cluster.go
  pkg/core/region.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
  tools/pd-api-bench/cases/cases.go
Labels: release-note, size/XL, lgtm, approved, dco-signoff: yes

#8315 chore(dashboard): update TiDB Dashboard to v8.2.0-91f6c281 [master]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8246 tools/simulator: support deleting a specified store
  conf/simconfig.toml
  tools/pd-simulator/simulator/cases/balance_leader.go
  tools/pd-simulator/simulator/cases/balance_region.go
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/diagnose_label_isolation.go
  tools/pd-simulator/simulator/cases/diagnose_rule.go
  tools/pd-simulator/simulator/cases/hot_read.go
  tools/pd-simulator/simulator/cases/hot_write.go
  tools/pd-simulator/simulator/cases/import_data.go
  tools/pd-simulator/simulator/cases/makeup_down_replica.go
  tools/pd-simulator/simulator/cases/region_merge.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
Labels: status/LGT1, size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#7756 tools/tso: add option `useTSOServerProxy` in pd-tso-bench
  client/client.go
  client/option.go
  tools/pd-tso-bench/main.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8321 readme: update go version in readme
  README.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8303 scheduler: skip evict-leader-scheduler when setting schedule deny label
  .gitignore
  Makefile
  client/http/interface.go
  client/http/request_info.go
  pkg/schedule/schedulers/scheduler_controller.go
  server/cluster/cluster.go
  tests/integrations/client/http_client_test.go
  tests/integrations/realcluster/Makefile
  tests/integrations/realcluster/deploy.sh
  tests/integrations/realcluster/pd.toml
  tests/integrations/realcluster/reboot_pd_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/integrations/realcluster/transfer_leader_test.go
  tests/integrations/realcluster/wait_tiup.sh
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8289 mcs: fix tso server address compare
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/storage/endpoint/tso_keyspace_group.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/utils/typeutil/comparison.go
  server/apiv2/handlers/tso_keyspace_group.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8320 test/cluster_test: make TestRegionStatistics more stable
  tests/server/cluster/cluster_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8318 tools/simulator: reduce range times
  pkg/core/region.go
  tools/pd-simulator/main.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/raft.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8322 *: enable errcheck for schedulers
  .golangci.yml
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/utils.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8332 tools/simulator: replace GenerateSplitKey with GenerateTableKeys
  tests/integrations/realcluster/scheduler_test.go
  tools/pd-simulator/simulator/cases/region_split.go
  tools/pd-simulator/simulator/client.go
  tools/pd-simulator/simulator/drive.go
  tools/pd-simulator/simulator/event.go
  tools/pd-simulator/simulator/node.go
  tools/pd-simulator/simulator/raft.go
  tools/pd-simulator/simulator/simutil/key.go
  tools/pd-simulator/simulator/simutil/key_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8336 statistics: fix data race in `IsRegionHot`
  pkg/statistics/hot_cache.go
  pkg/statistics/hot_cache_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8317 *: enable errcheck for server/*.go except server/api
  .golangci.yml
  cmd/pd-server/main.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/mcs/registry/registry.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/resourcemanager/server/testutil.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/scheduling/server/testutil.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/replication/replication_mode.go
  pkg/replication/replication_mode_test.go
  pkg/storage/endpoint/gc_safe_point.go
  pkg/syncer/server.go
  pkg/tso/admin.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/persist_options.go
  server/handler.go
  server/server.go
  tests/registry/registry_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8220 simulator: scale-in and scale out test for `store-limit-version=v2`
  server/api/store.go
  tools/pd-ctl/tests/store/store_test.go
  tools/pd-simulator/README.md
  tools/pd-simulator/simulator/cases/cases.go
  tools/pd-simulator/simulator/cases/scale_tikv.go
Labels: require-LGT1, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8334 schedule: fix progress cannot display when enabling scheduling service
  pkg/core/region.go
  pkg/schedule/coordinator.go
  pkg/schedule/prepare_checker.go
  server/cluster/cluster.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/testutil.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8346 *: set errcheck exclude func
  .golangci.yml
  cmd/pd-server/main.go
  pkg/autoscaling/handler.go
  pkg/core/region.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/resourcemanager/server/testutil.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/scheduling/server/testutil.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/util.go
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/schedule/schedulers/grant_leader.go
  pkg/schedule/schedulers/hot_region_config.go
  pkg/schedule/schedulers/scatter_range.go
  pkg/schedule/schedulers/shuffle_hot_region.go
  pkg/schedule/schedulers/shuffle_region_config.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/tso/admin.go
  pkg/utils/apiutil/apiutil.go
  plugin/scheduler_example/evict_leader.go
  server/api/admin.go
  server/api/router.go
  server/api/store.go
  server/cluster/cluster.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes
