Repository tikv/pd, pull requests merged in 2025-02, with the labels that each got.

#9021 tso: add retry for UpdateTSO
  pkg/tso/global_allocator.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9038 *: fix default log file size
  cmd/pd-server/main.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/scheduling/server/testutil.go
  pkg/mcs/tso/server/server.go
  pkg/utils/logutil/log.go
  server/api/server_test.go
  server/config/config_test.go
  server/testutil.go
  tests/cluster.go
  tests/testutil.go
  tools/pd-api-bench/main.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/main.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9043 metrics: add metrics for the internal pd client calls
  client/metrics/metrics.go
  client/servicediscovery/service_discovery.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9046 metrics: fix typo
  client/metrics/metrics.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9048 cache: lazy gc in ttl
  pkg/cache/ttl.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8988 api: add a new scheduler to balance the regions of the given key range
  pkg/core/basic_cluster.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/schedule/config/config_provider.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/types/type.go
  server/api/scheduler.go
  server/cluster/cluster_test.go
  tools/pd-ctl/pdctl/command/scheduler.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9049 client: add `IsEnabled` for circuit breaker
  client/pkg/circuitbreaker/circuit_breaker.go
  client/pkg/circuitbreaker/circuit_breaker_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9050 client: fix confusing error
  client/errs/errno.go
  client/pd_service_discovery.go
Labels: size/XS, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#9040 tests: make TestScatterRegion stable
  tests/integrations/client/client_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9018 syncer: exit broadcast as soon as possible
  pkg/syncer/server.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9067 *: update dependencies
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9078 client: skip if circuit breaker is disabled
  client/pkg/utils/grpcutil/grpcutil.go
  tests/integrations/client/client_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9055 *: fix several bugs in QueryRegion
  client/clients/router/client.go
  pkg/core/region.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9080 client/router: fix the incorrect deep copy method in QueryRegion
  client/clients/router/client.go
  client/clients/router/client_test.go
Labels: component/client, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9079 core: avoid getting region twice
  pkg/core/region.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9076 *: add QueryRegion related metrics
  client/clients/router/client.go
  client/clients/router/request.go
  client/metrics/metrics.go
  metrics/grafana/pd.json
  pkg/core/metrics.go
  pkg/core/region.go
  server/grpc_service.go
  server/metrics.go
Labels: component/metrics, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9016 storage: expose etcd's transaction as LowLevelTxn interface to kv.Base
  errors.toml
  pkg/errs/errno.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/kv.go
  pkg/storage/kv/kv_test.go
  pkg/storage/kv/levedb_kv.go
  pkg/storage/kv/mem_kv.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9084 chore(dashboard): update TiDB Dashboard to v9.0.0-d6201812 [master]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/M, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#9082 client: support dynamic start/stop of the router client
  client/client.go
  client/inner_client.go
  client/opt/option.go
  client/opt/option_test.go
  tests/integrations/client/client_test.go
  tests/integrations/client/router_client_test.go
Labels: component/client, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9042 *: prevent ping from forwarding
  server/cluster/cluster.go
  tests/server/api/api_test.go
  tools/pd-ctl/pdctl/command/ping_command.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9094 schedule: adjust the log level
  pkg/schedule/splitter/region_splitter.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9092 mcs: support batch allocating ids
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/core/region_test.go
  pkg/id/id.go
  pkg/id/id_test.go
  pkg/keyspace/keyspace.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/mock/mockid/mockid.go
  pkg/replication/replication_mode.go
  pkg/schedule/core/cluster_informer.go
  pkg/schedule/operator/builder.go
  pkg/schedule/schedulers/balance_region_test.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  server/api/admin_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/grpc_service.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/server/cluster/cluster_test.go
  tests/server/id/id_test.go
  tests/testutil.go
  tools/go.mod
  tools/go.sum
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9099 tests: fix the race in TestMemberUpdateBackOff
  client/pkg/retry/backoff.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9096 server: refactor TSO server forwarding function
  server/forward.go
  server/grpc_service.go
Labels: component/tso, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9102 *: update golangci-lint and fix all checks
  Makefile
  client/clients/tso/dispatcher_test.go
  client/clients/tso/stream_test.go
  client/pkg/circuitbreaker/circuit_breaker.go
  client/pkg/utils/timerutil/pool_test.go
  client/resource_group/controller/controller.go
  pkg/audit/audit_test.go
  pkg/btree/btree_generic_test.go
  pkg/codec/codec.go
  pkg/core/factory_test.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/core/region_tree_test.go
  pkg/core/store_test.go
  pkg/keyspace/keyspace_test.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/resourcemanager/server/resource_group_test.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/memory/bench_test.go
  pkg/movingaverage/median_filter_test.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/labeler/labeler_test.go
  pkg/schedule/placement/fit_region_test.go
  pkg/schedule/schedulers/balance_benchmark_test.go
  pkg/schedule/schedulers/balance_leader_test.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/statistics/hot_peer_cache_test.go
  pkg/statistics/region_collection_test.go
  pkg/storage/endpoint/config.go
  pkg/storage/kv/etcd_kv.go
  pkg/storage/kv/levedb_kv.go
  pkg/storage/kv/mem_kv.go
  pkg/syncer/history_buffer_test.go
  pkg/utils/etcdutil/health_checker.go
  pkg/utils/grpcutil/grpcutil_test.go
  pkg/utils/keypath/key_path_test.go
  pkg/utils/timerutil/pool_test.go
  pkg/window/counter_test.go
  server/api/region_test.go
  server/cluster/cluster_test.go
  server/gc_service.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/tso/server_test.go
  tests/server/api/api_test.go
  tools/pd-ctl/tests/store/store_test.go
  tools/pd-simulator/simulator/simutil/key_test.go
  tools/regions-dump/main.go
  tools/stores-dump/main.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9095 mcs: add lock for forward tso stream
  server/forward.go
  server/metrics.go
  server/server.go
  tests/integrations/mcs/tso/server_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9044 resource group: support more mode for burstable
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9103 tests: make `TestRemovingProgress` stable
  tests/server/api/api_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes
