Repository tikv/pd, pull requests merged in 2025-07, with the labels that each got.

#9439 schedule: fix rule checker is not expected
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
  pkg/schedule/placement/fit.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9464 client: don't record metrics if no retry
  client/client.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9468 client: Remove public v2 client and redirect call to v2 internally if keyspace is configured
  client/client.go
  client/gc_client.go
  tests/integrations/client/gc_api_v2_client_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9465 *: fix flaky test `TestPreparingProgress` and `TestRemovingProgress`
  server/cluster/cluster.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/server/api/api_test.go
  tests/server/api/store_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9466 scheduler: unified the decode function
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
  pkg/utils/apiutil/apiutil.go
  pkg/utils/keyutil/keyrange.go
  server/api/scheduler.go
  tests/integrations/client/client_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9353 [CP-to-7.5] cluster: return NodeState in the response of StoreHeartbeat. (#8991)
  go.mod
  go.sum
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
  tools/pd-api-bench/go.mod
  tools/pd-api-bench/go.sum
Labels: size/M, cherry-pick-approved, release-note-none, type/cherry-pick-for-release-7.5, lgtm, approved, dco-signoff: yes

#9460 mcs, test: fix `IsKeyspaceServing` and `TestKeyspacesServedByDefaultKeyspaceGroup`
  pkg/mcs/tso/server/server.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/tso_cluster.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9497 client: add keys statistic back
  client/http/types.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9498 [cp-to-8.5] cluster: return NodeState in the response of StoreHeartbeat. (#8991)
  go.mod
  go.sum
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#9474 metrics: remove duplicated delete
  pkg/mcs/resourcemanager/server/metrics.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9516 chore(dashboard): update TiDB Dashboard to v8.5.3-63f7c16a [release-8.5]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, cherry-pick-approved, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#9513 metrics: fix some alert name
  metrics/alertmanager/pd.rules.yml
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9553 *: remove a stale alert
  metrics/alertmanager/pd.rules.yml
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9277 chore(dashboard): update TiDB Dashboard to v6.5.13-89eba508 [release-6.5]
  go.mod
  go.sum
  scripts/dashboard-version
  tests/client/go.mod
  tests/client/go.sum
Labels: size/S, cherry-pick-approved, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#9559 deps(master): update to fix the vulnerabilities
  go.mod
  go.sum
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/middleware.go
  server/api/server.go
  server/util.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9563 *: add leakcheck
  Makefile
  client/Makefile
  client/clients/gc/client_test.go
  client/clients/router/client_test.go
  client/clients/tso/dispatcher_test.go
  client/opt/option_test.go
  client/pkg/batch/batch_controller_test.go
  client/pkg/caller/caller_test.go
  client/pkg/circuitbreaker/circuit_breaker_test.go
  client/pkg/connectionctx/manager_test.go
  client/pkg/deadline/watcher_test.go
  client/pkg/retry/backoff_test.go
  client/pkg/utils/timerutil/pool_test.go
  client/servicediscovery/service_discovery_test.go
  go.mod
  go.sum
  tests/integrations/Makefile
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/members/member_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tools.go
  tools/go.mod
  tools/go.sum
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9510 ci: close fail-fast in pd tests chunks
  .github/workflows/pd-tests.yaml
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9565 test: remove etcd key path test
  pkg/election/leadership.go
  pkg/encryption/key_manager.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/storage/kv/etcd_kv.go
  pkg/utils/etcdutil/etcdutil.go
  scripts/ci-subtask.sh
  server/gc_service.go
  server/grpc_service.go
  tools/pd-ut/testdata/group.1.etcdkey
  tools/pd-ut/testdata/group.10.etcdkey
  tools/pd-ut/testdata/group.2.etcdkey
  tools/pd-ut/testdata/group.3.etcdkey
  tools/pd-ut/testdata/group.4.etcdkey
  tools/pd-ut/testdata/group.5.etcdkey
  tools/pd-ut/testdata/group.7.etcdkey
  tools/pd-ut/testdata/group.8.etcdkey
  tools/pd-ut/testdata/group.9.etcdkey
  tools/pd-ut/ut.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9534 test: make TestSplitKeyspaceGroup and TestMergeKeyspaceGroup stable
  tests/cluster.go
  tests/server/api/admin_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/tests/keyspace/keyspace_group_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9561 api: fix some wrong metrics and add bucket version
  go.mod
  go.sum
  pkg/response/region.go
  pkg/response/region_easyjson.go
  server/cluster/cluster.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/server/api/region_test.go
  tools/go.mod
  tools/go.sum
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9568 test: stablize the mcs TSO integration tests
  pkg/mcs/tso/server/server.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/tso_cluster.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9427 feat(resourcemanager): implement fill rate conciliation based on priority
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/manager_test.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Labels: size/XXL, release-note-none, component/resource-control, lgtm, approved, dco-signoff: yes

#9550 *: make `regionTestSuite` and `storeTestSuite` acceleration
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/server/api/scatter_split_test.go
  tests/server/api/store_test.go
  tests/server/api/utils.go
  tests/server/cluster/cluster_test.go
  tests/testutil.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/hot/hot_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9578 mcs: fix primary parse
  pkg/keyspace/tso_keyspace_group.go
  pkg/keyspace/tso_keyspace_group_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9512 checker: skip store which does not meet the constraint
  pkg/schedule/checker/rule_checker.go
  pkg/schedule/checker/rule_checker_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9577 feat(resourcemanager): invalidate the burstable groups by overriding to service limit
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/resource_group.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9575 *: remove `--verbose` in ci-test-job
  client/Makefile
  tests/integrations/Makefile
  tools/Makefile
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9580 core: return the region tree size if scan all the regions
  pkg/core/region.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9581 tests: improve tests with a unified `env.Reset`
  pkg/schedule/schedulers/hot_region_test.go
  pkg/statistics/hot_peer_cache.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/server/api/store_test.go
  tests/server/api/utils.go
  tests/server/storage/hot_region_storage_test.go
  tests/testutil.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/hot/hot_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
  tools/pd-heartbeat-bench/main.go
  tools/pd-simulator/main.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9594 test(resourcemanager): add service limit integration tests
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/keyspace_manager.go
  pkg/mcs/resourcemanager/server/keyspace_manager_test.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
  tests/integrations/mcs/resourcemanager/api_test.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/integrations/mcs/resourcemanager/service_limit_test.go
Labels: component/testing, size/L, release-note-none, component/resource-control, lgtm, approved, dco-signoff: yes

#9597 fix(resourcemanager): add validation for token assignment anomaly
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/resource_group_test.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/mcs/resourcemanager/server/token_buckets_test.go
Labels: size/L, release-note-none, component/resource-control, lgtm, approved, dco-signoff: yes

#9478 maintenance: implement PD maintenance endpoints to serialize TiKV maintenance operations
  pkg/maintenance/metrics.go
  pkg/storage/endpoint/maintenance.go
  pkg/storage/storage.go
  pkg/utils/keypath/absolute_key_path.go
  pkg/utils/keypath/maintenance.go
  server/apiv2/handlers/maintenance.go
  server/apiv2/router.go
  tests/server/apiv2/handlers/maintenance_test.go
  tools/pd-ctl/pdctl/command/maintenance_command.go
  tools/pd-ctl/pdctl/command/maintenance_command_test.go
  tools/pd-ctl/pdctl/ctl.go
Labels: size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#9564 ctl: support to query the members and primary by using pdctl
  tests/cluster.go
  tools/pd-ctl/pdctl/command/microservice_command.go
  tools/pd-ctl/pdctl/ctl.go
  tools/pd-ctl/tests/helper.go
  tools/pd-ctl/tests/microservice/microservice_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9569 resource group: rename some variables
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/token_buckets.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes
