Repository tikv/pd, pull requests merged in 2025-08, with the labels that each got.

#9588 core: add new interface api to return the store region count by the special key range
  pkg/core/basic_cluster.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
  pkg/core/region_tree_test.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9616 placement-rule: move placement rule initialization after LoadStores
  server/cluster/cluster.go
  tests/integrations/client/http_client_test.go
Labels: release-note, size/L, lgtm, approved, dco-signoff: yes

#9610 pkg/gc: use lock to protect GetGCStates()
  pkg/gc/gc_state_manager.go
Labels: contribution, size/XS, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#9340 gc: global GC barriers support
  errors.toml
  pkg/errs/errno.go
  pkg/gc/gc_state_manager.go
  pkg/gc/gc_state_manager_test.go
  pkg/keyspace/keyspace.go
  pkg/storage/endpoint/gc_states.go
  pkg/storage/endpoint/gc_states_test.go
  pkg/utils/keypath/absolute_key_path.go
  pkg/utils/keypath/gc_states.go
  pkg/utils/typeutil/time.go
  pkg/utils/typeutil/time_test.go
  server/gc_service.go
  server/grpc_service.go
  tests/server/gc/gc_test.go
Labels: release-note, size/XXL, ok-to-test, lgtm, approved, dco-signoff: yes

#9608 mcs: improve the log and rename
  pkg/election/leadership.go
  pkg/election/lease.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/server.go
  pkg/mcs/tso/server/apis/v1/api.go
  pkg/mcs/tso/server/config.go
  pkg/mcs/tso/server/config_test.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/server.go
  pkg/mcs/utils/constant/constant.go
  pkg/mcs/utils/expected_primary.go
  pkg/tso/allocator.go
  pkg/tso/config.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/testutil.go
  server/config/config.go
  server/server.go
  tests/integrations/mcs/tso/server_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9621 scheduler: remove bucket scheduler
  metrics/grafana/pd.json
  pkg/schedule/config/config.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/split_bucket.go
  pkg/schedule/schedulers/split_bucket_test.go
  pkg/schedule/types/type.go
  tests/server/api/scheduler_test.go
  tools/pd-ctl/pdctl/command/scheduler_command.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9632 api: distinguish bootstrap state in ready api
  pkg/storage/storage.go
  server/apiv2/handlers/ready.go
  tests/server/apiv2/handlers/ready_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9604 scheduler: using plan solver to refactor the balance range scheduler
  pkg/schedule/operator/influence.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9641 core: fix tiflash engine label
  pkg/core/store.go
  pkg/core/store_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9637 api: distinguish bootstrap state in ready api (#9632)
  pkg/storage/storage.go
  server/apiv2/handlers/ready.go
  tests/server/apiv2/handlers/ready_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9634 testutil: fix LastHeartbeat assignment and streamline PutMetaStore call
  tests/server/api/api_test.go
  tests/server/api/operator_test.go
  tests/server/api/scheduler_test.go
  tests/server/storage/hot_region_storage_test.go
  tests/testutil.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/hot/hot_test.go
  tools/pd-ctl/tests/label/label_test.go
  tools/pd-ctl/tests/region/region_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
  tools/pd-ctl/tests/store/store_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9658 core: reset subRegions field in ResetRegionCache
  .gitignore
  pkg/core/region.go
  pkg/core/region_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9639 tests: fix `TestToServerTLSConfig` and `TestToClientTLSConfig`
  pkg/utils/grpcutil/grpcutil_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9600 deps(release-7.5): update to fix the vulnerabilities
  go.mod
  go.sum
  tests/integrations/client/go.mod
  tests/integrations/client/go.sum
  tests/integrations/mcs/go.mod
  tests/integrations/mcs/go.sum
  tests/integrations/tso/go.mod
  tests/integrations/tso/go.sum
Labels: size/S, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#9654 resource_manager; fix the bug that ru tokens is not limit when available service limit is 0
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metrics.go
  pkg/mcs/resourcemanager/server/service_limit.go
  pkg/mcs/resourcemanager/server/service_limit_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9675 store: refactor leader transfer pause logic to use atomic operations
  errors.toml
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/errs/errno.go
  server/cluster/cluster_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9679 api: show store pause status
  pkg/response/store.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9685 metrics: add etcd storage alert
  metrics/alertmanager/pd.rules.yml
  metrics/grafana/pd.json
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9684 feat(resourcemanager): add trickle-time enforcement to service limiter
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/resource_group.go
  pkg/mcs/resourcemanager/server/service_limit.go
  pkg/mcs/resourcemanager/server/service_limit_test.go
  pkg/mcs/resourcemanager/server/token_buckets.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9699 test: disable TestSchedulerDiagnostic in ms
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9688 syncer: fix lock usage
  pkg/syncer/history_buffer.go
  pkg/syncer/server.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes
