Repository tikv/pd, pull requests merged in 2025-03, with the labels that each got.

#9108 tests: fix `TestScatterRegions`
  tests/integrations/client/client_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9111 tests: fix `TestPreparingProgress`
  tests/server/api/api_test.go
  tests/testutil.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9112 test/realcluster: add safe_point case to etcd key
  pkg/utils/keypath/absolute_key_path.go
  tests/integrations/realcluster/cluster.go
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/realcluster/download_integration_test_binaries.sh
  tests/integrations/realcluster/etcd_key_test.go
  tests/integrations/realcluster/util.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9113 tests: close client after finishing tests
  client/client_test.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/realcluster/cluster_id_test.go
  tests/integrations/realcluster/reboot_pd_test.go
  tests/integrations/realcluster/scheduler_test.go
  tests/server/api/api_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9115 *: enable more linters and fix some code
  .golangci.yml
  client/go.mod
  client/go.sum
  client/http/interface.go
  client/http/types.go
  client/resource_group/controller/controller.go
  go.mod
  pkg/cgroup/cgroup.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/mcs/scheduling/server/server.go
  pkg/memory/meminfo.go
  pkg/mock/mockcluster/mockcluster.go
  pkg/response/region_easyjson.go
  pkg/schedule/operator/influence.go
  pkg/schedule/operator/operator_queue.go
  pkg/schedule/placement/fit_region_test.go
  pkg/schedule/placement/rule_manager.go
  pkg/schedule/scatter/region_scatterer.go
  pkg/unsaferecovery/unsafe_recovery_controller.go
  pkg/utils/tsoutil/tso_proto_factory.go
  pkg/utils/tsoutil/tso_request.go
  server/api/admin_test.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/server_test.go
  tests/server/cluster/cluster_test.go
  tools/pd-ctl/tests/keyspace/keyspace_group_test.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
  tools/pd-ctl/tests/member/member_test.go
  tools/pd-ut/ut.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9005 schedule: impl balance range scheduler
  pkg/core/basic_cluster.go
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/filters_test.go
  pkg/schedule/operator/influence.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/operator/operator_controller_test.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_range_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/schedulers/scheduler.go
  pkg/schedule/schedulers/split_bucket.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9119 client: use debug level
  client/pkg/circuitbreaker/circuit_breaker.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9123 cache: cherry-pick 9048
  .github/workflows/check.yaml
  .github/workflows/label.yaml
  .github/workflows/pd-docker-image.yaml
  .github/workflows/pd-tests.yaml
  .github/workflows/tso-consistency-test.yaml
  .github/workflows/tso-function-test.yaml
  pkg/cache/ttl.go
Labels: size/M, release-note-none, approved, dco-signoff: yes, needs-1-more-lgtm

#9124 tso: check if TSO is initialized before resetting it
  pkg/tso/tso.go
  tests/integrations/tso/server_test.go
Labels: component/tso, size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9133 keypath: fix incorrect key
  pkg/keyspace/tso_keyspace_group.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/meta/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/rule/watcher_test.go
  pkg/storage/storage_tso_test.go
  pkg/tso/keyspace_group_manager.go
  pkg/tso/keyspace_group_manager_test.go
  pkg/tso/tso.go
  pkg/utils/keypath/absolute_key_path.go
  pkg/utils/keypath/safe_point.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9121 tests: fix the flaky test `TestGetPeers`
  pkg/core/region_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9109 storage/endpoint: Add a new component `GCStateStorage` and `GCStateProvider` to storage/endpoints as the new storage layer for GC related metadata
  pkg/storage/endpoint/endpoint.go
  pkg/storage/endpoint/gc_safe_point.go
  pkg/storage/endpoint/gc_states.go
  pkg/storage/endpoint/gc_states_test.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
  pkg/utils/keypath/absolute_key_path.go
  pkg/utils/keypath/gc_states.go
  pkg/utils/keypath/safe_point.go
  tests/integrations/client/client_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9137 mcs: fix the compatibility issue of batch allocating IDs
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/grpc_service.go
  server/grpc_service.go
  tests/integrations/mcs/scheduling/server_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, needs-cherry-pick-release-9.0-beta.1

#9126 test: add etcd key compatibility test
  .gitignore
  pkg/election/leadership.go
  pkg/encryption/key_manager.go
  pkg/mcs/metastorage/server/grpc_service.go
  pkg/storage/kv/etcd_kv.go
  pkg/utils/etcdutil/etcdutil.go
  pkg/utils/etcdutil/etcdutil_test.go
  scripts/ci-subtask.sh
  server/gc_service.go
  server/grpc_service.go
  tools/go.mod
  tools/pd-ut/testdata/group.1.etcdkey
  tools/pd-ut/testdata/group.10.etcdkey
  tools/pd-ut/testdata/group.2.etcdkey
  tools/pd-ut/testdata/group.3.etcdkey
  tools/pd-ut/testdata/group.4.etcdkey
  tools/pd-ut/testdata/group.5.etcdkey
  tools/pd-ut/testdata/group.7.etcdkey
  tools/pd-ut/testdata/group.8.etcdkey
  tools/pd-ut/testdata/group.9.etcdkey
  tools/pd-ut/ut.go
  tools/pd-ut/ut_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9148 client: add GetLeaders method
  client/client.go
  client/metrics/metrics.go
  tests/integrations/client/client_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9150 client: change return val of GetAllMembers
  client/client.go
  client/metrics/metrics.go
  tests/integrations/client/client_test.go
Labels: require-LGT1, size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9151 mcs: change log level of watcher in scheduling server
  pkg/mcs/scheduling/server/rule/watcher.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9140 client: add sdk api to get the config of the special scheduler
  client/errs/errno.go
  client/http/api.go
  client/http/interface.go
  client/http/request_info.go
  tests/integrations/client/http_client_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9087 tools: implement the pd-region-bench tool
  Makefile
  tools/pd-heartbeat-bench/main.go
  tools/pd-region-bench/main.go
  tools/pd-tso-bench/main.go
  tools/utils/meta.go
  tools/utils/stats.go
Labels: component/tools, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9090 api: add new api to get the distribution of regions
  client/http/api.go
  client/http/interface.go
  client/http/request_info.go
  client/http/types.go
  pkg/statistics/region.go
  server/api/operator.go
  server/api/server_test.go
  server/api/stats.go
  server/api/stats_test.go
  server/apiv2/handlers/ready.go
  server/cluster/cluster.go
  tests/integrations/client/http_client_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9166 runner: move ticker initialization into goroutine
  pkg/ratelimit/runner.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9159 syncer: use task runner to sync region
  pkg/core/context.go
  pkg/ratelimit/runner.go
  pkg/syncer/client.go
  pkg/syncer/server.go
  server/cluster/cluster.go
  server/cluster/cluster_worker.go
  tests/server/region_syncer/region_syncer_test.go
  tests/testutil.go
Labels: release-note, size/XL, lgtm, approved, dco-signoff: yes

#9170 tests: add more cases for TestReadyAPI
  pkg/storage/storage.go
  server/apiv2/handlers/ready.go
  tests/server/apiv2/handlers/ready_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes
