Repository tikv/pd, pull requests merged in 2025-01, with the labels that each got.

#8956 *: format log fields using kebab-case style
  pkg/core/region.go
  pkg/encryption/key_manager.go
  pkg/keyspace/keyspace.go
  pkg/mcs/resourcemanager/server/token_buckets.go
  pkg/memory/meminfo.go
  pkg/schedule/config/store_config.go
  pkg/schedule/schedulers/grant_hot_region.go
  pkg/tso/global_allocator.go
  pkg/tso/keyspace_group_manager.go
  server/grpc_service.go
  server/server.go
  server/util.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8965 cluster: fix panic when minResolvedTS is not initialized
  server/cluster/cluster.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8951 server: advance ServerStart check
  client/clients/tso/client.go
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  server/grpc_service.go
  server/server.go
  tests/integrations/client/client_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: release-note, size/M, lgtm, approved, dco-signoff: yes

#8966 test: make TestPreparingProgress stable
  tests/server/api/api_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#8963 client: retry checkServiceModeChanged to make tso client work normal
  client/servicediscovery/pd_service_discovery.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#8936 client: use interceptor for circuit breaker
  client/client.go
  client/inner_client.go
  client/opt/option.go
  client/pkg/circuitbreaker/circuit_breaker.go
  client/pkg/circuitbreaker/circuit_breaker_test.go
  client/pkg/utils/grpcutil/grpcutil.go
  tests/integrations/client/client_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#8981 config: completely remove the deprecated field from the PD server config
  server/config/config.go
  server/config/config_test.go
  server/config/persist_options.go
  tools/pd-ctl/tests/config/config_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8984 *: no need to distinguish PD mode
  client/servicediscovery/service_discovery.go
  cmd/pd-server/main.go
  pkg/mcs/registry/registry.go
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/config/config.go
  pkg/mcs/scheduling/server/config/watcher.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/meta/watcher.go
  pkg/mcs/scheduling/server/rule/watcher.go
  pkg/mcs/scheduling/server/server.go
  pkg/member/election_leader.go
  pkg/schedule/coordinator.go
  pkg/schedule/schedulers/scheduler_controller.go
  pkg/tso/keyspace_group_manager.go
  pkg/utils/apiutil/serverapi/middleware.go
  server/api/admin.go
  server/api/server.go
  server/apiv2/handlers/micro_service.go
  server/cluster/cluster.go
  server/config/config.go
  server/config/service_middleware_persist_options.go
  server/grpc_service.go
  server/server.go
  server/server_test.go
  tests/cluster.go
  tests/integrations/client/client_test.go
  tests/integrations/mcs/discovery/register_test.go
  tests/integrations/mcs/keyspace/tso_keyspace_group_test.go
  tests/integrations/mcs/members/member_test.go
  tests/integrations/mcs/scheduling/api_test.go
  tests/integrations/mcs/scheduling/config_test.go
  tests/integrations/mcs/scheduling/meta_test.go
  tests/integrations/mcs/scheduling/rule_test.go
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/mcs/tso/server_test.go
  tests/integrations/tso/client_test.go
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/server_test.go
  tests/server/api/checker_test.go
  tests/server/api/operator_test.go
  tests/server/api/region_test.go
  tests/server/api/rule_test.go
  tests/server/api/scheduler_test.go
  tests/server/apiv2/handlers/tso_keyspace_group_test.go
  tests/server/config/config_test.go
  tests/testutil.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/tests/config/config_test.go
  tools/pd-ctl/tests/hot/hot_test.go
  tools/pd-ctl/tests/keyspace/keyspace_group_test.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
  tools/pd-ctl/tests/operator/operator_test.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#8983 pd-ctl: print warn information when set max-replica to less than current
  server/api/config.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/tests/config/config_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8995 server: use rateLimitCheck to reduce code
  server/grpc_service.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9000 *: clean up the testing environment
  tests/integrations/client/client_test.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/mcs/tso/keyspace_group_manager_test.go
  tests/integrations/mcs/tso/proxy_test.go
  tests/integrations/tso/client_test.go
  tests/server/cluster/cluster_test.go
  tests/server/region_syncer/region_syncer_test.go
  tests/server/storage/hot_region_storage_test.go
  tools/pd-backup/tests/backup_test.go
  tools/pd-ctl/tests/keyspace/keyspace_test.go
  tools/pd-ctl/tests/store/store_test.go
  tools/pd-ctl/tests/unsafe/unsafe_operation_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8991 cluster: return NodeState in the response of StoreHeartbeat.
  go.mod
  go.sum
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9002 cluster: remove unnecessary get store
  server/cluster/cluster.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9010 metrics: remove the Heartbeat distribution
  metrics/grafana/pd.json
  pkg/mcs/scheduling/server/cluster.go
  pkg/statistics/buckets/bucket_stat_informer.go
  pkg/statistics/buckets/hot_bucket_cache.go
  pkg/statistics/buckets/metric.go
  pkg/statistics/hot_peer_cache.go
  pkg/statistics/metrics.go
  pkg/statistics/store.go
  server/cluster/cluster.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9009 pkg: avoid make channel every time
  pkg/ratelimit/option.go
  pkg/utils/tsoutil/tso_dispatcher.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#8979 server, core: implement the query region gRPC server
  go.mod
  go.sum
  pkg/core/region.go
  pkg/core/region_test.go
  pkg/core/region_tree.go
  server/grpc_service.go
  server/metrics.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9014 client/sd: unify the service discovery callbacks within a struct
  client/clients/tso/client.go
  client/inner_client.go
  client/servicediscovery/callbacks.go
  client/servicediscovery/mock_service_discovery.go
  client/servicediscovery/service_discovery.go
  client/servicediscovery/service_discovery_test.go
  client/servicediscovery/tso_service_discovery.go
  tests/integrations/client/client_test.go
Labels: component/client, size/L, release-note-none, lgtm, approved, dco-signoff: yes

#8996 *: rename file and clean up
  client/client.go
  client/http/client.go
  client/inner_client.go
  client/servicediscovery/service_discovery.go
  pkg/keyspace/tso_keyspace_group.go
  pkg/tso/global_allocator.go
  pkg/utils/keypath/key_path.go
  server/apiv2/handlers/microservice.go
  server/cluster/cluster.go
  server/config/service_middleware_config.go
  server/config/service_middleware_persist_options.go
  tests/integrations/mcs/tso/api_test.go
  tests/integrations/tso/client_test.go
  tools/pd-ctl/pdctl/command/config_command.go
  tools/pd-ctl/pdctl/command/keyspace_command.go
  tools/pd-ctl/tests/keyspace/keyspace_group_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9012 client: fix backoffer initialization
  client/clients/tso/dispatcher.go
  client/servicediscovery/service_discovery.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9028 OWNERS: Sync OWNERS files from community membership
  OWNERS
Labels: size/XS, cherry-pick-approved, release-note-none, lgtm, approved, dco-signoff: yes

#8994 client: fix pd client metrics registration
  client/metrics/metrics.go
  client/pkg/circuitbreaker/circuit_breaker.go
Labels: size/M, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#8939 client/router: implement the query region gRPC client
  client/client.go
  client/clients/router/client.go
  client/clients/router/request.go
  client/go.mod
  client/go.sum
  client/inner_client.go
  client/pkg/connectionctx/manager.go
  tests/integrations/client/client_test.go
Labels: component/client, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes
