Repository tikv/pd, pull requests merged in 2025-09, with the labels that each got.

#9702 slow-store: support changing config and add related test
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  tools/pd-ctl/pdctl/command/scheduler_command.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9536 metrics: reduce filter metrics
  metrics/grafana/pd.json
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/counter_test.go
  pkg/schedule/filter/filters.go
  pkg/schedule/filter/metrics.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9537 metrics: reduce balance metrics
  metrics/grafana/pd.json
  pkg/schedule/schedulers/balance_leader.go
  pkg/schedule/schedulers/balance_leader_test.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/balance_witness.go
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/metrics.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9535 metrics: clean up metrics
  metrics/grafana/pd.json
  pkg/schedule/operator/metrics.go
  pkg/schedule/operator/operator_controller.go
  pkg/schedule/schedulers/balance_range.go
  pkg/schedule/schedulers/balance_region.go
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/metrics.go
  pkg/statistics/hot_cache.go
  pkg/statistics/metrics.go
  pkg/tso/allocator.go
  pkg/tso/metrics.go
  tests/integrations/tso/consistency_test.go
  tests/integrations/tso/server_test.go
  tests/server/cluster/cluster_test.go
  tests/server/tso/tso_proxy_test.go
  tests/server/tso/tso_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9671 core: caller can't scan too much regions in one lock even if limit equals -1
  pkg/core/region.go
  pkg/core/region_test.go
  server/cluster/cluster.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9715 fix duplicated panel id
  metrics/grafana/pd.json
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9718 refactor(mcs): remove global service registration
  cmd/pd-server/main.go
  pkg/mcs/metastorage/server/install/install.go
  pkg/mcs/registry/registry.go
  pkg/mcs/resourcemanager/server/install/install.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/install/install.go
  pkg/mcs/tso/server/grpc_service.go
  pkg/mcs/tso/server/install/install.go
  server/server.go
  tests/integrations/mcs/resourcemanager/resource_manager_test.go
  tests/registry/registry_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9716 scheduler: try to evict leader from network slow store
  pkg/core/basic_cluster.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/core/store_test.go
  pkg/schedule/schedulers/evict_leader.go
  pkg/schedule/schedulers/evict_slow_store.go
  pkg/schedule/schedulers/evict_slow_store_test.go
  pkg/schedule/schedulers/evict_slow_trend.go
  pkg/schedule/schedulers/range_cluster.go
  server/cluster/cluster.go
  server/cluster/metrics.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9725 scheduler: skip split bucket feat if disabled bucket
  pkg/schedule/schedulers/hot_region_solver.go
  pkg/schedule/schedulers/hot_region_solver_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9747 fix(metering): ensure the order of collector registration and writer startup
  pkg/mcs/resourcemanager/server/manager.go
  pkg/mcs/resourcemanager/server/metering.go
  pkg/metering/writer.go
  pkg/metering/writer_test.go
  server/server.go
  tests/server/server_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#9560 metrics, checker: improve the observability of patrols
  pkg/schedule/checker/checker_controller.go
  pkg/schedule/checker/metrics.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes

#9762 tests: support customizing log in tests
  pkg/utils/etcdutil/testutil.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9779 *: disable dashboard by default in nextgen
  Makefile
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#9728 mcs: support bucket for scheduling service
  go.mod
  go.sum
  pkg/mcs/scheduling/server/cluster.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/mcs/scheduling/server/metrics.go
  server/cluster/cluster.go
  server/cluster/cluster_test.go
  server/cluster/cluster_worker.go
  server/forward.go
  server/grpc_service.go
  tests/cluster.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tests/testutil.go
  tools/go.mod
  tools/go.sum
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#9738 *: Revert resource manager micro service code
  cmd/pd-server/main.go
  pkg/mcs/discovery/discover.go
  pkg/mcs/resourcemanager/server/apis/v1/api.go
  pkg/mcs/resourcemanager/server/config.go
  pkg/mcs/resourcemanager/server/grpc_service.go
  pkg/mcs/resourcemanager/server/server.go
  pkg/mcs/resourcemanager/server/testutil.go
  pkg/mcs/utils/constant/constant.go
  pkg/member/participant.go
  tests/integrations/mcs/discovery/register_test.go
  tests/integrations/mcs/resourcemanager/server_test.go
  tests/testutil.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#9783 feat(metering): add DFS stats collector for write requests and bytes
  pkg/core/store_stats.go
  pkg/core/store_stats_test.go
  pkg/metering/utils.go
  server/cluster/cluster.go
  server/cluster/metering.go
  server/cluster/metering_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, nextgen

#9720 scheduler: graceful shutdown implement
  go.mod
  go.sum
  pkg/core/basic_cluster.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/schedule/config/config.go
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/filters.go
  pkg/schedule/schedulers/evict_stopping_store.go
  pkg/schedule/schedulers/evict_stopping_store_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/types/type.go
  server/cluster/cluster_test.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tests/integrations/realcluster/etcd_key_test.go
  tests/server/api/scheduler_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-ctl/pdctl/command/scheduler_command.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: contribution, first-time-contributor, size/XXL, release-note-none, ok-to-test, lgtm, approved, dco-signoff: yes

#9786 fix(metering): skip empty metrics and avoid emitting empty aggregates
  pkg/mcs/resourcemanager/server/metering.go
  server/cluster/metering.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, nextgen

#9787 chore(deps): bump Go to 1.23.12 and update tidb-dashboard dependency
  client/go.mod
  go.mod
  go.sum
  tests/integrations/go.mod
  tests/integrations/go.sum
  tools/go.mod
  tools/go.sum
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#9792 fix(cluster,core): refine DFS stats collection log and filtering
  pkg/core/store_stats.go
  pkg/core/store_stats_test.go
  server/cluster/cluster.go
  server/cluster/metering_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, nextgen

#9790 cherry-pick: scheduler: graceful shutdown implement (#9720)
  client/go.mod
  client/go.sum
  go.mod
  go.sum
  pkg/core/basic_cluster.go
  pkg/core/store.go
  pkg/core/store_option.go
  pkg/mcs/scheduling/server/grpc_service.go
  pkg/schedule/config/config.go
  pkg/schedule/filter/counter.go
  pkg/schedule/filter/filters.go
  pkg/schedule/schedulers/evict_stopping_store.go
  pkg/schedule/schedulers/evict_stopping_store_test.go
  pkg/schedule/schedulers/init.go
  pkg/schedule/schedulers/metrics.go
  pkg/schedule/types/type.go
  server/cluster/cluster_test.go
  server/grpc_service.go
  tests/integrations/go.mod
  tests/integrations/go.sum
  tests/integrations/mcs/scheduling/server_test.go
  tests/server/api/scheduler_test.go
  tools/go.mod
  tools/go.sum
  tools/pd-ctl/pdctl/command/scheduler.go
  tools/pd-ctl/tests/scheduler/scheduler_test.go
Labels: contribution, size/XXL, release-note-none, needs-ok-to-test, lgtm, approved, dco-signoff: yes
